###### Imports and Settings

In [50]:
import pandas as pd
import numpy as np
import requests
from collections import deque
from functools import reduce
import pickle
import matplotlib.pyplot as plt
#pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
pd.options.mode.chained_assignment = None  # default='warn'
pd.options.mode.chained_assignment = None  # default='warn'
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)
import sys
sys.path.append("..") # Adds higher directory to python modules path
import geodict
namestocommon = geodict.namestocommon
geotogeoid = geodict.geotogeoid
GNRC = geodict.GNRC
KY = geodict.KY
censusplaces = geodict.censusplaces
shorttnplaces = geodict.shorttnplaces
import sqlite3 as sq
#functions
def percentchange(x, y):
    try:
        return ((x - y)*100/y)
    except ZeroDivisionError:
        return 0
def realchange(x, y):
    return x-y
#calculate real and percent change between all columns for all possible time frames
def calculate_changes(df, columns, time_frames, years):
    for column in columns:
        for time_frame in time_frames:
            start_year, end_year = time_frame.split('-')
            df[f'{column} % Change', 'None', f'{time_frame}'] = percentchange(df[(column, int(end_year), 'None')], df[(column, int(start_year), 'None')])
            df[f'{column} Change', 'None', f'{time_frame}'] = (df[(column, int(end_year), 'None')] - df[(column, int(start_year), 'None')])

    return df
#generate all possible time frames from a list of years
def generate_time_frames(years):
    time_frames = []
    for i in range(len(years)-1):
        for j in range(i+1, len(years)):
            time_frames.append(f"{years[i]}-{years[j]}")
    return time_frames

In [51]:
#this already has the 2020 PL number for 2020 population
data = pd.read_csv('../../Data Downloads/CensusBureau_HistoricalPopulation.csv')
data = data[['NAME', '1900','1910', '1920', '1930', '1940', '1950', '1960', '1970', '1980', '1990', '2000', '2010', '2020']]
data = data.set_index(['NAME'])
#data.columns = pd.MultiIndex.from_product([['Population'], data.columns, ['None']])
data.head()

                              1900  1910  1920  1930  1940  1950  1960  1970  1980   1990   2000   2010   2020
NAME
Adams city, Tennessee            0   542   672     0     0     0     0   458   600    587    566    633    624
Ashland City town, Tennessee     0   641   649   712   957  1024  1400  2027  2329   2552   3641   4541   5193
Belle Meade city, Tennessee      0     0     0     0  2061  2831  3082     0  3182   2839   2943   2912   2901
Berry Hill city, Tennessee       0     0     0     0     0  1248  1551     0  1113    802    674    537   2112
Brentwood city, Tennessee        0     0     0     0     0     0     0     0  9431  16392  23445  37060  45373

In [52]:
data = data.transpose()
GNRCCounties = [data['Stewart County, Tennessee'],data['Montgomery County, Tennessee'],
                data['Houston County, Tennessee'],data['Humphreys County, Tennessee'],
                data['Dickson County, Tennessee'],data['Cheatham County, Tennessee'],
                data['Robertson County, Tennessee'],data['Sumner County, Tennessee'],
                data['Davidson County, Tennessee'],data['Wilson County, Tennessee'],
                data['Trousdale County, Tennessee'],data['Williamson County, Tennessee'],
                data['Rutherford County, Tennessee']]
data['GNRC'] = sum(GNRCCounties)
GNRCCountiesAll = [data['Stewart County, Tennessee'],data['Montgomery County, Tennessee'],
                   data['Houston County, Tennessee'],data['Humphreys County, Tennessee'],
                   data['Dickson County, Tennessee'],data['Cheatham County, Tennessee'],
                   data['Robertson County, Tennessee'],data['Sumner County, Tennessee'],
                   data['Davidson County, Tennessee'],data['Wilson County, Tennessee'],
                   data['Trousdale County, Tennessee'],data['Williamson County, Tennessee'],
                   data['Rutherford County, Tennessee'],data['Maury County, Tennessee']]
data['GNRC Region'] = sum(GNRCCountiesAll)
MPOCounties = [data['Robertson County, Tennessee'],data['Sumner County, Tennessee'],
               data['Davidson County, Tennessee'],data['Wilson County, Tennessee'],
               data['Williamson County, Tennessee'],data['Rutherford County, Tennessee'],
               data['Maury County, Tennessee']]
data['MPO'] = sum(MPOCounties)
RuthInc = [data['Eagleville city, Tennessee'],data['La Vergne city, Tennessee'],
           data['Murfreesboro city, Tennessee'],data['Smyrna town, Tennessee']]
data['Rutherford Incorporated'] = sum(RuthInc)
data['Rutherford Unincorporated'] = data['Rutherford County, Tennessee'] - data['Rutherford Incorporated']
WilsonInc = [data['Lebanon city, Tennessee'],data['Mount Juliet city, Tennessee'],
             data['Watertown city, Tennessee']]
data['Wilson Incorporated'] = sum(WilsonInc)
data['Wilson Unincorporated'] = data['Wilson County, Tennessee'] - data['Wilson Incorporated']
CheathInc = [data['Ashland City town, Tennessee'],data['Kingston Springs town, Tennessee'],
             data['Pegram town, Tennessee'],data['Pleasant View city, Tennessee']]
data['Cheatham Incorporated'] = sum(CheathInc)
data['Cheatham Unincorporated'] = data['Cheatham County, Tennessee'] - data['Cheatham Incorporated']
DicksInc = [data['Burns town, Tennessee'],data['Charlotte town, Tennessee'],
            data['Dickson city, Tennessee'],data['Slayden town, Tennessee'],
            data['Vanleer town, Tennessee'],data['White Bluff town, Tennessee']]
data['Dickson Incorporated'] = sum(DicksInc)
data['Dickson Unincorporated'] = data['Dickson County, Tennessee'] - data['Dickson Incorporated']
HumphInc = [data['McEwen city, Tennessee'],data['New Johnsonville city, Tennessee'],
            data['Waverly city, Tennessee']]
data['Humphreys Incorporated'] = sum(HumphInc)
data['Humphreys Unincorporated'] = data['Humphreys County, Tennessee'] - data['Humphreys Incorporated']
data['Montgomery Incorporated'] = data['Clarksville city, Tennessee']
data['Montgomery Unincorporated'] = data['Montgomery County, Tennessee'] - data['Montgomery Incorporated']

In [53]:
data = data.transpose()

In [54]:
data.head()

                              1900  1910  1920  1930  1940  1950  1960  1970  1980   1990   2000   2010   2020
NAME
Adams city, Tennessee            0   542   672     0     0     0     0   458   600    587    566    633    624
Ashland City town, Tennessee     0   641   649   712   957  1024  1400  2027  2329   2552   3641   4541   5193
Belle Meade city, Tennessee      0     0     0     0  2061  2831  3082     0  3182   2839   2943   2912   2901
Berry Hill city, Tennessee       0     0     0     0     0  1248  1551     0  1113    802    674    537   2112
Brentwood city, Tennessee        0     0     0     0     0     0     0     0  9431  16392  23445  37060  45373

In [55]:
cols = data.columns
data = data.reset_index(drop = False)
data = data.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Population')#, values = cols)

In [56]:
data['Year'] = data['Year'].astype(int)

In [57]:
histpop = data

In [58]:
histpop['GEO_ID'] = histpop['NAME'].map(geotogeoid)
histpop['Source'] = 'Historical Decennial Censuses'

In [59]:
histpop.head()

                           NAME  Year  Population            GEO_ID                         Source
0         Adams city, Tennessee  1900           0  1600000US4700200  Historical Decennial Censuses
1  Ashland City town, Tennessee  1900           0  1600000US4702180  Historical Decennial Censuses
2   Belle Meade city, Tennessee  1900           0  1600000US4704620  Historical Decennial Censuses
3    Berry Hill city, Tennessee  1900           0  1600000US4705140  Historical Decennial Censuses
4     Brentwood city, Tennessee  1900           0  1600000US4708280  Historical Decennial Censuses

In [60]:
histpop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1118 entries, 0 to 1117
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   NAME        1118 non-null   object
 1   Year        1118 non-null   int32
 2   Population  1118 non-null   int64
 3   GEO_ID      884 non-null    object
 4   Source      1118 non-null   object
dtypes: int32(1), int64(1), object(3)
memory usage: 39.4+ KB

In [61]:
#export to feather to join to all tidydata before creating change metrics
histpop.to_feather('../../Outputs/HIST_PopulationTIDY')

In [62]:
#create a list of years from the dataframe to pass through our "generate time frames" function to create a list of all possible time frames - need this here for later
years = list(data['Year'].unique().astype(int))
time_frames = generate_time_frames(years)

In [63]:
data.head()

                           NAME  Year  Population            GEO_ID                         Source
0         Adams city, Tennessee  1900           0  1600000US4700200  Historical Decennial Censuses
1  Ashland City town, Tennessee  1900           0  1600000US4702180  Historical Decennial Censuses
2   Belle Meade city, Tennessee  1900           0  1600000US4704620  Historical Decennial Censuses
3    Berry Hill city, Tennessee  1900           0  1600000US4705140  Historical Decennial Censuses
4     Brentwood city, Tennessee  1900           0  1600000US4708280  Historical Decennial Censuses

In [64]:
data = data.drop(columns = ['GEO_ID', 'Source'])
data.head()

                           NAME  Year  Population
0         Adams city, Tennessee  1900           0
1  Ashland City town, Tennessee  1900           0
2   Belle Meade city, Tennessee  1900           0
3    Berry Hill city, Tennessee  1900           0
4     Brentwood city, Tennessee  1900           0

In [65]:
#create a multilevel column header with year and placeholder for time frames
#pivot the table and create a multiindex of year and column header
cols = list(data.columns)
cols.remove('NAME')
cols.remove('Year')
df_pivot = data.pivot_table(index = 'NAME', columns = ['Year'], values = cols)
df_pivot.head(2)

                             Population
Year                               1900 1910 1920 1930 1940  1950  1960  1970  1980  1990  2000  2010  2020
NAME
Adams city, Tennessee                 0  542  672    0    0     0     0   458   600   587   566   633   624
Ashland City town, Tennessee          0  641  649  712  957  1024  1400  2027  2329  2552  3641  4541  5193

In [66]:
#add a level to the multiindex to accomodate the time period metrics
df_pivot.columns = pd.MultiIndex.from_tuples([(col[0], col[1], 'None') for col in df_pivot.columns])
df_pivot.head(3)

                             Population
                                   1900 1910 1920 1930  1940  1950  1960  1970  1980  1990  2000  2010  2020
                                   None None None None  None  None  None  None  None  None  None  None  None
NAME
Adams city, Tennessee                 0  542  672    0     0     0     0   458   600   587   566   633   624
Ashland City town, Tennessee          0  641  649  712   957  1024  1400  2027  2329  2552  3641  4541  5193
Belle Meade city, Tennessee           0    0    0    0  2061  2831  3082     0  3182  2839  2943  2912  2901

In [67]:
#get a list of the varaibles to loop through by indexing into the first level only of the column headers
first_level = data.columns.get_level_values(0).unique().tolist()
first_level.remove('NAME')
first_level.remove('Year')
#remove percentages - don't want change metrics on them
first_level = [item for item in first_level if '%' not in item]

In [68]:
#pass the dataframe, the list of variables, time frames, and years through the "calculate change" function
data = calculate_changes(df_pivot, first_level, time_frames = time_frames, years = years)

In [69]:
data.head()

                             Population                                                                          Population % Change  \
                                   1900 1910 1920 1930  1940  1950  1960  1970  1980   1990   2000   2010   2020                None
                                   None None None None  None  None  None  None  None   None   None   None   None           1900-1910
NAME
Adams city, Tennessee                 0  542  672    0     0     0     0   458   600    587    566    633    624                 inf
Ashland City town, Tennessee          0  641  649  712   957  1024  1400  2027  2329   2552   3641   4541   5193                 inf
Belle Meade city, Tennessee           0    0    0    0  2061  2831  3082     0  3182   2839   2943   2912   2901                 NaN
Berry Hill city, Tennessee            0    0    0    0     0  1248  1551     0  1113    802    674    537   2112                 NaN
Brentwood city, Tennessee             0    0    0    0     0     0     0     0  9431  16392  23445  37060  45373                 NaN

                             Population Change Population % Change Population Change Population % Change Population Change Population % Change  \
                                          None                None              None                None              None                None
                                     1900-1910           1900-1920         1900-1920           1900-1930         1900-1930           1900-1940
NAME
Adams city, Tennessee                      542                 inf               672                 NaN                 0                 NaN
Ashland City town, Tennessee               641                 inf               649                 inf               712                 inf
Belle Meade city, Tennessee                  0                 NaN                 0                 NaN                 0                 inf
Berry Hill city, Tennessee                   0                 NaN                 0                 NaN                 0                 NaN
Brentwood city, Tennessee                    0                 NaN                 0                 NaN                 0                 NaN

                             Population Change Population % Change Population Change Population % Change Population Change Population % Change  \
                                          None                None              None                None              None                None
                                     1900-1940           1900-1950         1900-1950           1900-1960         1900-1960           1900-1970
NAME
Adams city, Tennessee                        0                 NaN                 0                 NaN                 0                 inf
Ashland City town, Tennessee               957                 inf              1024                 inf              1400                 inf
Belle Meade city, Tennessee               2061                 inf              2831                 inf              3082                 NaN
Berry Hill city, Tennessee                   0                 inf              1248                 inf              1551                 NaN
Brentwood city, Tennessee                    0                 NaN                 0                 NaN                 0                 NaN

                             Population Change Population % Change Population Change Population % Change Population Change Population % Change  \
                                          None                None              None                None              None                None
                                     1900-1970           1900-1980         1900-1980           1900-1990         1900-1990           1900-2000
NAME
Adams city, Tennessee                      458                 inf               600                 inf               587                 inf
Ashland City town, Tennessee              2027                 inf              2329                 inf              2552                 inf
Belle Meade city, Tennessee                  0                 inf              3182                 inf              2839                 inf
Berry Hill city, Tennessee                   0                 inf              1113                 inf               802                 inf
Brentwood city, Tennessee                    0                 inf              9431                 inf             16392                 inf

                             Population Change Population % Change Population Change Population % Change Population Change Population % Change  \
                                          None                None              None                None              None                None
                                     1900-2000           1900-2010         1900-2010           1900-2020         1900-2020           1910-1920
NAME
Adams city, Tennessee                      566                 inf               633                 inf               624            23.98524
Ashland City town, Tennessee              3641                 inf              4541                 inf              5193             1.24805
Belle Meade city, Tennessee               2943                 inf              2912                 inf              2901                 NaN
Berry Hill city, Tennessee                 674                 inf               537                 inf              2112                 NaN
Brentwood city, Tennessee                23445                 inf             37060                 inf             45373                 NaN

                             Population Change Population % Change Population Change Population % Change Population Change Population % Change  \
                                          None                None              None                None              None                None
                                     1910-1920           1910-1930         1910-1930           1910-1940         1910-1940           1910-1950
NAME
Adams city, Tennessee                      130         -100.000000              -542         -100.000000              -542          -100.00000
Ashland City town, Tennessee                 8           11.076443                71           49.297972               316            59.75039
Belle Meade city, Tennessee                  0                 NaN                 0                 inf              2061                 inf
Berry Hill city, Tennessee                   0                 NaN                 0                 NaN                 0                 inf
Brentwood city, Tennessee                    0                 NaN                 0                 NaN                 0                 NaN

                             Population Change Population % Change Population Change Population % Change Population Change Population % Change  \
                                          None                None              None                None              None                None
                                     1910-1950           1910-1960         1910-1960           1910-1970         1910-1970           1910-1980
NAME
Adams city, Tennessee                     -542         -100.000000              -542          -15.498155               -84           10.701107
Ashland City town, Tennessee               383          118.408736               759          216.224649              1386          263.338534
Belle Meade city, Tennessee               2831                 inf              3082                 NaN                 0                 inf
Berry Hill city, Tennessee                1248                 inf              1551                 NaN                 0                 inf
Brentwood city, Tennessee                    0                 NaN                 0                 NaN                 0                 inf

                             Population Change Population % Change Population Change Population % Change Population Change Population % Change  \
                                          None                None              None                None              None                None
                                     1910-1980           1910-1990         1910-1990           1910-2000         1910-2000           1910-2010
NAME
Adams city, Tennessee                       58            8.302583                45            4.428044                24           16.789668
Ashland City town, Tennessee              1688          298.127925              1911          468.018721              3000          608.424337
Belle Meade city, Tennessee               3182                 inf              2839                 inf              2943                 inf
Berry Hill city, Tennessee                1113                 inf               802                 inf               674                 inf
Brentwood city, Tennessee                 9431                 inf             16392                 inf             23445                 inf

                             Population Change Population % Change Population Change Population % Change Population Change Population % Change  \
                                          None                None              None                None              None                None
                                     1910-2010           1910-2020         1910-2020           1920-1930         1920-1930           1920-1940
NAME
Adams city, Tennessee                       91           15.129151                82         -100.000000              -672         -100.000000
Ashland City town, Tennessee              3900          710.140406              4552            9.707242                63           47.457627
Belle Meade city, Tennessee               2912                 inf              2901                 NaN                 0                 inf
Berry Hill city, Tennessee                 537                 inf              2112                 NaN                 0                 NaN
Brentwood city, Tennessee                37060                 inf             45373                 NaN                 0                 NaN

                             Population Change Population % Change Population Change Population % Change Population Change Population % Change  \
                                          None                None              None                None              None                None
                                     1920-1940           1920-1950         1920-1950           1920-1960         1920-1960           1920-1970
NAME
Adams city, Tennessee                     -672         -100.000000              -672         -100.000000              -672          -31.845238
Ashland City town, Tennessee               308           57.781202               375          115.716487               751          212.326656
Belle Meade city, Tennessee               2061                 inf              2831                 inf              3082                 NaN
Berry Hill city, Tennessee                   0                 inf              1248                 inf              1551                 NaN
Brentwood city, Tennessee                    0                 NaN                 0                 NaN                 0                 NaN

                             Population Change Population % Change Population Change Population % Change Population Change Population % Change  \
                                          None                None              None                None              None                None
                                     1920-1970           1920-1980         1920-1980           1920-1990         1920-1990           1920-2000
NAME
Adams city, Tennessee                     -214          -10.714286               -72          -12.648810               -85          -15.773810
Ashland City town, Tennessee              1378          258.859784              1680          293.220339              1903          461.016949
Belle Meade city, Tennessee                  0                 inf              3182                 inf              2839                 inf
Berry Hill city, Tennessee                   0                 inf              1113                 inf               802                 inf
Brentwood city, Tennessee                    0                 inf              9431                 inf             16392                 inf

                             Population Change Population % Change Population Change Population % Change Population Change Population % Change  \
                                          None                None              None                None              None                None
                                     1920-2000           1920-2010         1920-2010           1920-2020         1920-2020           1930-1940
NAME
Adams city, Tennessee                     -106           -5.803571               -39           -7.142857               -48                 NaN
Ashland City town, Tennessee              2992          599.691834              3892          700.154083              4544           34.410112
Belle Meade city, Tennessee               2943                 inf              2912                 inf              2901                 inf
Berry Hill city, Tennessee                 674                 inf               537                 inf              2112                 NaN
Brentwood city, Tennessee                23445                 inf             37060                 inf             45373                 NaN

                             Population Change Population % Change Population Change Population % Change Population Change Population % Change  \
                                          None                None              None                None              None                None
                                     1930-1940           1930-1950         1930-1950           1930-1960         1930-1960           1930-1970
NAME
Adams city, Tennessee                        0                 NaN                 0                 NaN                 0                 inf
Ashland City town, Tennessee               245           43.820225               312           96.629213               688          184.691011
Belle Meade city, Tennessee               2061                 inf              2831                 inf              3082                 NaN
Berry Hill city, Tennessee                   0                 inf              1248                 inf              1551                 NaN
Brentwood city, Tennessee                    0                 NaN                 0                 NaN                 0                 NaN

                             Population Change Population % Change Population Change Population % Change Population Change Population % Change  \
                                          None                None              None                None              None                None
                                     1930-1970           1930-1980         1930-1980           1930-1990         1930-1990           1930-2000
NAME
Adams city, Tennessee                      458                 inf               600                 inf               587                 inf
Ashland City town, Tennessee              1315          227.106742              1617          258.426966              1840          411.376404
Belle Meade city, Tennessee                  0                 inf              3182                 inf              2839                 inf
Berry Hill city, Tennessee                   0                 inf              1113                 inf               802                 inf
Brentwood city, Tennessee                    0                 inf              9431                 inf             16392                 inf

                             Population Change Population % Change Population Change Population % Change Population Change Population % Change  \
                                          None                None              None                None              None                None
                                     1930-2000           1930-2010         1930-2010           1930-2020         1930-2020           1940-1950
NAME
Adams city, Tennessee                      566                 inf               633                 inf               624                 NaN
Ashland City town, Tennessee              2929          537.780899              3829          629.353933              4481            7.001045
Belle Meade city, Tennessee               2943                 inf              2912                 inf              2901           37.360505
Berry Hill city, Tennessee                 674                 inf               537                 inf              2112                 inf
Brentwood city, Tennessee                23445                 inf             37060                 inf             45373                 NaN

                             Population Change Population % Change Population Change Population % Change Population Change Population % Change  \
                                          None                None              None                None              None                None
                                     1940-1950           1940-1960         1940-1960           1940-1970         1940-1970           1940-1980
NAME
Adams city, Tennessee                        0                 NaN                 0                 inf               458                 inf
Ashland City town, Tennessee                67           46.290491               443          111.807732              1070          143.364681
Belle Meade city, Tennessee                770           49.539059              1021         -100.000000             -2061           54.391072
Berry Hill city, Tennessee                1248                 inf              1551                 NaN                 0                 inf
Brentwood city, Tennessee                    0                 NaN                 0                 NaN                 0                 inf

                             Population Change Population % Change Population Change Population % Change Population Change Population % Change  \
                                          None                None              None                None              None                None
                                     1940-1980           1940-1990         1940-1990           1940-2000         1940-2000           1940-2010
NAME
Adams city, Tennessee                      600                 inf               587                 inf               566                 inf
Ashland City town, Tennessee              1372          166.666667              1595           280.45977              2684          374.503657
Belle Meade city, Tennessee               1121           37.748666               778            42.79476               882           41.290636
Berry Hill city, Tennessee                1113                 inf               802                 inf               674                 inf
Brentwood city, Tennessee                 9431                 inf             16392                 inf             23445                 inf

                             Population Change Population % Change Population Change Population % Change Population Change Population % Change  \
                                          None                None              None                None              None                None
                                     1940-2010           1940-2020         1940-2020           1950-1960         1950-1960           1950-1970
NAME

In [70]:
#reformat and rename columns
data = data.stack([1, 1])
data = data.reset_index(drop = False)
data = data.rename(columns = {'level_1':'Year', 'level_2':'Time Frame'})

In [71]:
data.head()

                    NAME  Year Time Frame  Population  Population % Change  Population Change
0  Adams city, Tennessee  1900       None         0.0                  NaN                NaN
1  Adams city, Tennessee  1910       None       542.0                  NaN                NaN
2  Adams city, Tennessee  1920       None       672.0                  NaN                NaN
3  Adams city, Tennessee  1930       None         0.0                  NaN                NaN
4  Adams city, Tennessee  1940       None         0.0                  NaN                NaN

In [72]:
#map to geoid dictionary from module and add source
data['GEO_ID'] = data['NAME'].map(geotogeoid)
data['Source'] = 'Historical Decennial Censuses'

In [73]:
#final check
data.head()

                    NAME  Year Time Frame  Population  Population % Change  Population Change            GEO_ID                         Source
0  Adams city, Tennessee  1900       None         0.0                  NaN                NaN  1600000US4700200  Historical Decennial Censuses
1  Adams city, Tennessee  1910       None       542.0                  NaN                NaN  1600000US4700200  Historical Decennial Censuses
2  Adams city, Tennessee  1920       None       672.0                  NaN                NaN  1600000US4700200  Historical Decennial Censuses
3  Adams city, Tennessee  1930       None         0.0                  NaN                NaN  1600000US4700200  Historical Decennial Censuses
4  Adams city, Tennessee  1940       None         0.0                  NaN                NaN  1600000US4700200  Historical Decennial Censuses

In [75]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7826 entries, 0 to 7825
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NAME                 7826 non-null   object
 1   Year                 7826 non-null   object
 2   Time Frame           7826 non-null   object
 3   Population           1118 non-null   float64
 4   Population % Change  6056 non-null   float64
 5   Population Change    6708 non-null   float64
 6   GEO_ID               6188 non-null   object
 7   Source               7826 non-null   object
dtypes: float64(3), object(5)
memory usage: 489.2+ KB

In [74]:
#export to the SQLite database
conn = sq.connect('../../Outputs/CensusBureau.db')
data.to_sql('CensusBureau_HistoricalPopulation_Annual_Change', conn, if_exists = 'replace', index = False)

7826