In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
pd.options.mode.chained_assignment = None  # default='warn'
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)
import sys
sys.path.append("../../../Functions and Dictionaries") # Adds higher directory to python modules path
import sqlite3 as sq
import geodict
tofullcensus = geodict.tofullcensus
geotogeoid = geodict.geotogeoid
def percentchange(x, y):
    try:
        return ((x - y)*100/y)
    except ZeroDivisionError:
        return 0
def realchange(x, y):
    return x-y
def percent(x, y):
    return (x/y)*100

Occupation:

To retrieve data:
+ Log into JobsEQ and navigate to the "Data Explorer" function  

*load the following query: JEQOutlook_Occupation*

+ go to "Draft Mode"
+ Select the "Occupation" dataset
+ Select the following dimensions: Region, Occupation  
+ Under "Region" select "USA", "Tennessee", GNRC (13), MPO (7), GNRC Region (14), and then under GNRC Region sub all "Counties" and "Census Places"   
+ Under "Occupation" expand "Total-All Occupations" and select the built groups in Jobs EQ as described below, leaving Total as well  
 
Occupations to Select:  
(SOC Codes)  
+ Total - All Occupations  
(Custom Created Groups) 
+ SnapshotOcc 11: Healthcare Practitioners and Technical (29: Healthcare Practitioners and Technical Occupations)  
+ SnapshotOcc 11: Healthcare Support (31: Healthcare Support Occupations)  
+ SnapshotOcc 11: Protective Service (33: Protective Service Occupations)  
+ SnapshotOcc 11: Production (51: Production Occupations)  
+ SnapshotOcc 11: Transportation and Material Moving (53: Transportation and Material Moving Occupations)   
+ SnapshotOcc 11: Business & Financial (11: Management & 13: Business & Financial Operations)  
+ SnapshotOcc 11: Computer, Mathematical, & Engineering (15: Computer & Mathematical, 17: Architecture & Engineering, & 19: Life, Physical, & Social Science)  
+ SnapshotOcc 11: Education, Legal, Social, Arts, & Media (21: Community & Social Service, 23: Legal, 25: Educational Instruction & Library, & 27: Art, Design, Entertainment, Sports, & Media)  
+ SnapshotOcc 11: Food, Property, & Personal Services (35: Food Preparation & Serving, 37: Building & Grounds Cleaning & Maintenance, & 39: Personal Care & Service)  
+ SnapshotOcc 11: Sales & Office Support (41: Sales & Related & 43: Office & Administrative Support)  
+ SnapshotOcc 11: Natural Resources, Construction, & Maintenance (45: Farming Fishing & Forestry, 47: Construction & Extraction, & 49: Installation Maintenance & Repair)

Then put in draft mode & select the following values: "Employment (Place of Work)", "Employment (Place of Residence)", "Annual Wage (Mean)", "Annual Wage (Median)", "Location Quotient", Demand - Total(Forecast) (3 Years), Demand - Growth Rate (Forecast)(3 Years)". Put region on the left side and occupation at the top.

*Resume here after loading query.*

Once it is completed, there are a few things that are just easier to do in excel. Open and delete the top row that says "Occupation Data", and delete the FIPS column. Rename the Region column to NAME, add NAME above this to create a double header. Delete the data notes at the bottom. Unmerge all of the occupation cells at the top and simply copy/paste the occupation category, ensuring that each column has a group header above the value header. Finally, select all numerical data and format as "general".  

Save in "Data Downloads" as: "JobsEQOccupationalEmploymentforOutlook_AllGeos.csv"

In [2]:
#import data and set a variable keeping track of the most recent download's year and quarter
data = pd.read_csv('../../Data Downloads/JobsEQ_OccupationalEmploymentforOutlook_AllGeos.csv')
recentquarter = 'Q3 2022'
data.head(2)

,NAME,Total - All Occupations,Total - All Occupations.1,Total - All Occupations.2,Total - All Occupations.3,Total - All Occupations.4,Total - All Occupations.5,Total - All Occupations.6,SnapshotOcc 11: Production,SnapshotOcc 11: Production.1,SnapshotOcc 11: Production.2,SnapshotOcc 11: Production.3,SnapshotOcc 11: Production.4,SnapshotOcc 11: Production.5,SnapshotOcc 11: Production.6,SnapshotOcc 11: Healthcare Support,SnapshotOcc 11: Healthcare Support.1,SnapshotOcc 11: Healthcare Support.2,SnapshotOcc 11: Healthcare Support.3,SnapshotOcc 11: Healthcare Support.4,SnapshotOcc 11: Healthcare Support.5,SnapshotOcc 11: Healthcare Support.6,SnapshotOcc 11: Protective Services,SnapshotOcc 11: Protective Services.1,SnapshotOcc 11: Protective Services.2,SnapshotOcc 11: Protective Services.3,SnapshotOcc 11: Protective Services.4,SnapshotOcc 11: Protective Services.5,SnapshotOcc 11: Protective Services.6,SnapshotOcc 11: Business & Financial,SnapshotOcc 11: Business & Financial.1,SnapshotOcc 11: Business & Financial.2,SnapshotOcc 11: Business & Financial.3,SnapshotOcc 11: Business & Financial.4,SnapshotOcc 11: Business & Financial.5,SnapshotOcc 11: Business & Financial.6,SnapshotOcc 11: Sales & Office Support,SnapshotOcc 11: Sales & Office Support.1,SnapshotOcc 11: Sales & Office Support.2,SnapshotOcc 11: Sales & Office Support.3,SnapshotOcc 11: Sales & Office Support.4,SnapshotOcc 11: Sales & Office Support.5,SnapshotOcc 11: Sales & Office Support.6,SnapshotOcc 11: Transportation and Material Moving,SnapshotOcc 11: Transportation and Material Moving.1,SnapshotOcc 11: Transportation and Material Moving.2,SnapshotOcc 11: Transportation and Material Moving.3,SnapshotOcc 11: Transportation and Material Moving.4,SnapshotOcc 11: Transportation and Material Moving.5,SnapshotOcc 11: Transportation and Material Moving.6,"SnapshotOcc 11: Food, Property, & Personal Services","SnapshotOcc 11: Food, Property, & Personal Services.1","SnapshotOcc 11: Food, Property, & Personal Services.2","SnapshotOcc 11: Food, Property, & Personal Services.3","SnapshotOcc 11: Food, Property, & Personal Services.4","SnapshotOcc 11: Food, Property, & Personal Services.5","SnapshotOcc 11: Food, Property, & Personal Services.6","SnapshotOcc 11: Computer, Mathematical, & Engineering","SnapshotOcc 11: Computer, Mathematical, & Engineering.1","SnapshotOcc 11: Computer, Mathematical, & Engineering.2","SnapshotOcc 11: Computer, Mathematical, & Engineering.3","SnapshotOcc 11: Computer, Mathematical, & Engineering.4","SnapshotOcc 11: Computer, Mathematical, & Engineering.5","SnapshotOcc 11: Computer, Mathematical, & Engineering.6",SnapshotOcc 11: Healthcare Practitioners and Technical,SnapshotOcc 11: Healthcare Practitioners and Technical.1,SnapshotOcc 11: Healthcare Practitioners and Technical.2,SnapshotOcc 11: Healthcare Practitioners and Technical.3,SnapshotOcc 11: Healthcare Practitioners and Technical.4,SnapshotOcc 11: Healthcare Practitioners and Technical.5,SnapshotOcc 11: Healthcare Practitioners and Technical.6,"SnapshotOcc 11: Education, Legal, Social, Arts, & Media","SnapshotOcc 11: Education, Legal, Social, Arts, & Media.1","SnapshotOcc 11: Education, Legal, Social, Arts, & Media.2","SnapshotOcc 11: Education, Legal, Social, Arts, & Media.3","SnapshotOcc 11: Education, Legal, Social, Arts, & Media.4","SnapshotOcc 11: Education, Legal, Social, Arts, & Media.5","SnapshotOcc 11: Education, Legal, Social, Arts, & Media.6","SnapshotOcc 11: Natural Resources, Construction, & Maintenance","SnapshotOcc 11: Natural Resources, Construction, & Maintenance.1","SnapshotOcc 11: Natural Resources, Construction, & Maintenance.2","SnapshotOcc 11: Natural Resources, Construction, & Maintenance.3","SnapshotOcc 11: Natural Resources, Construction, & Maintenance.4","SnapshotOcc 11: Natural Resources, Construction, & Maintenance.5","SnapshotOcc 11: Natural Resources, Construction, & Maintenance.6"
0,NAME,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate
1,USA,162472851.6,157234754.4,63300,47300,1,60247994.28,0.016645358,9170762.41,8943932.073,47300,42900,1,3024472.808,-0.011333636,7159971.293,7032085.022,36800,34600,1,3529960.372,0.048704525,3470389.615,3408021.935,55500,46300,1,1283300.684,0.007162774,21567989.67,20440383,108300,93900,1,6248537.79,0.023175809,35148528.81,33720852.1,49500,40900,1,13005919.99,-0.007146077,14178703.38,13741157.91,46000,40500,1,6242360.366,0.019224176,22281894.05,21999631.44,35400,33000,1,12738475,0.034199203,9720319.373,9039859.057,104300,96000,1,2554171.72,0.031342955,9362515.372,9185286.034,101400,80500,1,1902634.01,0.02214748,15766002.1,15482759.42,71200,60900,1,4893151.786,0.023705213,14645775.54,14240786.44,57200,52100,1,4766059.993,0.01456081

In [3]:
#set the index as the NAME column, transpose, rename the double NAME to value (recall the double in the download excel formatting), then reset index without dropping
data = data.set_index('NAME').transpose().rename(columns = {'NAME': 'Value'}).reset_index(drop = False)
data.head(2)

NAME,index,Value,USA,Tennessee,MPO,GNRC,GNRC Region,"Adams city, TN","Ashland City town, TN","Belle Meade city, TN","Berry Hill city, TN","Bethpage CDP, TN","Big Rock CDP, TN","Bransford CDP, TN","Brentwood city, TN","Burns town, TN","Castalian Springs CDP, TN","Cedar Hill city, TN","Charlotte town, TN","Christiana CDP, TN","Clarksville city, TN","Columbia city, TN","Coopertown town, TN","Cottontown CDP, TN","Cross Plains city, TN","Cumberland City town, TN","Dickson city, TN","Dover city, TN","Eagleville city, TN","Erin city, TN","Fairfield CDP, TN","Fairview city, TN","Forest Hills city, TN","Franklin city, TN","Gallatin city, TN","Gladeville CDP, TN","Goodlettsville city, TN","Graball CDP, TN","Greenbrier town, TN","Green Hill CDP, TN","Greenvale CDP, TN","Hartsville/Trousdale County, TN","Hendersonville city, TN","Kingston Springs town, TN","La Vergne city, TN","Lebanon city, TN","McEwen city, TN","Millersville city, TN","Mitchellville city, TN","Mount Juliet city, TN","Mount Pleasant city, TN","Murfreesboro city, TN","Nashville-Davidson metropolitan government (balance), TN","New Deal CDP, TN","New Johnsonville city, TN","Nolensville town, TN","Norene CDP, TN","Oak Grove CDP, TN (Sumner )","Oak Hill city, TN","Orlinda city, TN","Pegram town, TN","Pleasant View city, TN","Portland city, TN","Ridgetop city, TN","Rockvale CDP, TN","Rural Hill CDP, TN","Shackle Island CDP, TN","Slayden town, TN","Smyrna town, TN","Springfield city, TN","Spring Hill city, TN","Statesville CDP, TN","Tennessee Ridge town, TN","Thompson's Station town, TN","Tuckers Crossroads CDP, TN","Vanleer town, TN","Walnut Grove CDP, TN (Sumner )","Walterhill CDP, TN","Watertown city, TN","Waverly city, TN","Westmoreland town, TN","White Bluff town, TN","White House city, TN","Cheatham County, Tennessee","Davidson County, Tennessee","Dickson County, Tennessee","Houston County, Tennessee","Humphreys County, Tennessee","Maury County, Tennessee","Montgomery County, Tennessee","Robertson County, Tennessee","Rutherford County, Tennessee","Stewart County, Tennessee","Sumner County, Tennessee","Trousdale County, Tennessee","Williamson County, Tennessee","Wilson County, Tennessee"
0,Total - All Occupations,Empl (Place of Work),162472851.6,3454675.749,1092474.644,1161776.732,1204731.632,46.77625746,5095.347207,1354.046814,17812.64096,56.23123535,9.245202135,16.47046353,57172.88463,258.4331226,41.84481809,12.64808424,1114.942565,580.1041512,55675.52324,23441.5902,1899.579277,19.42627555,293.3180848,792.9323171,13828.42154,1226.137126,465.2695067,1022.601123,5.450833144,2011.323994,1080.499582,85853.63863,24695.20645,355.7348892,14432.73481,1.314209026,1286.220478,298.949005,0.574247913,2360.232916,25657.65174,1010.118148,22248.40506,36375.99018,472.7717858,1507.488391,15.87074102,19799.18377,2354.628092,77535.58938,537565.3941,57.56496371,1137.159845,2915.890658,6.722630275,65.56634464,1252.356346,468.89792,299.8537576,1629.024537,10006.14577,382.6430825,468.4196654,149.8494601,516.9566196,17.98303688,40088.59287,11614.45259,10895.08142,5.249829193,192.4034522,1979.560118,94.40247289,54.92235884,35.73391588,189.4505715,640.3178639,2122.676226,961.1414927,924.30509,5182.252584,11125.07124,571506.2215,20489.61045,1818.80663,6463.954228,42954.89964,66598.40899,25998.95028,152790.2894,3400.874166,67705.30158,2360.26154,164459.555,67059.42699
1,Total - All Occupations.1,Empl (Place of Residence),157234754.4,3294067.451,1008766.42,1113253.29,1165041.248,399.6137489,2911.15788,1596.001818,1998.352262,188.8160078,132.9221617,58.95618499,25888.37274,878.8978438,343.2729784,137.1782438,610.2288477,2198.028206,62918.9964,21948.81388,2074.73173,207.365539,1058.664361,131.719171,7843.784645,763.3741075,340.3137747,511.4122823,75.0737748,5602.973641,2630.145552,50248.31241,20297.78443,745.2407447,9584.55114,99.36979149,3247.33009,3593.213955,36.46582827,5366.307287,31887.86685,1484.561705,19494.2092,18977.35154,704.9423315,3177.79185,95.46699838,20443.37311,2325.62326,77048.50652,420714.7997,196.4898884,705.6089166,8049.645492,54.56453242,107.0591748,2845.345714,469.2173719,1159.3758,3047.876333,6063.007049,1067.815586,483.1811465,1079.67826,1608.714734,49.68555734,27130.3403,8932.836883,25941.74062,46.3264431,501.52084,3832.845965,129.3789155,221.1670663,437.4894225,192.2119284,850.7667149,1816.374062,1240.791223,2137.310293,7039.512944,22974.10542,436320.2624,26765.61006,3269.889332,7997.10011,51787.95811,84305.37564,36201.08514,172028.3576,5596.440231,95391.70734,5366.307287,140727.7058,76309.34371

In [4]:
#strip the index and value columns; remove blank space that would be heading or trailing the strings
data['index'] = data['index'].str.strip()
data['Value'] = data['Value'].str.strip()

In [5]:
#set these strings as the index, so that you can transpose the df and fill the null values with zeros to convert the datatype for calculations
data = data.set_index(['index', 'Value']).transpose().fillna(0)

In [6]:
#make a list of these numerical columns, and convert them to float datatype
cols = data.columns
data[cols] = data[cols].astype(float)

In [8]:
data.head()

index,Total - All Occupations,Total - All Occupations.1,Total - All Occupations.2,Total - All Occupations.3,Total - All Occupations.4,Total - All Occupations.5,Total - All Occupations.6,SnapshotOcc 11: Production,SnapshotOcc 11: Production.1,SnapshotOcc 11: Production.2,SnapshotOcc 11: Production.3,SnapshotOcc 11: Production.4,SnapshotOcc 11: Production.5,SnapshotOcc 11: Production.6,SnapshotOcc 11: Healthcare Support,SnapshotOcc 11: Healthcare Support.1,SnapshotOcc 11: Healthcare Support.2,SnapshotOcc 11: Healthcare Support.3,SnapshotOcc 11: Healthcare Support.4,SnapshotOcc 11: Healthcare Support.5,SnapshotOcc 11: Healthcare Support.6,SnapshotOcc 11: Protective Services,SnapshotOcc 11: Protective Services.1,SnapshotOcc 11: Protective Services.2,SnapshotOcc 11: Protective Services.3,SnapshotOcc 11: Protective Services.4,SnapshotOcc 11: Protective Services.5,SnapshotOcc 11: Protective Services.6,SnapshotOcc 11: Business & Financial,SnapshotOcc 11: Business & Financial.1,SnapshotOcc 11: Business & Financial.2,SnapshotOcc 11: Business & Financial.3,SnapshotOcc 11: Business & Financial.4,SnapshotOcc 11: Business & Financial.5,SnapshotOcc 11: Business & Financial.6,SnapshotOcc 11: Sales & Office Support,SnapshotOcc 11: Sales & Office Support.1,SnapshotOcc 11: Sales & Office Support.2,SnapshotOcc 11: Sales & Office Support.3,SnapshotOcc 11: Sales & Office Support.4,SnapshotOcc 11: Sales & Office Support.5,SnapshotOcc 11: Sales & Office Support.6,SnapshotOcc 11: Transportation and Material Moving,SnapshotOcc 11: Transportation and Material Moving.1,SnapshotOcc 11: Transportation and Material Moving.2,SnapshotOcc 11: Transportation and Material Moving.3,SnapshotOcc 11: Transportation and Material Moving.4,SnapshotOcc 11: Transportation and Material Moving.5,SnapshotOcc 11: Transportation and Material Moving.6,"SnapshotOcc 11: Food, Property, & Personal Services","SnapshotOcc 11: Food, Property, & Personal Services.1","SnapshotOcc 11: Food, Property, & Personal Services.2","SnapshotOcc 11: Food, Property, & Personal Services.3","SnapshotOcc 11: Food, Property, & Personal Services.4","SnapshotOcc 11: Food, Property, & Personal Services.5","SnapshotOcc 11: Food, Property, & Personal Services.6","SnapshotOcc 11: Computer, Mathematical, & Engineering","SnapshotOcc 11: Computer, Mathematical, & Engineering.1","SnapshotOcc 11: Computer, Mathematical, & Engineering.2","SnapshotOcc 11: Computer, Mathematical, & Engineering.3","SnapshotOcc 11: Computer, Mathematical, & Engineering.4","SnapshotOcc 11: Computer, Mathematical, & Engineering.5","SnapshotOcc 11: Computer, Mathematical, & Engineering.6",SnapshotOcc 11: Healthcare Practitioners and Technical,SnapshotOcc 11: Healthcare Practitioners and Technical.1,SnapshotOcc 11: Healthcare Practitioners and Technical.2,SnapshotOcc 11: Healthcare Practitioners and Technical.3,SnapshotOcc 11: Healthcare Practitioners and Technical.4,SnapshotOcc 11: Healthcare Practitioners and Technical.5,SnapshotOcc 11: Healthcare Practitioners and Technical.6,"SnapshotOcc 11: Education, Legal, Social, Arts, & Media","SnapshotOcc 11: Education, Legal, Social, Arts, & Media.1","SnapshotOcc 11: Education, Legal, Social, Arts, & Media.2","SnapshotOcc 11: Education, Legal, Social, Arts, & Media.3","SnapshotOcc 11: Education, Legal, Social, Arts, & Media.4","SnapshotOcc 11: Education, Legal, Social, Arts, & Media.5","SnapshotOcc 11: Education, Legal, Social, Arts, & Media.6","SnapshotOcc 11: Natural Resources, Construction, & Maintenance","SnapshotOcc 11: Natural Resources, Construction, & Maintenance.1","SnapshotOcc 11: Natural Resources, Construction, & Maintenance.2","SnapshotOcc 11: Natural Resources, Construction, & Maintenance.3","SnapshotOcc 11: Natural Resources, Construction, & Maintenance.4","SnapshotOcc 11: Natural Resources, Construction, & Maintenance.5","SnapshotOcc 11: Natural Resources, Construction, & Maintenance.6"
Value,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate,Empl (Place of Work),Empl (Place of Residence),Annual Mean Wage1,Ann 50th %ile Wage1,LQ,Total 3 Year Forecast Demand,3 Year Forecast Growth Rate
NAME,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
USA,1.624729e+08,1.572348e+08,63300.0,47300.0,1.0,6.024799e+07,0.016645,9.170762e+06,8.943932e+06,47300.0,42900.0,1.000000,3.024473e+06,-0.011334,7.159971e+06,7.032085e+06,36800.0,34600.0,1.000000,3.529960e+06,0.048705,3.470390e+06,3.408022e+06,55500.0,46300.0,1.000000,1.283301e+06,0.007163,2.156799e+07,2.044038e+07,108300.0,93900.0,1.000000,6.248538e+06,0.023176,3.514853e+07,3.372085e+07,49500.0,40900.0,1.000000,1.300592e+07,-0.007146,1.417870e+07,1.374116e+07,46000.0,40500.0,1.000000,6.242360e+06,0.019224,2.228189e+07,2.199963e+07,35400.0,33000.0,1.000000,1.273848e+07,0.034199,9.720319e+06,9.039859e+06,104300.0,96000.0,1.000000,2.554172e+06,0.031343,9.362515e+06,9.185286e+06,101400.0,80500.0,1.000000,1.902634e+06,0.022147,1.576600e+07,1.548276e+07,71200.0,60900.0,1.000000,4.893152e+06,0.023705,1.464578e+07,1.424079e+07,57200.0,52100.0,1.000000,4.766060e+06,0.014561
Tennessee,3.454676e+06,3.294067e+06,54900.0,42500.0,1.0,1.337986e+06,0.025403,2.684592e+05,2.580816e+05,44100.0,40600.0,1.376722,9.345395e+04,0.001685,1.231043e+05,1.163722e+05,33900.0,31500.0,0.808603,6.196499e+04,0.050284,7.185765e+04,6.941208e+04,45000.0,40200.0,0.973797,2.720722e+04,0.015606,4.257842e+05,4.025349e+05,98100.0,84600.0,0.928439,1.306108e+05,0.034892,7.633478e+05,7.216005e+05,44200.0,37500.0,1.021384,2.950896e+05,0.003555,3.753952e+05,3.554159e+05,43100.0,38200.0,1.245162,1.709647e+05,0.028937,4.672567e+05,4.530360e+05,30500.0,28200.0,0.986227,2.732276e+05,0.043379,1.574113e+05,1.449718e+05,86700.0,79900.0,0.761603,4.374694e+04,0.039868,2.109379e+05,2.016962e+05,89800.0,68200.0,1.059584,4.603649e+04,0.032211,2.932685e+05,2.878163e+05,59400.0,53100.0,0.874817,9.591244e+04,0.034586,2.978530e+05,2.831301e+05,51100.0,47400.0,0.956452,9.868358e+04,0.023848
MPO,1.092475e+06,1.008766e+06,59300.0,45700.0,1.0,4.609750e+05,0.049826,6.455013e+04,5.260806e+04,47000.0,43400.0,1.046794,2.565740e+04,0.032494,3.583095e+04,3.156465e+04,36500.0,34200.0,0.744246,1.935278e+04,0.071206,2.351367e+04,2.194621e+04,46100.0,40600.0,1.007654,9.759972e+03,0.036265,1.484181e+05,1.497787e+05,105200.0,92500.0,1.023403,5.014045e+04,0.058424,2.494188e+05,2.336948e+05,47300.0,40200.0,1.055338,1.045663e+05,0.026782,1.138038e+05,9.716189e+04,44000.0,39100.0,1.193685,5.698893e+04,0.056114,1.480216e+05,1.289785e+05,32300.0,30000.0,0.987967,9.332143e+04,0.067863,5.356269e+04,5.551480e+04,90100.0,82700.0,0.819504,1.632844e+04,0.061740,6.956355e+04,6.636528e+04,93300.0,72900.0,1.104991,1.687293e+04,0.052903,9.686679e+04,9.908398e+04,63200.0,55700.0,0.913740,3.522536e+04,0.057556,8.892456e+04,7.206958e+04,53000.0,49300.0,0.902981,3.242286e+04,0.048473
GNRC,1.161777e+06,1.113253e+06,58600.0,45300.0,1.0,4.889955e+05,0.048524,6.917169e+04,6.044854e+04,46600.0,42900.0,1.054827,2.702823e+04,0.028569,3.816256e+04,3.554743e+04,36300.0,34000.0,0.745391,2.057919e+04,0.070734,2.486513e+04,2.431169e+04,46100.0,40800.0,1.002007,1.025526e+04,0.035680,1.552829e+05,1.591387e+05,104200.0,91700.0,1.006867,5.222444e+04,0.057171,2.646185e+05,2.571202e+05,46800.0,39800.0,1.052861,1.107764e+05,0.025642,1.198918e+05,1.080123e+05,43800.0,38900.0,1.182528,5.982708e+04,0.054762,1.601017e+05,1.463313e+05,32100.0,29700.0,1.004852,1.006480e+05,0.066721,5.574609e+04,5.871851e+04,89700.0,82400.0,0.802033,1.689731e+04,0.060244,7.265545e+04,7.166020e+04,93100.0,72700.0,1.085260,1.762424e+04,0.052810,1.048489e+05,1.086120e+05,62300.0,55200.0,0.930038,3.785774e+04,0.056264,9.643189e+04,8.335238e+04,52700.0,49100.0,0.920802,3.491160e+04,0.046691
GNRC Region,1.204732e+06,1.165041e+06,58300.0,45100.0,1.0,5.080014e+05,0.048911,7.425328e+04,6.530425e+04,46600.0,43000.0,1.091945,2.914596e+04,0.029889,3.984644e+04,3.788391e+04,36100.0,33800.0,0.750531,2.152597e+04,0.071344,2.558867e+04,2.532362e+04,46000.0,40700.0,0.994397,1.055254e+04,0.036174,1.602583e+05,1.650666e+05,103900.0,91400.0,1.002077,5.396693e+04,0.057389,2.738989e+05,2.689046e+05,46600.0,39700.0,1.050929,1.148783e+05,0.026044,1.236007e+05,1.124921e+05,43600.0,38800.0,1.175641,6.175792e+04,0.055068,1.660390e+05,1.534106e+05,31900.0,29600.0,1.004959,1.045143e+05,0.067070,5.734070e+04,6.115390e+04,89400.0,82100.0,0.795560,1.741080e+04,0.060661,7.528040e+04,7.510215e+04,92600.0,72300.0,1.084376,1.830785e+04,0.053153,1.082051e+05,1.121529e+05,62000.0,55000.0,0.925586,3.912238e+04,0.056640,1.004202e+05,8.824665e+04,52400.0,48900.0,0.924697,3.644153e+04,0.047236

In [9]:
#list occupations and calculate the percent of the total for all (except for total all occupations)
occs = ['SnapshotOcc 11: Healthcare Practitioners and Technical', 'SnapshotOcc 11: Healthcare Support', 
        'SnapshotOcc 11: Protective Services',
        'SnapshotOcc 11: Production', 'SnapshotOcc 11: Transportation and Material Moving', 'SnapshotOcc 11: Business & Financial', 
        'SnapshotOcc 11: Computer, Mathematical, & Engineering', 'SnapshotOcc 11: Education, Legal, Social, Arts, & Media', 
        'SnapshotOcc 11: Food, Property, & Personal Services', 
        'SnapshotOcc 11: Sales & Office Support', 'SnapshotOcc 11: Natural Resources, Construction, & Maintenance']
for occ in occs:
    data[('{}'.format(occ), 'Percent of Total')] = percent(data[('{}'.format(occ), 'Empl (Place of Work)')], 
                                                           data[('Total - All Occupations', 'Empl (Place of Work)')])

In [10]:
#transpose this df now that you've made calculations, and reset the index without dropping
data = data.transpose().reset_index(drop = False)

In [11]:
#create a dataframe from the "index" column (occupation) where you split the string on the "." (.1, .2, because of duplicates), expand on delimiter
boop = data['index'].str.split(pat = ".", expand = True)
#set new column data['Occupation'] as the first item in this other dataframe (position 0)
data['Occupation'] = boop[0]

In [12]:
#drop the original index column
data.drop(columns = 'index', inplace = True)

In [13]:
#list the columns of the dataframe, as these will be made into the value variables in a melt function
cols = data.columns
#melt the data (wide to long)
data = data.melt(var_name = 'NAME', id_vars = ['Value', 'Occupation'], value_vars = cols, value_name = 'placeholder')
data.head(2)

                       Value               Occupation NAME  placeholder
0       Empl (Place of Work)  Total - All Occupations  USA  162472851.6
1  Empl (Place of Residence)  Total - All Occupations  USA  157234754.4

In [14]:
#it will be easiest to get the occupation name up top to rename these, so pivot the table so it's ready to go
data = data.pivot(index = ['Occupation', 'NAME'], columns = 'Value')['placeholder']
#reset the index without dropping, set the index as "Occupation", and transpose to rename
data = data.reset_index(drop = False).set_index('Occupation').transpose()

In [15]:
#rename occupations
data = data.rename(columns = {'SnapshotOcc 11: Healthcare Practitioners and Technical': 'Healthcare Practitioners and Technical', 
                              'SnapshotOcc 11: Healthcare Support': 'Healthcare Support', 
                              'SnapshotOcc 11: Protective Services': 'Protective Services',
                              'SnapshotOcc 11: Production': 'Production', 
                              'SnapshotOcc 11: Transportation and Material Moving': 'Transportation and Material Moving', 
                              'SnapshotOcc 11: Business & Financial': 'Business & Financial', 
                              'SnapshotOcc 11: Computer, Mathematical, & Engineering': 'Computer, Mathematical, & Engineering', 
                              'SnapshotOcc 11: Education, Legal, Social, Arts, & Media': 'Education, Legal, Social, Arts, & Media', 
                              'SnapshotOcc 11: Food, Property, & Personal Services': 'Food, Property, & Personal Services', 
                              'SnapshotOcc 11: Sales & Office Support': 'Sales & Office Support', 
                              'SnapshotOcc 11: Natural Resources, Construction, & Maintenance': 'Natural Resources, Construction, & Maintenance'}
                  ).transpose().reset_index(drop = False)

In [16]:
occs = list(data['Occupation'].unique())

In [17]:
#remove the CDPs from the geographies, then transpose and use dictionary from custom module to rename geos before resetting the index
data = data.loc[~data['NAME'].str.contains('CDP')]
data = data.set_index('NAME').transpose()
data = data.rename(columns = tofullcensus).transpose().reset_index()

In [18]:
#rename the columns
data = data.rename(columns = {'Total 3 Year Forecast Demand': '3 Year Forecast Demand', 
                              'Empl (Place of Work)': 'Employment', 'LQ': 'Location Quotient', 'Annual Mean Wage1': 'Average Annual Wages', 
                              'Ann 50th %ile Wage1': 'Median Annual Wages'})

In [19]:
#multiply the forecast growth rate *100 to fit the other formatting and drop the demand as we won't use right now
data['3 Year Forecast Growth Rate'] = data['3 Year Forecast Growth Rate'] * 100
#data = data.drop(columns = ['3 Year Forecast Demand', 'Empl (Place of Residence)', 'Average Annual Wages'])

In [20]:
#this will set a year and quarter column to the variable set upon data import
data['Year and Quarter'] = recentquarter

In [21]:
cols = ['3 Year Forecast Growth Rate', 'Median Annual Wages', 'Employment', 'Location Quotient', 'Percent of Total']
data[cols] = data[cols].astype(float)

In [22]:
#map to geoid dictionary from module and add source
data['GEO_ID'] = data['NAME'].map(geotogeoid)
data['Source'] = 'JobsEQ'

In [23]:
#final check
data.head()

Value,NAME,Occupation,3 Year Forecast Growth Rate,Median Annual Wages,Average Annual Wages,Empl (Place of Residence),Employment,Location Quotient,Percent of Total,3 Year Forecast Demand,Year and Quarter,GEO_ID,Source
0,"Adams city, Tennessee",Business & Financial,2.757140,90200.0,100800.0,66.926935,5.014536,0.807563,10.720260,1.531045,Q3 2022,1600000US4700200,JobsEQ
1,"Ashland City town, Tennessee",Business & Financial,3.081871,82600.0,91900.0,198.729745,532.581345,0.787378,10.452307,159.615766,Q3 2022,1600000US4702180,JobsEQ
2,"Belle Meade city, Tennessee",Business & Financial,4.955700,99600.0,114100.0,366.659444,143.423408,0.797917,10.592205,48.75898,Q3 2022,1600000US4704620,JobsEQ
3,"Berry Hill city, Tennessee",Business & Financial,2.103759,92200.0,105000.0,511.7498,2506.680401,1.060088,14.072480,711.25895,Q3 2022,1600000US4705140,JobsEQ
4,"Brentwood city, Tennessee",Business & Financial,8.506231,93800.0,106600.0,6952.550854,12454.822940,1.641038,21.784493,4649.909708,Q3 2022,1600000US4708280,JobsEQ

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 888 entries, 0 to 887
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   NAME                         888 non-null    object
 1   Occupation                   888 non-null    object
 2   3 Year Forecast Growth Rate  888 non-null    float64
 3   Median Annual Wages          888 non-null    float64
 4   Average Annual Wages         888 non-null    object
 5   Empl (Place of Residence)    888 non-null    object
 6   Employment                   888 non-null    float64
 7   Location Quotient            888 non-null    float64
 8   Percent of Total             814 non-null    float64
 9   3 Year Forecast Demand       888 non-null    object
 10  Year and Quarter             888 non-null    object
 11  GEO_ID                       816 non-null    object
 12  Source                       888 non-null    object
dtypes: float64(5), object(8)
memory usage: 90.3+ KB

In [25]:
#export to the SQLite database as only the JobsEQ quarterly data
conn = sq.connect('../../Outputs/Labor_Economy.db')
data.to_sql('JobsEQ_OccupationalEmployment_3YROutlook', conn, if_exists = 'replace', index = False)

888

Industry:  

To retrieve data:
+ Log into JobsEQ and navigate to the "Data Explorer" function  

*load the following query: JEQOutlook_Industry*

+ Select the "Industry" dataset, quarterly  
+ Select the following dimensions: Region, Industry  
+ Under "Region" select "USA", "Tennessee", GNRC (13), MPO (7), GNRC Region (14), and then under GNRC Region sub all "Counties" and "Census Places"   
+ Under "Industry" expand "Total-All Industries" and select the built groups in Jobs EQ as described below, leaving Total as well  


+ Total - All Industries  
(Custom Created Groups *begin to type them as they appear here and they will appear in the search bar, if not then remake the custom group as described below*)  
+ Snapshot 11: Construction (23: Construction)  
+ Snapshot 11: Manufacturing (31: Manufacturing)  
+ Snapshot 11: Information (51: Information)  
+ Snapshot 11: Public Administration (92: Public Administration)  
+ Snapshot 11: Other/Unclassified (81: Other, Except Public Administration, 99: Unclassified)  
+ Snapshot 11: Leisure & Hospitality (71: Arts, Entertainment, & Recreation, 72: Accommodation & Food Services)   
+ Snapshot 11: Education & Health Services (61: Education, 62: Healthcare & Social Assistance)   
+ Snapshot 11: Professional & Business Services (54: Professional, Scientific, & Technical, 55: Management of Companies & Enterprises, 56: Administrative & Support & Waste Management & Remediation)   
+ Snapshot 11: Financial Activities (52: Finance & Insurance, 53: Real Estate & Rental & Leasing)   
+ Snapshot 11: Trade, Transportation & Utilities (42: Wholesale Trade, 44-45: Retail Trade, 48-49: Transportation & Warehousing, 22: Utilities)  
+ Snapshot 11: Natural Resources & Mining (11: Agricultural Activities, Forestry, Fishing, & Hunting, 21: Mining, Quarrying, Oil & Gas) 
+ Snapshot: White Collar  
+ Snapshot: Blue Collar  
+ Snapshot 4: Government  
+ Snapshot 4: Retail & Hospitality  
+ Snapshot 4: Professional Services  
+ Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics  

Go into draft mode and select the following values: "Employment (4Q Avg)", "Avg Ann Wages per Worker", "Location Quotient (4Q Avg)", Forecast Growth Demand (3 Years), Forecast Growth Rate (3 Years)". Have region on the left hand side and industry up top.   

*Resume here after loading query and downloading data.*

Once it is completed, there are a few things that are just easier to do in excel. Open and delete the top row that says "Industry Data", and delete the FIPS column. Rename the Region column to NAME, add NAME above this to create a double header. Delete the data notes at the bottom. Unmerge all of the industry cells at the top and simply copy/paste the industry category, ensuring that each column has a group header above the value header. Finally, select all numerical data and format as "general". Save as "JobsEQIndustryEmployment_AllGeos.csv"

In [100]:
#import data and set a variable keeping track of the most recent download's year and quarter
data = pd.read_csv('../../Data Downloads/JobsEQ_IndustryEmploymentforOutlook_AllGeos.csv')
recentquarter = 'Q3 2022'
data.head(2)

,NAME,Total - All Industries,Total - All Industries.1,Total - All Industries.2,Total - All Industries.3,Total - All Industries.4,Snapshot 11: Construction,Snapshot 11: Construction.1,Snapshot 11: Construction.2,Snapshot 11: Construction.3,Snapshot 11: Construction.4,Snapshot 11: Manufacturing,Snapshot 11: Manufacturing.1,Snapshot 11: Manufacturing.2,Snapshot 11: Manufacturing.3,Snapshot 11: Manufacturing.4,Snapshot 11: Information,Snapshot 11: Information.1,Snapshot 11: Information.2,Snapshot 11: Information.3,Snapshot 11: Information.4,Snapshot 11: Public Administration,Snapshot 11: Public Administration.1,Snapshot 11: Public Administration.2,Snapshot 11: Public Administration.3,Snapshot 11: Public Administration.4,Snapshot 11: Other/Unclassified,Snapshot 11: Other/Unclassified.1,Snapshot 11: Other/Unclassified.2,Snapshot 11: Other/Unclassified.3,Snapshot 11: Other/Unclassified.4,Snapshot 11: Leisure & Hospitality,Snapshot 11: Leisure & Hospitality.1,Snapshot 11: Leisure & Hospitality.2,Snapshot 11: Leisure & Hospitality.3,Snapshot 11: Leisure & Hospitality.4,Snapshot 11: Education & Health Services,Snapshot 11: Education & Health Services.1,Snapshot 11: Education & Health Services.2,Snapshot 11: Education & Health Services.3,Snapshot 11: Education & Health Services.4,Snapshot 11: Professional & Business Services,Snapshot 11: Professional & Business Services.1,Snapshot 11: Professional & Business Services.2,Snapshot 11: Professional & Business Services.3,Snapshot 11: Professional & Business Services.4,Snapshot 11: Financial Activities,Snapshot 11: Financial Activities.1,Snapshot 11: Financial Activities.2,Snapshot 11: Financial Activities.3,Snapshot 11: Financial Activities.4,"Snapshot 11: Trade, Transportation, & Utilities","Snapshot 11: Trade, Transportation, & Utilities.1","Snapshot 11: Trade, Transportation, & Utilities.2","Snapshot 11: Trade, Transportation, & Utilities.3","Snapshot 11: Trade, Transportation, & Utilities.4",Snapshot 11: Natural Resources & Mining,Snapshot 11: Natural Resources & Mining.1,Snapshot 11: Natural Resources & Mining.2,Snapshot 11: Natural Resources & Mining.3,Snapshot 11: Natural Resources & Mining.4,Snapshot: White Collar,Snapshot: White Collar.1,Snapshot: White Collar.2,Snapshot: White Collar.3,Snapshot: White Collar.4,Snapshot: Blue Collar,Snapshot: Blue Collar.1,Snapshot: Blue Collar.2,Snapshot: Blue Collar.3,Snapshot: Blue Collar.4,Snapshot 4: Government,Snapshot 4: Government.1,Snapshot 4: Government.2,Snapshot 4: Government.3,Snapshot 4: Government.4,Snapshot 4: Retail & Hospitality,Snapshot 4: Retail & Hospitality.1,Snapshot 4: Retail & Hospitality.2,Snapshot 4: Retail & Hospitality.3,Snapshot 4: Retail & Hospitality.4,Snapshot 4: Professional Services,Snapshot 4: Professional Services.1,Snapshot 4: Professional Services.2,Snapshot 4: Professional Services.3,Snapshot 4: Professional Services.4,"Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics","Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics.1","Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics.2","Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics.3","Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics.4"
0,NAME,Empl (4Q Mov Avg),Avg Ann Wages per Worker,LQ (4Q Mov Avg),3 Year Forecast Growth Demand,3 Year Forecast Growth Rate,Empl (4Q Mov Avg),Avg Ann Wages per Worker,LQ (4Q Mov Avg),3 Year Forecast Growth Demand,3 Year Forecast Growth Rate,Empl (4Q Mov Avg),Avg Ann Wages per Worker,LQ (4Q Mov Avg),3 Year Forecast Growth Demand,3 Year Forecast Growth Rate,Empl (4Q Mov Avg),Avg Ann Wages per Worker,LQ (4Q Mov Avg),3 Year Forecast Growth Demand,3 Year Forecast Growth Rate,Empl (4Q Mov Avg),Avg Ann Wages per Worker,LQ (4Q Mov Avg),3 Year Forecast Growth Demand,3 Year Forecast Growth Rate,Empl (4Q Mov Avg),Avg Ann Wages per Worker,LQ (4Q Mov Avg),3 Year Forecast Growth Demand,3 Year Forecast Growth Rate,Empl (4Q Mov Avg),Avg Ann Wages per Worker,LQ (4Q Mov Avg),3 Year Forecast Growth Demand,3 Year Forecast Growth Rate,Empl (4Q Mov Avg),Avg Ann Wages per Worker,LQ (4Q Mov Avg),3 Year Forecast Growth Demand,3 Year Forecast Growth Rate,Empl (4Q Mov Avg),Avg Ann Wages per Worker,LQ (4Q Mov Avg),3 Year Forecast Growth Demand,3 Year Forecast Growth Rate,Empl (4Q Mov Avg),Avg Ann Wages per Worker,LQ (4Q Mov Avg),3 Year Forecast Growth Demand,3 Year Forecast Growth Rate,Empl (4Q Mov Avg),Avg Ann Wages per Worker,LQ (4Q Mov Avg),3 Year Forecast Growth Demand,3 Year Forecast Growth Rate,Empl (4Q Mov Avg),Avg Ann Wages per Worker,LQ (4Q Mov Avg),3 Year Forecast Growth Demand,3 Year Forecast Growth Rate,Empl (4Q Mov Avg),Avg Ann Wages per Worker,LQ (4Q Mov Avg),3 Year Forecast Growth Demand,3 Year Forecast Growth Rate,Empl (4Q Mov Avg),Avg Ann Wages per Worker,LQ (4Q Mov Avg),3 Year Forecast Growth Demand,3 Year Forecast Growth Rate,Empl (4Q Mov Avg),Avg Ann Wages per Worker,LQ (4Q Mov Avg),3 Year Forecast Growth Demand,3 Year Forecast Growth Rate,Empl (4Q Mov Avg),Avg Ann Wages per Worker,LQ (4Q Mov Avg),3 Year Forecast Growth Demand,3 Year Forecast Growth Rate,Empl (4Q Mov Avg),Avg Ann Wages per Worker,LQ (4Q Mov Avg),3 Year Forecast Growth Demand,3 Year Forecast Growth Rate,Empl (4Q Mov Avg),Avg Ann Wages per Worker,LQ (4Q Mov Avg),3 Year Forecast Growth Demand,3 Year Forecast Growth Rate
1,USA,162472883.7,68501.25988,1,2649934.303,0.01631001,9648245.141,68359.16594,1,76998.39335,0.007980559,13133394.55,79420.61843,1,-52508.22803,-0.00399807,3318020.318,135098.9416,1,100824.2532,0.03038687,7440453.455,77507.46193,1,-33241.61177,-0.004467686,7285553.703,42617.98667,1,182918.9007,0.025107069,17104371.95,31635.53131,1,757751.7643,0.044301642,36284490.13,61941.14032,1,1031178.721,0.02841927,24979289.06,91012.70023,1,472836.9256,0.018929159,9393786.686,110777.8631,1,83309.01532,0.008868523,31190197.79,58974.93086,1,11435.76827,0.000366646,2695080.9,61638.76114,1,46733.74449,0.017340387,70949010.36,84960.72816,1,1546384.241,0.021795713,38350642.33,76561.73299,1,199016.9832,0.005189404,7440453.455,77507.46193,1,-33241.61177,-0.004467686,30124682.05,35411.40001,1,497695.7418,0.016521195,84438322.62,76605.90072,1,2018749.858,0.023907982,40469425.56,74979.07277,1,223931.9179,0.00553336

In [101]:
#set the index as the NAME column, transpose, rename the double NAME to value (recall the double in the download excel formatting), then reset index without dropping
data = data.set_index('NAME').transpose().rename(columns = {'NAME': 'Value'}).reset_index(drop = False)
data.head(2)

NAME,index,Value,USA,Tennessee,MPO,GNRC,GNRC Region,"Adams city, TN","Ashland City town, TN","Belle Meade city, TN","Berry Hill city, TN","Bethpage CDP, TN","Big Rock CDP, TN","Bransford CDP, TN","Brentwood city, TN","Burns town, TN","Castalian Springs CDP, TN","Cedar Hill city, TN","Charlotte town, TN","Christiana CDP, TN","Clarksville city, TN","Columbia city, TN","Coopertown town, TN","Cottontown CDP, TN","Cross Plains city, TN","Cumberland City town, TN","Dickson city, TN","Dover city, TN","Eagleville city, TN","Erin city, TN","Fairfield CDP, TN","Fairview city, TN","Forest Hills city, TN","Franklin city, TN","Gallatin city, TN","Gladeville CDP, TN","Goodlettsville city, TN","Graball CDP, TN","Greenbrier town, TN","Green Hill CDP, TN","Greenvale CDP, TN","Hartsville/Trousdale County, TN","Hendersonville city, TN","Kingston Springs town, TN","La Vergne city, TN","Lebanon city, TN","McEwen city, TN","Millersville city, TN","Mitchellville city, TN","Mount Juliet city, TN","Mount Pleasant city, TN","Murfreesboro city, TN","Nashville-Davidson metropolitan government (balance), TN","New Deal CDP, TN","New Johnsonville city, TN","Nolensville town, TN","Norene CDP, TN","Oak Grove CDP, TN (Sumner )","Oak Hill city, TN","Orlinda city, TN","Pegram town, TN","Pleasant View city, TN","Portland city, TN","Ridgetop city, TN","Rockvale CDP, TN","Rural Hill CDP, TN","Shackle Island CDP, TN","Slayden town, TN","Smyrna town, TN","Springfield city, TN","Spring Hill city, TN","Statesville CDP, TN","Tennessee Ridge town, TN","Thompson's Station town, TN","Tuckers Crossroads CDP, TN","Vanleer town, TN","Walnut Grove CDP, TN (Sumner )","Walterhill CDP, TN","Watertown city, TN","Waverly city, TN","Westmoreland town, TN","White Bluff town, TN","White House city, TN","Cheatham County, Tennessee","Davidson County, Tennessee","Dickson County, Tennessee","Houston County, Tennessee","Humphreys County, Tennessee","Maury County, Tennessee","Montgomery County, Tennessee","Robertson County, Tennessee","Rutherford County, Tennessee","Stewart County, Tennessee","Sumner County, Tennessee","Trousdale County, Tennessee","Williamson County, Tennessee","Wilson County, Tennessee"
0,Total - All Industries,Empl (4Q Mov Avg),162472883.7,3454683.751,1092474.644,1161776.732,1204731.631,46.77625746,5095.347207,1354.046814,17812.64096,56.23123535,9.245202136,16.47046353,57172.88463,258.4331226,41.84481809,12.64808424,1114.942565,580.1041512,55675.52324,23441.5902,1899.579277,19.42627555,293.3180848,792.9323171,13828.42154,1226.137126,465.2695067,1022.601123,5.450833143,2011.323994,1080.499582,85853.63863,24695.20645,355.7348892,14432.73481,1.314209024,1286.220478,298.949005,0.574247912,2360.232916,25657.65174,1010.118148,22248.40506,36375.99018,472.7717858,1507.488391,15.87074102,19799.18377,2354.628092,77535.58938,537565.3941,57.5649637,1137.159845,2915.890658,6.722630276,65.56634464,1252.356346,468.89792,299.8537576,1629.024537,10006.14577,382.6430825,468.4196654,149.8494601,516.9566196,17.98303688,40088.59287,11614.45259,10895.08142,5.249829193,192.4034522,1979.560118,94.40247289,54.92235885,35.73391588,189.4505715,640.3178639,2122.676226,961.1414927,924.30509,5182.252584,11125.07124,571506.2215,20489.61046,1818.806639,6463.954245,42954.89964,66598.40905,25998.95023,152790.2894,3400.874169,67705.30143,2360.261542,164459.5549,67059.42696
1,Total - All Industries.1,Avg Ann Wages per Worker,68501.25988,60975.24347,69788.14701,68203.43816,67737.22351,48343.28866,53793.94926,73730.44022,71800.97586,49844.76568,91163.57136,49632.20504,82751.7974,47010.00486,59536.09147,42173.4533,47248.97629,53499.41588,46839.38788,55913.88127,47027.53411,52941.8257,45996.30949,55588.52634,47549.85617,49453.17979,49635.07339,37568.14995,54511.90196,75391.48539,73802.42003,81819.61857,54113.70582,47669.46011,73016.4824,44618.548,48532.09508,53904.52616,38901.7746,46976.85337,54175.08694,51786.84473,57395.21478,53486.64421,52584.27631,52645.40513,54658.11251,53027.36911,55129.15736,56635.74015,75999.48307,52295.75348,57319.24866,76745.49812,49098.91503,54597.96765,71723.32653,49238.81954,49386.5138,53058.97921,53681.73677,46962.64648,53599.91378,56229.26152,48709.71549,54923.16749,57186.4822,49213.35544,65072.50007,52337.96058,35348.32298,69742.90594,46495.11369,47355.07035,57637.5405,55459.6054,49766.44635,53833.97922,53427.12491,47407.88321,48948.11319,51943.51085,75823.23562,46782.26436,35928.42706,54426.34352,55127.78096,46701.97863,48618.97955,57028.78258,55595.71283,53961.30324,46800.4605,81125.71919,53198.62456

In [102]:
#strip the index and value columns; remove blank space that would be heading or trailing the strings
data['index'] = data['index'].str.strip()
data['Value'] = data['Value'].str.strip()

In [103]:
#set these strings as the index, so that you can transpose the df and fill the null values with zeros to convert the datatype for calculations
data = data.set_index(['index', 'Value']).transpose().fillna(0)

In [104]:
#make a list of these numerical columns, and convert them to float datatype
cols = data.columns
data[cols] = data[cols].astype(float)

In [105]:
#list industries and calculate the percent of the total for all (except for total all industries)
inds = ['Snapshot 11: Construction', 'Snapshot 11: Manufacturing', 'Snapshot 11: Information', 'Snapshot 11: Public Administration', 
        'Snapshot 11: Other/Unclassified', 'Snapshot 11: Leisure & Hospitality', 'Snapshot 11: Education & Health Services', 
        'Snapshot 11: Professional & Business Services', 'Snapshot 11: Financial Activities', 'Snapshot 11: Trade, Transportation, & Utilities', 
        'Snapshot 11: Natural Resources & Mining']
for ind in inds:
    data[('{}'.format(ind), 'Percent of Total')] = percent(data[('{}'.format(ind), 'Empl (4Q Mov Avg)')], data[('Total - All Industries', 'Empl (4Q Mov Avg)')])

In [106]:
#transpose this df now that you've made calculations, and reset the index without dropping
data = data.transpose().reset_index(drop = False)
data.head()

NAME,index,Value,USA,Tennessee,MPO,GNRC,GNRC Region,"Adams city, TN","Ashland City town, TN","Belle Meade city, TN","Berry Hill city, TN","Bethpage CDP, TN","Big Rock CDP, TN","Bransford CDP, TN","Brentwood city, TN","Burns town, TN","Castalian Springs CDP, TN","Cedar Hill city, TN","Charlotte town, TN","Christiana CDP, TN","Clarksville city, TN","Columbia city, TN","Coopertown town, TN","Cottontown CDP, TN","Cross Plains city, TN","Cumberland City town, TN","Dickson city, TN","Dover city, TN","Eagleville city, TN","Erin city, TN","Fairfield CDP, TN","Fairview city, TN","Forest Hills city, TN","Franklin city, TN","Gallatin city, TN","Gladeville CDP, TN","Goodlettsville city, TN","Graball CDP, TN","Greenbrier town, TN","Green Hill CDP, TN","Greenvale CDP, TN","Hartsville/Trousdale County, TN","Hendersonville city, TN","Kingston Springs town, TN","La Vergne city, TN","Lebanon city, TN","McEwen city, TN","Millersville city, TN","Mitchellville city, TN","Mount Juliet city, TN","Mount Pleasant city, TN","Murfreesboro city, TN","Nashville-Davidson metropolitan government (balance), TN","New Deal CDP, TN","New Johnsonville city, TN","Nolensville town, TN","Norene CDP, TN","Oak Grove CDP, TN (Sumner )","Oak Hill city, TN","Orlinda city, TN","Pegram town, TN","Pleasant View city, TN","Portland city, TN","Ridgetop city, TN","Rockvale CDP, TN","Rural Hill CDP, TN","Shackle Island CDP, TN","Slayden town, TN","Smyrna town, TN","Springfield city, TN","Spring Hill city, TN","Statesville CDP, TN","Tennessee Ridge town, TN","Thompson's Station town, TN","Tuckers Crossroads CDP, TN","Vanleer town, TN","Walnut Grove CDP, TN (Sumner )","Walterhill CDP, TN","Watertown city, TN","Waverly city, TN","Westmoreland town, TN","White Bluff town, TN","White House city, TN","Cheatham County, Tennessee","Davidson County, Tennessee","Dickson County, Tennessee","Houston County, Tennessee","Humphreys County, Tennessee","Maury County, Tennessee","Montgomery County, Tennessee","Robertson County, Tennessee","Rutherford County, Tennessee","Stewart County, Tennessee","Sumner County, Tennessee","Trousdale County, Tennessee","Williamson County, Tennessee","Wilson County, Tennessee"
0,Total - All Industries,Empl (4Q Mov Avg),1.624729e+08,3.454684e+06,1.092475e+06,1.161777e+06,1.204732e+06,46.776257,5095.347207,1354.046814,17812.640960,56.231235,9.245202,16.470464,57172.884630,258.433123,41.844818,12.648084,1114.942565,580.104151,55675.523240,23441.590200,1899.579277,19.426276,293.318085,792.932317,13828.421540,1226.137126,465.269507,1022.601123,5.450833,2011.323994,1080.499582,85853.63863,24695.206450,355.734889,14432.734810,1.314209,1286.220478,298.949005,0.574248,2360.232916,25657.651740,1010.118148,22248.405060,36375.990180,472.771786,1507.488391,15.870741,19799.183770,2354.628092,77535.589380,537565.394100,57.564964,1137.159845,2915.890658,6.722630,65.566345,1252.356346,468.897920,299.853758,1629.024537,10006.145770,382.643082,468.419665,149.849460,516.956620,17.983037,40088.592870,11614.452590,10895.081420,5.249829,192.403452,1979.560118,94.402473,54.922359,35.733916,189.450571,640.317864,2122.676226,961.141493,924.305090,5182.252584,11125.071240,571506.221500,20489.610460,1818.806639,6463.954245,42954.899640,66598.409050,25998.950230,152790.289400,3400.874169,67705.301430,2360.261542,164459.554900,67059.426960
1,Total - All Industries.1,Avg Ann Wages per Worker,6.850126e+04,6.097524e+04,6.978815e+04,6.820344e+04,6.773722e+04,48343.288660,53793.949260,73730.440220,71800.975860,49844.765680,91163.571360,49632.205040,82751.797400,47010.004860,59536.091470,42173.453300,47248.976290,53499.415880,46839.387880,55913.881270,47027.534110,52941.825700,45996.309490,55588.526340,47549.856170,49453.179790,49635.073390,37568.149950,54511.901960,75391.485390,73802.420030,81819.61857,54113.705820,47669.460110,73016.482400,44618.548000,48532.095080,53904.526160,38901.774600,46976.853370,54175.086940,51786.844730,57395.214780,53486.644210,52584.276310,52645.405130,54658.112510,53027.369110,55129.157360,56635.740150,75999.483070,52295.753480,57319.248660,76745.498120,49098.915030,54597.967650,71723.326530,49238.819540,49386.513800,53058.979210,53681.736770,46962.646480,53599.913780,56229.261520,48709.715490,54923.167490,57186.482200,49213.355440,65072.500070,52337.960580,35348.322980,69742.905940,46495.113690,47355.070350,57637.540500,55459.605400,49766.446350,53833.979220,53427.124910,47407.883210,48948.113190,51943.510850,75823.235620,46782.264360,35928.427060,54426.343520,55127.780960,46701.978630,48618.979550,57028.782580,55595.712830,53961.303240,46800.460500,81125.719190,53198.624560
2,Total - All Industries.2,LQ (4Q Mov Avg),1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
3,Total - All Industries.3,3 Year Forecast Growth Demand,2.649934e+06,8.775898e+04,5.443391e+04,5.637426e+04,5.892498e+04,1.183332,88.462512,59.724945,311.617988,2.148112,-0.456316,1.039537,4514.865152,7.210387,1.427287,0.276888,25.734697,31.753057,2854.976810,1398.655199,59.733614,1.054487,6.323437,13.070996,436.201944,25.089489,24.330699,1.968881,0.274087,138.796528,47.723187,6767.80795,1283.847459,23.626268,472.330054,0.057742,32.522125,26.908972,0.044644,204.482749,1510.989094,23.038274,1391.595246,3319.014171,3.506469,67.967004,0.871500,1854.648450,122.127952,4748.710335,17791.405030,2.960857,6.018506,218.798830,0.540513,3.321189,44.648357,12.041264,7.149864,48.394716,482.209277,13.999615,23.235232,12.856734,23.156070,0.318364,2402.176976,319.618143,749.626709,0.370888,-1.187051,127.816098,6.006686,1.048612,2.004582,9.603671,47.531797,24.791749,43.342640,10.287086,198.837861,235.526668,18616.887800,610.903562,-0.090353,51.288573,2545.388629,3304.392565,792.231507,9261.049668,40.340040,3683.748790,204.486066,12874.503970,6152.909972
4,Total - All Industries.4,3 Year Forecast Growth Rate,1.631001e-02,2.540290e-02,4.982624e-02,4.852418e-02,4.891129e-02,0.025298,0.017361,0.044108,0.017494,0.038201,-0.049357,0.063115,0.078969,0.027900,0.034109,0.021892,0.023082,0.054737,0.051279,0.059666,0.031446,0.054281,0.021558,0.016484,0.031544,0.020462,0.052294,0.001925,0.050283,0.069008,0.044168,0.07883,0.051988,0.066415,0.032726,0.043937,0.025285,0.090012,0.077744,0.086637,0.058890,0.022808,0.062548,0.091242,0.007417,0.045086,0.054912,0.093673,0.051867,0.061246,0.033096,0.051435,0.005293,0.075037,0.080402,0.050654,0.035651,0.025680,0.023845,0.029708,0.048191,0.036587,0.049603,0.085798,0.044793,0.017704,0.059922,0.027519,0.068804,0.070648,-0.006170,0.064568,0.063628,0.019093,0.056097,0.050692,0.074232,0.011679,0.045095,0.011130,0.038369,0.021171,0.032575,0.029815,-0.000050,0.007935,0.059257,0.049617,0.030472,0.060613,0.011862,0.054409,0.086637,0.078284,0.091753

In [107]:
#create a dataframe from the "index" column (industry) where you split the string on the "." (.1, .2, because of duplicates), expand on delimiter
boop = data['index'].str.split(pat = ".", expand = True)
#set new column data['Industry'] as the first item in this other dataframe (position 0)
data['Industry'] = boop[0]

In [109]:
#drop the original index column
data.drop(columns = 'index', inplace = True)

In [110]:
#list the columns of the dataframe, as these will be made into the value variables in a melt function
cols = data.columns
#melt the data (wide to long)
data = data.melt(var_name = 'NAME', id_vars = ['Value', 'Industry'], value_vars = cols, value_name = 'placeholder')
data.head(2)

                      Value                Industry NAME   placeholder
0         Empl (4Q Mov Avg)  Total - All Industries  USA  1.624729e+08
1  Avg Ann Wages per Worker  Total - All Industries  USA  6.850126e+04

In [111]:
#it will be easiest to get the industry name up top to rename these, so pivot the table so it's ready to go
data = data.pivot(index = ['Industry', 'NAME'], columns = 'Value')['placeholder']
#reset the index without dropping, set the index as "Industry", and transpose to rename
data = data.reset_index(drop = False).set_index('Industry').transpose()

In [112]:
#rename columns
data = data.rename(columns = {'Total - All Industries': 'Total', 'Snapshot 11: Construction': 'Construction',
                              'Snapshot 11: Manufacturing': 'Manufacturing', 'Snapshot 11: Information': 'Information', 
                              'Snapshot 11: Public Administration': 'Public Administration', 
                              'Snapshot 11: Other/Unclassified': 'Other/Unclassified', 
                              'Snapshot 11: Leisure & Hospitality': 'Leisure & Hospitality', 
                              'Snapshot 11: Education & Health Services': 'Education & Health Services', 
                              'Snapshot 11: Professional & Business Services': 'Professional & Business Services', 
                              'Snapshot 11: Financial Activities': 'Financial Activities', 
                              'Snapshot 11: Trade, Transportation, & Utilities': 'Trade, Transportation, & Utilities', 
                              'Snapshot 11: Natural Resources & Mining': 'Natural Resources & Mining'
                             }).transpose().reset_index(drop = False)

In [114]:
#remove the CDPs from the geographies, then transpose and use dictionary from custom module to rename geos before resetting the index
data = data.loc[~data['NAME'].str.contains('CDP')]
data = data.set_index('NAME').transpose()
data = data.rename(columns = tofullcensus).transpose().reset_index()

In [115]:
#rename the columns
data = data.rename(columns = {'3 Year Forecast Growth Demand': '3 Year Forecast Demand', 'Avg Ann Wages per Worker': 'Average Annual Wages', 
                              'Empl (4Q Mov Avg)': 'Employment', 'LQ (4Q Mov Avg)': 'Location Quotient'})

In [116]:
#multiply the forecast growth rate *100 to fit the other formatting and drop the demand as we won't use right now
data['3 Year Forecast Growth Rate'] = data['3 Year Forecast Growth Rate'] * 100
data = data.drop(columns = '3 Year Forecast Demand')

In [117]:
#this will set a year and quarter column to the variable set upon data import
data['Year and Quarter'] = recentquarter

In [118]:
#remove geography names that contain CDP, make sure that the index has no name for feather format export, and drop the index to have standard index format for feather
data = data.rename_axis(None, axis=1).reset_index(drop = True)

In [120]:
cols = ['3 Year Forecast Growth Rate', 'Average Annual Wages', 'Employment', 'Location Quotient', 'Percent of Total']
data[cols] = data[cols].astype(float)

In [121]:
#map to geoid dictionary from module and add source
data['GEO_ID'] = data['NAME'].map(geotogeoid)
data['Source'] = 'JobsEQ'

In [122]:
#final check
data.head()

,NAME,Industry,3 Year Forecast Growth Rate,Average Annual Wages,Employment,Location Quotient,Percent of Total,Year and Quarter,GEO_ID,Source
0,"Adams city, Tennessee",Construction,2.969643,64055.96486,1.655657,0.596043,3.539525,Q3 2022,1600000US4700200,JobsEQ
1,"Ashland City town, Tennessee",Construction,2.578872,58282.22036,135.852261,0.448979,2.666202,Q3 2022,1600000US4702180,JobsEQ
2,"Belle Meade city, Tennessee",Construction,2.172766,77723.58825,31.024150,0.385832,2.291217,Q3 2022,1600000US4704620,JobsEQ
3,"Berry Hill city, Tennessee",Construction,2.187311,78029.51461,813.531405,0.769092,4.567158,Q3 2022,1600000US4705140,JobsEQ
4,"Brentwood city, Tennessee",Construction,6.849030,86795.43310,2449.524934,0.721480,4.284417,Q3 2022,1600000US4708280,JobsEQ

In [123]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332 entries, 0 to 1331
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   NAME                         1332 non-null   object
 1   Industry                     1332 non-null   object
 2   3 Year Forecast Growth Rate  1332 non-null   float64
 3   Average Annual Wages         1332 non-null   float64
 4   Employment                   1332 non-null   float64
 5   Location Quotient            1332 non-null   float64
 6   Percent of Total             814 non-null    float64
 7   Year and Quarter             1332 non-null   object
 8   GEO_ID                       1224 non-null   object
 9   Source                       1332 non-null   object
dtypes: float64(5), object(5)
memory usage: 104.2+ KB

In [124]:
#export to the SQLite database as only the JobsEQ quarterly data
conn = sq.connect('../../Outputs/Labor_Economy.db')
data.to_sql('JobsEQ_IndustryEmployment_3YROutlook', conn, if_exists = 'replace', index = False)

1332