### This notebook includes annual data for:  
+ Unemployment Rate  
+ GDP  
+ Educational Awards  
+ Occupational Employment  
+ Industry Employment

In [2]:
#packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
from functools import reduce
pd.options.mode.chained_assignment = None  # default='warn'
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)
import sys
sys.path.append("../../../Functions and Dictionaries/") # Adds higher directory to python modules path
import geodict
namestocommon = geodict.namestocommon
geotogeoid = geodict.geotogeoid
tofullcensus = geodict.tofullcensus
import sqlite3 as sq

In [3]:
#functions
def percent(x, y):
        try:
            return ((x/y)*100)
        except ZeroDivisionError:
            return 0
def percentchange(x, y):
    try:
        return ((x - y)*100/y)
    except ZeroDivisionError:
        return 0
def realchange(x, y):
    return x-y
#calculate real and percent change between all columns for all possible time frames
def calculate_changes(df, columns, time_frames, years):
    for column in columns:
        for time_frame in time_frames:
            start_year, end_year = time_frame.split('-')
            df[f'{column} % Change', 'None', f'{time_frame}'] = percentchange(df[(column, int(end_year), 'None')], df[(column, int(start_year), 'None')])
            df[f'{column} Change', 'None', f'{time_frame}'] = (df[(column, int(end_year), 'None')] - df[(column, int(start_year), 'None')])

    return df
#generate all possible time frames from a list of years
def generate_time_frames(years):
    time_frames = []
    for i in range(len(years)-1):
        for j in range(i+1, len(years)):
            time_frames.append(f"{years[i]}-{years[j]}")
    return time_frames

Unemployment Rate: 

*load the following query: JEQAnnual_LAUS*

To retrieve data:  
+ Log into JobsEQ and navigate to the "Data Explorer" function  
+ go to "Draft Mode"
+ Select the "LAUS" dataset, annual
+ Select the following dimensions: Region, Year 
+ Under "Region" select "USA", "Tennessee", GNRC (13), MPO (7), GNRC Region (14), and then under GNRC Region sub all "Counties" (not available for places)     
+ Under "Year" choose your range (most recently I've done 2000 - recent)
+ Select the value "Labor Force", "Employed", and Unemployed". Unemployment rate is available but we're calculating it here in case we ever want to aggregate anything before calculating a percentage. It's been checked that this is correct and aligns with JobsEQ's data.    
+ Swap rows & columns if needed so "Regions" data is at the top, and "Year" is at the side. 

*After loading the query and downloading, resume here.*  

When you've downloaded this csv, open it and delete the top line, rmake a "Year" double header, unmerge the time and make sure it's copy-pasted across the relevant columns and keep the headers for different datapoints. Delete the data notes at the bottom, and select all of the numerical data and make them "General" format. Save as 'JobsEQ_LAUSAnnual_GeosExceptPlaces.csv'

In [4]:
#import LAUS data and examine
data = pd.read_csv('../../Data Downloads/JobsEQ_LAUSAnnual_GeosExceptPlaces.csv')
data.head(3)

,Year,USA,USA.1,USA.2,Tennessee (47),Tennessee (47).1,Tennessee (47).2,MPO,MPO.1,MPO.2,GNRC,GNRC.1,GNRC.2,GNRC Region,GNRC Region.1,GNRC Region.2,"Cheatham County, Tennessee (47021)","Cheatham County, Tennessee (47021).1","Cheatham County, Tennessee (47021).2","Davidson County, Tennessee (47037)","Davidson County, Tennessee (47037).1","Davidson County, Tennessee (47037).2","Dickson County, Tennessee (47043)","Dickson County, Tennessee (47043).1","Dickson County, Tennessee (47043).2","Houston County, Tennessee (47083)","Houston County, Tennessee (47083).1","Houston County, Tennessee (47083).2","Humphreys County, Tennessee (47085)","Humphreys County, Tennessee (47085).1","Humphreys County, Tennessee (47085).2","Maury County, Tennessee (47119)","Maury County, Tennessee (47119).1","Maury County, Tennessee (47119).2","Montgomery County, Tennessee (47125)","Montgomery County, Tennessee (47125).1","Montgomery County, Tennessee (47125).2","Robertson County, Tennessee (47147)","Robertson County, Tennessee (47147).1","Robertson County, Tennessee (47147).2","Rutherford County, Tennessee (47149)","Rutherford County, Tennessee (47149).1","Rutherford County, Tennessee (47149).2","Stewart County, Tennessee (47161)","Stewart County, Tennessee (47161).1","Stewart County, Tennessee (47161).2","Sumner County, Tennessee (47165)","Sumner County, Tennessee (47165).1","Sumner County, Tennessee (47165).2","Trousdale County, Tennessee (47169)","Trousdale County, Tennessee (47169).1","Trousdale County, Tennessee (47169).2","Williamson County, Tennessee (47187)","Williamson County, Tennessee (47187).1","Williamson County, Tennessee (47187).2","Wilson County, Tennessee (47189)","Wilson County, Tennessee (47189).1","Wilson County, Tennessee (47189).2"
0,Year,Labor Force,Employed,Unemployed,Labor Force,Employed,Unemployed,Labor Force,Employed,Unemployed,Labor Force,Employed,Unemployed,Labor Force,Employed,Unemployed,Labor Force,Employed,Unemployed,Labor Force,Employed,Unemployed,Labor Force,Employed,Unemployed,Labor Force,Employed,Unemployed,Labor Force,Employed,Unemployed,Labor Force,Employed,Unemployed,Labor Force,Employed,Unemployed,Labor Force,Employed,Unemployed,Labor Force,Employed,Unemployed,Labor Force,Employed,Unemployed,Labor Force,Employed,Unemployed,Labor Force,Employed,Unemployed,Labor Force,Employed,Unemployed,Labor Force,Employed,Unemployed
1,2000,143893565,138065883,5827681,2849026,2738785,110241,668134,647631,20502,753959,730195,23763,790723,765674,25048,19513,18982,531,309162,299570,9592,22119,21339,780,3673,3461,212,8882,8445,437,36764,35479,1284,59350,57148,2202,29566,28535,1031,102558,99470,3088,5499,5236,262,70402,68164,2237,3549,3429,119,69927,68208,1719,49752,48203,1549
2,2001,145059940,138106699,6953241,2857659,2728621,129038,671818,647629,24188,758444,730269,28174,795016,765363,29652,19598,18957,641,306620,295925,10695,22203,21250,953,3619,3367,251,8746,8198,548,36572,35093,1478,59841,57262,2579,29998,28749,1249,105013,101216,3796,5592,5297,294,71680,68523,3157,3595,3400,195,71479,69508,1970,50453,48612,1841

In [5]:
#set index to the extraneous "Time" header and transpose, then rename to "Datapoint" and reset index without dropping
data = data.set_index('Year').transpose()
data = data.rename(columns = {'Year': 'Datapoint'}).reset_index(drop = False)

In [6]:
data.head()

Year,index,Datapoint,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,USA,Labor Force,143893565,145059940,146160666,147005871,148071836,149975300,152127646,153578409,155106956,155126715,155523182,155740916,156232399,156528594,157068244,157960658,159791241,161841127,163121138,164906736,162407439,163401845,165971079
1,USA.1,Employed,138065883,138106699,137615237,138129110,139818438,142222730,145000041,146388401,146047744,140696560,140454859,141714416,143548583,144904563,147293813,149540786,151934228,154721774,156709675,158806258,149294638,154624087,159884645
2,USA.2,Unemployed,5827681,6953241,8545428,8876760,8253397,7752570,7127604,7190008,9059212,14430154,15068323,14026499,12683815,11624031,9774431,8419872,7857013,7119352,6411462,6100477,13112801,8777758,6086434
3,Tennessee (47),Labor Force,2849026,2857659,2898947,2904565,2897792,2898489,3014748,3043258,3060778,3032658,3093118,3117492,3096322,3078892,3043573,3074215,3136398,3197031,3257052,3335269,3303230,3323545,3352029
4,Tennessee (47).1,Employed,2738785,2728621,2750423,2744350,2742910,2738223,2856078,2901946,2862093,2725134,2789055,2833278,2849727,2840127,2842540,2902683,2987678,3077514,3143791,3223663,3056709,3174135,3238558

In [7]:
#make sure there's no head or tail on the strings
data['index'] = data['index'].str.strip()
data['Datapoint'] = data['Datapoint'].str.strip()

In [8]:
#split and expand the geography names on the "." (where there were multiple from duplicates because of how we imported it) and take what was before as the name
boop = data['index'].str.split(pat = ".", expand = True)
data['NAME'] = boop[0]

In [9]:
#drop the original column, set the index to NAME and transpose to rename, use custom module, then transpose back and reset index without dropping
data = data.drop(columns = 'index').set_index('NAME').transpose()
data = data.rename(columns = tofullcensus)
data = data.transpose().reset_index(drop = False)

In [10]:
data.head()

Year,NAME,Datapoint,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,United States,Labor Force,143893565,145059940,146160666,147005871,148071836,149975300,152127646,153578409,155106956,155126715,155523182,155740916,156232399,156528594,157068244,157960658,159791241,161841127,163121138,164906736,162407439,163401845,165971079
1,United States,Employed,138065883,138106699,137615237,138129110,139818438,142222730,145000041,146388401,146047744,140696560,140454859,141714416,143548583,144904563,147293813,149540786,151934228,154721774,156709675,158806258,149294638,154624087,159884645
2,United States,Unemployed,5827681,6953241,8545428,8876760,8253397,7752570,7127604,7190008,9059212,14430154,15068323,14026499,12683815,11624031,9774431,8419872,7857013,7119352,6411462,6100477,13112801,8777758,6086434
3,Tennessee,Labor Force,2849026,2857659,2898947,2904565,2897792,2898489,3014748,3043258,3060778,3032658,3093118,3117492,3096322,3078892,3043573,3074215,3136398,3197031,3257052,3335269,3303230,3323545,3352029
4,Tennessee,Employed,2738785,2728621,2750423,2744350,2742910,2738223,2856078,2901946,2862093,2725134,2789055,2833278,2849727,2840127,2842540,2902683,2987678,3077514,3143791,3223663,3056709,3174135,3238558

In [11]:
#go from wide to long format with .melt() naming the columns as single column "Time", keeping "Datapoint" and "NAME" as is, and calling the number "Value"
cols = data.columns
data = data.melt(var_name = 'Year', id_vars = ['NAME', 'Datapoint'], value_vars = cols, value_name = 'Value')
data.head(2)

            NAME    Datapoint  Year      Value
0  United States  Labor Force  2000  143893565
1  United States     Employed  2000  138065883

In [12]:
#set index and transpose on datapoint to rename the original categories from JobsEQ, then transpose and reset index again without dropping
data = data.set_index('Datapoint').transpose()
data = data.rename(columns = {'Labor Force': 'LF:Labor Force', 'Employed': 'LF:Employed', 
                              'Unemployed': 'LF:Unemployed'})
data = data.transpose().reset_index(drop = False)

In [13]:
data.head()

        Datapoint           NAME  Year      Value
0  LF:Labor Force  United States  2000  143893565
1     LF:Employed  United States  2000  138065883
2   LF:Unemployed  United States  2000    5827681
3  LF:Labor Force      Tennessee  2000    2849026
4     LF:Employed      Tennessee  2000    2738785

In [14]:
#long to wide
data = pd.pivot(data, index = ['NAME', 'Year'], columns = 'Datapoint', values = 'Value')

In [15]:
cols = list(data.columns)
data[cols] = data[cols].astype(float)

In [16]:
data['LF:Unemployment %'] = (data['LF:Unemployed']/data['LF:Labor Force']) * 100

In [17]:
data = data.reset_index(drop = False)

In [18]:
data.head()

Datapoint                        NAME  Year  LF:Employed  LF:Labor Force  LF:Unemployed  LF:Unemployment %
0          Cheatham County, Tennessee  2000      18982.0         19513.0          531.0           2.721263
1          Cheatham County, Tennessee  2001      18957.0         19598.0          641.0           3.270742
2          Cheatham County, Tennessee  2002      19042.0         19816.0          774.0           3.905935
3          Cheatham County, Tennessee  2003      18934.0         19756.0          821.0           4.155700
4          Cheatham County, Tennessee  2004      19153.0         20054.0          900.0           4.487883

In [19]:
#make sure year is formatted as an integer
data['Year'] = data['Year'].astype(int)
#create a list of years from the dataframe to pass through our "generate time frames" function to create a list of all possible time frames - need this here for later
years = list(data['Year'].unique().astype(int))
time_frames = generate_time_frames(years)

In [20]:
#create a multilevel column header with year and placeholder for time frames
#pivot the table and create a multiindex of year and column header
cols = list(data.columns)
cols.remove('NAME')
cols.remove('Year')
df_pivot = data.pivot_table(index = 'NAME', columns = ['Year'], values = cols)
df_pivot.head(2)

Datapoint                  LF:Employed                                                                                                      \
Year                              2000      2001      2002      2003      2004      2005      2006      2007      2008      2009      2010
NAME
Cheatham County, Tennessee     18982.0   18957.0   19042.0   18934.0   19153.0   19307.0   20020.0   19629.0   19332.0   18409.0   18379.0
Davidson County, Tennessee    299570.0  295925.0  292120.0  289174.0  288420.0  287713.0  296913.0  310958.0  307246.0  293470.0  314127.0

Datapoint                                                                                                                                           \
Year                            2011      2012      2013      2014      2015      2016      2017      2018      2019      2020      2021      2022
NAME
Cheatham County, Tennessee   18533.0   18667.0   18692.0   18764.0   18952.0   19462.0   20229.0   20767.0   21352.0   20166.0   21264.0   22006.0
Davidson County, Tennessee  322412.0  330508.0  334535.0  339009.0  349099.0  360600.0  374318.0  383885.0  393374.0  366810.0  386521.0  401294.0

Datapoint                  LF:Labor Force                                                                                                      \
Year                                 2000      2001      2002      2003      2004      2005      2006      2007      2008      2009      2010
NAME
Cheatham County, Tennessee        19513.0   19598.0   19816.0   19756.0   20054.0   20186.0   20880.0   20405.0   20431.0   20262.0   20220.0
Davidson County, Tennessee       309162.0  306620.0  305054.0  302814.0  301955.0  301278.0  310198.0  323213.0  324564.0  321138.0  342567.0

Datapoint                                                                                                                                           \
Year                            2011      2012      2013      2014      2015      2016      2017      2018      2019      2020      2021      2022
NAME
Cheatham County, Tennessee   20273.0   20144.0   20007.0   19857.0   19907.0   20271.0   20868.0   21353.0   21923.0   21386.0   21987.0   22607.0
Davidson County, Tennessee  349109.0  352776.0  355490.0  356981.0  364943.0  374154.0  385090.0  394301.0  403493.0  399871.0  404212.0  412906.0

Datapoint                  LF:Unemployed                                                                                                     \
Year                                2000     2001     2002     2003     2004     2005     2006     2007     2008     2009     2010     2011
NAME
Cheatham County, Tennessee         531.0    641.0    774.0    821.0    900.0    878.0    860.0    775.0   1099.0   1852.0   1840.0   1740.0
Davidson County, Tennessee        9592.0  10695.0  12934.0  13639.0  13534.0  13564.0  13284.0  12254.0  17317.0  27668.0  28440.0  26697.0

Datapoint                                                                                                                     LF:Unemployment %  \
Year                           2012     2013     2014     2015     2016     2017     2018     2019     2020     2021     2022              2000
NAME
Cheatham County, Tennessee   1476.0   1314.0   1092.0    955.0    808.0    639.0    585.0    570.0   1220.0    723.0    601.0          2.721263
Davidson County, Tennessee  22267.0  20955.0  17971.0  15844.0  13554.0  10771.0  10415.0  10118.0  33061.0  17690.0  11612.0          3.102581

Datapoint                                                                                                                                           \
Year                            2001      2002      2003      2004      2005      2006      2007      2008      2009      2010      2011      2012
NAME
Cheatham County, Tennessee  3.270742  3.905935  4.155700  4.487883  4.349549  4.118774  3.798089  5.379081  9.140263  9.099901  8.582844  7.327244
Davidson County, Tennessee  3.488031  4.239905  4.504085  4.482125  4.502154  4.282426  3.791308  5.335465  8.615611  8.302026  7.647182  6.311937

Datapoint
Year                            2013      2014      2015      2016      2017      2018      2019      2020      2021      2022
NAME
Cheatham County, Tennessee  6.567701  5.499320  4.797307  3.985990  3.062105  2.739662  2.600009  5.704667  3.288307  2.658469
Davidson County, Tennessee  5.894681  5.034161  4.341500  3.622573  2.797008  2.641383  2.507602  8.267916  4.376416  2.812262

In [21]:
#add a level to the multiindex to accomodate the time period metrics
df_pivot.columns = pd.MultiIndex.from_tuples([(col[0], col[1], 'None') for col in df_pivot.columns])
df_pivot.head(3)

                           LF:Employed                                                                                                      \
                                  2000      2001      2002      2003      2004      2005      2006      2007      2008      2009      2010
                                  None      None      None      None      None      None      None      None      None      None      None
NAME
Cheatham County, Tennessee     18982.0   18957.0   19042.0   18934.0   19153.0   19307.0   20020.0   19629.0   19332.0   18409.0   18379.0
Davidson County, Tennessee    299570.0  295925.0  292120.0  289174.0  288420.0  287713.0  296913.0  310958.0  307246.0  293470.0  314127.0
Dickson County, Tennessee      21339.0   21250.0   21309.0   21381.0   21431.0   21503.0   22390.0   22268.0   22011.0   20858.0   21488.0

                                                                                                                                                    \
                                2011      2012      2013      2014      2015      2016      2017      2018      2019      2020      2021      2022
                                None      None      None      None      None      None      None      None      None      None      None      None
NAME
Cheatham County, Tennessee   18533.0   18667.0   18692.0   18764.0   18952.0   19462.0   20229.0   20767.0   21352.0   20166.0   21264.0   22006.0
Davidson County, Tennessee  322412.0  330508.0  334535.0  339009.0  349099.0  360600.0  374318.0  383885.0  393374.0  366810.0  386521.0  401294.0
Dickson County, Tennessee    21913.0   22121.0   22048.0   22142.0   22841.0   23714.0   24697.0   25550.0   26372.0   24793.0   26090.0   27093.0

                           LF:Labor Force                                                                                                      \
                                     2000      2001      2002      2003      2004      2005      2006      2007      2008      2009      2010
                                     None      None      None      None      None      None      None      None      None      None      None
NAME
Cheatham County, Tennessee        19513.0   19598.0   19816.0   19756.0   20054.0   20186.0   20880.0   20405.0   20431.0   20262.0   20220.0
Davidson County, Tennessee       309162.0  306620.0  305054.0  302814.0  301955.0  301278.0  310198.0  323213.0  324564.0  321138.0  342567.0
Dickson County, Tennessee         22119.0   22203.0   22375.0   22487.0   22592.0   22620.0   23491.0   23225.0   23622.0   23357.0   23980.0

                                                                                                                                                    \
                                2011      2012      2013      2014      2015      2016      2017      2018      2019      2020      2021      2022
                                None      None      None      None      None      None      None      None      None      None      None      None
NAME
Cheatham County, Tennessee   20273.0   20144.0   20007.0   19857.0   19907.0   20271.0   20868.0   21353.0   21923.0   21386.0   21987.0   22607.0
Davidson County, Tennessee  349109.0  352776.0  355490.0  356981.0  364943.0  374154.0  385090.0  394301.0  403493.0  399871.0  404212.0  412906.0
Dickson County, Tennessee    24270.0   24166.0   23876.0   23627.0   24143.0   24797.0   25554.0   26347.0   27181.0   26369.0   27057.0   27918.0

                           LF:Unemployed                                                                                                     \
                                    2000     2001     2002     2003     2004     2005     2006     2007     2008     2009     2010     2011
                                    None     None     None     None     None     None     None     None     None     None     None     None
NAME
Cheatham County, Tennessee         531.0    641.0    774.0    821.0    900.0    878.0    860.0    775.0   1099.0   1852.0   1840.0   1740.0
Davidson County, Tennessee        9592.0  10695.0  12934.0  13639.0  13534.0  13564.0  13284.0  12254.0  17317.0  27668.0  28440.0  26697.0
Dickson County, Tennessee          780.0    953.0   1065.0   1105.0   1161.0   1117.0   1101.0    957.0   1610.0   2499.0   2492.0   2356.0

                                                                                                                              LF:Unemployment %  \
                               2012     2013     2014     2015     2016     2017     2018     2019     2020     2021     2022              2000
                               None     None     None     None     None     None     None     None     None     None     None              None
NAME
Cheatham County, Tennessee   1476.0   1314.0   1092.0    955.0    808.0    639.0    585.0    570.0   1220.0    723.0    601.0          2.721263
Davidson County, Tennessee  22267.0  20955.0  17971.0  15844.0  13554.0  10771.0  10415.0  10118.0  33061.0  17690.0  11612.0          3.102581
Dickson County, Tennessee    2045.0   1827.0   1485.0   1302.0   1082.0    857.0    796.0    809.0   1575.0    966.0    825.0          3.526380

                                                                                                                                            \
                                2001      2002      2003      2004      2005      2006      2007      2008       2009       2010      2011
                                None      None      None      None      None      None      None      None       None       None      None
NAME
Cheatham County, Tennessee  3.270742  3.905935  4.155700  4.487883  4.349549  4.118774  3.798089  5.379081   9.140263   9.099901  8.582844
Davidson County, Tennessee  3.488031  4.239905  4.504085  4.482125  4.502154  4.282426  3.791308  5.335465   8.615611   8.302026  7.647182
Dickson County, Tennessee   4.292213  4.759777  4.913950  5.138987  4.938108  4.686901  4.120560  6.815680  10.699148  10.391993  9.707458


                                2012      2013      2014      2015      2016      2017      2018      2019      2020      2021      2022
                                None      None      None      None      None      None      None      None      None      None      None
NAME
Cheatham County, Tennessee  7.327244  6.567701  5.499320  4.797307  3.985990  3.062105  2.739662  2.600009  5.704667  3.288307  2.658469
Davidson County, Tennessee  6.311937  5.894681  5.034161  4.341500  3.622573  2.797008  2.641383  2.507602  8.267916  4.376416  2.812262
Dickson County, Tennessee   8.462302  7.652036  6.285182  5.392867  4.363431  3.353682  3.021217  2.976344  5.972923  3.570241  2.955083

In [22]:
#get a list of the varaibles to loop through by indexing into the first level only of the column headers
first_level = data.columns.get_level_values(0).unique().tolist()
first_level.remove('NAME')
first_level.remove('Year')
first_level

['LF:Employed', 'LF:Labor Force', 'LF:Unemployed', 'LF:Unemployment %']

In [23]:
#pass the dataframe, the list of variables, time frames, and years through the "calculate change" function
data = calculate_changes(df_pivot, first_level, time_frames = time_frames, years = years)

In [24]:
data = data.stack([1, 1])
data = data.reset_index(drop = False)
data = data.rename(columns = {'level_1':'Year', 'level_2':'Time Frame'})

In [25]:
data['GEO_ID'] = data['NAME'].map(geotogeoid)
data['Source'] = 'JobsEQ LAUS'

In [26]:
#it's weird to look at percent change of a percent so dropping the % change as to not confuse anyone later
#also renaming the real change, this is one of the only places it's applicable because normally we wouldn't run change metrics on a percent but want to for ue
data = data.drop(columns = ['LF:Unemployment % % Change'])
data = data.rename(columns = {'LF:Unemployment % Change': 'LF:Unemployment % Real Change'})

In [27]:
#final check
data.head()

,NAME,Year,Time Frame,LF:Employed,LF:Employed % Change,LF:Employed Change,LF:Labor Force,LF:Labor Force % Change,LF:Labor Force Change,LF:Unemployed,LF:Unemployed % Change,LF:Unemployed Change,LF:Unemployment %,LF:Unemployment % Real Change,GEO_ID,Source
0,"Cheatham County, Tennessee",2000,None,18982.0,NaN,NaN,19513.0,NaN,NaN,531.0,NaN,NaN,2.721263,NaN,0500000US47021,JobsEQ LAUS
1,"Cheatham County, Tennessee",2001,None,18957.0,NaN,NaN,19598.0,NaN,NaN,641.0,NaN,NaN,3.270742,NaN,0500000US47021,JobsEQ LAUS
2,"Cheatham County, Tennessee",2002,None,19042.0,NaN,NaN,19816.0,NaN,NaN,774.0,NaN,NaN,3.905935,NaN,0500000US47021,JobsEQ LAUS
3,"Cheatham County, Tennessee",2003,None,18934.0,NaN,NaN,19756.0,NaN,NaN,821.0,NaN,NaN,4.155700,NaN,0500000US47021,JobsEQ LAUS
4,"Cheatham County, Tennessee",2004,None,19153.0,NaN,NaN,20054.0,NaN,NaN,900.0,NaN,NaN,4.487883,NaN,0500000US47021,JobsEQ LAUS

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5244 entries, 0 to 5243
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   NAME                           5244 non-null   object
 1   Year                           5244 non-null   object
 2   Time Frame                     5244 non-null   object
 3   LF:Employed                    437 non-null    float64
 4   LF:Employed % Change           4807 non-null   float64
 5   LF:Employed Change             4807 non-null   float64
 6   LF:Labor Force                 437 non-null    float64
 7   LF:Labor Force % Change        4807 non-null   float64
 8   LF:Labor Force Change          4807 non-null   float64
 9   LF:Unemployed                  437 non-null    float64
 10  LF:Unemployed % Change         4807 non-null   float64
 11  LF:Unemployed Change           4807 non-null   float64
 12  LF:Unemployment %              437 non-null    float64
 13  LF:Unemployment % Real Change  4807 non-null   float64
 14  GEO_ID                         4140 non-null   object
 15  Source                         5244 non-null   object
dtypes: float64(11), object(5)
memory usage: 655.6+ KB

In [29]:
#export to the SQLite database
conn = sq.connect('../../Outputs/Labor_Economy.db')
data.to_sql('JobsEQ_LAUS_Annual_Change', conn, if_exists = 'replace', index = False)

5244

GDP:  

*load the following query: JEQAnnual_GDP*

To retrieve data:  
+ Log into JobsEQ and navigate to the "Data Explorer" function  
+ go to "Draft Mode"
+ Select the "GDP" dataset  
+ Select the following dimensions: Region, Year 
+ Under "Region" select "USA", "Tennessee", GNRC (13), MPO (7), GNRC Region (14), and then under GNRC Region sub all "Counties" (not available for places)     
+ Under "Year" choose your range (most recently I've selected the full available range of 2001 - recent **Watch out here - keep old year if range changes and add onto new download**)  
+ Select the value "GDP".  
+ Keep region on the side and year on the top.

*After loading the query and downloading, resume here.*

When you've downloaded this csv, open it and replace the title row with the year (as all of the values are GDPs), delete the header line and data notes at the bottom, rename region to "NAME", and select all of the numerical data and make them "General" format. You can also quickly delimit the NAMEs to remove the ", Tennessee" off of the end of the counties and change "USA" to "US". This can also be done here, of course. Save as 'JobsEQ_GDPAnnual_GeosExceptPlaces.csv'

In [30]:
#GDP import data and examine
data = pd.read_csv('../../Data Downloads/JobsEQ_GDPAnnual_GeosExceptPlaces.csv')
data.head(2)

,NAME,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,US,1.058190e+13,1.092910e+13,1.145640e+13,1.221720e+13,1.303920e+13,1.381560e+13,1.447420e+13,1.476980e+13,1.447810e+13,1.504900e+13,1.559970e+13,1.625400e+13,1.684320e+13,1.755070e+13,1.820570e+13,1.869490e+13,1.947960e+13,2.052680e+13,2.137250e+13,2.089370e+13,2.299610e+13
1,Tennessee,1.864350e+11,1.957600e+11,2.051200e+11,2.193220e+11,2.316270e+11,2.435780e+11,2.486910e+11,2.542420e+11,2.523330e+11,2.577760e+11,2.698140e+11,2.863420e+11,2.958630e+11,3.061530e+11,3.252940e+11,3.364140e+11,3.498380e+11,3.613800e+11,3.769150e+11,3.695720e+11,4.182940e+11

In [31]:
data['NAME'].unique()

array(['US', 'Tennessee', 'MPO', 'GNRC', 'GNRC Region', 'Cheatham County',
       'Davidson County', 'Dickson County', 'Houston County',
       'Humphreys County', 'Maury County', 'Montgomery County',
       'Robertson County', 'Rutherford County', 'Stewart County',
       'Sumner County', 'Trousdale County', 'Williamson County',
       'Wilson County'], dtype=object)

In [32]:
#make a list of the columns to melt from wide to long format with the year as a variable and naming the value "GDP"
cols = data.columns
data = data.melt(var_name = 'Year', id_vars = ['NAME'], value_vars = cols, value_name = 'GDP:GDP')

In [33]:
#make sure we have full census names
data = data.set_index('NAME').transpose()
data = data.rename(columns = tofullcensus)
data = data.transpose().reset_index(drop = False)

In [34]:
data.head()

            NAME  Year           GDP:GDP
0  United States  2001  10581900000000.0
1      Tennessee  2001    186435000000.0
2            MPO  2001     53769753000.0
3           GNRC  2001     55545232000.0
4    GNRC Region  2001     58130905000.0

In [35]:
#make sure year is formatted as an integer and generate list of years and all possible time frames
data['Year'] = data['Year'].astype(int)
#create a list of years from the dataframe to pass through our "generate time frames" function to create a list of all possible time frames - need this here for later
years = list(data['Year'].unique().astype(int))
time_frames = generate_time_frames(years)

In [36]:
#create a multilevel column header with year and placeholder for time frames
#pivot the table and create a multiindex of year and column header
cols = list(data.columns)
cols.remove('NAME')
cols.remove('Year')
df_pivot = data.pivot_table(index = 'NAME', columns = ['Year'], values = cols)
df_pivot.head(2)

                                 GDP:GDP                                                                                                    \
Year                                2001          2002          2003          2004          2005          2006          2007          2008
NAME
Cheatham County, Tennessee  4.590110e+08  5.296220e+08  5.643490e+08  6.247250e+08  6.785940e+08  7.196860e+08  7.098450e+08  7.842820e+08
Davidson County, Tennessee  3.403081e+10  3.512616e+10  3.727170e+10  3.900497e+10  4.139817e+10  4.386193e+10  4.472193e+10  4.653565e+10

                                                                                                                                            \
Year                                2009          2010          2011          2012          2013          2014          2015          2016
NAME
Cheatham County, Tennessee  7.557930e+08  7.694610e+08  7.600230e+08  7.668240e+08  8.288380e+08  8.198790e+08  9.209110e+08  9.394920e+08
Davidson County, Tennessee  4.719965e+10  4.855240e+10  5.124097e+10  5.435087e+10  5.613963e+10  5.925130e+10  6.270032e+10  6.553752e+10


Year                                2017          2018          2019          2020          2021
NAME
Cheatham County, Tennessee  1.026863e+09  1.071879e+09  1.104530e+09  1.094723e+09  1.233382e+09
Davidson County, Tennessee  6.892946e+10  7.293132e+10  7.662392e+10  7.174367e+10  8.255004e+10

In [37]:
#add a level to the multiindex to accomodate the time period metrics
df_pivot.columns = pd.MultiIndex.from_tuples([(col[0], col[1], 'None') for col in df_pivot.columns])
df_pivot.head(3)

                                 GDP:GDP                                                                                                    \
                                    2001          2002          2003          2004          2005          2006          2007          2008
                                    None          None          None          None          None          None          None          None
NAME
Cheatham County, Tennessee  4.590110e+08  5.296220e+08  5.643490e+08  6.247250e+08  6.785940e+08  7.196860e+08  7.098450e+08  7.842820e+08
Davidson County, Tennessee  3.403081e+10  3.512616e+10  3.727170e+10  3.900497e+10  4.139817e+10  4.386193e+10  4.472193e+10  4.653565e+10
Dickson County, Tennessee   8.536360e+08  8.364840e+08  9.001090e+08  9.450570e+08  1.030411e+09  1.080384e+09  1.092047e+09  1.042446e+09

                                                                                                                                            \
                                    2009          2010          2011          2012          2013          2014          2015          2016
                                    None          None          None          None          None          None          None          None
NAME
Cheatham County, Tennessee  7.557930e+08  7.694610e+08  7.600230e+08  7.668240e+08  8.288380e+08  8.198790e+08  9.209110e+08  9.394920e+08
Davidson County, Tennessee  4.719965e+10  4.855240e+10  5.124097e+10  5.435087e+10  5.613963e+10  5.925130e+10  6.270032e+10  6.553752e+10
Dickson County, Tennessee   1.002546e+09  1.019388e+09  1.098554e+09  1.159218e+09  1.291117e+09  1.350150e+09  1.449488e+09  1.532418e+09


                                    2017          2018          2019          2020          2021
                                    None          None          None          None          None
NAME
Cheatham County, Tennessee  1.026863e+09  1.071879e+09  1.104530e+09  1.094723e+09  1.233382e+09
Davidson County, Tennessee  6.892946e+10  7.293132e+10  7.662392e+10  7.174367e+10  8.255004e+10
Dickson County, Tennessee   1.616509e+09  1.638125e+09  1.750963e+09  1.713265e+09  1.880187e+09

In [38]:
#get a list of the varaibles to loop through by indexing into the first level only of the column headers
first_level = data.columns.get_level_values(0).unique().tolist()
first_level.remove('NAME')
first_level.remove('Year')
first_level

['GDP:GDP']

In [39]:
#pass the dataframe, the list of variables, time frames, and years through the "calculate change" function
data = calculate_changes(df_pivot, first_level, time_frames = time_frames, years = years)

In [40]:
#reformat and rename columns
data = data.stack([1, 1])
data = data.reset_index(drop = False)
data = data.rename(columns = {'level_1':'Year', 'level_2':'Time Frame'})

In [41]:
#map to geoid dictionary from module and add source
data['GEO_ID'] = data['NAME'].map(geotogeoid)
data['Source'] = 'JobsEQ BEA'

In [42]:
#final check
data.head()

                         NAME  Year Time Frame      GDP:GDP  GDP:GDP % Change  GDP:GDP Change          GEO_ID      Source
0  Cheatham County, Tennessee  2001       None  459011000.0               NaN             NaN  0500000US47021  JobsEQ BEA
1  Cheatham County, Tennessee  2002       None  529622000.0               NaN             NaN  0500000US47021  JobsEQ BEA
2  Cheatham County, Tennessee  2003       None  564349000.0               NaN             NaN  0500000US47021  JobsEQ BEA
3  Cheatham County, Tennessee  2004       None  624725000.0               NaN             NaN  0500000US47021  JobsEQ BEA
4  Cheatham County, Tennessee  2005       None  678594000.0               NaN             NaN  0500000US47021  JobsEQ BEA

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4389 entries, 0 to 4388
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   NAME              4389 non-null   object
 1   Year              4389 non-null   object
 2   Time Frame        4389 non-null   object
 3   GDP:GDP           399 non-null    float64
 4   GDP:GDP % Change  3990 non-null   float64
 5   GDP:GDP Change    3990 non-null   float64
 6   GEO_ID            3465 non-null   object
 7   Source            4389 non-null   object
dtypes: float64(3), object(5)
memory usage: 274.4+ KB

In [44]:
#export to the SQLite database
conn = sq.connect('../../Outputs/Labor_Economy.db')
data.to_sql('JobsEQ_GDP_Annual_Change', conn, if_exists = 'replace', index = False)

4389

Awards:  

*load the following query: JEQAnnual_Awards*

To retrieve data:  
+ Log into JobsEQ and navigate to the "Data Explorer" function  
+ go to "Draft Mode"
+ Select the "Education" dataset  
+ Select the following dimensions: Region and Schools, Year, and Award Level   
+ Under "Region" select "GNRC Region - All Schools", and then sub counties    
+ Under "Year" choose your range (most recently I've selected the full available range of 2010 - recent **Watch out here - keep old year if range changes and add onto new download**)  
+ Under Award Level leave "All Award Levels", and then all subs  
+ Select the value "Awards"  
+ Swap rows & columns so the "Regions & Schools" data is at the top, "Award Level" is on the side, as well as "Year"  

*After loading the query and downloading, resume here*  

When you've downloaded this csv, open it and replace the title row with the geography (as all of the values are all awards) while keeping the headers for award level and year, then delete the top line and data notes at the bottom, and select all of the numerical data and make them "General" format. Save as 'JobsEQ_AwardsAnnual_GeosExceptPlaces.csv'

In [45]:
#Awards import data and examine
data = pd.read_csv('../../Data Downloads/JobsEQ_AwardsAnnual_GeosExceptPlaces.csv')
data.head(2)

,Award Level,Year,GNRC Region-All Schools,"Cheatham County, Tennessee-All Schools (47021)","Davidson County, Tennessee-All Schools (47037)","Dickson County, Tennessee-All Schools (47043)","Houston County, Tennessee-All Schools (47083)","Humphreys County, Tennessee-All Schools (47085)","Maury County, Tennessee-All Schools (47119)","Montgomery County, Tennessee-All Schools (47125)","Robertson County, Tennessee-All Schools (47147)","Rutherford County, Tennessee-All Schools (47149)","Stewart County, Tennessee-All Schools (47161)","Sumner County, Tennessee-All Schools (47165)","Trousdale County, Tennessee-All Schools (47169)","Williamson County, Tennessee-All Schools (47187)","Wilson County, Tennessee-All Schools (47189)"
0,All Award Levels,2010,25779,NaN,15864,294.0,NaN,NaN,699.0,2166.0,NaN,4891,NaN,1033.0,242.0,55.0,535.0
1,All Award Levels,2011,28038,NaN,17182,394.0,NaN,NaN,676.0,2517.0,NaN,5338,NaN,1033.0,249.0,96.0,553.0

In [47]:
#make a list of columns to take from wide to long format naming the column of current columns "NAME" and the value "Awards"
cols = data.columns
data = data.melt(var_name = 'NAME', id_vars = ['Award Level', 'Year'], value_vars = cols, value_name = 'Awards')
data.head(2)

        Award Level  Year                     NAME   Awards
0  All Award Levels  2010  GNRC Region-All Schools  25779.0
1  All Award Levels  2011  GNRC Region-All Schools  28038.0

In [48]:
#split the NAME on common delimiters and expand the split into a new dataframe, where you'll take the first instance and write-over the original "NAME" and strip
boop = data['NAME'].str.split(r"\-|,", expand = True)
data['NAME'] = boop[0].str.strip()

In [49]:
#make lists of years and geographies to loop through and group the different award levels
years = list(data['Year'].unique())
geos = list(data['NAME'].unique())

In [50]:
#format the column headers so that each individual instance can be looped through, and you can convert to float types before by dropping null then converting
data = data.set_index(['Award Level', 'Year', 'NAME']).transpose()
data.head()

Award Level All Award Levels                                                                                                              \
Year                    2010        2011        2012        2013        2014        2015        2016        2017        2018        2019
NAME             GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region
Awards               25779.0     28038.0     30017.0     28404.0     28353.0     28549.0     28580.0     28689.0     27726.0     27785.0

Award Level                         Certificate < 1 Yr                                                                                      \
Year               2020        2021               2010        2011        2012        2013        2014        2015        2016        2017
NAME        GNRC Region GNRC Region        GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region
Awards          28519.0     29332.0             2404.0      2065.0      2891.0      2070.0      2192.0      2370.0      2357.0      2479.0

Award Level                                                 Certificate 1+ but < 2 Yr                                                              \
Year               2018        2019        2020        2021                      2010        2011        2012        2013        2014        2015
NAME        GNRC Region GNRC Region GNRC Region GNRC Region               GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region
Awards           1644.0      1949.0      2048.0      2251.0                    2551.0      4466.0      5179.0      4114.0      3697.0      3549.0

Award Level                                                                         Associate's                                                  \
Year               2016        2017        2018        2019        2020        2021        2010        2011        2012        2013        2014
NAME        GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region
Awards           3418.0      3304.0      3107.0      2738.0      1824.0      2063.0      3416.0      4153.0      4459.0      4008.0      3644.0

Award Level                                                                                     Certificate 2+ but < 4 Yr                          \
Year               2015        2016        2017        2018        2019        2020        2021                      2010        2011        2012
NAME        GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region               GNRC Region GNRC Region GNRC Region
Awards           3818.0      3749.0      3766.0      4010.0      4160.0      4849.0      5212.0                    1293.0       644.0       177.0

Award Level                                                                                                              Bachelor's              \
Year               2013        2014        2015        2016        2017        2018        2019        2020        2021        2010        2011
NAME        GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region
Awards            118.0       254.0       198.0       253.0       186.0       193.0       234.0       640.0       634.0     10772.0     11215.0

Award Level                                                                                                                          \
Year               2012        2013        2014        2015        2016        2017        2018        2019        2020        2021
NAME        GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region
Awards          11364.0     11904.0     12237.0     12252.0     12501.0     12637.0     12565.0     12332.0     12530.0     12386.0

Award Level Post-Baccalaureate                                                                                                              \
Year                      2010        2011        2012        2013        2014        2015        2016        2017        2018        2019
NAME               GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region
Awards                    51.0        80.0        53.0       116.0       110.0       199.0       184.0       104.0       127.0       170.0

Award Level                            Master's                                                                                                  \
Year               2020        2021        2010        2011        2012        2013        2014        2015        2016        2017        2018
NAME        GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region
Awards            244.0       268.0      4151.0      4300.0      4632.0      4737.0      4757.0      4707.0      4724.0      4740.0      4549.0

Award Level                                     Post-Master's                                                                                      \
Year               2019        2020        2021          2010        2011        2012        2013        2014        2015        2016        2017
NAME        GNRC Region GNRC Region GNRC Region   GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region
Awards           4585.0      4654.0      4676.0         163.0       123.0       154.0       159.0        83.0        77.0        48.0        69.0

Award Level                                                   Doctorate                                                                          \
Year               2018        2019        2020        2021        2010        2011        2012        2013        2014        2015        2016
NAME        GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region
Awards            139.0       140.0       151.0       116.0       978.0       992.0      1108.0      1178.0      1379.0      1379.0      1346.0

Award Level                                                             All Award Levels                                                  \
Year               2017        2018        2019        2020        2021             2010            2011            2012            2013
NAME        GNRC Region GNRC Region GNRC Region GNRC Region GNRC Region  Cheatham County Cheatham County Cheatham County Cheatham County
Awards           1404.0      1392.0      1477.0      1579.0      1726.0              NaN             NaN             NaN             NaN

Award Level                                                                                                                                  \
Year                   2014            2015            2016            2017            2018            2019            2020            2021
NAME        Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County
Awards                 12.0            15.0            11.0             NaN             NaN             NaN             NaN             NaN

Award Level Certificate < 1 Yr                                                                                                                  \
Year                      2010            2011            2012            2013            2014            2015            2016            2017
NAME           Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County
Awards                     NaN             NaN             NaN             NaN             NaN             1.0             1.0             NaN

Award Level                                                                 Certificate 1+ but < 2 Yr                                  \
Year                   2018            2019            2020            2021                      2010            2011            2012
NAME        Cheatham County Cheatham County Cheatham County Cheatham County           Cheatham County Cheatham County Cheatham County
Awards                  NaN             NaN             NaN             NaN                       NaN             NaN             NaN

Award Level                                                                                                                                  \
Year                   2013            2014            2015            2016            2017            2018            2019            2020
NAME        Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County
Awards                  NaN            12.0            14.0            10.0             NaN             NaN             NaN             NaN

Award Level                     Associate's                                                                                                  \
Year                   2021            2010            2011            2012            2013            2014            2015            2016
NAME        Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County
Awards                  NaN             NaN             NaN             NaN             NaN             NaN             NaN             NaN

Award Level                                                                                 Certificate 2+ but < 4 Yr                  \
Year                   2017            2018            2019            2020            2021                      2010            2011
NAME        Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County           Cheatham County Cheatham County
Awards                  NaN             NaN             NaN             NaN             NaN                       NaN             NaN

Award Level                                                                                                                                  \
Year                   2012            2013            2014            2015            2016            2017            2018            2019
NAME        Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County
Awards                  NaN             NaN             NaN             NaN             NaN             NaN             NaN             NaN

Award Level                                      Bachelor's                                                                                  \
Year                   2020            2021            2010            2011            2012            2013            2014            2015
NAME        Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County
Awards                  NaN             NaN             NaN             NaN             NaN             NaN             NaN             NaN

Award Level                                                                                                 Post-Baccalaureate                  \
Year                   2016            2017            2018            2019            2020            2021               2010            2011
NAME        Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County    Cheatham County Cheatham County
Awards                  NaN             NaN             NaN             NaN             NaN             NaN                NaN             NaN

Award Level                                                                                                                                  \
Year                   2012            2013            2014            2015            2016            2017            2018            2019
NAME        Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County
Awards                  NaN             NaN             NaN             NaN             NaN             NaN             NaN             NaN

Award Level                                        Master's                                                                                  \
Year                   2020            2021            2010            2011            2012            2013            2014            2015
NAME        Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County
Awards                  NaN             NaN             NaN             NaN             NaN             NaN             NaN             NaN

Award Level                                                                                                   Post-Master's                  \
Year                   2016            2017            2018            2019            2020            2021            2010            2011
NAME        Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County
Awards                  NaN             NaN             NaN             NaN             NaN             NaN             NaN             NaN

Award Level                                                                                                                                  \
Year                   2012            2013            2014            2015            2016            2017            2018            2019
NAME        Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County
Awards                  NaN             NaN             NaN             NaN             NaN             NaN             NaN             NaN

Award Level                                       Doctorate                                                                                  \
Year                   2020            2021            2010            2011            2012            2013            2014            2015
NAME        Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County
Awards                  NaN             NaN             NaN             NaN             NaN             NaN             NaN             NaN

Award Level                                                                                                 All Award Levels                  \
Year                   2016            2017            2018            2019            2020            2021             2010            2011
NAME        Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County Cheatham County  Davidson County Davidson County
Awards                  NaN             NaN             NaN             NaN             NaN             NaN          15864.0         17182.0

Award Level                                                                                                                                  \
Year                   2012            2013            2014            2015            2016            2017            2018            2019
NAME        Davidson County Davidson County Davidson County Davidson County Davidson County Davidson County Davidson County Davidson County
Awards              17255.0         16375.0         16504.0         16688.0         16612.0         16282.0         15603.0         15328.0

Award Level                                 Certificate < 1 Yr                                                                                  \
Year                   2020            2021               2010            2011            2012            2013            2014            2015
NAME        Davidson County Davidson County    Davidson County Davidson County Davidson County Davidson County Davidson County Davidson County
Awards              15153.0         15652.0             1621.0          1407.0          1332.0          1224.0          1166.0          1284.0

Award Level                                                                                                 Certificate 1+ but < 2 Yr  \
Year                   2016            2017            2018            2019            2020            2021                      2010
NAME        Davidson County Davidson County Davidson County Davidson County Davidson County Davidson County           Davidson County
Awards               1312.0          1448.0           886.0           985.0           944.0          1171.0                    1600.0

Award Level                                                                                                                                  \
Year                   2011            2012            2013            2014            2015            2016            2017            2018
NAME        Davidson County Davidson County Davidson County Davidson County Davidson County Davidson County Davidson County Davidson County
Awards               3238.0          3301.0          2681.0          2535.0          2418.0          2192.0          2068.0          1936.0

Award Level                                                     Associate's                                                                  \
Year                   2019            2020            2021            2010            2011            2012            2013            2014
NAME        Davidson County Davidson County Davidson County Davidson County Davidson County Davidson County Davidson County Davidson County
Awards               1543.0           836.0           841.0          1711.0          2217.0          2300.0          1814.0          1582.0

Award Level                                                                                                                  \
Year                   2015            2016            2017            2018            2019            2020            2021
NAME        Davidson County Davidson County Davidson County Davidson County Davidson County Davidson County Davidson County
Awards               1611.0          1519.0          1402.0          1405.0          1394.0          1288.0          1398.0

Award Level Certificate 2+ but < 4 Yr                                                                                                  \
Year                             2010            2011            2012            2013            2014            2015            2016
NAME                  Davidson County Davidson County Davidson County Davidson County Davidson County Davidson County Davidson County
Awards                         1164.0           399.0            63.0            40.0            46.0            45.0           117.0

Award Level                                                                                      Bachelor's                                  \
Year                   2017            2018            2019            2020            2021            2010            2011            2012
NAME        Davidson County Davidson County Davidson County Davidson County Davidson County Davidson County Davidson County Davidson County
Awards                 52.0            59.0           105.0           506.0           470.0          5698.0          5817.0          5718.0

Award Level                                                                                                                                  \
Year                   2013            2014            2015            2016            2017            2018            2019            2020

In [51]:
#fill nulls with 0.0 and convert to float
data = data.fillna(0.0)
cols = data.columns
data[cols] = data[cols].astype(float)

In [52]:
#loop through all columns grouping certain certificates and higher levels of awards for each geography and year then transpose & reset idnex without dropping
for year in years:
    for geo in geos:
        data[('Certificate < 2 Years', year, '{}'.format(geo))] = data[('Certificate < 1 Yr', year, '{}'.format(geo))] + data[('Certificate 1+ but < 2 Yr',
                                                                                                                                  year, '{}'.format(geo))]
        data[('Certificate > 2 Years', year, '{}'.format(geo))] = data[('Certificate 2+ but < 4 Yr', year, '{}'.format(geo))]
        thelist = [data[("Master's", year, '{}'.format(geo))], data[("Post-Master's", year, '{}'.format(geo))], 
                   data[("Doctorate", year, '{}'.format(geo))]]
        data[("Master's or Above", year, '{}'.format(geo))] = sum(thelist)
        thelist = [data[("Bachelor's", year, '{}'.format(geo))], data[("Post-Baccalaureate", year, '{}'.format(geo))]]
        data[("Bachelor's", year, '{}'.format(geo))] = sum(thelist)
        data = data.drop(columns = [('Certificate < 1 Yr', year, '{}'.format(geo)), ('Certificate 1+ but < 2 Yr', year, '{}'.format(geo)), 
                                      ('Certificate 2+ but < 4 Yr', year, '{}'.format(geo)), ('Post-Baccalaureate', year, '{}'.format(geo))])

In [53]:
#transpose the dataframe and reset the index without dropping
data = data.transpose().reset_index(drop = False)

In [54]:
data.head()

        Award Level  Year         NAME   Awards
0  All Award Levels  2010  GNRC Region  25779.0
1  All Award Levels  2011  GNRC Region  28038.0
2  All Award Levels  2012  GNRC Region  30017.0
3  All Award Levels  2013  GNRC Region  28404.0
4  All Award Levels  2014  GNRC Region  28353.0

In [55]:
#pivot to take from long to wide format on award levels
data = data.pivot(index = ['Year', 'NAME'], columns = 'Award Level')['Awards']

In [56]:
data.head()

Award Level           All Award Levels  Associate's  Bachelor's  Certificate < 2 Years  Certificate > 2 Years  Doctorate  Master's  \
Year NAME
2010 Cheatham County               0.0          0.0         0.0                    0.0                    0.0        0.0       0.0
     Davidson County           15864.0       1711.0      5742.0                 3221.0                 1164.0      958.0    3045.0
     Dickson County              294.0          0.0         0.0                  248.0                   46.0        0.0       0.0
     GNRC Region               25779.0       3416.0     10823.0                 4955.0                 1293.0      978.0    4151.0
     Houston County                0.0          0.0         0.0                    0.0                    0.0        0.0       0.0

Award Level           Master's or Above  Post-Master's
Year NAME
2010 Cheatham County                0.0            0.0
     Davidson County             4026.0           23.0
     Dickson County                 0.0            0.0
     GNRC Region                 5292.0          163.0
     Houston County                 0.0            0.0

In [57]:
#reset and remove name from index
data = data.reset_index(drop = False).rename_axis(None, axis=1).reset_index(drop = True)

In [58]:
#set the index as year and name to remove them from the set of columns for prefix, add the prefix, then drop and keep the indices
data.set_index(['Year', 'NAME'], inplace = True)
data = data.add_prefix('Awards:').reset_index(drop = False)

In [59]:
#calculate percentages
data["Awards %:Associate's"] = percent(data["Awards:Associate's"], data['Awards:All Award Levels'])
data["Awards %:Bachelor's"] = percent(data["Awards:Bachelor's"], data['Awards:All Award Levels'])
data["Awards %:Certificate < 2 Years"] = percent(data["Awards:Certificate < 2 Years"], data['Awards:All Award Levels'])
data["Awards %:Certificate > 2 Years"] = percent(data["Awards:Certificate > 2 Years"], data['Awards:All Award Levels'])
data["Awards %:Doctorate"] = percent(data["Awards:Doctorate"], data['Awards:All Award Levels'])
data["Awards %:Master's"] = percent(data["Awards:Master's"], data['Awards:All Award Levels'])
data["Awards %:Master's or Above"] = percent(data["Awards:Master's or Above"], data['Awards:All Award Levels'])
data["Awards %:Post-Master's"] = percent(data["Awards:Post-Master's"], data['Awards:All Award Levels'])

In [60]:
#make sure we have full census names
data = data.set_index('NAME').transpose()
data = data.rename(columns = tofullcensus)
data = data.transpose().reset_index(drop = False)

In [61]:
#make sure year is formatted as an integer and generate list of years and all possible time frames
data['Year'] = data['Year'].astype(int)
#create a list of years from the dataframe to pass through our "generate time frames" function to create a list of all possible time frames - need this here for later
years = list(data['Year'].unique().astype(int))
time_frames = generate_time_frames(years)

In [62]:
#create a multilevel column header with year and placeholder for time frames
#pivot the table and create a multiindex of year and column header
cols = list(data.columns)
cols.remove('NAME')
cols.remove('Year')
df_pivot = data.pivot_table(index = 'NAME', columns = ['Year'], values = cols)
df_pivot.head(2)

                           Awards %:Associate's                                                                                              \
Year                                       2010       2011      2012       2013      2014      2015      2016      2017      2018      2019
NAME
Cheatham County, Tennessee                  NaN        NaN       NaN        NaN  0.000000  0.000000  0.000000       NaN       NaN       NaN
Davidson County, Tennessee            10.785426  12.903038  13.32947  11.077863  9.585555  9.653643  9.143992  8.610736  9.004679  9.094468

                                               Awards %:Bachelor's                                                                             \
Year                            2020      2021                2010      2011       2012       2013       2014       2015      2016       2017
NAME
Cheatham County, Tennessee       NaN       NaN                 NaN       NaN        NaN        NaN   0.000000   0.000000   0.00000        NaN
Davidson County, Tennessee  8.499967  8.931766           36.195159  34.27424  33.387424  36.635115  38.075618  38.704458  39.86877  40.093355

                                                                       Awards %:Certificate < 2 Years                                               \
Year                             2018       2019       2020       2021                           2010       2011       2012       2013        2014
NAME
Cheatham County, Tennessee        NaN        NaN        NaN        NaN                            NaN        NaN        NaN        NaN  100.000000
Davidson County, Tennessee  42.267513  42.660491  43.588728  42.793253                      20.303833  27.034105  26.850188  23.847328   22.424867

                                                                                                          Awards %:Certificate > 2 Years            \
Year                              2015        2016       2017       2018       2019       2020       2021                           2010      2011
NAME
Cheatham County, Tennessee  100.000000  100.000000        NaN        NaN        NaN        NaN        NaN                            NaN       NaN
Davidson County, Tennessee   22.183605   21.093186  21.594399  18.086265  16.492693  11.746849  12.854587                       7.337368  2.322198

                                                                                                                             Awards %:Doctorate  \
Year                            2012      2013     2014      2015     2016      2017      2018      2019      2020      2021               2010
NAME
Cheatham County, Tennessee       NaN       NaN  0.00000  0.000000  0.00000       NaN       NaN       NaN       NaN       NaN                NaN
Davidson County, Tennessee  0.365112  0.244275  0.27872  0.269655  0.70431  0.319371  0.378132  0.685021  3.339273  3.002811            6.03883

                                                                                                                                            \
Year                            2011      2012      2013      2014      2015      2016      2017      2018      2019       2020       2021
NAME
Cheatham County, Tennessee       NaN       NaN       NaN  0.000000  0.000000  0.000000       NaN       NaN       NaN        NaN        NaN
Davidson County, Tennessee  5.657083  6.305419  7.053435  8.161658  8.083653  7.879846  8.162388  8.581683  9.329332  10.050815  10.727064

                           Awards %:Master's                                                                                                   \
Year                                    2010       2011       2012      2013       2014       2015      2016       2017       2018       2019
NAME
Cheatham County, Tennessee               NaN        NaN        NaN       NaN   0.000000   0.000000   0.00000        NaN        NaN        NaN
Davidson County, Tennessee         19.194402  17.739495  19.565343  21.01374  21.406932  21.057047  21.22562  21.041641  21.252323  21.268267

                                                Awards %:Master's or Above                                                                  \
Year                            2020       2021                       2010       2011       2012      2013      2014       2015       2016
NAME
Cheatham County, Tennessee       NaN        NaN                        NaN        NaN        NaN       NaN   0.00000   0.000000   0.000000
Davidson County, Tennessee  22.23982  21.288014                  25.378215  23.466418  26.067806  28.19542  29.63524  29.188639  29.189742

                                                                                 Awards %:Post-Master's                                          \
Year                            2017       2018       2019       2020       2021                   2010      2011      2012      2013      2014
NAME
Cheatham County, Tennessee       NaN        NaN        NaN        NaN        NaN                    NaN       NaN       NaN       NaN  0.000000
Davidson County, Tennessee  29.38214  30.263411  31.067328  32.825183  32.417582               0.144982  0.069841  0.197044  0.128244  0.066651

                                                                                                 Awards:All Award Levels                             \
Year                            2015      2016      2017      2018      2019      2020      2021                    2010     2011     2012     2013
NAME
Cheatham County, Tennessee  0.000000  0.000000       NaN       NaN       NaN       NaN       NaN                     0.0      0.0      0.0      0.0
Davidson County, Tennessee  0.047939  0.084276  0.178111  0.429405  0.469729  0.534548  0.402504                 15864.0  17182.0  17255.0  16375.0

                                                                                                   Awards:Associate's                          \
Year                           2014     2015     2016     2017     2018     2019     2020     2021               2010    2011    2012    2013
NAME
Cheatham County, Tennessee     12.0     15.0     11.0      0.0      0.0      0.0      0.0      0.0                0.0     0.0     0.0     0.0
Davidson County, Tennessee  16504.0  16688.0  16612.0  16282.0  15603.0  15328.0  15153.0  15652.0             1711.0  2217.0  2300.0  1814.0

                                                                                           Awards:Bachelor's                                  \
Year                          2014    2015    2016    2017    2018    2019    2020    2021              2010    2011    2012    2013    2014
NAME
Cheatham County, Tennessee     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0               0.0     0.0     0.0     0.0     0.0
Davidson County, Tennessee  1582.0  1611.0  1519.0  1402.0  1405.0  1394.0  1288.0  1398.0            5742.0  5889.0  5761.0  5999.0  6284.0

                                                                                   Awards:Certificate < 2 Years                                  \
Year                          2015    2016    2017    2018    2019    2020    2021                         2010    2011    2012    2013    2014
NAME
Cheatham County, Tennessee     0.0     0.0     0.0     0.0     0.0     0.0     0.0                          0.0     0.0     0.0     0.0    12.0
Davidson County, Tennessee  6459.0  6623.0  6528.0  6595.0  6539.0  6605.0  6698.0                       3221.0  4645.0  4633.0  3905.0  3701.0

                                                                                   Awards:Certificate > 2 Years                                 \
Year                          2015    2016    2017    2018    2019    2020    2021                         2010   2011  2012  2013  2014  2015
NAME
Cheatham County, Tennessee    15.0    11.0     0.0     0.0     0.0     0.0     0.0                          0.0    0.0   0.0   0.0   0.0   0.0
Davidson County, Tennessee  3702.0  3504.0  3516.0  2822.0  2528.0  1780.0  2012.0                       1164.0  399.0  63.0  40.0  46.0  45.0

                                                                   Awards:Doctorate                                                                 \
Year                         2016  2017  2018   2019   2020   2021             2010   2011    2012    2013    2014    2015    2016    2017    2018
NAME
Cheatham County, Tennessee    0.0   0.0   0.0    0.0    0.0    0.0              0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
Davidson County, Tennessee  117.0  52.0  59.0  105.0  506.0  470.0            958.0  972.0  1088.0  1155.0  1347.0  1349.0  1309.0  1329.0  1339.0

                                                   Awards:Master's                                                                                  \
Year                          2019    2020    2021            2010    2011    2012    2013    2014    2015    2016    2017    2018    2019    2020
NAME
Cheatham County, Tennessee     0.0     0.0     0.0             0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
Davidson County, Tennessee  1430.0  1523.0  1679.0          3045.0  3048.0  3376.0  3441.0  3533.0  3514.0  3526.0  3426.0  3316.0  3260.0  3370.0

                                   Awards:Master's or Above                                                                                          \
Year                          2021                     2010    2011    2012    2013    2014    2015    2016    2017    2018    2019    2020    2021
NAME
Cheatham County, Tennessee     0.0                      0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
Davidson County, Tennessee  3332.0                   4026.0  4032.0  4498.0  4617.0  4891.0  4871.0  4849.0  4784.0  4722.0  4762.0  4974.0  5074.0

                           Awards:Post-Master's
Year                                       2010  2011  2012  2013  2014 2015  2016  2017  2018  2019  2020  2021
NAME
Cheatham County, Tennessee                  0.0   0.0   0.0   0.0   0.0  0.0   0.0   0.0   0.0   0.0   0.0   0.0
Davidson County, Tennessee                 23.0  12.0  34.0  21.0  11.0  8.0  14.0  29.0  67.0  72.0  81.0  63.0

In [63]:
#add a level to the multiindex to accomodate the time period metrics
df_pivot.columns = pd.MultiIndex.from_tuples([(col[0], col[1], 'None') for col in df_pivot.columns])
df_pivot.head(2)

                           Awards %:Associate's                                                                                              \
                                           2010       2011      2012       2013      2014      2015      2016      2017      2018      2019
                                           None       None      None       None      None      None      None      None      None      None
NAME
Cheatham County, Tennessee                  NaN        NaN       NaN        NaN  0.000000  0.000000  0.000000       NaN       NaN       NaN
Davidson County, Tennessee            10.785426  12.903038  13.32947  11.077863  9.585555  9.653643  9.143992  8.610736  9.004679  9.094468

                                               Awards %:Bachelor's                                                                             \
                                2020      2021                2010      2011       2012       2013       2014       2015      2016       2017
                                None      None                None      None       None       None       None       None      None       None
NAME
Cheatham County, Tennessee       NaN       NaN                 NaN       NaN        NaN        NaN   0.000000   0.000000   0.00000        NaN
Davidson County, Tennessee  8.499967  8.931766           36.195159  34.27424  33.387424  36.635115  38.075618  38.704458  39.86877  40.093355

                                                                       Awards %:Certificate < 2 Years                                               \
                                 2018       2019       2020       2021                           2010       2011       2012       2013        2014
                                 None       None       None       None                           None       None       None       None        None
NAME
Cheatham County, Tennessee        NaN        NaN        NaN        NaN                            NaN        NaN        NaN        NaN  100.000000
Davidson County, Tennessee  42.267513  42.660491  43.588728  42.793253                      20.303833  27.034105  26.850188  23.847328   22.424867

                                                                                                          Awards %:Certificate > 2 Years            \
                                  2015        2016       2017       2018       2019       2020       2021                           2010      2011
                                  None        None       None       None       None       None       None                           None      None
NAME
Cheatham County, Tennessee  100.000000  100.000000        NaN        NaN        NaN        NaN        NaN                            NaN       NaN
Davidson County, Tennessee   22.183605   21.093186  21.594399  18.086265  16.492693  11.746849  12.854587                       7.337368  2.322198

                                                                                                                             Awards %:Doctorate  \
                                2012      2013     2014      2015     2016      2017      2018      2019      2020      2021               2010
                                None      None     None      None     None      None      None      None      None      None               None
NAME
Cheatham County, Tennessee       NaN       NaN  0.00000  0.000000  0.00000       NaN       NaN       NaN       NaN       NaN                NaN
Davidson County, Tennessee  0.365112  0.244275  0.27872  0.269655  0.70431  0.319371  0.378132  0.685021  3.339273  3.002811            6.03883

                                                                                                                                            \
                                2011      2012      2013      2014      2015      2016      2017      2018      2019       2020       2021
                                None      None      None      None      None      None      None      None      None       None       None
NAME
Cheatham County, Tennessee       NaN       NaN       NaN  0.000000  0.000000  0.000000       NaN       NaN       NaN        NaN        NaN
Davidson County, Tennessee  5.657083  6.305419  7.053435  8.161658  8.083653  7.879846  8.162388  8.581683  9.329332  10.050815  10.727064

                           Awards %:Master's                                                                                                   \
                                        2010       2011       2012      2013       2014       2015      2016       2017       2018       2019
                                        None       None       None      None       None       None      None       None       None       None
NAME
Cheatham County, Tennessee               NaN        NaN        NaN       NaN   0.000000   0.000000   0.00000        NaN        NaN        NaN
Davidson County, Tennessee         19.194402  17.739495  19.565343  21.01374  21.406932  21.057047  21.22562  21.041641  21.252323  21.268267

                                                Awards %:Master's or Above                                                                  \
                                2020       2021                       2010       2011       2012      2013      2014       2015       2016
                                None       None                       None       None       None      None      None       None       None
NAME
Cheatham County, Tennessee       NaN        NaN                        NaN        NaN        NaN       NaN   0.00000   0.000000   0.000000
Davidson County, Tennessee  22.23982  21.288014                  25.378215  23.466418  26.067806  28.19542  29.63524  29.188639  29.189742

                                                                                 Awards %:Post-Master's                                          \
                                2017       2018       2019       2020       2021                   2010      2011      2012      2013      2014
                                None       None       None       None       None                   None      None      None      None      None
NAME
Cheatham County, Tennessee       NaN        NaN        NaN        NaN        NaN                    NaN       NaN       NaN       NaN  0.000000
Davidson County, Tennessee  29.38214  30.263411  31.067328  32.825183  32.417582               0.144982  0.069841  0.197044  0.128244  0.066651

                                                                                                 Awards:All Award Levels                             \
                                2015      2016      2017      2018      2019      2020      2021                    2010     2011     2012     2013
                                None      None      None      None      None      None      None                    None     None     None     None
NAME
Cheatham County, Tennessee  0.000000  0.000000       NaN       NaN       NaN       NaN       NaN                     0.0      0.0      0.0      0.0
Davidson County, Tennessee  0.047939  0.084276  0.178111  0.429405  0.469729  0.534548  0.402504                 15864.0  17182.0  17255.0  16375.0

                                                                                                   Awards:Associate's                          \
                               2014     2015     2016     2017     2018     2019     2020     2021               2010    2011    2012    2013
                               None     None     None     None     None     None     None     None               None    None    None    None
NAME
Cheatham County, Tennessee     12.0     15.0     11.0      0.0      0.0      0.0      0.0      0.0                0.0     0.0     0.0     0.0
Davidson County, Tennessee  16504.0  16688.0  16612.0  16282.0  15603.0  15328.0  15153.0  15652.0             1711.0  2217.0  2300.0  1814.0

                                                                                           Awards:Bachelor's                                  \
                              2014    2015    2016    2017    2018    2019    2020    2021              2010    2011    2012    2013    2014
                              None    None    None    None    None    None    None    None              None    None    None    None    None
NAME
Cheatham County, Tennessee     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0               0.0     0.0     0.0     0.0     0.0
Davidson County, Tennessee  1582.0  1611.0  1519.0  1402.0  1405.0  1394.0  1288.0  1398.0            5742.0  5889.0  5761.0  5999.0  6284.0

                                                                                   Awards:Certificate < 2 Years                                  \
                              2015    2016    2017    2018    2019    2020    2021                         2010    2011    2012    2013    2014
                              None    None    None    None    None    None    None                         None    None    None    None    None
NAME
Cheatham County, Tennessee     0.0     0.0     0.0     0.0     0.0     0.0     0.0                          0.0     0.0     0.0     0.0    12.0
Davidson County, Tennessee  6459.0  6623.0  6528.0  6595.0  6539.0  6605.0  6698.0                       3221.0  4645.0  4633.0  3905.0  3701.0

                                                                                   Awards:Certificate > 2 Years                                 \
                              2015    2016    2017    2018    2019    2020    2021                         2010   2011  2012  2013  2014  2015
                              None    None    None    None    None    None    None                         None   None  None  None  None  None
NAME
Cheatham County, Tennessee    15.0    11.0     0.0     0.0     0.0     0.0     0.0                          0.0    0.0   0.0   0.0   0.0   0.0
Davidson County, Tennessee  3702.0  3504.0  3516.0  2822.0  2528.0  1780.0  2012.0                       1164.0  399.0  63.0  40.0  46.0  45.0

                                                                   Awards:Doctorate                                                                 \
                             2016  2017  2018   2019   2020   2021             2010   2011    2012    2013    2014    2015    2016    2017    2018
                             None  None  None   None   None   None             None   None    None    None    None    None    None    None    None
NAME
Cheatham County, Tennessee    0.0   0.0   0.0    0.0    0.0    0.0              0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
Davidson County, Tennessee  117.0  52.0  59.0  105.0  506.0  470.0            958.0  972.0  1088.0  1155.0  1347.0  1349.0  1309.0  1329.0  1339.0

                                                   Awards:Master's                                                                                  \
                              2019    2020    2021            2010    2011    2012    2013    2014    2015    2016    2017    2018    2019    2020
                              None    None    None            None    None    None    None    None    None    None    None    None    None    None
NAME
Cheatham County, Tennessee     0.0     0.0     0.0             0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
Davidson County, Tennessee  1430.0  1523.0  1679.0          3045.0  3048.0  3376.0  3441.0  3533.0  3514.0  3526.0  3426.0  3316.0  3260.0  3370.0

                                   Awards:Master's or Above                                                                                          \
                              2021                     2010    2011    2012    2013    2014    2015    2016    2017    2018    2019    2020    2021
                              None                     None    None    None    None    None    None    None    None    None    None    None    None
NAME
Cheatham County, Tennessee     0.0                      0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
Davidson County, Tennessee  3332.0                   4026.0  4032.0  4498.0  4617.0  4891.0  4871.0  4849.0  4784.0  4722.0  4762.0  4974.0  5074.0

                           Awards:Post-Master's
                                           2010  2011  2012  2013  2014 2015  2016  2017  2018  2019  2020  2021
                                           None  None  None  None  None None  None  None  None  None  None  None
NAME
Cheatham County, Tennessee                  0.0   0.0   0.0   0.0   0.0  0.0   0.0   0.0   0.0   0.0   0.0   0.0
Davidson County, Tennessee                 23.0  12.0  34.0  21.0  11.0  8.0  14.0  29.0  67.0  72.0  81.0  63.0

In [64]:
#get a list of the varaibles to loop through by indexing into the first level only of the column headers
first_level = data.columns.get_level_values(0).unique().tolist()
first_level.remove('NAME')
first_level.remove('Year')
#remove percentages - don't want change metrics on them
first_level = [item for item in first_level if '%' not in item]

In [65]:
#pass the dataframe, the list of variables, time frames, and years through the "calculate change" function
data = calculate_changes(df_pivot, first_level, time_frames = time_frames, years = years)

In [66]:
#reformat and rename columns
data = data.stack([1, 1])
data = data.reset_index(drop = False)
data = data.rename(columns = {'level_1':'Year', 'level_2':'Time Frame'})

In [67]:
#map to geoid dictionary from module and add source
data['GEO_ID'] = data['NAME'].map(geotogeoid)
data['Source'] = 'JobsEQ NCES'

In [68]:
#final check
data.head(3)

,NAME,Year,Time Frame,Awards %:Associate's,Awards %:Bachelor's,Awards %:Certificate < 2 Years,Awards %:Certificate > 2 Years,Awards %:Doctorate,Awards %:Master's,Awards %:Master's or Above,Awards %:Post-Master's,Awards:All Award Levels,Awards:All Award Levels % Change,Awards:All Award Levels Change,Awards:Associate's,Awards:Associate's % Change,Awards:Associate's Change,Awards:Bachelor's,Awards:Bachelor's % Change,Awards:Bachelor's Change,Awards:Certificate < 2 Years,Awards:Certificate < 2 Years % Change,Awards:Certificate < 2 Years Change,Awards:Certificate > 2 Years,Awards:Certificate > 2 Years % Change,Awards:Certificate > 2 Years Change,Awards:Doctorate,Awards:Doctorate % Change,Awards:Doctorate Change,Awards:Master's,Awards:Master's % Change,Awards:Master's Change,Awards:Master's or Above,Awards:Master's or Above % Change,Awards:Master's or Above Change,Awards:Post-Master's,Awards:Post-Master's % Change,Awards:Post-Master's Change,GEO_ID,Source
0,"Cheatham County, Tennessee",2010,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0500000US47021,JobsEQ NCES
1,"Cheatham County, Tennessee",2011,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0500000US47021,JobsEQ NCES
2,"Cheatham County, Tennessee",2012,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0500000US47021,JobsEQ NCES

In [69]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1170 entries, 0 to 1169
Data columns (total 40 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   NAME                                   1170 non-null   object
 1   Year                                   1170 non-null   object
 2   Time Frame                             1170 non-null   object
 3   Awards %:Associate's                   123 non-null    float64
 4   Awards %:Bachelor's                    123 non-null    float64
 5   Awards %:Certificate < 2 Years         123 non-null    float64
 6   Awards %:Certificate > 2 Years         123 non-null    float64
 7   Awards %:Doctorate                     123 non-null    float64
 8   Awards %:Master's                      123 non-null    float64
 9   Awards %:Master's or Above             123 non-null    float64
 10  Awards %:Post-Master's                 123 non-null    float64
 11  Awards:All Award Levels                180 non-null    float64
 12  Awards:All Award Levels % Change       690 non-null    float64
 13  Awards:All Award Levels Change         990 non-null    float64
 14  Awards:Associate's                     180 non-null    float64
 15  Awards:Associate's % Change            501 non-null    float64
 16  Awards:Associate's Change              990 non-null    float64
 17  Awards:Bachelor's                      180 non-null    float64
 18  Awards:Bachelor's % Change             441 non-null    float64
 19  Awards:Bachelor's Change               990 non-null    float64
 20  Awards:Certificate < 2 Years           180 non-null    float64
 21  Awards:Certificate < 2 Years % Change  690 non-null    float64
 22  Awards:Certificate < 2 Years Change    990 non-null    float64
 23  Awards:Certificate > 2 Years           180 non-null    float64
 24  Awards:Certificate > 2 Years % Change  395 non-null    float64
 25  Awards:Certificate > 2 Years Change    990 non-null    float64
 26  Awards:Doctorate                       180 non-null    float64
 27  Awards:Doctorate % Change              209 non-null    float64
 28  Awards:Doctorate Change                990 non-null    float64
 29  Awards:Master's                        180 non-null    float64
 30  Awards:Master's % Change               426 non-null    float64
 31  Awards:Master's Change                 990 non-null    float64
 32  Awards:Master's or Above               180 non-null    float64
 33  Awards:Master's or Above % Change      426 non-null    float64
 34  Awards:Master's or Above Change        990 non-null    float64
 35  Awards:Post-Master's                   180 non-null    float64
 36  Awards:Post-Master's % Change          275 non-null    float64
 37  Awards:Post-Master's Change            990 non-null    float64
 38  GEO_ID                                 1092 non-null   object
 39  Source                                 1170 non-null   object
dtypes: float64(35), object(5)
memory usage: 365.8+ KB

In [70]:
#export to the SQLite database
conn = sq.connect('../../Outputs/Labor_Economy.db')
data.to_sql('JobsEQ_Awards_Annual_Change', conn, if_exists = 'replace', index = False)

1170

This retrieves historical and current annual occupational employment disaggregated by high level occupation group.

To retrieve data:
+ Log into JobsEQ and navigate to the "Data Explorer" function  

*load the following query: JEQAnnual_Occupation*

+ Select the "Occupation" dataset, year/quarter is the only option, we'll have to make it into an annual number  
+ Select parameters: "Region", "Occupation", "Year/Quarter"  
+ Under "Region" select "USA", "Tennessee", GNRC (13), MPO (7), GNRC Region (14), and then under GNRC Region sub all "Counties" and "Places"  
+ For "Year/Quarter" select as many as possible  
+ Under "Occupation" expand "Total-All Occupations" and select the combination of 2 digit SOCS codes and built groups in Jobs EQ as described below, leaving Total as well  

Occupations to Select:  
(SOC Codes)  
+ Total - All Occupations  
(Custom Created Groups) 
+ SnapshotOcc 11: Healthcare Practitioners and Technical (29: Healthcare Practitioners and Technical Occupations)  
+ SnapshotOcc 11: Healthcare Support (31: Healthcare Support Occupations)  
+ SnapshotOcc 11: Protective Service (33: Protective Service Occupations)  
+ SnapshotOcc 11: Production (51: Production Occupations)  
+ SnapshotOcc 11: Transportation and Material Moving (53: Transportation and Material Moving Occupations)   
+ SnapshotOcc 11: Business & Financial (11: Management & 13: Business & Financial Operations)  
+ SnapshotOcc 11: Computer, Mathematical, & Engineering (15: Computer & Mathematical, 17: Architecture & Engineering, & 19: Life, Physical, & Social Science)  
+ SnapshotOcc 11: Education, Legal, Social, Arts, & Media (21: Community & Social Service, 23: Legal, 25: Educational Instruction & Library, & 27: Art, Design, Entertainment, Sports, & Media)  
+ SnapshotOcc 11: Food, Property, & Personal Services (35: Food Preparation & Serving, 37: Building & Grounds Cleaning & Maintenance, & 39: Personal Care & Service)  
+ SnapshotOcc 11: Sales & Office Support (41: Sales & Related & 43: Office & Administrative Support)  
+ SnapshotOcc 11: Natural Resources, Construction, & Maintenance (45: Farming Fishing & Forestry, 47: Construction & Extraction, & 49: Installation Maintenance & Repair)

+ Make sure Occupation Data is on the top, and Year/Quarter and Region are on the side (this will make the small bit of Excel formatting easier)  
+ Select value: Employment, place of work  

This may exceed the drafting size, in which case you'll have to queue for download. 

*After loading the query and downloading, resume here*  

Once it is completed, open and delete the top row that says "Occupation Data", and delete the third row that repeats "Employment (Place of Work)". Rename the time indicator column to Time, and "Region" to "NAME". Select all numerical data and format to "general". Delete metadata at the bottom. Save in the "Data Downloads" folder as "JobsEQ_OccupationalEmploymentAnnual_AllGeos.csv"

In [136]:
#import and examine, dtype str so the GEO_ID formatting doesn't get messed up and so that we can split the time column
data = pd.read_csv('../../Data Downloads/JobsEQ_OccupationalEmploymentAnnual_AllGeos.csv', dtype = str)
data.head(2)

,Time,NAME,Total - All Occupations,SnapshotOcc 11: Production,SnapshotOcc 11: Healthcare Support,SnapshotOcc 11: Protective Services,SnapshotOcc 11: Business & Financial,SnapshotOcc 11: Sales & Office Support,SnapshotOcc 11: Transportation and Material Moving,"SnapshotOcc 11: Food, Property, & Personal Services","SnapshotOcc 11: Computer, Mathematical, & Engineering",SnapshotOcc 11: Healthcare Practitioners and Technical,"SnapshotOcc 11: Education, Legal, Social, Arts, & Media","SnapshotOcc 11: Natural Resources, Construction, & Maintenance"
0,2013Q1,USA,143440904.4,9270804.205,5601117.581,3198792.766,14917065.24,36218398.53,11270093.43,20854724.15,6594921.793,7502249.187,14966834.32,13045903.19
1,2013Q1,Tennessee,2929041.521,250615.801,108861.1784,63659.9016,276936.4256,724714.469,293938.783,411230.5865,100613.9871,172962.1501,272079.4975,253428.7416

In [137]:
data = data.set_index('NAME').transpose()
data = data.rename(columns = tofullcensus)
data = data.transpose().reset_index(drop = False)
data.head(2)

,NAME,Time,Total - All Occupations,SnapshotOcc 11: Production,SnapshotOcc 11: Healthcare Support,SnapshotOcc 11: Protective Services,SnapshotOcc 11: Business & Financial,SnapshotOcc 11: Sales & Office Support,SnapshotOcc 11: Transportation and Material Moving,"SnapshotOcc 11: Food, Property, & Personal Services","SnapshotOcc 11: Computer, Mathematical, & Engineering",SnapshotOcc 11: Healthcare Practitioners and Technical,"SnapshotOcc 11: Education, Legal, Social, Arts, & Media","SnapshotOcc 11: Natural Resources, Construction, & Maintenance"
0,United States,2013Q1,143440904.4,9270804.205,5601117.581,3198792.766,14917065.24,36218398.53,11270093.43,20854724.15,6594921.793,7502249.187,14966834.32,13045903.19
1,Tennessee,2013Q1,2929041.521,250615.801,108861.1784,63659.9016,276936.4256,724714.469,293938.783,411230.5865,100613.9871,172962.1501,272079.4975,253428.7416

In [138]:
#use str.split to break out the Time column and create a year and quarter column
boop = data['Time'].str.split(pat = 'Q', expand = True)
data['Year'] = boop[0]
data['Quarter'] = boop[1]
data.drop(columns = 'Time', inplace = True)

In [139]:
#we want the last full annual number, which is 2021 at this time, so knock out the handful of quarters in 2012 and 2022
data = data.loc[(data['Year'] != '2013')&(data['Year'] != '2023')]

In [140]:
#to average out years, make a list of years and of geographies in the dataframe
years = list(data.Year.unique())
geos = list(data.NAME.unique())

In [141]:
#set the index to be the combination of quarter year and name, as this gives unique instances to loop through, and transpose
data = data.set_index(['Quarter', 'Year', 'NAME']).transpose()

In [142]:
#make sure the other columns are float datatypes to perform aggregations
cols = list(data.columns)
data[cols] = data[cols].astype(float)

In [143]:
#loop through all four quarters, the list of unique years, and unique geographies to take the average of all four quarters
cols = data.columns
for year in years:
    for geo in geos:
        thelist = [data[('1', year, '{}'.format(geo))], data[('2', year, '{}'.format(geo))], data[('3', year, '{}'.format(geo))], 
                  data[('4', year, '{}'.format(geo))]]
        data[('All', year, '{}'.format(geo))] = (sum(thelist))/4
data = data.drop(columns = cols)

In [144]:
#transpose the data and reset the index without dropping, drop the quarter column
data = data.transpose().reset_index(drop = False).drop(columns = 'Quarter')

In [145]:
#resum so that percentages work - data caveat that they would not sum perfectly due to rounding
thelist = [data['SnapshotOcc 11: Healthcare Practitioners and Technical'], data['SnapshotOcc 11: Healthcare Support'], 
           data['SnapshotOcc 11: Protective Services'], data['SnapshotOcc 11: Production'], 
           data['SnapshotOcc 11: Transportation and Material Moving'], data['SnapshotOcc 11: Business & Financial'],
           data['SnapshotOcc 11: Computer, Mathematical, & Engineering'], data['SnapshotOcc 11: Education, Legal, Social, Arts, & Media'], 
           data['SnapshotOcc 11: Food, Property, & Personal Services'], data['SnapshotOcc 11: Sales & Office Support'], 
           data['SnapshotOcc 11: Natural Resources, Construction, & Maintenance']]
data['Total - All Occupations'] = sum(thelist)

In [146]:
#rename columns to account for the disparity between custom groups and SOC 2 digit formatting
data = data.rename(columns = {'SnapshotOcc 11: Healthcare Practitioners and Technical': 'Healthcare Practitioners & Technical',
                              'SnapshotOcc 11: Healthcare Support': 'Healthcare Support', 
                              'SnapshotOcc 11: Protective Services': 'Protective Services',
                              'SnapshotOcc 11: Production': 'Production', 
                              'SnapshotOcc 11: Transportation and Material Moving': 'Transportation & Material Moving', 
                              'SnapshotOcc 11: Business & Financial': 'Business & Financial', 
                              'SnapshotOcc 11: Sales & Office Support': 'Sales & Office Support', 
                              'SnapshotOcc 11: Food, Property, & Personal Services': 'Food, Property, & Personal Services', 
                              'SnapshotOcc 11: Computer, Mathematical, & Engineering': 'Computer, Mathematical, & Engineering', 
                              'SnapshotOcc 11: Education, Legal, Social, Arts, & Media': 'Education, Legal, Social, Arts, & Media', 
                              'SnapshotOcc 11: Natural Resources, Construction, & Maintenance': 'Natural Resources, Construction, & Maintenance', 
                             'Total - All Occupations': 'Total'})

In [147]:
years = list(data['Year'].unique())

In [148]:
#set the index to year and name so that we can add a prefix to all of the other columns, before resetting the index without dropping
data = data.set_index(['Year', 'NAME'])
data = data.add_prefix('Occ:')#.reset_index(drop = False)
data = data.transpose()

In [149]:
cols = data.columns
data[cols] = data[cols].astype(float)

In [150]:
for time in years:
        RuthInc = [data[('{}'.format(time), 'Eagleville city, Tennessee')],data[('{}'.format(time), 'La Vergne city, Tennessee')],
               data[('{}'.format(time), 'Murfreesboro city, Tennessee')],data[('{}'.format(time), 'Smyrna town, Tennessee')]]
        data[('{}'.format(time), 'Rutherford Incorporated')] = sum(RuthInc)
        data[('{}'.format(time), 'Rutherford Unincorporated')] = data[('{}'.format(time), 'Rutherford County, Tennessee')] - data[('{}'.format(time), 'Rutherford Incorporated')]
        WilsonInc = [data[('{}'.format(time), 'Lebanon city, Tennessee')],data[('{}'.format(time), 'Mount Juliet city, Tennessee')],
                     data[('{}'.format(time), 'Watertown city, Tennessee')]]
        data[('{}'.format(time), 'Wilson Incorporated')] = sum(WilsonInc)
        data[('{}'.format(time), 'Wilson Unincorporated')] = data[('{}'.format(time), 'Wilson County, Tennessee')] - data[('{}'.format(time), 'Wilson Incorporated')]
        CheathInc = [data[('{}'.format(time), 'Ashland City town, Tennessee')],data[('{}'.format(time), 'Kingston Springs town, Tennessee')],
                     data[('{}'.format(time), 'Pegram town, Tennessee')],data[('{}'.format(time), 'Pleasant View city, Tennessee')]]
        data[('{}'.format(time), 'Cheatham Incorporated')] = sum(CheathInc)
        data[('{}'.format(time), 'Cheatham Unincorporated')] = data[('{}'.format(time), 'Cheatham County, Tennessee')] - data[('{}'.format(time), 'Cheatham Incorporated')]
        DicksInc = [data[('{}'.format(time), 'Burns town, Tennessee')],data[('{}'.format(time), 'Charlotte town, Tennessee')],
                    data[('{}'.format(time), 'Dickson city, Tennessee')],data[('{}'.format(time), 'Slayden town, Tennessee')],
                    data[('{}'.format(time), 'Vanleer town, Tennessee')],data[('{}'.format(time), 'White Bluff town, Tennessee')]]
        data[('{}'.format(time), 'Dickson Incorporated')] = sum(DicksInc)
        data[('{}'.format(time), 'Dickson Unincorporated')] = data[('{}'.format(time), 'Dickson County, Tennessee')] - data[('{}'.format(time), 'Dickson Incorporated')]
        HumphInc = [data[('{}'.format(time), 'McEwen city, Tennessee')],data[('{}'.format(time), 'New Johnsonville city, Tennessee')],
                    data[('{}'.format(time), 'Waverly city, Tennessee')]]
        data[('{}'.format(time), 'Humphreys Incorporated')] = sum(HumphInc)
        data[('{}'.format(time), 'Humphreys Unincorporated')] = data[('{}'.format(time), 'Humphreys County, Tennessee')] - data[('{}'.format(time), 'Humphreys Incorporated')]
        data[('{}'.format(time), 'Montgomery Incorporated')] = data[('{}'.format(time), 'Clarksville city, Tennessee')]
        data[('{}'.format(time), 'Montgomery Unincorporated')] = data[('{}'.format(time), 'Montgomery County, Tennessee')] - data[('{}'.format(time), 'Montgomery Incorporated')]

In [151]:
data = data.transpose()
data.head()

                       Occ:Total  Occ:Production  Occ:Healthcare Support  Occ:Protective Services  Occ:Business & Financial  \
Year NAME
2014 United States  1.466024e+08    9.336933e+06            6.077918e+06             3.240551e+06              1.572345e+07
     Tennessee      2.987402e+06    2.556443e+05            1.111377e+05             6.444783e+04              2.916820e+05
     GNRC           9.266254e+05    6.560458e+04            3.356368e+04             2.090939e+04              9.607484e+04
     MPO            8.673386e+05    6.027256e+04            3.198943e+04             1.991289e+04              9.098220e+04
     GNRC Region    9.598511e+05    6.893528e+04            3.511183e+04             2.147517e+04              9.940808e+04

                    Occ:Sales & Office Support  Occ:Transportation & Material Moving  Occ:Food, Property, & Personal Services  \
Year NAME
2014 United States                3.637388e+07                          1.164071e+07                             2.111585e+07
     Tennessee                    7.302210e+05                          3.026366e+05                             4.225645e+05
     GNRC                         2.400535e+05                          8.146127e+04                             1.322912e+05
     MPO                          2.270869e+05                          7.630056e+04                             1.217026e+05
     GNRC Region                  2.482149e+05                          8.406311e+04                             1.371768e+05

                    Occ:Computer, Mathematical, & Engineering  Occ:Healthcare Practitioners & Technical  \
Year NAME
2014 United States                               6.925063e+06                              7.715660e+06
     Tennessee                                   1.072614e+05                              1.771351e+05
     GNRC                                        3.473702e+04                              5.517022e+04
     MPO                                         3.297216e+04                              5.330581e+04
     GNRC Region                                 3.559718e+04                              5.746245e+04

                    Occ:Education, Legal, Social, Arts, & Media  Occ:Natural Resources, Construction, & Maintenance
Year NAME
2014 United States                                 1.506559e+07                                       1.338679e+07
     Tennessee                                     2.702279e+05                                       2.544440e+05
     GNRC                                          9.208031e+04                                       7.467940e+04
     MPO                                           8.447897e+04                                       6.833459e+04
     GNRC Region                                   9.502522e+04                                       7.738112e+04

In [152]:
data = data.reset_index(drop = False)

In [153]:
#melt this data down using the columns name and year to distinguish specific instances, and then attributing total employment per occupation
#name it separately because it bugs out if you call this data and merge later
cols = data.columns
thing = data.melt(var_name = 'Occupation', id_vars = ['NAME', 'Year'], value_vars = cols, value_name = 'Employment')
thing.head(2)

            NAME  Year Occupation    Employment
0  United States  2014  Occ:Total  1.466024e+08
1      Tennessee  2014  Occ:Total  2.987402e+06

In [154]:
#create a separate dataframe where we will calculate percent of the total for each occupation group
percents = data

In [155]:
#calculate percent of total
percents['Occ:Healthcare Practitioners & Technical'] = percent(percents['Occ:Healthcare Practitioners & Technical'], percents['Occ:Total'])
percents['Occ:Healthcare Support'] = percent(percents['Occ:Healthcare Support'], percents['Occ:Total'])
percents['Occ:Protective Services'] = percent(percents['Occ:Protective Services'], percents['Occ:Total'])
percents['Occ:Production'] = percent(percents['Occ:Production'], percents['Occ:Total'])
percents['Occ:Transportation & Material Moving'] = percent(percents['Occ:Transportation & Material Moving'], percents['Occ:Total'])
percents['Occ:Business & Financial'] = percent(percents['Occ:Business & Financial'], percents['Occ:Total'])
percents['Occ:Computer, Mathematical, & Engineering'] = percent(percents['Occ:Computer, Mathematical, & Engineering'], percents['Occ:Total'])
percents['Occ:Education, Legal, Social, Arts, & Media'] = percent(percents['Occ:Education, Legal, Social, Arts, & Media'], percents['Occ:Total'])
percents['Occ:Food, Property, & Personal Services'] = percent(percents['Occ:Food, Property, & Personal Services'], percents['Occ:Total'])
percents['Occ:Sales & Office Support'] = percent(percents['Occ:Sales & Office Support'], percents['Occ:Total'])
percents['Occ:Natural Resources, Construction, & Maintenance'] = percent(percents['Occ:Natural Resources, Construction, & Maintenance'], percents['Occ:Total'])

In [156]:
#similarly melt this dataframe
cols = percents.columns
percents = percents.reset_index(drop = False).melt(var_name = 'Occupation', id_vars = ['NAME', 'Year'], value_vars = cols, value_name = 'Percent of Employment')
percents.head()

            NAME  Year Occupation  Percent of Employment
0  United States  2014  Occ:Total           1.466024e+08
1      Tennessee  2014  Occ:Total           2.987402e+06
2           GNRC  2014  Occ:Total           9.266254e+05
3            MPO  2014  Occ:Total           8.673386e+05
4    GNRC Region  2014  Occ:Total           9.598511e+05

In [157]:
#we never renamed the total column when we duplicated the dataframe for percents, we want this to be null so just transpose, drop it, and transpose back
percents = percents.set_index('Occupation').transpose()
percents = percents.drop(columns = 'Occ:Total')
percents = percents.transpose().reset_index(drop = False)

In [158]:
#merge total employment and percent of total employment
data = thing.merge(percents, on = ['Occupation', 'Year', 'NAME'], how = 'outer')
data.head(3)

            NAME  Year Occupation    Employment Percent of Employment
0  United States  2014  Occ:Total  1.466024e+08                   NaN
1      Tennessee  2014  Occ:Total  2.987402e+06                   NaN
2           GNRC  2014  Occ:Total  9.266254e+05                   NaN

In [159]:
#remove the CDPs from the geographies, then transpose and use dictionary from custom module to rename geos before resetting the index
data = data.loc[~data['NAME'].str.contains('CDP')]
data = data.set_index('NAME').transpose()
data = data.rename(columns = tofullcensus).reset_index(drop = False)

In [160]:
#set the index to "index" (the variable names) and transpose, then reset the index without dropping it
data = data.set_index('index').transpose().reset_index(drop = False)

In [161]:
data.head()

index           NAME  Year Occupation     Employment Percent of Employment
0      United States  2014  Occ:Total  146602396.842                   NaN
1          Tennessee  2014  Occ:Total  2987402.25729                   NaN
2               GNRC  2014  Occ:Total   926625.38286                   NaN
3                MPO  2014  Occ:Total   867338.61267                   NaN
4        GNRC Region  2014  Occ:Total  959851.097712                   NaN

In [162]:
#go long to wide
data = pd.pivot(data, index = ['NAME', 'Year'], columns = 'Occupation', values = ['Employment', 'Percent of Employment'])

In [163]:
#we'll have to flatten the multicolumns and then rename them to match the header formatting of our other data
data.columns = data.columns.to_flat_index()

In [164]:
#rename
occdict = {('Employment', 'Occ:Business & Financial'): 'Occ:Business & Financial', 
           ('Employment', 'Occ:Computer, Mathematical, & Engineering'): 'Occ:Computer, Mathematical, & Engineering',
           ('Employment', 'Occ:Education, Legal, Social, Arts, & Media'): 'Occ:Education, Legal, Social, Arts, & Media', 
           ('Employment', 'Occ:Food, Property, & Personal Services'): 'Occ:Food, Property, & Personal Services', 
           ('Employment', 'Occ:Healthcare Practitioners & Technical'): 'Occ:Healthcare Practitioners & Technical', 
           ('Employment', 'Occ:Healthcare Support'): 'Occ:Healthcare Support', 
           ('Employment', 'Occ:Natural Resources, Construction, & Maintenance'): 'Occ:Natural Resources, Construction, & Maintenance', 
           ('Employment', 'Occ:Production'): 'Occ:Production', 
           ('Employment', 'Occ:Protective Services'): 'Occ:Protective Services', 
           ('Employment', 'Occ:Sales & Office Support'): 'Occ:Sales & Office Support', 
           ('Employment', 'Occ:Total'): 'Occ:Total', 
           ('Employment', 'Occ:Transportation & Material Moving'): 'Occ:Transportation & Material Moving',
           ('Percent of Employment', 'Occ:Transportation & Material Moving'): 'Occ%:Transportation & Material Moving', 
           ('Percent of Employment', 'Occ:Business & Financial'): 'Occ%:Business & Financial', 
           ('Percent of Employment', 'Occ:Computer, Mathematical, & Engineering'): 'Occ%:Computer, Mathematical, & Engineering',
           ('Percent of Employment', 'Occ:Education, Legal, Social, Arts, & Media'): 'Occ%:Education, Legal, Social, Arts, & Media', 
           ('Percent of Employment', 'Occ:Food, Property, & Personal Services'): 'Occ%:Food, Property, & Personal Services', 
           ('Percent of Employment', 'Occ:Healthcare Practitioners & Technical'): 'Occ%:Healthcare Practitioners & Technical', 
           ('Percent of Employment', 'Occ:Healthcare Support'): 'Occ%:Healthcare Support', 
           ('Percent of Employment', 'Occ:Natural Resources, Construction, & Maintenance'): 'Occ%:Natural Resources, Construction, & Maintenance', 
           ('Percent of Employment', 'Occ:Production'): 'Occ%:Production', 
           ('Percent of Employment', 'Occ:Protective Services'): 'Occ%:Protective Services', 
           ('Percent of Employment', 'Occ:Sales & Office Support'): 'Occ%:Sales & Office Support', 
           ('Percent of Employment', 'Occ:Total'): 'Occ%:Total', 
           ('Percent of Employment', 'Occ:Transportation & Material Moving'): 'Occ%:Transportation & Material Moving' }
data = data.rename(columns = occdict)
data = data.reset_index(drop = False)

In [165]:
#make sure we have full census names
data = data.set_index('NAME').transpose()
data = data.rename(columns = tofullcensus)
data = data.transpose().reset_index(drop = False)

In [166]:
data.head(2)

,NAME,Year,Occ:Business & Financial,"Occ:Computer, Mathematical, & Engineering","Occ:Education, Legal, Social, Arts, & Media","Occ:Food, Property, & Personal Services",Occ:Healthcare Practitioners & Technical,Occ:Healthcare Support,"Occ:Natural Resources, Construction, & Maintenance",Occ:Production,Occ:Protective Services,Occ:Sales & Office Support,Occ:Total,Occ:Transportation & Material Moving,Occ%:Business & Financial,"Occ%:Computer, Mathematical, & Engineering","Occ%:Education, Legal, Social, Arts, & Media","Occ%:Food, Property, & Personal Services",Occ%:Healthcare Practitioners & Technical,Occ%:Healthcare Support,"Occ%:Natural Resources, Construction, & Maintenance",Occ%:Production,Occ%:Protective Services,Occ%:Sales & Office Support,Occ%:Total,Occ%:Transportation & Material Moving
0,"Adams city, Tennessee",2014,4.121418,0.583411,5.734492,12.071051,0.919385,3.697354,3.248877,0.684419,1.054255,18.95524,58.199974,7.130073,7.081477,1.002424,9.853084,20.740646,1.5797,6.352844,5.582266,1.175978,1.811436,32.569154,NaN,12.25099
1,"Adams city, Tennessee",2015,4.895225,0.678645,6.06584,17.487364,1.471388,3.902959,4.720314,0.704735,1.541629,17.805229,65.864417,6.59109,7.432275,1.030367,9.209586,26.550549,2.233965,5.925748,7.166713,1.069978,2.34061,27.033153,NaN,10.007057

In [167]:
#make sure year is formatted as an integer and generate list of years and all possible time frames
data['Year'] = data['Year'].astype(int)
#create a list of years from the dataframe to pass through our "generate time frames" function to create a list of all possible time frames - need this here for later
years = list(data['Year'].unique().astype(int))
time_frames = generate_time_frames(years)

In [168]:
#create a multilevel column header with year and placeholder for time frames
#pivot the table and create a multiindex of year and column header
cols = list(data.columns)
cols.remove('NAME')
cols.remove('Year')
df_pivot = data.pivot_table(index = 'NAME', columns = ['Year'], values = cols)
df_pivot.head(2)

                             Occ%:Business & Financial                                                                                    \
Year                                              2014       2015      2016      2017      2018      2019      2020      2021       2022
NAME
Adams city, Tennessee                         7.081477   7.432275  7.866789  8.516995  8.964910  8.869543  9.071620  9.972795  10.757196
Ashland City town, Tennessee                  9.458728  10.348177  9.748299  9.060580  9.209491  9.415043  9.562034  9.942892  10.330264

                             Occ%:Computer, Mathematical, & Engineering                                                                        \
Year                                                               2014      2015      2016      2017      2018      2019      2020      2021
NAME
Adams city, Tennessee                                          1.002424  1.030367  1.301811  1.361399  1.209732  1.125928  1.138289  1.181191
Ashland City town, Tennessee                                   4.298313  4.546314  4.498096  4.320272  4.453209  4.641814  4.867281  5.004130

                                       Occ%:Education, Legal, Social, Arts, & Media                                                              \
Year                              2022                                         2014      2015      2016      2017      2018      2019      2020
NAME
Adams city, Tennessee         1.233159                                     9.853084  9.209586  9.006654  9.315401  9.207809  8.346916  6.892152
Ashland City town, Tennessee  5.107768                                     4.471206  4.530169  4.330997  4.256910  4.596766  4.513836  4.250190

                                                 Occ%:Food, Property, & Personal Services                                                         \
Year                              2021      2022                                     2014       2015       2016       2017       2018       2019
NAME
Adams city, Tennessee         6.100527  6.135656                                20.740646  26.550549  23.252644  19.238139  19.263678  19.562909
Ashland City town, Tennessee  3.999086  3.866837                                10.892360  10.590088  10.676158  11.204989  11.253573  10.932904

                                                              Occ%:Healthcare Practitioners & Technical                                          \
Year                               2020       2021       2022                                      2014      2015      2016      2017      2018
NAME
Adams city, Tennessee         19.674252  15.732578  14.211417                                  1.579700  2.233965  3.400304  4.018037  4.400261
Ashland City town, Tennessee   9.926953   9.425118   9.423383                                  3.005015  2.920270  2.964305  2.802435  2.733549

                                                                     Occ%:Healthcare Support                                                    \
Year                              2019      2020      2021      2022                    2014      2015      2016      2017      2018      2019
NAME
Adams city, Tennessee         4.676311  2.960674  1.680690  1.751379                6.352844  5.925748  5.515605  5.496345  5.959346  6.290826
Ashland City town, Tennessee  2.699075  2.719762  2.836661  3.045213                2.250570  1.954146  1.956515  2.113192  2.091785  1.955661

                                                           Occ%:Natural Resources, Construction, & Maintenance                                \
Year                              2020      2021      2022                                                2014      2015      2016      2017
NAME
Adams city, Tennessee         3.673374  1.656398  1.608041                                           5.582266   7.166713  7.322429  6.884133
Ashland City town, Tennessee  1.877020  2.013200  1.822778                                           9.538443   8.850372  7.991760  7.206930

                                                                                Occ%:Production                                              \
Year                              2018      2019      2020      2021       2022            2014       2015       2016       2017       2018
NAME
Adams city, Tennessee         7.082993  5.821596  6.460473  8.967080  10.042003        1.175978   1.069978   1.029413   1.032542   0.911275
Ashland City town, Tennessee  6.824862  7.856319  8.205385  7.887709   7.670642       24.904093  24.136671  21.948575  21.628075  22.544670

                                                                         Occ%:Protective Services                                                    \
Year                               2019       2020       2021       2022                     2014      2015      2016      2017      2018      2019
NAME
Adams city, Tennessee          0.844175   0.827193   0.825342   0.775653                 1.811436  2.340610  4.026679  3.963282  2.632346  1.908699
Ashland City town, Tennessee  23.094754  24.264811  24.289954  23.986635                 2.692859  2.767918  2.789010  2.803889  2.751983  2.734828

                                                           Occ%:Sales & Office Support                                                         \
Year                              2020      2021      2022                        2014       2015       2016       2017       2018       2019
NAME
Adams city, Tennessee         1.686066  1.773585  1.917073                   32.569154  27.033153  28.366467  30.459060  30.639428  33.283892
Ashland City town, Tennessee  2.770619  2.815755  2.790497                   16.657029  16.705808  19.219198  20.422119  19.615226  18.810858

                                                              Occ%:Transportation & Material Moving                                              \
Year                               2020       2021       2022                                  2014       2015       2016       2017       2018
NAME
Adams city, Tennessee         37.545954  40.932620  41.134756                             12.250990  10.007057   8.911205   9.714667   9.728222
Ashland City town, Tennessee  18.279763  18.538214  18.810749                             11.831385  12.650068  13.877086  14.180611  13.924886

                                                                         Occ:Business & Financial                                                  \
Year                               2019       2020       2021       2022                     2014        2015        2016        2017        2018
NAME
Adams city, Tennessee          9.269205  10.069953  11.177192  10.433667                 4.121418    4.895225    5.281387    5.410263    5.391066
Ashland City town, Tennessee  13.344910  13.276183  13.247283  13.145233               367.545217  419.700634  422.998201  401.659885  425.166578

                                                                             Occ:Computer, Mathematical, & Engineering                          \
Year                                2019        2020        2021        2022                                      2014        2015        2016
NAME
Adams city, Tennessee           4.862082    4.192426    4.491937    5.038649                                  0.583411    0.678645    0.873974
Ashland City town, Tennessee  455.726343  462.800278  488.291838  520.911719                                167.022934  184.389068  195.181386

                                                                                                     Occ:Education, Legal, Social, Arts, & Media  \
Year                                2017        2018        2019        2020        2021        2022                                        2014
NAME
Adams city, Tennessee           0.864804    0.727474    0.617208    0.526058    0.532031    0.577609                                    5.734492
Ashland City town, Tennessee  191.519755  205.587425  224.682640  235.575308  245.750987  257.563218                                  173.741157

                                                                                                                              \
Year                                2015        2016        2017        2018        2019        2020        2021        2022
NAME
Adams city, Tennessee           6.065840    6.046638    5.917436    5.537134    4.575589    3.185191    2.747794    2.873929
Ashland City town, Tennessee  183.734259  187.930605  188.710858  212.214907  218.488003  205.708216  196.393651  194.988289

                             Occ:Food, Property, & Personal Services                                                                          \
Year                                                            2014        2015        2016        2017        2018        2019        2020
NAME
Adams city, Tennessee                                      12.071051   17.487364   15.610716   12.220670   11.584250   10.723941    9.092406
Ashland City town, Tennessee                              423.252968  429.512051  463.259831  496.722549  519.533917  529.196939  480.462288

                                                     Occ:Healthcare Practitioners & Technical                                                  \
Year                                2021        2022                                     2014        2015        2016        2017        2018
NAME
Adams city, Tennessee           7.086253    6.656600                                 0.919385    1.471388    2.282802    2.552384    2.646105
Ashland City town, Tennessee  462.864109  475.181512                               116.768239  118.440125  128.627123  124.233284  126.197387

                                                                             Occ:Healthcare Support                                              \
Year                                2019        2020        2021        2022                   2014       2015       2016       2017       2018
NAME
Adams city, Tennessee           2.563447    1.368268    0.757015    0.820342               3.697354   3.902959   3.702914   3.491451   3.583664
Ashland City town, Tennessee  130.646169  131.635859  139.307367  153.557271              87.452174  79.256108  84.897120  93.678798  96.569632

                                                                         Occ:Natural Resources, Construction, & Maintenance                          \
Year                               2019       2020       2021       2022                                               2014        2015        2016
NAME
Adams city, Tennessee          3.448487   1.697641   0.746073   0.753203                                           3.248877    4.720314    4.915930
Ashland City town, Tennessee  94.661912  90.847324  98.867541  91.915002                                         370.642759  358.952756  346.778446

                                                                                                     Occ:Production                          \
Year                                2017        2018        2019        2020        2021        2022           2014        2015        2016
NAME
Adams city, Tennessee           4.373018    4.259372    3.191266    2.985691    4.038944    4.703655       0.684419    0.704735    0.691099
Ashland City town, Tennessee  319.486673  315.077495  380.277756  397.138799  387.362503  386.798177     967.717907  978.933431  952.392580

                                                                                                          Occ:Protective Services              \
Year                                2017         2018         2019         2020         2021         2022                    2014        2015
NAME
Adams city, Tennessee           0.655903     0.547997     0.462758     0.382285     0.371750     0.363314                1.054255    1.541629
Ashland City town, Tennessee  958.782980  1040.800199  1117.879872  1174.411346  1192.870795  1209.544977              104.638521  112.261011

                                                                                                                 Occ:Sales & Office Support  \
Year                                2016        2017        2018        2019        2020        2021        2022                       2014
NAME
Adams city, Tennessee           2.703320    2.517601    1.582967    1.046305    0.779211    0.798857    0.897953                  18.955240
Ashland City town, Tennessee  121.020731  124.297743  127.048393  132.376768  134.097330  138.280703  140.713012                 647.255247

                                                                                                                                Occ:Total  \
Year                                2015        2016        2017        2018        2019        2020        2021        2022         2014
NAME
Adams city, Tennessee          17.805229   19.043892   19.348552   18.425080   18.245471   17.351769   18.436832   19.267439    58.199974
Ashland City town, Tennessee  677.553016  833.959459  905.322375  905.559127  910.521924  884.736408  910.404941  948.546841  3885.778529

                                                                                                                                      \
Year                                 2015         2016         2017         2018         2019         2020         2021         2022
NAME
Adams city, Tennessee           65.864417    67.135229    63.523142    60.135194    54.817721    46.214750    45.041905    46.839803
Ashland City town, Tennessee  4055.793024  4339.200000  4433.048199  4616.613171  4840.406149  4839.977394  4910.963672  5042.578740

                             Occ:Transportation & Material Moving                                                                          \
Year                                                         2014        2015        2016        2017        2018        2019        2020
NAME
Adams city, Tennessee                                    7.130073    6.591090    5.982558    6.171062    5.850085    5.081167    4.653804
Ashland City town, Tennessee                           459.741404  513.060566  602.154518  628.633299  642.858110  645.947822  642.564238


Year                                2021        2022
NAME
Adams city, Tennessee           5.034420    4.887109
Ashland City town, Tennessee  650.569235  662.858723

In [169]:
#add a level to the multiindex to accomodate the time period metrics
df_pivot.columns = pd.MultiIndex.from_tuples([(col[0], col[1], 'None') for col in df_pivot.columns])
df_pivot.head(3)

                             Occ%:Business & Financial                                                                                     \
                                                  2014       2015      2016      2017      2018      2019      2020       2021       2022
                                                  None       None      None      None      None      None      None       None       None
NAME
Adams city, Tennessee                         7.081477   7.432275  7.866789  8.516995  8.964910  8.869543  9.071620   9.972795  10.757196
Ashland City town, Tennessee                  9.458728  10.348177  9.748299  9.060580  9.209491  9.415043  9.562034   9.942892  10.330264
Belle Meade city, Tennessee                   7.880750   7.871978  7.902902  8.284656  8.648276  8.815233  9.453686  10.065401  10.404400

                             Occ%:Computer, Mathematical, & Engineering                                                                        \
                                                                   2014      2015      2016      2017      2018      2019      2020      2021
                                                                   None      None      None      None      None      None      None      None
NAME
Adams city, Tennessee                                          1.002424  1.030367  1.301811  1.361399  1.209732  1.125928  1.138289  1.181191
Ashland City town, Tennessee                                   4.298313  4.546314  4.498096  4.320272  4.453209  4.641814  4.867281  5.004130
Belle Meade city, Tennessee                                    1.470794  1.269278  1.183948  1.238654  1.286920  1.296613  1.670886  1.991710

                                       Occ%:Education, Legal, Social, Arts, & Media                                                                 \
                                  2022                                         2014       2015       2016       2017      2018      2019      2020
                                  None                                         None       None       None       None      None      None      None
NAME
Adams city, Tennessee         1.233159                                     9.853084   9.209586   9.006654   9.315401  9.207809  8.346916  6.892152
Ashland City town, Tennessee  5.107768                                     4.471206   4.530169   4.330997   4.256910  4.596766  4.513836  4.250190
Belle Meade city, Tennessee   1.984569                                    12.667565  11.746149  11.469898  10.686087  9.560125  9.049961  8.943649

                                                 Occ%:Food, Property, & Personal Services                                                         \
                                  2021      2022                                     2014       2015       2016       2017       2018       2019
                                  None      None                                     None       None       None       None       None       None
NAME
Adams city, Tennessee         6.100527  6.135656                                20.740646  26.550549  23.252644  19.238139  19.263678  19.562909
Ashland City town, Tennessee  3.999086  3.866837                                10.892360  10.590088  10.676158  11.204989  11.253573  10.932904
Belle Meade city, Tennessee   8.831333  8.623603                                39.619804  41.668991  43.180390  45.214884  45.611340  45.838347

                                                              Occ%:Healthcare Practitioners & Technical                                          \
                                   2020       2021       2022                                      2014      2015      2016      2017      2018
                                   None       None       None                                      None      None      None      None      None
NAME
Adams city, Tennessee         19.674252  15.732578  14.211417                                  1.579700  2.233965  3.400304  4.018037  4.400261
Ashland City town, Tennessee   9.926953   9.425118   9.423383                                  3.005015  2.920270  2.964305  2.802435  2.733549
Belle Meade city, Tennessee   43.071506  40.574305  42.200844                                  2.362852  2.268907  2.304594  1.499202  1.745877

                                                                     Occ%:Healthcare Support                                                    \
                                  2019      2020      2021      2022                    2014      2015      2016      2017      2018      2019
                                  None      None      None      None                    None      None      None      None      None      None
NAME
Adams city, Tennessee         4.676311  2.960674  1.680690  1.751379                6.352844  5.925748  5.515605  5.496345  5.959346  6.290826
Ashland City town, Tennessee  2.699075  2.719762  2.836661  3.045213                2.250570  1.954146  1.956515  2.113192  2.091785  1.955661
Belle Meade city, Tennessee   2.140760  2.352275  2.644443  2.463872                1.292132  1.231669  1.209143  0.885385  0.922167  1.053205

                                                           Occ%:Natural Resources, Construction, & Maintenance                                \
                                  2020      2021      2022                                                2014      2015      2016      2017
                                  None      None      None                                                None      None      None      None
NAME
Adams city, Tennessee         3.673374  1.656398  1.608041                                           5.582266   7.166713  7.322429  6.884133
Ashland City town, Tennessee  1.877020  2.013200  1.822778                                           9.538443   8.850372  7.991760  7.206930
Belle Meade city, Tennessee   1.141069  1.268492  1.200855                                           3.806180   4.234782  3.932544  3.961039

                                                                                Occ%:Production                                              \
                                  2018      2019      2020      2021       2022            2014       2015       2016       2017       2018
                                  None      None      None      None       None            None       None       None       None       None
NAME
Adams city, Tennessee         7.082993  5.821596  6.460473  8.967080  10.042003        1.175978   1.069978   1.029413   1.032542   0.911275
Ashland City town, Tennessee  6.824862  7.856319  8.205385  7.887709   7.670642       24.904093  24.136671  21.948575  21.628075  22.544670
Belle Meade city, Tennessee   3.972519  3.796230  4.226742  4.524132   4.328972        1.719181   1.464872   1.618935   1.691381   2.040593

                                                                         Occ%:Protective Services                                                    \
                                   2019       2020       2021       2022                     2014      2015      2016      2017      2018      2019
                                   None       None       None       None                     None      None      None      None      None      None
NAME
Adams city, Tennessee          0.844175   0.827193   0.825342   0.775653                 1.811436  2.340610  4.026679  3.963282  2.632346  1.908699
Ashland City town, Tennessee  23.094754  24.264811  24.289954  23.986635                 2.692859  2.767918  2.789010  2.803889  2.751983  2.734828
Belle Meade city, Tennessee    2.297054   2.550890   2.710497   2.536395                 1.778902  1.674962  1.586276  1.597977  1.576582  1.547464

                                                           Occ%:Sales & Office Support                                                         \
                                  2020      2021      2022                        2014       2015       2016       2017       2018       2019
                                  None      None      None                        None       None       None       None       None       None
NAME
Adams city, Tennessee         1.686066  1.773585  1.917073                   32.569154  27.033153  28.366467  30.459060  30.639428  33.283892
Ashland City town, Tennessee  2.770619  2.815755  2.790497                   16.657029  16.705808  19.219198  20.422119  19.615226  18.810858
Belle Meade city, Tennessee   1.620771  1.649769  1.627380                   22.378268  21.781616  20.833955  20.143858  19.868161  19.468395

                                                              Occ%:Transportation & Material Moving                                              \
                                   2020       2021       2022                                  2014       2015       2016       2017       2018
                                   None       None       None                                  None       None       None       None       None
NAME
Adams city, Tennessee         37.545954  40.932620  41.134756                             12.250990  10.007057   8.911205   9.714667   9.728222
Ashland City town, Tennessee  18.279763  18.538214  18.810749                             11.831385  12.650068  13.877086  14.180611  13.924886
Belle Meade city, Tennessee   20.099734  20.705456  19.830337                              5.023571   4.786796   4.777415   4.796878   4.767439

                                                                         Occ:Business & Financial                                                  \
                                   2019       2020       2021       2022                     2014        2015        2016        2017        2018
                                   None       None       None       None                     None        None        None        None        None
NAME
Adams city, Tennessee          9.269205  10.069953  11.177192  10.433667                 4.121418    4.895225    5.281387    5.410263    5.391066
Ashland City town, Tennessee  13.344910  13.276183  13.247283  13.145233               367.545217  419.700634  422.998201  401.659885  425.166578
Belle Meade city, Tennessee    4.696737   4.868792   5.034462   4.798774                97.391143  104.107878  108.606528  112.916096  122.589374

                                                                             Occ:Computer, Mathematical, & Engineering                          \
                                    2019        2020        2021        2022                                      2014        2015        2016
                                    None        None        None        None                                      None        None        None
NAME
Adams city, Tennessee           4.862082    4.192426    4.491937    5.038649                                  0.583411    0.678645    0.873974
Ashland City town, Tennessee  455.726343  462.800278  488.291838  520.911719                                167.022934  184.389068  195.181386
Belle Meade city, Tennessee   124.356300  117.413265  114.061287  133.916283                                 18.176231   16.786355   16.270535

                                                                                                     Occ:Education, Legal, Social, Arts, & Media  \
                                    2017        2018        2019        2020        2021        2022                                        2014
                                    None        None        None        None        None        None                                        None
NAME
Adams city, Tennessee           0.864804    0.727474    0.617208    0.526058    0.532031    0.577609                                    5.734492
Ashland City town, Tennessee  191.519755  205.587425  224.682640  235.575308  245.750987  257.563218                                  173.741157
Belle Meade city, Tennessee    16.882294   18.242102   18.291292   20.752140   22.570095   25.543622                                  156.547123

                                                                                                                              \
                                    2015        2016        2017        2018        2019        2020        2021        2022
                                    None        None        None        None        None        None        None        None
NAME
Adams city, Tennessee           6.065840    6.046638    5.917436    5.537134    4.575589    3.185191    2.747794    2.873929
Ashland City town, Tennessee  183.734259  187.930605  188.710858  212.214907  218.488003  205.708216  196.393651  194.988289
Belle Meade city, Tennessee   155.344269  157.626378  145.646498  135.514836  127.667599  111.078690  100.076808  110.995424

                             Occ:Food, Property, & Personal Services                                                                          \
                                                                2014        2015        2016        2017        2018        2019        2020
                                                                None        None        None        None        None        None        None
NAME
Adams city, Tennessee                                      12.071051   17.487364   15.610716   12.220670   11.584250   10.723941    9.092406
Ashland City town, Tennessee                              423.252968  429.512051  463.259831  496.722549  519.533917  529.196939  480.462288
Belle Meade city, Tennessee                               489.625762  551.077520  593.411412  616.258296  646.541045  646.640563  534.941211

                                                     Occ:Healthcare Practitioners & Technical                                                  \
                                    2021        2022                                     2014        2015        2016        2017        2018
                                    None        None                                     None        None        None        None        None
NAME
Adams city, Tennessee           7.086253    6.656600                                 0.919385    1.471388    2.282802    2.552384    2.646105
Ashland City town, Tennessee  462.864109  475.181512                               116.768239  118.440125  128.627123  124.233284  126.197387
Belle Meade city, Tennessee   459.788696  543.172113                                29.200374   30.006575   31.671151   20.433437   24.747819

                                                                             Occ:Healthcare Support                                              \
                                    2019        2020        2021        2022                   2014       2015       2016       2017       2018
                                    None        None        None        None                   None       None       None       None       None
NAME
Adams city, Tennessee           2.563447    1.368268    0.757015    0.820342               3.697354   3.902959   3.702914   3.491451   3.583664
Ashland City town, Tennessee  130.646169  131.635859  139.307367  153.557271              87.452174  79.256108  84.897120  93.678798  96.569632
Belle Meade city, Tennessee    30.199660   29.214883   29.966869   31.712787              15.968302  16.288968  16.616787  12.067391  13.071721

                                                                         Occ:Natural Resources, Construction, & Maintenance                          \
                                   2019       2020       2021       2022                                               2014        2015        2016
                                   None       None       None       None                                               None        None        None
NAME
Adams city, Tennessee          3.448487   1.697641   0.746073   0.753203                                           3.248877    4.720314    4.915930
Ashland City town, Tennessee  94.661912  90.847324  98.867541  91.915002                                         370.642759  358.952756  346.778446
Belle Meade city, Tennessee   14.857544  14.171895  14.374575  15.456349                                          47.037179   56.005509   54.043432

                                                                                                     Occ:Production                          \
                                    2017        2018        2019        2020        2021        2022           2014        2015        2016
                                    None        None        None        None        None        None           None        None        None
NAME
Adams city, Tennessee           4.373018    4.259372    3.191266    2.985691    4.038944    4.703655       0.684419    0.704735    0.691099
Ashland City town, Tennessee  319.486673  315.077495  380.277756  397.138799  387.362503  386.798177     967.717907  978.933431  952.392580
Belle Meade city, Tennessee    53.987163   56.310477   53.553328   52.495456   51.267541   55.718713      21.245823   19.373114   22.248397

                                                                                                          Occ:Protective Services              \
                                    2017         2018         2019         2020         2021         2022                    2014        2015
                                    None         None         None         None         None         None                    None        None
NAME
Adams city, Tennessee           0.655903     0.547997     0.462758     0.382285     0.371750     0.363314                1.054255    1.541629
Ashland City town, Tennessee  958.782980  1040.800199  1117.879872  1174.411346  1192.870795  1209.544977              104.638521  112.261011
Belle Meade city, Tennessee    23.052747    28.925419    32.404495    31.681641    30.715399    32.646240               21.983863   22.151572

                                                                                                                 Occ:Sales & Office Support  \
                                    2016        2017        2018        2019        2020        2021        2022                       2014
                                    None        None        None        None        None        None        None                       None
NAME
Adams city, Tennessee           2.703320    2.517601    1.582967    1.046305    0.779211    0.798857    0.897953                  18.955240
Ashland City town, Tennessee  121.020731  124.297743  127.048393  132.376768  134.097330  138.280703  140.713012                 647.255247
Belle Meade city, Tennessee    21.799575   21.779695   22.348065   21.830040   20.129716   18.695211   20.946205                 276.553020

                                                                                                                                Occ:Total  \
                                    2015        2016        2017        2018        2019        2020        2021        2022         2014
                                    None        None        None        None        None        None        None        None         None
NAME
Adams city, Tennessee          17.805229   19.043892   19.348552   18.425080   18.245471   17.351769   18.436832   19.267439    58.199974
Ashland City town, Tennessee  677.553016  833.959459  905.322375  905.559127  910.521924  884.736408  910.404941  948.546841  3885.778529
Belle Meade city, Tennessee   288.064548  286.312985  274.551614  281.631317  274.640221  249.635485  234.634563  255.238641  1235.810647

                                                                                                                                      \

In [170]:
#get a list of the varaibles to loop through by indexing into the first level only of the column headers
first_level = data.columns.get_level_values(0).unique().tolist()
first_level.remove('NAME')
first_level.remove('Year')
#remove percentages - don't want change metrics on them
first_level = [item for item in first_level if '%' not in item]

In [171]:
#pass the dataframe, the list of variables, time frames, and years through the "calculate change" function
data = calculate_changes(df_pivot, first_level, time_frames = time_frames, years = years)

In [172]:
#reformat and rename columns
data = data.stack([1, 1])
data = data.reset_index(drop = False)
data = data.rename(columns = {'level_1':'Year', 'level_2':'Time Frame'})

In [173]:
#map to geoid dictionary from module and add source
data['GEO_ID'] = data['NAME'].map(geotogeoid)
data['Source'] = 'JobsEQ'

In [174]:
#final check
data.head(3)

,NAME,Year,Time Frame,Occ%:Business & Financial,"Occ%:Computer, Mathematical, & Engineering","Occ%:Education, Legal, Social, Arts, & Media","Occ%:Food, Property, & Personal Services",Occ%:Healthcare Practitioners & Technical,Occ%:Healthcare Support,"Occ%:Natural Resources, Construction, & Maintenance",Occ%:Production,Occ%:Protective Services,Occ%:Sales & Office Support,Occ%:Transportation & Material Moving,Occ:Business & Financial,Occ:Business & Financial % Change,Occ:Business & Financial Change,"Occ:Computer, Mathematical, & Engineering","Occ:Computer, Mathematical, & Engineering % Change","Occ:Computer, Mathematical, & Engineering Change","Occ:Education, Legal, Social, Arts, & Media","Occ:Education, Legal, Social, Arts, & Media % Change","Occ:Education, Legal, Social, Arts, & Media Change","Occ:Food, Property, & Personal Services","Occ:Food, Property, & Personal Services % Change","Occ:Food, Property, & Personal Services Change",Occ:Healthcare Practitioners & Technical,Occ:Healthcare Practitioners & Technical % Change,Occ:Healthcare Practitioners & Technical Change,Occ:Healthcare Support,Occ:Healthcare Support % Change,Occ:Healthcare Support Change,"Occ:Natural Resources, Construction, & Maintenance","Occ:Natural Resources, Construction, & Maintenance % Change","Occ:Natural Resources, Construction, & Maintenance Change",Occ:Production,Occ:Production % Change,Occ:Production Change,Occ:Protective Services,Occ:Protective Services % Change,Occ:Protective Services Change,Occ:Sales & Office Support,Occ:Sales & Office Support % Change,Occ:Sales & Office Support Change,Occ:Total,Occ:Total % Change,Occ:Total Change,Occ:Transportation & Material Moving,Occ:Transportation & Material Moving % Change,Occ:Transportation & Material Moving Change,GEO_ID,Source
0,"Adams city, Tennessee",2014,None,7.081477,1.002424,9.853084,20.740646,1.579700,6.352844,5.582266,1.175978,1.811436,32.569154,12.250990,4.121418,NaN,NaN,0.583411,NaN,NaN,5.734492,NaN,NaN,12.071051,NaN,NaN,0.919385,NaN,NaN,3.697354,NaN,NaN,3.248877,NaN,NaN,0.684419,NaN,NaN,1.054255,NaN,NaN,18.955240,NaN,NaN,58.199974,NaN,NaN,7.130073,NaN,NaN,1600000US4700200,JobsEQ
1,"Adams city, Tennessee",2015,None,7.432275,1.030367,9.209586,26.550549,2.233965,5.925748,7.166713,1.069978,2.340610,27.033153,10.007057,4.895225,NaN,NaN,0.678645,NaN,NaN,6.065840,NaN,NaN,17.487364,NaN,NaN,1.471388,NaN,NaN,3.902959,NaN,NaN,4.720314,NaN,NaN,0.704735,NaN,NaN,1.541629,NaN,NaN,17.805229,NaN,NaN,65.864417,NaN,NaN,6.591090,NaN,NaN,1600000US4700200,JobsEQ
2,"Adams city, Tennessee",2016,None,7.866789,1.301811,9.006654,23.252644,3.400304,5.515605,7.322429,1.029413,4.026679,28.366467,8.911205,5.281387,NaN,NaN,0.873974,NaN,NaN,6.046638,NaN,NaN,15.610716,NaN,NaN,2.282802,NaN,NaN,3.702914,NaN,NaN,4.915930,NaN,NaN,0.691099,NaN,NaN,2.703320,NaN,NaN,19.043892,NaN,NaN,67.135229,NaN,NaN,5.982558,NaN,NaN,1600000US4700200,JobsEQ

In [175]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3870 entries, 0 to 3869
Data columns (total 52 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   NAME                                                         3870 non-null   object
 1   Year                                                         3870 non-null   object
 2   Time Frame                                                   3870 non-null   object
 3   Occ%:Business & Financial                                    774 non-null    float64
 4   Occ%:Computer, Mathematical, & Engineering                   774 non-null    float64
 5   Occ%:Education, Legal, Social, Arts, & Media                 774 non-null    float64
 6   Occ%:Food, Property, & Personal Services                     774 non-null    float64
 7   Occ%:Healthcare Practitioners & Technical                    774 non-null    float64
 8   Occ%:Healthcare Support                                      774 non-null    float64
 9   Occ%:Natural Resources, Construction, & Maintenance          774 non-null    float64
 10  Occ%:Production                                              774 non-null    float64
 11  Occ%:Protective Services                                     774 non-null    float64
 12  Occ%:Sales & Office Support                                  774 non-null    float64
 13  Occ%:Transportation & Material Moving                        774 non-null    float64
 14  Occ:Business & Financial                                     774 non-null    float64
 15  Occ:Business & Financial % Change                            3096 non-null   float64
 16  Occ:Business & Financial Change                              3096 non-null   float64
 17  Occ:Computer, Mathematical, & Engineering                    774 non-null    float64
 18  Occ:Computer, Mathematical, & Engineering % Change           3096 non-null   float64
 19  Occ:Computer, Mathematical, & Engineering Change             3096 non-null   float64
 20  Occ:Education, Legal, Social, Arts, & Media                  774 non-null    float64
 21  Occ:Education, Legal, Social, Arts, & Media % Change         3096 non-null   float64
 22  Occ:Education, Legal, Social, Arts, & Media Change           3096 non-null   float64
 23  Occ:Food, Property, & Personal Services                      774 non-null    float64
 24  Occ:Food, Property, & Personal Services % Change             3096 non-null   float64
 25  Occ:Food, Property, & Personal Services Change               3096 non-null   float64
 26  Occ:Healthcare Practitioners & Technical                     774 non-null    float64
 27  Occ:Healthcare Practitioners & Technical % Change            3096 non-null   float64
 28  Occ:Healthcare Practitioners & Technical Change              3096 non-null   float64
 29  Occ:Healthcare Support                                       774 non-null    float64
 30  Occ:Healthcare Support % Change                              3096 non-null   float64
 31  Occ:Healthcare Support Change                                3096 non-null   float64
 32  Occ:Natural Resources, Construction, & Maintenance           774 non-null    float64
 33  Occ:Natural Resources, Construction, & Maintenance % Change  3096 non-null   float64
 34  Occ:Natural Resources, Construction, & Maintenance Change    3096 non-null   float64
 35  Occ:Production                                               774 non-null    float64
 36  Occ:Production % Change                                      3096 non-null   float64
 37  Occ:Production Change                                        3096 non-null   float64
 38  Occ:Protective Services                                      774 non-null    float64
 39  Occ:Protective Services % Change                             3096 non-null   float64
 40  Occ:Protective Services Change                               3096 non-null   float64
 41  Occ:Sales & Office Support                                   774 non-null    float64
 42  Occ:Sales & Office Support % Change                          3096 non-null   float64
 43  Occ:Sales & Office Support Change                            3096 non-null   float64
 44  Occ:Total                                                    774 non-null    float64
 45  Occ:Total % Change                                           3096 non-null   float64
 46  Occ:Total Change                                             3096 non-null   float64
 47  Occ:Transportation & Material Moving                         774 non-null    float64
 48  Occ:Transportation & Material Moving % Change                3096 non-null   float64
 49  Occ:Transportation & Material Moving Change                  3096 non-null   float64
 50  GEO_ID                                                       3060 non-null   object
 51  Source                                                       3870 non-null   object
dtypes: float64(47), object(5)
memory usage: 1.5+ MB

In [69]:
#export to the SQLite database
conn = sq.connect('../../Outputs/Labor_Economy.db')
data.to_sql('JobsEQ_OccupationalEmployment_Annual_Change', conn, if_exists = 'replace', index = False)

3870

The Woods & Poole data that is used more at the county level is only used at the place level for total employment projections. This is for consistency. This is a land use model ultimately, so JobsEQ employment is selected to model place level employment for place of work. This data is derived from the QCEW and other inputs so is selected as a better option - both are modeled so we use the one modeled directly from UI claims rather than land use at this granular of a geography.

To retrieve data:
+ Log into JobsEQ and navigate to the "Data Explorer" function 
+ *load the following query: JEQAnnual_Industry**

The guidance for formatting this query manually is below:  
+ Select the "Industry" dataset, annual  
+ Select the following dimensions: Region, Industry, Year/Quarter, then select "Employment" as the value  
+ Under "Region" select "USA", "Tennessee", GNRC (13), MPO (7), GNRC Region (14), and then under GNRC Region sub all "Counties" and "Census Places"   
+ For "Year/Quarter" select as many as possible  
+ Under "Industry" expand "Total-All Industries" and select the combination of 2 digit NAICS codes and built groups in Jobs EQ as described below, leaving Total as well  

Industries to Select:  
+ Total - All Industries  
(Custom Created Groups *begin to type them as they appear here and they will appear in the search bar, if not then remake the custom group as described below*)  
+ Snapshot 11: Construction (23: Construction)  
+ Snapshot 11: Manufacturing (31: Manufacturing)  
+ Snapshot 11: Information (51: Information)  
+ Snapshot 11: Public Administration (92: Public Administration)  
+ Snapshot 11: Other/Unclassified (81: Other, Except Public Administration, 99: Unclassified)  
+ Snapshot 11: Leisure & Hospitality (71: Arts, Entertainment, & Recreation, 72: Accommodation & Food Services)   
+ Snapshot 11: Education & Health Services (61: Education, 62: Healthcare & Social Assistance)   
+ Snapshot 11: Professional & Business Services (54: Professional, Scientific, & Technical, 55: Management of Companies & Enterprises, 56: Administrative & Support & Waste Management & Remediation)   
+ Snapshot 11: Financial Activities (52: Finance & Insurance, 53: Real Estate & Rental & Leasing)   
+ Snapshot 11: Trade, Transportation & Utilities (42: Wholesale Trade, 44-45: Retail Trade, 48-49: Transportation & Warehousing, 22: Utilities)  
+ Snapshot 11: Natural Resources & Mining (11: Agricultural Activities, Forestry, Fishing, & Hunting, 21: Mining, Quarrying, Oil & Gas) 
+ Snapshot: White Collar  
+ Snapshot: Blue Collar  
+ Snapshot 4: Government  
+ Snapshot 4: Retail & Hospitality  
+ Snapshot 4: Professional Services  
+ Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics  

Select: 'Employment'

This may exceed the drafting size, in which case you'll have to queue for download. Make sure Industry is on the top and Region and Time are on the left side. 

*After loading the query and downloading, resume here*  

Once it is completed, open and delete the top row that says "Industry Data", and delete the third row that repeats "Empl". Delete the "FIPS" column, change "Time" to "Year", and "Region" to "NAME". Select all numerical data and format to "general". Delete metadata at the bottom. Save in the "Data Downloads" folder as "JobsEQ_IndustryEmploymentAnnual_AllGeos.csv"

In [78]:
#import and examine, dtype str so the GEO_ID formatting doesn't get messed up and so that we can split the time column
data = pd.read_csv('../../Data Downloads/JobsEQ_IndustryEmploymentAnnual_AllGeos.csv', dtype = str)
data.head(3)

,NAME,Year,Total - All Industries,Snapshot: Blue Collar,Snapshot: White Collar,Snapshot 11: Information,Snapshot 11: Construction,Snapshot 11: Manufacturing,Snapshot 11: Public Administration,Snapshot 11: Other/Unclassified,Snapshot 11: Leisure & Hospitality,Snapshot 11: Education & Health Services,Snapshot 11: Professional & Business Services,Snapshot 11: Financial Activities,"Snapshot 11: Trade, Transportation, & Utilities",Snapshot 11: Natural Resources & Mining,Snapshot 4: Government,Snapshot 4: Retail & Hospitality,Snapshot 4: Professional Services,"Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics"
0,USA,2001,141306325.3,38834471.94,55852069.3,3878268.435,8912180.533,16739169.03,7041142.738,6855080.969,12834185.56,26555121.25,18317213.8,8600855.94,28715784.21,2857322.859,7041142.738,26428519.67,66698649.9,41138013.01
1,USA,2002,139803504.2,37178089.33,56176710.67,3651345.192,8780878.023,15557016.02,7137276.32,6918331.804,12947416.73,27254062.38,17898061.36,8612536.813,28221663.98,2824915.527,7137276.32,26343612.61,66843777.74,39478837.49
2,USA,2003,139767237.5,36416782.29,56690864.85,3473712.439,8857288.326,14822296.98,7147347.083,7011711.302,13158602.46,27785501.39,17891963.68,8770941.01,28073059.98,2774812.901,7147347.083,26461911.13,67485556.43,38672422.91

In [79]:
#quickly rename to full census geographies
data = data.set_index('NAME').transpose()
data = data.rename(columns = tofullcensus)
data = data.transpose().reset_index(drop = False)

In [80]:
#make a list of years to loop through grouping incorporated and unincorporated areas
times = list(data['Year'].unique())

In [81]:
data = data.set_index(['NAME', 'Year']).transpose()
cols = data.columns
data[cols] = data[cols].astype(float)

In [82]:
#aggregate by double column-headers
for time in times:
    RuthInc = [data[('Eagleville city, Tennessee', '{}'.format(time))],data[('La Vergne city, Tennessee', '{}'.format(time))],
               data[('Murfreesboro city, Tennessee', '{}'.format(time))],data[('Smyrna town, Tennessee', '{}'.format(time))]]
    data[('Rutherford Incorporated', '{}'.format(time))] = sum(RuthInc)
    data[('Rutherford Unincorporated', '{}'.format(time))] = data[('Rutherford County, Tennessee', '{}'.format(time))] - data[('Rutherford Incorporated', '{}'.format(time))]
    WilsonInc = [data[('Lebanon city, Tennessee', '{}'.format(time))],data[('Mount Juliet city, Tennessee', '{}'.format(time))],
                 data[('Watertown city, Tennessee', '{}'.format(time))]]
    data[('Wilson Incorporated', '{}'.format(time))] = sum(WilsonInc)
    data[('Wilson Unincorporated', '{}'.format(time))] = data[('Wilson County, Tennessee', '{}'.format(time))] - data[('Wilson Incorporated', '{}'.format(time))]
    CheathInc = [data[('Ashland City town, Tennessee', '{}'.format(time))],data[('Kingston Springs town, Tennessee', '{}'.format(time))],
                 data[('Pegram town, Tennessee', '{}'.format(time))],data[('Pleasant View city, Tennessee', '{}'.format(time))]]
    data[('Cheatham Incorporated', '{}'.format(time))] = sum(CheathInc)
    data[('Cheatham Unincorporated', '{}'.format(time))] = data[('Cheatham County, Tennessee', '{}'.format(time))] - data[('Cheatham Incorporated', '{}'.format(time))]
    DicksInc = [data[('Burns town, Tennessee', '{}'.format(time))],data[('Charlotte town, Tennessee', '{}'.format(time))],
                data[('Dickson city, Tennessee', '{}'.format(time))],data[('Slayden town, Tennessee', '{}'.format(time))],
                data[('Vanleer town, Tennessee', '{}'.format(time))],data[('White Bluff town, Tennessee', '{}'.format(time))]]
    data[('Dickson Incorporated', '{}'.format(time))] = sum(DicksInc)
    data[('Dickson Unincorporated', '{}'.format(time))] = data[('Dickson County, Tennessee', '{}'.format(time))] - data[('Dickson Incorporated', '{}'.format(time))]
    HumphInc = [data[('McEwen city, Tennessee', '{}'.format(time))],data[('New Johnsonville city, Tennessee', '{}'.format(time))],
                data[('Waverly city, Tennessee', '{}'.format(time))]]
    data[('Humphreys Incorporated', '{}'.format(time))] = sum(HumphInc)
    data[('Humphreys Unincorporated', '{}'.format(time))] = data[('Humphreys County, Tennessee', '{}'.format(time))] - data[('Humphreys Incorporated', '{}'.format(time))]
    data[('Montgomery Incorporated', '{}'.format(time))] = data[('Clarksville city, Tennessee', '{}'.format(time))]
    data[('Montgomery Unincorporated', '{}'.format(time))] = data[('Montgomery County, Tennessee', '{}'.format(time))] - data[('Montgomery Incorporated', '{}'.format(time))]

In [83]:
data = data.transpose()
data.head()

                    Total - All Industries  Snapshot: Blue Collar  Snapshot: White Collar  Snapshot 11: Information  Snapshot 11: Construction  \
NAME          Year
United States 2001             141306325.3            38834471.94             55852069.30               3878268.435                8912180.533
              2002             139803504.2            37178089.33             56176710.67               3651345.192                8780878.023
              2003             139767237.5            36416782.29             56690864.85               3473712.439                8857288.326
              2004             141407560.6            36595037.76             57298446.43               3395314.312                9124554.627
              2005             143710293.3            37115842.35             58354337.83               3352726.674                9514656.814

                    Snapshot 11: Manufacturing  Snapshot 11: Public Administration  Snapshot 11: Other/Unclassified  \
NAME          Year
United States 2001                 16739169.03                         7041142.738                      6855080.969
              2002                 15557016.02                         7137276.320                      6918331.804
              2003                 14822296.98                         7147347.083                      7011711.302
              2004                 14613043.93                         7118854.350                      7102385.265
              2005                 14528052.80                         7149279.661                      7124029.660

                    Snapshot 11: Leisure & Hospitality  Snapshot 11: Education & Health Services  Snapshot 11: Professional & Business Services  \
NAME          Year
United States 2001                         12834185.56                               26555121.25                                    18317213.80
              2002                         12947416.73                               27254062.38                                    17898061.36
              2003                         13158602.46                               27785501.39                                    17891963.68
              2004                         13486787.31                               28234240.74                                    18365801.16
              2005                         13774781.69                               28774741.87                                    18969862.45

                    Snapshot 11: Financial Activities  Snapshot 11: Trade, Transportation, & Utilities  Snapshot 11: Natural Resources & Mining  \
NAME          Year
United States 2001                        8600855.940                                      28715784.21                              2857322.859
              2002                        8612536.813                                      28221663.98                              2824915.527
              2003                        8770941.010                                      28073059.98                              2774812.901
              2004                        8844604.534                                      28313276.95                              2808697.407
              2005                        9030081.874                                      28646637.00                              2845442.792

                    Snapshot 4: Government  Snapshot 4: Retail & Hospitality  Snapshot 4: Professional Services  \
NAME          Year
United States 2001             7041142.738                       26428519.67                        66698649.90
              2002             7137276.320                       26343612.61                        66843777.74
              2003             7147347.083                       26461911.13                        67485556.43
              2004             7118854.350                       26878998.18                        68545268.58
              2005             7149279.661                       27297897.23                        69883408.63

                    Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics
NAME          Year
United States 2001                                        41138013.01
              2002                                        39478837.49
              2003                                        38672422.91
              2004                                        38864439.47
              2005                                        39379707.76

In [84]:
#sum these, note that this categorization for service producing doesn't contain trade, transportation & utilities as that's broken out separately
thelist = [data['Snapshot 11: Natural Resources & Mining'], data['Snapshot 11: Construction'], data['Snapshot 11: Manufacturing']]
data['Goods Producing'] = sum(thelist)
thelist = [data['Snapshot 11: Information'], data['Snapshot 11: Financial Activities'], data['Snapshot 11: Professional & Business Services'], 
           data['Snapshot 11: Education & Health Services'], data['Snapshot 11: Leisure & Hospitality'], data['Snapshot 11: Public Administration'], 
           data['Snapshot 11: Other/Unclassified']]
data['Service Producing'] = sum(thelist)

In [85]:
#resum so that percentages work - data caveat that they would not sum perfectly due to rounding
thelist = [data['Snapshot 11: Construction'], data['Snapshot 11: Manufacturing'], 
           data['Snapshot 11: Information'], data['Snapshot 11: Public Administration'], 
           data['Snapshot 11: Other/Unclassified'], data['Snapshot 11: Leisure & Hospitality'],
           data['Snapshot 11: Education & Health Services'], data['Snapshot 11: Professional & Business Services'], 
           data['Snapshot 11: Financial Activities'], data['Snapshot 11: Trade, Transportation, & Utilities'], data['Snapshot 11: Natural Resources & Mining']]
data['Total - All Industries'] = sum(thelist)

In [86]:
#rename columns to account for the disparity between custom groups and NAICS 2 digit formatting
data = data.rename(columns = {'Total - All Industries': 'Total', 'Snapshot 11: Construction': 'Construction',
                              'Snapshot 11: Manufacturing': 'Manufacturing', 'Snapshot 11: Information': 'Information', 
                              'Snapshot 11: Public Administration': 'Public Administration', 
                              'Snapshot 11: Other/Unclassified': 'Other/Unclassified', 
                              'Snapshot 11: Leisure & Hospitality': 'Leisure & Hospitality', 
                              'Snapshot 11: Education & Health Services': 'Education & Health Services', 
                              'Snapshot 11: Professional & Business Services': 'Professional & Business Services', 
                              'Snapshot 11: Financial Activities': 'Financial Activities', 
                              'Snapshot 11: Trade, Transportation, & Utilities': 'Trade, Transportation, & Utilities', 
                              'Snapshot 11: Natural Resources & Mining': 'Natural Resources & Mining'
                             })

In [87]:
#set the index to year and name so that we can add a prefix to all of the other columns, before resetting the index without dropping
data.reset_index(drop = False, inplace = True)
data = data.set_index(['NAME', 'Year']).add_prefix('Ind:').reset_index(drop = False)

In [88]:
#melt this data down using the columns name and year to distinguish specific instances, and then attributing total employment per occupation
#name it separately because it bugs out if you call this data and merge later
cols = data.columns
thing = data.melt(var_name = 'Industry', id_vars = ['NAME', 'Year'], value_vars = cols, value_name = 'Employment')
thing.head(2)

            NAME  Year   Industry    Employment
0  United States  2001  Ind:Total  1.413063e+08
1  United States  2002  Ind:Total  1.398035e+08

In [89]:
#create a separate dataframe where we will calculate percent of the total for each occupation group
percents = data

In [90]:
#calculate percent of total
percents['Ind:Construction'] = percent(percents['Ind:Construction'], percents['Ind:Total'])
percents['Ind:Manufacturing'] = percent(percents['Ind:Manufacturing'], percents['Ind:Total'])
percents['Ind:Information'] = percent(percents['Ind:Information'], percents['Ind:Total'])
percents['Ind:Public Administration'] = percent(percents['Ind:Public Administration'], percents['Ind:Total'])
percents['Ind:Other/Unclassified'] = percent(percents['Ind:Other/Unclassified'], percents['Ind:Total'])
percents['Ind:Leisure & Hospitality'] = percent(percents['Ind:Leisure & Hospitality'], percents['Ind:Total'])
percents['Ind:Education & Health Services'] = percent(percents['Ind:Education & Health Services'], percents['Ind:Total'])
percents['Ind:Professional & Business Services'] = percent(percents['Ind:Professional & Business Services'], percents['Ind:Total'])
percents['Ind:Financial Activities'] = percent(percents['Ind:Financial Activities'], percents['Ind:Total'])
percents['Ind:Trade, Transportation, & Utilities'] = percent(percents['Ind:Trade, Transportation, & Utilities'], percents['Ind:Total'])
percents['Ind:Natural Resources & Mining'] = percent(percents['Ind:Natural Resources & Mining'], percents['Ind:Total'])
percents['Ind:Goods Producing'] = percent(percents['Ind:Goods Producing'], percents['Ind:Total'])
percents['Ind:Service Producing'] = percent(percents['Ind:Service Producing'], percents['Ind:Total'])
percents['Ind:Snapshot 4: Government'] = percent(percents['Ind:Snapshot 4: Government'], percents['Ind:Total'])
percents['Ind:Snapshot: Blue Collar'] = percent(percents['Ind:Snapshot: Blue Collar'], percents['Ind:Total'])
percents['Ind:Snapshot: White Collar'] = percent(percents['Ind:Snapshot: White Collar'], percents['Ind:Total'])
percents['Ind:Snapshot 4: Retail & Hospitality'] = percent(percents['Ind:Snapshot 4: Retail & Hospitality'], percents['Ind:Total'])
percents['Ind:Snapshot 4: Professional Services'] = percent(percents['Ind:Snapshot 4: Professional Services'], percents['Ind:Total'])
percents['Ind:Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics'] = percent(percents['Ind:Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics'], 
                                                                                      percents['Ind:Total'])

In [91]:
#similarly melt this dataframe
cols = percents.columns
percents = percents.reset_index(drop = False).melt(var_name = 'Industry', id_vars = ['NAME', 'Year'], value_vars = cols, value_name = 'Percent of Employment')
percents.head()

            NAME  Year   Industry  Percent of Employment
0  United States  2001  Ind:Total           1.413063e+08
1  United States  2002  Ind:Total           1.398035e+08
2  United States  2003  Ind:Total           1.397672e+08
3  United States  2004  Ind:Total           1.414076e+08
4  United States  2005  Ind:Total           1.437103e+08

In [92]:
#we never renamed the total column when we duplicated the dataframe for percents, we want this to be null so just transpose, drop it, and transpose back
percents = percents.set_index('Industry').transpose()
percents = percents.drop(columns = 'Ind:Total')
percents = percents.transpose().reset_index(drop = False)

In [93]:
#merge total employment and percent of total employment
data = thing.merge(percents, on = ['Industry', 'Year', 'NAME'], how = 'outer')
data.head(3)

            NAME  Year   Industry    Employment Percent of Employment
0  United States  2001  Ind:Total  1.413063e+08                   NaN
1  United States  2002  Ind:Total  1.398035e+08                   NaN
2  United States  2003  Ind:Total  1.397672e+08                   NaN

In [94]:
#remove the CDPs from the geographies, then transpose and use dictionary from custom module to rename geos beforeresetting the index
data = data.loc[~data['NAME'].str.contains('CDP')]
data = data.set_index('NAME').transpose().reset_index(drop = False)

In [95]:
#set the index to "index" (the variable names) and transpose, then reset the index without dropping it
data = data.set_index('index').transpose().reset_index(drop = False)

In [96]:
data.head()

index           NAME  Year   Industry     Employment Percent of Employment
0      United States  2001  Ind:Total  141306325.324                   NaN
1      United States  2002  Ind:Total  139803504.149                   NaN
2      United States  2003  Ind:Total  139767237.551                   NaN
3      United States  2004  Ind:Total  141407560.585                   NaN
4      United States  2005  Ind:Total  143710293.285                   NaN

In [97]:
#go long to wide
data = pd.pivot(data, index = ['NAME', 'Year'], columns = 'Industry', values = ['Employment', 'Percent of Employment'])

In [98]:
#we'll have to flatten the multicolumns and then rename them to match the header formatting of our other data
data.columns = data.columns.to_flat_index()

In [99]:
#rename
inddict = {('Employment', 'Ind:Education & Health Services'): 'Ind:Education & Health Services', 
           ('Employment', 'Ind:Construction'): 'Ind:Construction', 
           ('Employment', 'Ind:Financial Activities'): 'Ind:Financial Activities',
           ('Employment', 'Ind:Information'): 'Ind:Information', 
           ('Employment', 'Ind:Manufacturing'): 'Ind:Manufacturing', 
           ('Employment', 'Ind:Other/Unclassified'): 'Ind:Other/Unclassified', 
           ('Employment', 'Ind:Public Administration'): 'Ind:Public Administration', 
           ('Employment', 'Ind:Total'): 'Ind:Total', 
           ('Employment', 'Ind:Goods Producing'): 'Ind:Goods Producing', 
           ('Employment', 'Ind:Leisure & Hospitality'): 'Ind:Leisure & Hospitality', 
           ('Employment', 'Ind:Natural Resources & Mining'): 'Ind:Natural Resources & Mining', 
           ('Employment', 'Ind:Professional & Business Services'): 'Ind:Professional & Business Services', 
           ('Employment', 'Ind:Service Producing'): 'Ind:Service Producing', 
           ('Employment', 'Ind:Trade, Transportation, & Utilities'): 'Ind:Trade, Transportation, & Utilities',
           ('Employment', 'Ind:Snapshot 4: Government'): 'Ind:Snapshot: Government',
           ('Employment', 'Ind:Snapshot: Blue Collar'): 'Ind:Snapshot: Blue Collar',
           ('Employment', 'Ind:Snapshot: White Collar'): 'Ind:Snapshot: White Collar',
           ('Employment', 'Ind:Snapshot 4: Retail & Hospitality'): 'Ind:Snapshot: Retail & Hospitality',
           ('Employment', 'Ind:Snapshot 4: Professional Services'): 'Ind:Snapshot: Professional Services',
           ('Employment', 'Ind:Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics'): 'Ind:Snapshot: Industrial, Manufacturing, Utilities, & Logistics',
           ('Percent of Employment', 'Ind:Education & Health Services'): 'Ind%:Education & Health Services',
           ('Percent of Employment', 'Ind:Construction'): 'Ind%:Construction', 
           ('Percent of Employment', 'Ind:Financial Activities'): 'Ind%:Financial Activities',
           ('Percent of Employment', 'Ind:Information'): 'Ind%:Information', 
           ('Percent of Employment', 'Ind:Manufacturing'): 'Ind%:Manufacturing', 
           ('Percent of Employment', 'Ind:Other/Unclassified'): 'Ind%:Other/Unclassified', 
           ('Percent of Employment', 'Ind:Public Administration'): 'Ind%:Public Administration', 
           ('Percent of Employment', 'Ind:Total'): 'Ind%:Total', 
           ('Percent of Employment', 'Ind:Goods Producing'): 'Ind%:Goods Producing', 
           ('Percent of Employment', 'Ind:Leisure & Hospitality'): 'Ind%:Leisure & Hospitality', 
           ('Percent of Employment', 'Ind:Natural Resources & Mining'): 'Ind%:Natural Resources & Mining', 
           ('Percent of Employment', 'Ind:Professional & Business Services'): 'Ind%:Professional & Business Services', 
           ('Percent of Employment', 'Ind:Service Producing'): 'Ind%:Service Producing', 
           ('Percent of Employment', 'Ind:Trade, Transportation, & Utilities'): 'Ind%:Trade, Transportation, & Utilities', 
           ('Percent of Employment', 'Ind:Snapshot 4: Government'): 'Ind%:Snapshot: Government',
           ('Percent of Employment', 'Ind:Snapshot: Blue Collar'): 'Ind%:Snapshot: Blue Collar',
           ('Percent of Employment', 'Ind:Snapshot: White Collar'): 'Ind%:Snapshot: White Collar',
           ('Percent of Employment', 'Ind:Snapshot 4: Retail & Hospitality'): 'Ind%:Snapshot: Retail & Hospitality',
           ('Percent of Employment', 'Ind:Snapshot 4: Professional Services'): 'Ind%:Snapshot: Professional Services',
           ('Percent of Employment', 'Ind:Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics'): 'Ind%:Snapshot: Industrial, Manufacturing, Utilities, & Logistics'
           }
data = data.rename(columns = inddict)
data = data.reset_index(drop = False)

In [100]:
#make sure we have full census names
data = data.set_index('NAME').transpose()
data = data.rename(columns = tofullcensus)
data = data.transpose().reset_index(drop = False)

In [101]:
data.head(2)

,NAME,Year,Ind:Construction,Ind:Education & Health Services,Ind:Financial Activities,Ind:Goods Producing,Ind:Information,Ind:Leisure & Hospitality,Ind:Manufacturing,Ind:Natural Resources & Mining,Ind:Other/Unclassified,Ind:Professional & Business Services,Ind:Public Administration,Ind:Service Producing,Ind:Snapshot: Government,"Ind:Snapshot: Industrial, Manufacturing, Utilities, & Logistics",Ind:Snapshot: Professional Services,Ind:Snapshot: Retail & Hospitality,Ind:Snapshot: Blue Collar,Ind:Snapshot: White Collar,Ind:Total,"Ind:Trade, Transportation, & Utilities",Ind%:Construction,Ind%:Education & Health Services,Ind%:Financial Activities,Ind%:Goods Producing,Ind%:Information,Ind%:Leisure & Hospitality,Ind%:Manufacturing,Ind%:Natural Resources & Mining,Ind%:Other/Unclassified,Ind%:Professional & Business Services,Ind%:Public Administration,Ind%:Service Producing,Ind%:Snapshot: Government,"Ind%:Snapshot: Industrial, Manufacturing, Utilities, & Logistics",Ind%:Snapshot: Professional Services,Ind%:Snapshot: Retail & Hospitality,Ind%:Snapshot: Blue Collar,Ind%:Snapshot: White Collar,Ind%:Total,"Ind%:Trade, Transportation, & Utilities"
0,"Adams city, Tennessee",2001,0.38355,0.216182,0.199042,1.782378,0.000755,0.164992,0.001935,1.396893,2.105875,0.554439,15.649737,18.891022,15.649737,12.354024,3.241153,2.403308,10.95713,16.530456,33.648222,12.974821,1.139882,0.642475,0.591538,5.297094,0.002243,0.490345,0.00575,4.151462,6.258503,1.647751,46.50985,56.142706,46.50985,36.715235,9.632465,7.14245,32.563773,49.127279,NaN,38.5602
1,"Adams city, Tennessee",2002,0.372381,0.211523,0.20454,1.759003,0.001706,0.161598,0.003036,1.383587,1.770112,0.540403,16.764184,19.654066,16.764184,11.116233,2.889753,2.474226,9.73272,17.634467,33.244394,11.831326,1.120131,0.636267,0.615263,5.291127,0.005131,0.486092,0.009131,4.161866,5.324542,1.625547,50.427098,59.119939,50.427098,33.437916,8.692451,7.442534,29.276273,53.044933,NaN,35.588934

In [102]:
#make sure year is formatted as an integer and generate list of years and all possible time frames
data['Year'] = data['Year'].astype(int)
#create a list of years from the dataframe to pass through our "generate time frames" function to create a list of all possible time frames - need this here for later
years = list(data['Year'].unique().astype(int))
time_frames = generate_time_frames(years)

In [103]:
#create a multilevel column header with year and placeholder for time frames
#pivot the table and create a multiindex of year and column header
cols = list(data.columns)
cols.remove('NAME')
cols.remove('Year')
df_pivot = data.pivot_table(index = 'NAME', columns = ['Year'], values = cols)
df_pivot.head(2)

                             Ind%:Construction                                                                                                       \
Year                                      2001      2002      2003      2004      2005       2006      2007      2008      2009      2010      2011
NAME
Adams city, Tennessee                 1.139882  1.120131  0.928107  0.779861  0.552338  10.339906  0.420782  0.355615  0.413163  7.216010  6.178453
Ashland City town, Tennessee          6.564724  5.263736  3.831064  3.564937  3.841972   4.194350  2.435508  2.409556  2.760593  2.633429  2.609661

                                                                                                                                            \
Year                              2012      2013      2014      2015      2016      2017      2018      2019      2020      2021      2022
NAME
Adams city, Tennessee         0.446641  2.915054  0.348886  6.054197  2.351477  2.202285  2.654073  0.517368  3.317016  3.412854  3.459101
Ashland City town, Tennessee  3.042124  3.355103  3.607253  2.091791  1.872051  1.994972  2.055946  3.317894  2.407220  2.415015  2.639809

                             Ind%:Education & Health Services                                                                                  \
Year                                                     2001      2002      2003      2004      2005      2006      2007      2008      2009
NAME
Adams city, Tennessee                                0.642475  0.636267  0.515166  0.433192  0.325713  0.443120  0.507097  0.238349  0.359815
Ashland City town, Tennessee                        10.858217  8.703648  8.086868  8.032417  8.543300  7.165599  7.918047  7.414795  7.996406

                                                                                                                                                     \
Year                              2010       2011       2012       2013       2014       2015       2016       2017       2018       2019      2020
NAME
Adams city, Tennessee         0.760582  19.895576  24.759166  27.924843  25.460818  23.034189  22.795114  24.901019  25.720949  23.742303  6.279033
Ashland City town, Tennessee  8.744628   7.897518   8.725147   9.029418   9.952656   8.723468   8.579080   8.617972   7.962309   7.906226  7.755924

                                                 Ind%:Financial Activities                                                                          \
Year                              2021      2022                      2001      2002      2003      2004       2005      2006       2007      2008
NAME
Adams city, Tennessee         6.828690  6.548316                  0.591538  0.615263  1.751128  0.330795  21.603882  6.916420  11.741138  7.831860
Ashland City town, Tennessee  7.819367  7.785223                  3.916684  3.333328  3.762979  3.555864   3.148324  3.225533   3.654649  3.663823

                                                                                                                                            \
Year                              2009      2010      2011      2012      2013      2014      2015      2016      2017      2018      2019
NAME
Adams city, Tennessee         6.436673  0.975878  0.384471  0.281430  0.250875  0.206422  0.290581  0.561249  3.133883  5.071983  6.149845
Ashland City town, Tennessee  3.142706  3.698805  3.515350  3.612263  3.896136  4.012749  3.501340  3.021786  2.688072  3.025990  2.378483

                                                           Ind%:Goods Producing                                                                    \
Year                              2020      2021      2022                 2001       2002       2003       2004       2005       2006       2007
NAME
Adams city, Tennessee         7.241247  6.995893  7.765586             5.297094   5.291127   3.904416   3.219860   2.355319  12.545689   1.366258
Ashland City town, Tennessee  2.298434  2.482920  2.605431            50.784890  57.982861  57.811297  56.242727  56.025470  56.554801  53.611650

                                                                                                                                            \
Year                               2008       2009       2010       2011       2012       2013       2014       2015       2016       2017
NAME
Adams city, Tennessee          1.250152   1.499258   8.481662   7.648458   1.910881   4.321164   1.535338   7.290240   3.626547   3.490232
Ashland City town, Tennessee  51.819586  49.397945  47.431778  46.181546  47.174665  48.757284  50.958696  48.294335  39.748223  43.338338

                                                                                    Ind%:Information                                          \
Year                               2018       2019       2020       2021       2022             2001      2002      2003      2004      2005
NAME
Adams city, Tennessee          3.953546   1.958157   4.993379   4.974283   5.038121         0.002243  0.005131  0.019976  0.016156  0.000628
Ashland City town, Tennessee  43.727708  48.029771  49.587105  49.046190  49.214243         0.660502  0.538488  0.851730  0.626241  0.732590

                                                                                                                                            \
Year                              2006      2007      2008      2009      2010      2011      2012      2013      2014      2015      2016
NAME
Adams city, Tennessee         0.050457  0.023587  0.020589  0.095760  0.048984  0.060729  0.032662  0.001768  0.064683  0.049382  0.025205
Ashland City town, Tennessee  0.775697  0.571639  0.511540  0.642807  0.555871  0.528077  0.386086  0.469764  0.466869  0.399612  0.413579

                                                                                         Ind%:Leisure & Hospitality                                \
Year                              2017      2018      2019      2020      2021      2022                       2001      2002      2003      2004
NAME
Adams city, Tennessee         0.044761  0.000723  0.050054  0.060156  0.046436  0.044393                   0.490345  0.486092  3.474888  1.157551
Ashland City town, Tennessee  0.309210  0.384558  0.380822  0.338118  0.373328  0.452838                   5.309238  5.654087  5.571258  4.660166

                                                                                                                                              \
Year                              2005      2006      2007      2008      2009      2010      2011      2012      2013       2014       2015
NAME
Adams city, Tennessee         1.426419  0.312582  0.245217  0.214857  0.418965  0.916069  5.827681  1.919702  2.873351  21.841012  23.375386
Ashland City town, Tennessee  5.169037  5.052846  5.242963  5.355385  6.074248  5.779811  5.593916  7.396621  7.862880   8.161422   7.377217

                                                                                                          Ind%:Manufacturing                        \
Year                               2016       2017       2018       2019       2020       2021       2022               2001       2002       2003
NAME
Adams city, Tennessee         15.406302  13.146701  15.251625  14.782588  14.926582  17.967863  18.597806           0.005750   0.009131   0.006807
Ashland City town, Tennessee   6.943116   7.551581   7.931975   7.596849   7.411844   7.171610   7.374640          43.292274  51.870450  53.704876

                                                                                                                                            \
Year                               2004       2005       2006       2007       2008       2009       2010       2011       2012       2013
NAME
Adams city, Tennessee          0.005270   0.150535   0.894691   0.000689   0.007659   0.000855   0.025456   0.031801   0.031945   0.030995
Ashland City town, Tennessee  52.430974  51.961099  50.783504  50.046675  47.286970  45.474852  43.653485  41.523847  42.239670  45.218199

                                                                                                                                 \
Year                               2014       2015       2016       2017       2018       2019       2020       2021       2022
NAME
Adams city, Tennessee          0.001429   0.006116   0.001063   0.000968   0.000913   0.000928   0.001018   0.001122   0.001075
Ashland City town, Tennessee  45.886979  44.434751  37.705761  41.189852  41.529285  44.578089  47.045180  46.502113  46.440875

                             Ind%:Natural Resources & Mining                                                                                  \
Year                                                    2001      2002      2003      2004      2005      2006      2007      2008      2009
NAME
Adams city, Tennessee                               4.151462  4.161866  2.969503  2.434729  1.652447  1.311092  0.944787  0.886878  1.085240
Ashland City town, Tennessee                        0.927891  0.848675  0.275356  0.246816  0.222398  1.576947  1.129467  2.123061  1.162501

                                                                                                                                            \
Year                              2010      2011      2012      2013      2014      2015      2016      2017      2018      2019      2020
NAME
Adams city, Tennessee         1.240196  1.438204  1.432295  1.375115  1.185023  1.229927  1.274008  1.286979  1.298559  1.439861  1.675346
Ashland City town, Tennessee  1.144864  2.048038  1.892871  0.183983  1.464464  1.767793  0.170410  0.153514  0.142477  0.133788  0.134705

                                                 Ind%:Other/Unclassified                                                                          \
Year                              2021      2022                    2001      2002      2003      2004      2005      2006       2007       2008
NAME
Adams city, Tennessee         1.560307  1.577944                6.258503  5.324542  4.219358  4.633580  3.152207  3.191183  13.107754  11.911107
Ashland City town, Tennessee  0.129062  0.133560                1.694321  1.742779  2.220383  2.251134  2.032802  2.336358   1.829005   2.246267

                                                                                                                                              \
Year                               2009       2010      2011      2012      2013      2014      2015      2016      2017      2018      2019
NAME
Adams city, Tennessee         15.765798  12.341313  4.210388  4.472054  2.118863  0.217703  2.240666  2.718602  3.125148  3.296965  4.086828
Ashland City town, Tennessee   2.381227   2.295742  1.735237  1.667973  1.262952  1.101129  0.751774  1.233990  0.737467  0.932396  0.767273

                                                           Ind%:Professional & Business Services                                                    \
Year                              2020      2021      2022                                  2001      2002      2003      2004      2005      2006
NAME
Adams city, Tennessee         7.492432  7.288171  7.300850                              1.647751  1.625547  1.335394  1.122215  0.715381  0.831448
Ashland City town, Tennessee  1.070724  0.971734  1.076957                              3.001238  2.754975  2.682684  2.455648  2.370724  2.847181

                                                                                                                                            \
Year                              2007      2008      2009      2010      2011      2012      2013      2014      2015      2016      2017
NAME
Adams city, Tennessee         1.154380  0.915987  1.976473  1.494928  1.336018  3.308655  1.648318  3.009217  0.923676  2.685637  1.322287
Ashland City town, Tennessee  3.818578  4.035441  4.257328  4.339467  4.815309  5.762176  4.919860  4.772532  5.901615  7.563710  6.099197

                                                                               Ind%:Public Administration                                   \
Year                              2018      2019      2020      2021      2022                       2001       2002       2003       2004
NAME
Adams city, Tennessee         1.371226  1.930380  1.624293  1.694490  1.623706                  46.509850  50.427098  42.177830  38.771909
Ashland City town, Tennessee  8.306520  5.573757  3.750930  4.723373  3.636706                   6.257672   5.576886   5.980903   5.651955

                                                                                                                                                 \
Year                               2005       2006       2007       2008       2009      2010      2011      2012      2013      2014      2015
NAME
Adams city, Tennessee         26.186624  23.605351  22.701350  19.934459  11.452946  5.485382  5.640551  6.965001  6.103832  4.850065  8.851299
Ashland City town, Tennessee   5.263598   5.587559   4.287924   4.284318   4.584556  5.480906  7.061245  7.464099  7.864343  8.195367  8.933369

                                                                                                     Ind%:Service Producing                        \
Year                               2016       2017      2018      2019      2020      2021      2022                   2001       2002       2003
NAME
Adams city, Tennessee         16.021400  11.270133  6.599981  5.208151  4.560610  4.095151  4.509373              56.142706  59.119939  53.493739
Ashland City town, Tennessee   9.025167   9.041534  8.690490  8.641186  8.842112  8.895571  8.782328              31.697873  28.304191  29.156806

                                                                                                                                            \
Year                               2004       2005       2006       2007       2008       2009       2010       2011       2012       2013
NAME
Adams city, Tennessee         46.465397  53.410854  35.350562  49.480524  41.067208  36.506431  22.023136  37.355415  41.738669  40.921852
Ashland City town, Tennessee  27.233426  27.260374  26.990773  27.322804  27.511569  29.079279  30.895230  31.146651  35.014365  35.305353

                                                                                                                                 \
Year                               2014       2015       2016       2017       2018       2019       2020       2021       2022
NAME
Adams city, Tennessee         55.649920  58.765180  60.213509  56.943932  57.313452  55.950149  42.184352  44.916694  46.390029
Ashland City town, Tennessee  36.662723  35.588395  36.780428  35.045033  37.234237  33.244597  31.468086  32.437903  31.714123

                             Ind%:Snapshot: Blue Collar                                                                                          \
Year                                               2001       2002       2003       2004       2005       2006       2007       2008       2009
NAME
Adams city, Tennessee                         32.563773  29.276273  33.508641  36.458535  31.942166  51.125781  37.574777  43.751521  44.196614
Ashland City town, Tennessee                  56.425247  61.746058  61.117620  61.101225  61.606748  60.861203  60.820508  60.327142  59.232612

                                                                                                                                            \
Year                               2010       2011       2012       2013       2014       2015       2016       2017       2018       2019
NAME
Adams city, Tennessee         48.051413  24.686145  18.308140  24.962273  18.024329  13.517609   8.967263   4.666297   5.412097   2.752856
Ashland City town, Tennessee  58.177455  56.810943  58.152911  59.426308  56.005710  57.384882  50.085495  51.247163  50.791718  54.914493

                                                              Ind%:Snapshot: Government                                                         \
Year                               2020       2021       2022                      2001       2002       2003       2004       2005       2006
NAME
Adams city, Tennessee          5.350248   5.332998   5.330069                 46.509850  50.427098  42.177830  38.771909  26.186624  23.605351
Ashland City town, Tennessee  56.592134  55.866436  56.318683                  6.257672   5.576886   5.980903   5.651955   5.263598   5.587559

                                                                                                                                                 \
Year                               2007       2008       2009      2010      2011      2012      2013      2014      2015       2016       2017
NAME
Adams city, Tennessee         22.701350  19.934459  11.452946  5.485382  5.640551  6.965001  6.103832  4.850065  8.851299  16.021400  11.270133
Ashland City town, Tennessee   4.287924   4.284318   4.584556  5.480906  7.061245  7.464099  7.864343  8.195367  8.933369   9.025167   9.041534

                                                                               Ind%:Snapshot: Industrial, Manufacturing, Utilities, & Logistics  \
Year                              2018      2019      2020      2021      2022                                                             2001
NAME
Adams city, Tennessee         6.599981  5.208151  4.560610  4.095151  4.509373                                          36.715235
Ashland City town, Tennessee  8.690490  8.641186  8.842112  8.895571  8.782328                                          57.336394

                                                                                                                                            \
Year                               2002       2003       2004       2005       2006       2007       2008       2009       2010       2011
NAME
Adams city, Tennessee         33.437916  36.477971  38.893264  33.594501  52.436688  38.519486  44.638253  45.281443  49.291608  26.124302
Ashland City town, Tennessee  62.579721  61.376825  61.333261  61.820998  62.427204  61.943201  62.442326  60.248622  59.308541  58.842308

                                                                                                                                            \
Year                               2012       2013       2014       2015       2016       2017       2018       2019       2020       2021
NAME
Adams city, Tennessee         19.740230  26.336718  19.208749  14.747169  10.241271   5.953277   6.710656   4.192717   7.025594   6.893045
Ashland City town, Tennessee  60.029911  59.584461  57.447857  59.130138  50.243712  51.392066  50.927145  55.037909  56.720324  55.989116

                                        Ind%:Snapshot: Professional Services                                                                    \
Year                               2022                                 2001       2002       2003       2004       2005       2006       2007
NAME
Adams city, Tennessee          6.908013                             9.632465   8.692451   8.234191   6.891301  26.046701  11.666740  26.761309
Ashland City town, Tennessee  56.441465                            20.209124  17.141000  17.957633  16.990445  17.219736  16.729121  18.144091

                                                                                                                                            \
Year                               2008       2009       2010       2011       2012       2013       2014       2015       2016       2017
NAME
Adams city, Tennessee         21.132642  24.882648  15.920070  26.193668  33.227195  32.305845  29.264350  26.832709  29.133596  32.940113

In [104]:
#add a level to the multiindex to accomodate the time period metrics
df_pivot.columns = pd.MultiIndex.from_tuples([(col[0], col[1], 'None') for col in df_pivot.columns])
df_pivot.head(3)

                             Ind%:Construction                                                                                                       \
                                          2001      2002      2003      2004      2005       2006      2007      2008      2009      2010      2011
                                          None      None      None      None      None       None      None      None      None      None      None
NAME
Adams city, Tennessee                 1.139882  1.120131  0.928107  0.779861  0.552338  10.339906  0.420782  0.355615  0.413163  7.216010  6.178453
Ashland City town, Tennessee          6.564724  5.263736  3.831064  3.564937  3.841972   4.194350  2.435508  2.409556  2.760593  2.633429  2.609661
Belle Meade city, Tennessee           1.070429  1.005908  1.523918  1.072889  1.003974   2.642801  1.421578  1.529968  1.240862  1.636436  3.002117

                                                                                                                                            \
                                  2012      2013      2014      2015      2016      2017      2018      2019      2020      2021      2022
                                  None      None      None      None      None      None      None      None      None      None      None
NAME
Adams city, Tennessee         0.446641  2.915054  0.348886  6.054197  2.351477  2.202285  2.654073  0.517368  3.317016  3.412854  3.459101
Ashland City town, Tennessee  3.042124  3.355103  3.607253  2.091791  1.872051  1.994972  2.055946  3.317894  2.407220  2.415015  2.639809
Belle Meade city, Tennessee   1.109671  1.052163  1.426193  2.850584  1.514652  1.882281  1.789059  1.728388  2.473149  2.435572  2.304578

                             Ind%:Education & Health Services                                                                                  \
                                                         2001      2002      2003      2004      2005      2006      2007      2008      2009
                                                         None      None      None      None      None      None      None      None      None
NAME
Adams city, Tennessee                                0.642475  0.636267  0.515166  0.433192  0.325713  0.443120  0.507097  0.238349  0.359815
Ashland City town, Tennessee                        10.858217  8.703648  8.086868  8.032417  8.543300  7.165599  7.918047  7.414795  7.996406
Belle Meade city, Tennessee                          4.749518  4.998682  3.932546  4.808057  3.105113  3.213938  3.909409  3.679228  2.542554

                                                                                                                                                     \
                                  2010       2011       2012       2013       2014       2015       2016       2017       2018       2019      2020
                                  None       None       None       None       None       None       None       None       None       None      None
NAME
Adams city, Tennessee         0.760582  19.895576  24.759166  27.924843  25.460818  23.034189  22.795114  24.901019  25.720949  23.742303  6.279033
Ashland City town, Tennessee  8.744628   7.897518   8.725147   9.029418   9.952656   8.723468   8.579080   8.617972   7.962309   7.906226  7.755924
Belle Meade city, Tennessee   3.281065   2.453717   4.866056   5.806137   5.364018   5.429748   5.222669   2.513487   4.554185   3.744101  4.497100

                                                 Ind%:Financial Activities                                                                          \
                                  2021      2022                      2001      2002      2003      2004       2005      2006       2007      2008
                                  None      None                      None      None      None      None       None      None       None      None
NAME
Adams city, Tennessee         6.828690  6.548316                  0.591538  0.615263  1.751128  0.330795  21.603882  6.916420  11.741138  7.831860
Ashland City town, Tennessee  7.819367  7.785223                  3.916684  3.333328  3.762979  3.555864   3.148324  3.225533   3.654649  3.663823
Belle Meade city, Tennessee   4.350946  4.007151                  2.985842  2.762999  2.689713  2.772471   1.604839  1.603092   1.339580  1.995040

                                                                                                                                            \
                                  2009      2010      2011      2012      2013      2014      2015      2016      2017      2018      2019
                                  None      None      None      None      None      None      None      None      None      None      None
NAME
Adams city, Tennessee         6.436673  0.975878  0.384471  0.281430  0.250875  0.206422  0.290581  0.561249  3.133883  5.071983  6.149845
Ashland City town, Tennessee  3.142706  3.698805  3.515350  3.612263  3.896136  4.012749  3.501340  3.021786  2.688072  3.025990  2.378483
Belle Meade city, Tennessee   1.760702  1.811541  5.044209  1.340714  1.651484  2.118686  1.406275  1.278611  1.577543  2.035978  2.370309

                                                           Ind%:Goods Producing                                                                    \
                                  2020      2021      2022                 2001       2002       2003       2004       2005       2006       2007
                                  None      None      None                 None       None       None       None       None       None       None
NAME
Adams city, Tennessee         7.241247  6.995893  7.765586             5.297094   5.291127   3.904416   3.219860   2.355319  12.545689   1.366258
Ashland City town, Tennessee  2.298434  2.482920  2.605431            50.784890  57.982861  57.811297  56.242727  56.025470  56.554801  53.611650
Belle Meade city, Tennessee   2.386433  2.350670  2.258645             1.133769   1.064814   1.571228   1.439314   1.772473   3.430058   1.864053

                                                                                                                                            \
                                   2008       2009       2010       2011       2012       2013       2014       2015       2016       2017
                                   None       None       None       None       None       None       None       None       None       None
NAME
Adams city, Tennessee          1.250152   1.499258   8.481662   7.648458   1.910881   4.321164   1.535338   7.290240   3.626547   3.490232
Ashland City town, Tennessee  51.819586  49.397945  47.431778  46.181546  47.174665  48.757284  50.958696  48.294335  39.748223  43.338338
Belle Meade city, Tennessee    2.018307   1.457122   2.030416   3.187727   1.217435   2.415287   2.046378   2.882671   2.785488   3.784838

                                                                                    Ind%:Information                                          \
                                   2018       2019       2020       2021       2022             2001      2002      2003      2004      2005
                                   None       None       None       None       None             None      None      None      None      None
NAME
Adams city, Tennessee          3.953546   1.958157   4.993379   4.974283   5.038121         0.002243  0.005131  0.019976  0.016156  0.000628
Ashland City town, Tennessee  43.727708  48.029771  49.587105  49.046190  49.214243         0.660502  0.538488  0.851730  0.626241  0.732590
Belle Meade city, Tennessee    4.706719   4.703539   5.982975   5.720997   5.527835         0.542657  0.500612  0.152586  0.343964  0.483697

                                                                                                                                            \
                                  2006      2007      2008      2009      2010      2011      2012      2013      2014      2015      2016
                                  None      None      None      None      None      None      None      None      None      None      None
NAME
Adams city, Tennessee         0.050457  0.023587  0.020589  0.095760  0.048984  0.060729  0.032662  0.001768  0.064683  0.049382  0.025205
Ashland City town, Tennessee  0.775697  0.571639  0.511540  0.642807  0.555871  0.528077  0.386086  0.469764  0.466869  0.399612  0.413579
Belle Meade city, Tennessee   0.252573  0.220264  0.537366  0.277114  0.337163  0.421142  0.151898  0.146134  0.417357  0.351255  0.430064

                                                                                         Ind%:Leisure & Hospitality                        \
                                  2017      2018      2019      2020      2021      2022                       2001       2002       2003
                                  None      None      None      None      None      None                       None       None       None
NAME
Adams city, Tennessee         0.044761  0.000723  0.050054  0.060156  0.046436  0.044393                   0.490345   0.486092   3.474888
Ashland City town, Tennessee  0.309210  0.384558  0.380822  0.338118  0.373328  0.452838                   5.309238   5.654087   5.571258
Belle Meade city, Tennessee   0.671195  0.248818  0.439807  1.720697  1.632036  1.689041                  36.722790  37.390664  40.134944

                                                                                                                                            \
                                   2004       2005       2006       2007       2008       2009       2010       2011       2012       2013
                                   None       None       None       None       None       None       None       None       None       None
NAME
Adams city, Tennessee          1.157551   1.426419   0.312582   0.245217   0.214857   0.418965   0.916069   5.827681   1.919702   2.873351
Ashland City town, Tennessee   4.660166   5.169037   5.052846   5.242963   5.355385   6.074248   5.779811   5.593916   7.396621   7.862880
Belle Meade city, Tennessee   40.287101  41.374888  43.419204  35.119235  37.392614  36.356401  37.798801  34.673708  37.224887  40.053386

                                                                                                                                Ind%:Manufacturing  \
                                   2014       2015       2016       2017       2018       2019       2020       2021       2022               2001
                                   None       None       None       None       None       None       None       None       None               None
NAME
Adams city, Tennessee         21.841012  23.375386  15.406302  13.146701  15.251625  14.782588  14.926582  17.967863  18.597806           0.005750
Ashland City town, Tennessee   8.161422   7.377217   6.943116   7.551581   7.931975   7.596849   7.411844   7.171610   7.374640          43.292274
Belle Meade city, Tennessee   41.485330  45.762165  46.291752  50.541585  49.789138  51.976385  43.681346  45.433367  48.271868           0.024604

                                                                                                                                            \
                                   2002       2003       2004       2005       2006       2007       2008       2009       2010       2011
                                   None       None       None       None       None       None       None       None       None       None
NAME
Adams city, Tennessee          0.009131   0.006807   0.005270   0.150535   0.894691   0.000689   0.007659   0.000855   0.025456   0.031801
Ashland City town, Tennessee  51.870450  53.704876  52.430974  51.961099  50.783504  50.046675  47.286970  45.474852  43.653485  41.523847
Belle Meade city, Tennessee    0.023638   0.023956   0.342695   0.745086   0.768220   0.426209   0.460709   0.151995   0.384359   0.177538

                                                                                                                                            \
                                   2012       2013       2014       2015       2016       2017       2018       2019       2020       2021
                                   None       None       None       None       None       None       None       None       None       None
NAME
Adams city, Tennessee          0.031945   0.030995   0.001429   0.006116   0.001063   0.000968   0.000913   0.000928   0.001018   0.001122
Ashland City town, Tennessee  42.239670  45.218199  45.886979  44.434751  37.705761  41.189852  41.529285  44.578089  47.045180  46.502113
Belle Meade city, Tennessee    0.099713   1.355581   0.613086   0.024638   1.263376   1.062091   2.397439   2.557327   2.918625   2.805915

                                        Ind%:Natural Resources & Mining                                                                        \
                                   2022                            2001      2002      2003      2004      2005      2006      2007      2008
                                   None                            None      None      None      None      None      None      None      None
NAME
Adams city, Tennessee          0.001075                        4.151462  4.161866  2.969503  2.434729  1.652447  1.311092  0.944787  0.886878
Ashland City town, Tennessee  46.440875                        0.927891  0.848675  0.275356  0.246816  0.222398  1.576947  1.129467  2.123061
Belle Meade city, Tennessee    2.700684                        0.038736  0.035268  0.023354  0.023730  0.023413  0.019037  0.016267  0.027630

                                                                                                                                            \
                                  2009      2010      2011      2012      2013      2014      2015      2016      2017      2018      2019
                                  None      None      None      None      None      None      None      None      None      None      None
NAME
Adams city, Tennessee         1.085240  1.240196  1.438204  1.432295  1.375115  1.185023  1.229927  1.274008  1.286979  1.298559  1.439861
Ashland City town, Tennessee  1.162501  1.144864  2.048038  1.892871  0.183983  1.464464  1.767793  0.170410  0.153514  0.142477  0.133788
Belle Meade city, Tennessee   0.064265  0.009621  0.008073  0.008051  0.007543  0.007099  0.007450  0.007460  0.840467  0.520221  0.417824

                                                           Ind%:Other/Unclassified                                                         \
                                  2020      2021      2022                    2001       2002       2003       2004       2005       2006
                                  None      None      None                    None       None       None       None       None       None
NAME
Adams city, Tennessee         1.675346  1.560307  1.577944                6.258503   5.324542   4.219358   4.633580   3.152207   3.191183
Ashland City town, Tennessee  0.134705  0.129062  0.133560                1.694321   1.742779   2.220383   2.251134   2.032802   2.336358
Belle Meade city, Tennessee   0.591200  0.479509  0.522574               27.726717  28.830022  27.557555  27.165061  29.064738  27.099385

                                                                                                                                            \
                                   2007       2008       2009       2010       2011       2012       2013       2014       2015       2016
                                   None       None       None       None       None       None       None       None       None       None
NAME
Adams city, Tennessee         13.107754  11.911107  15.765798  12.341313   4.210388   4.472054   2.118863   0.217703   2.240666   2.718602
Ashland City town, Tennessee   1.829005   2.246267   2.381227   2.295742   1.735237   1.667973   1.262952   1.101129   0.751774   1.233990
Belle Meade city, Tennessee   34.428389  29.526347  32.684863  29.061534  29.122254  33.886164  29.420569  30.023918  27.183315  29.131948

                                                                                               Ind%:Professional & Business Services            \
                                   2017       2018       2019       2020       2021       2022                                  2001      2002
                                   None       None       None       None       None       None                                  None      None
NAME
Adams city, Tennessee          3.125148   3.296965   4.086828   7.492432   7.288171   7.300850                              1.647751  1.625547
Ashland City town, Tennessee   0.737467   0.932396   0.767273   1.070724   0.971734   1.076957                              3.001238  2.754975
Belle Meade city, Tennessee   23.923677  22.523599  21.594484  21.713146  21.157448  20.158116                              6.349134  6.230376

                                                                                                                                            \
                                  2003      2004      2005      2006      2007      2008      2009      2010      2011      2012      2013
                                  None      None      None      None      None      None      None      None      None      None      None
NAME
Adams city, Tennessee         1.335394  1.122215  0.715381  0.831448  1.154380  0.915987  1.976473  1.494928  1.336018  3.308655  1.648318
Ashland City town, Tennessee  2.682684  2.455648  2.370724  2.847181  3.818578  4.035441  4.257328  4.339467  4.815309  5.762176  4.919860
Belle Meade city, Tennessee   3.755997  3.659607  3.180939  4.404670  4.378132  5.828557  4.865379  6.126168  4.560078  3.461665  2.531881

                                                                                                                       Ind%:Public Administration  \
                                  2014      2015      2016      2017      2018      2019      2020      2021      2022                       2001
                                  None      None      None      None      None      None      None      None      None                       None
NAME
Adams city, Tennessee         3.009217  0.923676  2.685637  1.322287  1.371226  1.930380  1.624293  1.694490  1.623706                  46.509850
Ashland City town, Tennessee  4.772532  5.901615  7.563710  6.099197  8.306520  5.573757  3.750930  4.723373  3.636706                   6.257672
Belle Meade city, Tennessee   2.970161  1.985716  1.700287  2.243229  2.467473  1.978793  4.972038  5.045465  4.966800                   2.964937

                                                                                                                                                    \
                                   2002       2003       2004       2005       2006       2007       2008       2009      2010      2011      2012
                                   None       None       None       None       None       None       None       None      None      None      None
NAME
Adams city, Tennessee         50.427098  42.177830  38.771909  26.186624  23.605351  22.701350  19.934459  11.452946  5.485382  5.640551  6.965001
Ashland City town, Tennessee   5.576886   5.980903   5.651955   5.263598   5.587559   4.287924   4.284318   4.584556  5.480906  7.061245  7.464099
Belle Meade city, Tennessee    2.982266   2.887249   3.022349   2.805219   2.714620   2.699750   3.045676   2.846806  3.772976  3.492654  3.559168

                                                                                                                                    \

In [105]:
#get a list of the varaibles to loop through by indexing into the first level only of the column headers
first_level = df_pivot.columns.get_level_values(0).unique().tolist()
# first_level.remove('NAME')
# first_level.remove('Year')
#remove percentages - don't want change metrics on them
first_level = [item for item in first_level if '%' not in item]

In [106]:
#pass the dataframe, the list of variables, time frames, and years through the "calculate change" function
data = calculate_changes(df_pivot, first_level, time_frames = time_frames, years = years)

In [107]:
#reformat and rename columns
data = data.stack([1, 1])
data = data.reset_index(drop = False)
data = data.rename(columns = {'level_1':'Year', 'level_2':'Time Frame'})

In [108]:
#map to geoid dictionary from module and add source
data['GEO_ID'] = data['NAME'].map(geotogeoid)
data['Source'] = 'JobsEQ'

In [109]:
#final check
data.head()

,NAME,Year,Time Frame,Ind%:Construction,Ind%:Education & Health Services,Ind%:Financial Activities,Ind%:Goods Producing,Ind%:Information,Ind%:Leisure & Hospitality,Ind%:Manufacturing,Ind%:Natural Resources & Mining,Ind%:Other/Unclassified,Ind%:Professional & Business Services,Ind%:Public Administration,Ind%:Service Producing,Ind%:Snapshot: Blue Collar,Ind%:Snapshot: Government,"Ind%:Snapshot: Industrial, Manufacturing, Utilities, & Logistics",Ind%:Snapshot: Professional Services,Ind%:Snapshot: Retail & Hospitality,Ind%:Snapshot: White Collar,"Ind%:Trade, Transportation, & Utilities",Ind:Construction,Ind:Construction % Change,Ind:Construction Change,Ind:Education & Health Services,Ind:Education & Health Services % Change,Ind:Education & Health Services Change,Ind:Financial Activities,Ind:Financial Activities % Change,Ind:Financial Activities Change,Ind:Goods Producing,Ind:Goods Producing % Change,Ind:Goods Producing Change,Ind:Information,Ind:Information % Change,Ind:Information Change,Ind:Leisure & Hospitality,Ind:Leisure & Hospitality % Change,Ind:Leisure & Hospitality Change,Ind:Manufacturing,Ind:Manufacturing % Change,Ind:Manufacturing Change,Ind:Natural Resources & Mining,Ind:Natural Resources & Mining % Change,Ind:Natural Resources & Mining Change,Ind:Other/Unclassified,Ind:Other/Unclassified % Change,Ind:Other/Unclassified Change,Ind:Professional & Business Services,Ind:Professional & Business Services % Change,Ind:Professional & Business Services Change,Ind:Public Administration,Ind:Public Administration % Change,Ind:Public Administration Change,Ind:Service Producing,Ind:Service Producing % Change,Ind:Service Producing Change,Ind:Snapshot: Blue Collar,Ind:Snapshot: Blue Collar % Change,Ind:Snapshot: Blue Collar Change,Ind:Snapshot: Government,Ind:Snapshot: Government % Change,Ind:Snapshot: Government Change,"Ind:Snapshot: Industrial, Manufacturing, Utilities, & Logistics","Ind:Snapshot: Industrial, Manufacturing, Utilities, & Logistics % Change","Ind:Snapshot: Industrial, Manufacturing, Utilities, & Logistics Change",Ind:Snapshot: Professional Services,Ind:Snapshot: Professional Services % Change,Ind:Snapshot: Professional Services Change,Ind:Snapshot: Retail & Hospitality,Ind:Snapshot: Retail & Hospitality % Change,Ind:Snapshot: Retail & Hospitality Change,Ind:Snapshot: White Collar,Ind:Snapshot: White Collar % Change,Ind:Snapshot: White Collar Change,Ind:Total,Ind:Total % Change,Ind:Total Change,"Ind:Trade, Transportation, & Utilities","Ind:Trade, Transportation, & Utilities % Change","Ind:Trade, Transportation, & Utilities Change",GEO_ID,Source
0,"Adams city, Tennessee",2001,None,1.139882,0.642475,0.591538,5.297094,0.002243,0.490345,0.005750,4.151462,6.258503,1.647751,46.509850,56.142706,32.563773,46.509850,36.715235,9.632465,7.142450,49.127279,38.560200,0.383550,NaN,NaN,0.216182,NaN,NaN,0.199042,NaN,NaN,1.782378,NaN,NaN,0.000755,NaN,NaN,0.164992,NaN,NaN,0.001935,NaN,NaN,1.396893,NaN,NaN,2.105875,NaN,NaN,0.554439,NaN,NaN,15.649737,NaN,NaN,18.891022,NaN,NaN,10.957130,NaN,NaN,15.649737,NaN,NaN,12.354024,NaN,NaN,3.241153,NaN,NaN,2.403308,NaN,NaN,16.530456,NaN,NaN,33.648222,NaN,NaN,12.974821,NaN,NaN,1600000US4700200,JobsEQ
1,"Adams city, Tennessee",2002,None,1.120131,0.636267,0.615263,5.291127,0.005131,0.486092,0.009131,4.161866,5.324542,1.625547,50.427098,59.119939,29.276273,50.427098,33.437916,8.692451,7.442534,53.044933,35.588934,0.372381,NaN,NaN,0.211523,NaN,NaN,0.204540,NaN,NaN,1.759003,NaN,NaN,0.001706,NaN,NaN,0.161598,NaN,NaN,0.003036,NaN,NaN,1.383587,NaN,NaN,1.770112,NaN,NaN,0.540403,NaN,NaN,16.764184,NaN,NaN,19.654066,NaN,NaN,9.732720,NaN,NaN,16.764184,NaN,NaN,11.116233,NaN,NaN,2.889753,NaN,NaN,2.474226,NaN,NaN,17.634467,NaN,NaN,33.244394,NaN,NaN,11.831326,NaN,NaN,1600000US4700200,JobsEQ
2,"Adams city, Tennessee",2003,None,0.928107,0.515166,1.751128,3.904416,0.019976,3.474888,0.006807,2.969503,4.219358,1.335394,42.177830,53.493739,33.508641,42.177830,36.477971,8.234191,13.110008,45.585297,42.601845,0.399009,NaN,NaN,0.221479,NaN,NaN,0.752840,NaN,NaN,1.678576,NaN,NaN,0.008588,NaN,NaN,1.493914,NaN,NaN,0.002926,NaN,NaN,1.276640,NaN,NaN,1.813975,NaN,NaN,0.574109,NaN,NaN,18.132975,NaN,NaN,22.997879,NaN,NaN,14.405941,NaN,NaN,18.132975,NaN,NaN,15.682507,NaN,NaN,3.540020,NaN,NaN,5.636218,NaN,NaN,19.597904,NaN,NaN,42.991720,NaN,NaN,18.315266,NaN,NaN,1600000US4700200,JobsEQ
3,"Adams city, Tennessee",2004,None,0.779861,0.433192,0.330795,3.219860,0.016156,1.157551,0.005270,2.434729,4.633580,1.122215,38.771909,46.465397,36.458535,38.771909,38.893264,6.891301,15.443526,40.494445,50.314743,0.403754,NaN,NaN,0.224275,NaN,NaN,0.171261,NaN,NaN,1.667003,NaN,NaN,0.008364,NaN,NaN,0.599294,NaN,NaN,0.002728,NaN,NaN,1.260521,NaN,NaN,2.398922,NaN,NaN,0.580999,NaN,NaN,20.073204,NaN,NaN,24.056319,NaN,NaN,18.875512,NaN,NaN,20.073204,NaN,NaN,20.136033,NaN,NaN,3.567802,NaN,NaN,7.995506,NaN,NaN,20.965005,NaN,NaN,51.772545,NaN,NaN,26.049223,NaN,NaN,1600000US4700200,JobsEQ
4,"Adams city, Tennessee",2005,None,0.552338,0.325713,21.603882,2.355319,0.000628,1.426419,0.150535,1.652447,3.152207,0.715381,26.186624,53.410854,31.942166,26.186624,33.594501,26.046701,14.172173,48.675404,44.233827,0.403494,NaN,NaN,0.237940,NaN,NaN,15.782084,NaN,NaN,1.720610,NaN,NaN,0.000459,NaN,NaN,1.042028,NaN,NaN,0.109969,NaN,NaN,1.207147,NaN,NaN,2.302752,NaN,NaN,0.522600,NaN,NaN,19.129872,NaN,NaN,39.017737,NaN,NaN,23.334415,NaN,NaN,19.129872,NaN,NaN,24.541480,NaN,NaN,19.027656,NaN,NaN,10.353067,NaN,NaN,35.558393,NaN,NaN,73.052075,NaN,NaN,32.313728,NaN,NaN,1600000US4700200,JobsEQ

In [110]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21758 entries, 0 to 21757
Data columns (total 84 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   NAME                                                                      21758 non-null  object
 1   Year                                                                      21758 non-null  object
 2   Time Frame                                                                21758 non-null  object
 3   Ind%:Construction                                                         1892 non-null   float64
 4   Ind%:Education & Health Services                                          1892 non-null   float64
 5   Ind%:Financial Activities                                                 1892 non-null   float64
 6   Ind%:Goods Producing                                                      1892 non-null   float64
 7   Ind%:Information                                                          1892 non-null   float64
 8   Ind%:Leisure & Hospitality                                                1892 non-null   float64
 9   Ind%:Manufacturing                                                        1892 non-null   float64
 10  Ind%:Natural Resources & Mining                                           1892 non-null   float64
 11  Ind%:Other/Unclassified                                                   1892 non-null   float64
 12  Ind%:Professional & Business Services                                     1892 non-null   float64
 13  Ind%:Public Administration                                                1892 non-null   float64
 14  Ind%:Service Producing                                                    1892 non-null   float64
 15  Ind%:Snapshot: Blue Collar                                                1892 non-null   float64
 16  Ind%:Snapshot: Government                                                 1892 non-null   float64
 17  Ind%:Snapshot: Industrial, Manufacturing, Utilities, & Logistics          1892 non-null   float64
 18  Ind%:Snapshot: Professional Services                                      1892 non-null   float64
 19  Ind%:Snapshot: Retail & Hospitality                                       1892 non-null   float64
 20  Ind%:Snapshot: White Collar                                               1892 non-null   float64
 21  Ind%:Trade, Transportation, & Utilities                                   1892 non-null   float64
 22  Ind:Construction                                                          1892 non-null   float64
 23  Ind:Construction % Change                                                 19866 non-null  float64
 24  Ind:Construction Change                                                   19866 non-null  float64
 25  Ind:Education & Health Services                                           1892 non-null   float64
 26  Ind:Education & Health Services % Change                                  19866 non-null  float64
 27  Ind:Education & Health Services Change                                    19866 non-null  float64
 28  Ind:Financial Activities                                                  1892 non-null   float64
 29  Ind:Financial Activities % Change                                         19866 non-null  float64
 30  Ind:Financial Activities Change                                           19866 non-null  float64
 31  Ind:Goods Producing                                                       1892 non-null   float64
 32  Ind:Goods Producing % Change                                              19866 non-null  float64
 33  Ind:Goods Producing Change                                                19866 non-null  float64
 34  Ind:Information                                                           1892 non-null   float64
 35  Ind:Information % Change                                                  19845 non-null  float64
 36  Ind:Information Change                                                    19866 non-null  float64
 37  Ind:Leisure & Hospitality                                                 1892 non-null   float64
 38  Ind:Leisure & Hospitality % Change                                        19866 non-null  float64
 39  Ind:Leisure & Hospitality Change                                          19866 non-null  float64
 40  Ind:Manufacturing                                                         1892 non-null   float64
 41  Ind:Manufacturing % Change                                                19863 non-null  float64
 42  Ind:Manufacturing Change                                                  19866 non-null  float64
 43  Ind:Natural Resources & Mining                                            1892 non-null   float64
 44  Ind:Natural Resources & Mining % Change                                   19866 non-null  float64
 45  Ind:Natural Resources & Mining Change                                     19866 non-null  float64
 46  Ind:Other/Unclassified                                                    1892 non-null   float64
 47  Ind:Other/Unclassified % Change                                           19866 non-null  float64
 48  Ind:Other/Unclassified Change                                             19866 non-null  float64
 49  Ind:Professional & Business Services                                      1892 non-null   float64
 50  Ind:Professional & Business Services % Change                             19866 non-null  float64
 51  Ind:Professional & Business Services Change                               19866 non-null  float64
 52  Ind:Public Administration                                                 1892 non-null   float64
 53  Ind:Public Administration % Change                                        19708 non-null  float64
 54  Ind:Public Administration Change                                          19866 non-null  float64
 55  Ind:Service Producing                                                     1892 non-null   float64
 56  Ind:Service Producing % Change                                            19866 non-null  float64
 57  Ind:Service Producing Change                                              19866 non-null  float64
 58  Ind:Snapshot: Blue Collar                                                 1892 non-null   float64
 59  Ind:Snapshot: Blue Collar % Change                                        19866 non-null  float64
 60  Ind:Snapshot: Blue Collar Change                                          19866 non-null  float64
 61  Ind:Snapshot: Government                                                  1892 non-null   float64
 62  Ind:Snapshot: Government % Change                                         19708 non-null  float64
 63  Ind:Snapshot: Government Change                                           19866 non-null  float64
 64  Ind:Snapshot: Industrial, Manufacturing, Utilities, & Logistics           1892 non-null   float64
 65  Ind:Snapshot: Industrial, Manufacturing, Utilities, & Logistics % Change  19866 non-null  float64
 66  Ind:Snapshot: Industrial, Manufacturing, Utilities, & Logistics Change    19866 non-null  float64
 67  Ind:Snapshot: Professional Services                                       1892 non-null   float64
 68  Ind:Snapshot: Professional Services % Change                              19866 non-null  float64
 69  Ind:Snapshot: Professional Services Change                                19866 non-null  float64
 70  Ind:Snapshot: Retail & Hospitality                                        1892 non-null   float64
 71  Ind:Snapshot: Retail & Hospitality % Change                               19866 non-null  float64
 72  Ind:Snapshot: Retail & Hospitality Change                                 19866 non-null  float64
 73  Ind:Snapshot: White Collar                                                1892 non-null   float64
 74  Ind:Snapshot: White Collar % Change                                       19866 non-null  float64
 75  Ind:Snapshot: White Collar Change                                         19866 non-null  float64
 76  Ind:Total                                                                 1892 non-null   float64
 77  Ind:Total % Change                                                        19866 non-null  float64
 78  Ind:Total Change                                                          19866 non-null  float64
 79  Ind:Trade, Transportation, & Utilities                                    1892 non-null   float64
 80  Ind:Trade, Transportation, & Utilities % Change                           19866 non-null  float64
 81  Ind:Trade, Transportation, & Utilities Change                             19866 non-null  float64
 82  GEO_ID                                                                    17204 non-null  object
 83  Source                                                                    21758 non-null  object
dtypes: float64(79), object(5)
memory usage: 13.9+ MB

In [111]:
#export to the SQLite database
conn = sq.connect('../../Outputs/Labor_Economy.db')
data.to_sql('JobsEQ_IndustryEmployment_Annual_Change', conn, if_exists = 'replace', index = False)

21758