In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
import datetime
pd.options.mode.chained_assignment = None  # default='warn'
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)
import sys
sys.path.append("../../../Functions and Dictionaries") # Adds higher directory to python modules path
import geodict
tofullcensus = geodict.tofullcensus
geotogeoid = geodict.geotogeoid
import sqlite3 as sq
def percentchange(x, y):
    try:
        return ((x - y)*100/y)
    except ZeroDivisionError:
        return 0
def realchange(x, y):
    return x-y
def percent(x, y):
    return (x/y)*100

Quarterly Employment During the Heart of COVID 19 Pandemic

The Woods & Poole data that is used more at the county level is only used at the place level for total employment projections. This is for consistency. This is a land use model ultimately, so JobsEQ employment is selected to model place level employment for place of work. This data is derived from the QCEW and other inputs so is selected as a better option - both are modeled so we use the one modeled directly from UI claims rather than land use at this granular of a geography.

To retrieve data:
+ Log into JobsEQ and navigate to the "Data Explorer" function  

*load the following query: JEQQuarterly_Industry*

+ go to "Draft Mode"
+ Select the "Industry" dataset, quarterly  
+ Select the following dimensions: Region, Industry, Year: fill regions with all geographies including US, State, GNRC (13), MPO (7), GNRC Region (14) and sub all counties, all places  
+ Fill the year/quarter with 2019-current (in the future change this to relevant time period if need be)  
+ select total and high level industries as listed below:  

Industries to Select:  
+ Total - All Industries  
(Custom Created Groups *begin to type them as they appear here and they will appear in the search bar, if not then remake the custom group as described below*)  
+ Snapshot 11: Construction (23: Construction)  
+ Snapshot 11: Manufacturing (31: Manufacturing)  
+ Snapshot 11: Information (51: Information)  
+ Snapshot 11: Public Administration (92: Public Administration)  
+ Snapshot 11: Other/Unclassified (81: Other, Except Public Administration, 99: Unclassified)  
+ Snapshot 11: Leisure & Hospitality (71: Arts, Entertainment, & Recreation, 72: Accommodation & Food Services)   
+ Snapshot 11: Education & Health Services (61: Education, 62: Healthcare & Social Assistance)   
+ Snapshot 11: Professional & Business Services (54: Professional, Scientific, & Technical, 55: Management of Companies & Enterprises, 56: Administrative & Support & Waste Management & Remediation)   
+ Snapshot 11: Financial Activities (52: Finance & Insurance, 53: Real Estate & Rental & Leasing)   
+ Snapshot 11: Trade, Transportation & Utilities (42: Wholesale Trade, 44-45: Retail Trade, 48-49: Transportation & Warehousing, 22: Utilities)  
+ Snapshot 11: Natural Resources & Mining (11: Agricultural Activities, Forestry, Fishing, & Hunting, 21: Mining, Quarrying, Oil & Gas) 
+ Snapshot: White Collar  
+ Snapshot: Blue Collar  
+ Snapshot 4: Government  
+ Snapshot 4: Retail & Hospitality  
+ Snapshot 4: Professional Services  
+ Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics  

+ Select the following values: "Employment (4Q Moving Average)"  

Make sure region and year/quarter are on the side, and industry data is on the top.  

*Resume here after loading query and downloading data.*

Once it is completed, open and delete the top row that says "Industry Data", and adjust so that the column headers reflect the industry, as it is all the same datapoint. Delete the FIPS column. Rename the Region column to NAME and the quarter column to Time, delete the data notes at the bottom. Save as:   "JobsEQ_IndustryEmploymentCOVIDQuarterly_AllGeos.csv"

In [83]:
#import data and examine
data = pd.read_csv('../../Data Downloads/JobsEQ_IndustryEmploymentCOVIDQuarterly_AllGeos.csv')
data.head(2)

,NAME,Time,Total - All Industries,Snapshot 11: Construction,Snapshot 11: Manufacturing,Snapshot 11: Information,Snapshot 11: Public Administration,Snapshot 11: Other/Unclassified,Snapshot 11: Leisure & Hospitality,Snapshot 11: Education & Health Services,Snapshot 11: Professional & Business Services,Snapshot 11: Financial Activities,"Snapshot 11: Trade, Transportation, & Utilities",Snapshot 11: Natural Resources & Mining,Snapshot: White Collar,Snapshot: Blue Collar,Snapshot 4: Government,Snapshot 4: Retail & Hospitality,Snapshot 4: Professional Services,"Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics"
0,USA,2019Q1,158025474.3,9094815.083,13015409.73,3081771.173,7426728.447,7243072.853,17441948.18,35570287.26,23193833.42,8966303.726,30156661.55,2834642.848,68078678.69,36491771.95,7426728.447,30687697.70,81276170.22,38634877.91
1,USA,2019Q2,158445187.9,9153194.347,13056874.75,3089323.039,7440929.506,7233337.469,17510564.87,35698465.84,23276911.82,8989722.209,30168440.87,2827423.193,68320200.13,36669818.13,7440929.506,30679588.15,81522751.89,38801918.36

In [84]:
#quickly make sure the geographies are the full census geographies
data = data.set_index('NAME').transpose()
data = data.rename(columns = tofullcensus)
data = data.transpose().reset_index(drop = False)

In [85]:
#make a list of the times to loop through unique instances for aggregating geographies later
times = list(data['Time'].unique())

In [86]:
#set the index to name and time, creating unique instances for each industry group, transpose, and make sure the columns are float datatypes
data = data.set_index(['NAME', 'Time']).transpose()
cols = data.columns
data[cols] = data[cols].astype(float)

In [87]:
data.head(2)

NAME                      United States                                                                                                    \
Time                             2019Q1        2019Q2        2019Q3        2019Q4        2020Q1        2020Q2        2020Q3        2020Q4
Total - All Industries     1.580255e+08  1.584452e+08  1.589213e+08  1.593484e+08  1.596866e+08  1.551281e+08  1.522853e+08  1.500329e+08
Snapshot 11: Construction  9.094815e+06  9.153194e+06  9.218998e+06  9.269805e+06  9.313434e+06  9.135578e+06  9.037456e+06  8.965809e+06

NAME                                                                                                                                       \
Time                             2021Q1        2021Q2        2021Q3        2021Q4        2022Q1        2022Q2        2022Q3        2022Q4
Total - All Industries     1.480742e+08  1.514055e+08  1.534785e+08  1.553502e+08  1.572706e+08  1.590211e+08  1.604610e+08  1.614844e+08
Snapshot 11: Construction  8.915466e+06  9.107387e+06  9.218495e+06  9.314620e+06  9.400457e+06  9.477380e+06  9.536480e+06  9.584749e+06

NAME                                        Tennessee                                                                                      \
Time                             2023Q1        2019Q1        2019Q2        2019Q3        2019Q4        2020Q1        2020Q2        2020Q3
Total - All Industries     1.624729e+08  3.262321e+06  3.275649e+06  3.290374e+06  3.301519e+06  3.311207e+06  3.238563e+06  3.199233e+06
Snapshot 11: Construction  9.648245e+06  1.716014e+05  1.732020e+05  1.745590e+05  1.759428e+05  1.769771e+05  1.754061e+05  1.746974e+05

NAME                                                                                                                                      \
Time                             2020Q4        2021Q1        2021Q2       2021Q3        2021Q4        2022Q1        2022Q2        2022Q3
Total - All Industries     3.177211e+06  3.156717e+06  3.220522e+06  3262395.078  3.290514e+06  3.327386e+06  3.367457e+06  3.400365e+06
Snapshot 11: Construction  1.744549e+05  1.749226e+05  1.781297e+05   181325.948  1.841253e+05  1.868308e+05  1.896095e+05  1.917777e+05

NAME                                                           GNRC                                                                        \
Time                             2022Q4        2023Q1        2019Q1        2019Q2        2019Q3        2019Q4        2020Q1        2020Q2
Total - All Industries     3.430284e+06  3.454684e+06  1.068697e+06  1.077315e+06  1.085972e+06  1.093982e+06  1.099465e+06  1.071861e+06
Snapshot 11: Construction  1.939177e+05  1.960737e+05  5.833100e+04  5.915915e+04  5.991592e+04  6.080827e+04  6.133967e+04  6.093216e+04

NAME                                                                                                                                       \
Time                             2020Q3        2020Q4        2021Q1        2021Q2        2021Q3        2021Q4        2022Q1        2022Q2
Total - All Industries     1.055979e+06  1.046672e+06  1.038467e+06  1.064105e+06  1.082446e+06  1.095739e+06  1.111680e+06  1.127780e+06
Snapshot 11: Construction  6.073438e+04  6.066902e+04  6.093620e+04  6.206173e+04  6.334314e+04  6.462324e+04  6.587773e+04  6.713576e+04

NAME                                                                          MPO                                                          \
Time                             2022Q3        2022Q4        2023Q1        2019Q1        2019Q2        2019Q3        2019Q4        2020Q1
Total - All Industries     1.141572e+06  1.152572e+06  1.161777e+06  1.004288e+06  1.013034e+06  1.021690e+06  1.029150e+06  1.034446e+06
Snapshot 11: Construction  6.824509e+04  6.922829e+04  7.012701e+04  5.302547e+04  5.382014e+04  5.456217e+04  5.545926e+04  5.599913e+04

NAME                                                                                                                                       \
Time                             2020Q2        2020Q3        2020Q4        2021Q1        2021Q2        2021Q3        2021Q4        2022Q1
Total - All Industries     1.006893e+06  991154.63750  982015.82370  973651.38350  998563.52740  1.015954e+06  1.028433e+06  1.043708e+06
Snapshot 11: Construction  5.570538e+04   55591.71585   55541.29177   55793.81077   56838.94527  5.802859e+04  5.923933e+04  6.040141e+04

NAME                                                                                GNRC Region                                            \
Time                             2022Q2        2022Q3        2022Q4        2023Q1        2019Q1        2019Q2        2019Q3        2019Q4
Total - All Industries     1.059483e+06  1.072988e+06  1.083747e+06  1.092475e+06  1.108710e+06  1.118117e+06  1.127473e+06  1.135480e+06
Snapshot 11: Construction  6.151992e+04  6.255253e+04  6.343994e+04  6.426424e+04  6.008420e+04  6.095263e+04  6.174317e+04  6.268008e+04

NAME                                                                                                                                      \
Time                             2020Q1        2020Q2        2020Q3        2020Q4       2021Q1        2021Q2        2021Q3        2021Q4
Total - All Industries     1.141091e+06  1.111764e+06  1.095207e+06  1.085828e+06  1077248.570  1.104137e+06  1.122661e+06  1.135946e+06
Snapshot 11: Construction  6.322824e+04  6.280679e+04  6.261605e+04  6.256968e+04    62882.848  6.411557e+04  6.548451e+04  6.684323e+04

NAME                                                                                            Adams city, Tennessee                        \
Time                             2022Q1        2022Q2        2022Q3        2022Q4        2023Q1                2019Q1     2019Q2     2019Q3
Total - All Industries     1.152211e+06  1.168873e+06  1.183348e+06  1.195110e+06  1.204732e+06             58.096627  56.020036  53.839996
Snapshot 11: Construction  6.818107e+04  6.951185e+04  7.072662e+04  7.179510e+04  7.274685e+04              1.268832   0.932532   0.599508

NAME                                                                                                                                                \
Time                          2019Q4     2020Q1     2020Q2     2020Q3     2020Q4     2021Q1     2021Q2     2021Q3     2021Q4     2022Q1     2022Q2
Total - All Industries     51.314224  49.378706  46.907668  44.826576  43.746050  43.896778  44.897766  45.659691  45.713385  46.274890  46.765220
Snapshot 11: Construction   0.265483   0.575134   0.855967   1.154750   1.451063   1.438980   1.475244   1.516009   1.560131   1.586425   1.610481

NAME                                                       Ashland City town, Tennessee                                                      \
Time                          2022Q3     2022Q4     2023Q1                       2019Q1       2019Q2       2019Q3       2019Q4       2020Q1
Total - All Industries     47.133766  47.185337  46.776257                  4764.843014  4814.427391  4862.321338  4920.033859  4898.535166
Snapshot 11: Construction   1.622647   1.632189   1.655657                   114.348251   131.745058   147.425560   163.241514   151.001289

NAME                                                                                                                                            \
Time                            2020Q2       2020Q3       2020Q4       2021Q1       2021Q2       2021Q3       2021Q4       2022Q1       2022Q2
Total - All Industries     4858.673994  4822.883611  4779.817985  4831.754034  4884.851397  4941.718742  4985.531420  5000.230901  5030.855272
Snapshot 11: Construction   137.859476   126.419353   115.060747   114.774188   116.953833   118.900653   120.401337   124.388108   127.753112

NAME                                                             Belle Meade city, Tennessee                                                      \
Time                            2022Q3       2022Q4       2023Q1                      2019Q1       2019Q2       2019Q3       2019Q4       2020Q1
Total - All Industries     5055.240178  5083.988974  5095.347207                 1436.121808  1420.188478  1401.832200  1384.648766  1379.512704
Snapshot 11: Construction   129.970506   134.207577   135.852261                   25.500560    24.992947    24.411346    23.932103    25.168587

NAME                                                                                                                                            \
Time                            2020Q2       2020Q3       2020Q4       2021Q1       2021Q2       2021Q3       2021Q4       2022Q1       2022Q2
Total - All Industries     1277.778039  1193.246603  1117.398625  1064.231091  1111.956814  1158.846201  1197.772479  1235.984111  1275.734456
Snapshot 11: Construction    25.903793    26.777156    27.634933    27.588534    28.026678    28.560359    29.172613    29.688915    30.136872

NAME                                                             Berry Hill city, Tennessee                                                          \
Time                            2022Q3       2022Q4       2023Q1                     2019Q1        2019Q2        2019Q3        2019Q4        2020Q1
Total - All Industries     1304.910507  1331.818798  1354.046814               17808.948310  17867.636830  17915.020220  17924.534510  17887.400900
Snapshot 11: Construction    30.479400    30.692797    31.024150                 956.857527    943.833272    927.245941    915.253291    878.022713

NAME                                                                                                                                       \
Time                             2020Q2        2020Q3        2020Q4        2021Q1        2021Q2        2021Q3        2021Q4        2022Q1
Total - All Industries     17426.459030  17108.672280  16843.238740  16596.890870  16751.623770  16850.081490  16882.881250  17021.933920
Snapshot 11: Construction    825.828212    775.560914    723.480065    720.204307    728.232716    740.074243    753.991508    768.934542

NAME                                                                              Bethpage CDP, TN                                              \
Time                             2022Q2        2022Q3        2022Q4        2023Q1           2019Q1     2019Q2     2019Q3     2019Q4     2020Q1
Total - All Industries     17230.089820  17399.890350  17620.620190  17812.640960        63.719442  62.977761  61.727560  60.234677  58.929399
Snapshot 11: Construction    782.312396    794.107389    802.880948    813.531405         0.208377   0.203097   0.199692   0.195256   0.196098

NAME                                                                                                                                               \
Time                          2020Q2     2020Q3     2020Q4     2021Q1    2021Q2     2021Q3     2021Q4     2022Q1     2022Q2     2022Q3     2022Q4
Total - All Industries     56.618964  56.783468  57.157667  58.363599  60.53697  59.473296  57.954351  56.492135  54.955450  55.015157  55.487859
Snapshot 11: Construction   0.190813   0.189576   0.187543   0.187941   0.19651   0.202812   0.207846   0.209095   0.209468   0.205617   0.203702

NAME                                 Big Rock CDP, TN                                                                                             \
Time                          2023Q1           2019Q1    2019Q2    2019Q3     2019Q4    2020Q1    2020Q2    2020Q3    2020Q4    2021Q1    2021Q2
Total - All Industries     56.231235         8.468872  8.977740  9.540401  10.076126  9.846010  9.705969  9.571283  9.565985  9.719998  9.828038
Snapshot 11: Construction   0.204101         0.219890  0.217668  0.217206   0.216014  0.216479  0.212528  0.211341  0.209963  0.210402  0.216829

NAME                                                                                            Bransford CDP, TN                                \
Time                         2021Q3    2021Q4    2022Q1    2022Q2    2022Q3    2022Q4    2023Q1            2019Q1    2019Q2    2019Q3    2019Q4
Total - All Industries     9.917075  9.895564  9.880801  9.805809  9.635365  9.335356  9.245202          3.651927  4.275611  4.925575  5.538696
Snapshot 11: Construction  0.222397  0.225874  0.226589  0.226991  0.223453  0.222056  0.222491          0.116215  0.111805  0.108491  0.104520

NAME                                                                                                                                              \
Time                         2020Q1    2020Q2     2020Q3     2020Q4     2021Q1     2021Q2     2021Q3     2021Q4     2022Q1     2022Q2     2022Q3
Total - All Industries     7.896659  9.807892  12.025489  14.244649  14.149826  14.696519  14.993004  15.313924  15.729068  16.111900  16.421941
Snapshot 11: Construction  0.104958  0.102149   0.101488   0.100414   0.100627   0.105181   0.108526   0.111193   0.111862   0.112061   0.110028

NAME                                            Brentwood city, Tennessee                                                                      \
Time                          2022Q4     2023Q1                    2019Q1       2019Q2       2019Q3        2019Q4        2020Q1        2020Q2
Total - All Industries     16.537141  16.470464              53931.149530  53973.69311  54040.91075  54086.437890  54068.972860  52851.498450
Snapshot 11: Construction   0.109016   0.109230               2072.982211   2101.64497   2145.96980   2181.978805   2202.278908   2196.705572

NAME                                                                                                                                     \
Time                             2020Q3        2020Q4        2021Q1       2021Q2       2021Q3        2021Q4        2022Q1        2022Q2
Total - All Industries     52101.870080  51557.660280  51451.956770  52608.99833  53502.53468  54177.130460  54852.744430  55536.510500
Snapshot 11: Construction   2174.066863   2164.493283   2164.108477   2185.92298   2224.19299   2247.935331   2287.726798   2326.762052

NAME                                                                Burns town, Tennessee                                                  \
Time                             2022Q3        2022Q4        2023Q1                2019Q1      2019Q2      2019Q3      2019Q4      2020Q1
Total - All Industries     56158.150630  56666.750150  57172.884630            238.376839  240.753070  242.625842  242.042276  242.014236
Snapshot 11: Construction   2365.440331   2413.857103   2449.524934             19.188039   22.276451   25.527969   28.577627   30.338416

NAME                                                                                                                                               \
Time                           2020Q2      2020Q3      2020Q4      2021Q1      2021Q2      2021Q3      2021Q4      2022Q1      2022Q2      2022Q3
Total - All Industries     240.559811  233.550471  234.598747  234.175862  236.981105  241.321033  244.235384  247.958033  251.463360  254.220763
Snapshot 11: Construction   31.678441   33.494386   35.850409   36.331012   37.298056   37.891757   38.066310   38.635002   39.328453   39.868772

NAME                                              Castalian Springs CDP, TN                                                                    \
Time                           2022Q4      2023Q1                    2019Q1     2019Q2     2019Q3     2019Q4     2020Q1     2020Q2     2020Q3
Total - All Industries     256.437391  258.433123                 48.860706  45.399646  41.968972  38.535480  38.673418  38.351008  38.498312
Snapshot 11: Construction   40.627839   41.245645                 12.086877  12.152597  12.116397  12.142869  11.783137  11.286231  10.930176

NAME                                                                                                                                     \
Time                          2020Q4     2021Q1     2021Q2     2021Q3     2021Q4     2022Q1     2022Q2     2022Q3     2022Q4     2023Q1
Total - All Industries     38.851675  39.017692  39.542676  39.655004  39.808865  40.330912  40.903620  41.350402  41.748583  41.844818
Snapshot 11: Construction  10.622411  10.725171  10.874246  10.944063  11.034121  11.294457  11.582447  11.821688  12.026046  12.124552

NAME                      Cedar Hill city, Tennessee                                                                                          \
Time                                          2019Q1     2019Q2     2019Q3     2019Q4     2020Q1     2020Q2     2020Q3     2020Q4     2021Q1
Total - All Industries                     19.371841  29.622923  40.009284  50.372173  40.528784  31.002186  21.446402  12.148175  12.126553
Snapshot 11: Construction                   0.224388   0.226100   0.229613   0.232385   0.232720   0.227680   0.226290   0.224695   0.225169

NAME                                                                                                              Charlotte town, Tennessee  \
Time                          2021Q2     2021Q3     2021Q4     2022Q1     2022Q2     2022Q3     2022Q4     2023Q1                    2019Q1
Total - All Industries     12.359771  12.530675  12.423435  12.501858  12.603507  12.597372  12.594074  12.648084               1062.017807
Snapshot 11: Construction   0.233326   0.239139   0.243504   0.244989   0.245426   0.242410   0.240893   0.241329                108.404668

NAME                                                                                                                                           \
Time                            2019Q2       2019Q3       2019Q4       2020Q1       2020Q2       2020Q3       2020Q4       2021Q1      2021Q2
Total - All Industries     1070.151450  1077.026707  1071.225855  1075.511774  1068.132983  1066.474489  1079.286859  1084.142893  1103.53992
Snapshot 11: Construction   107.716649   107.566412   106.504852   106.053532   104.166843   103.410734   104.668888   106.215094   108.87710

NAME                                                                                                                 Christiana CDP, TN              \
Time                            2021Q3       2021Q4       2022Q1       2022Q2       2022Q3       2022Q4       2023Q1             2019Q1      2019Q2
Total - All Industries     1105.562522  1104.619502  1105.611377  1103.875432  1107.849344  1112.016877  1114.942565         648.184446  551.171815
Snapshot 11: Construction   110.320001   109.938339   111.366207   113.023919   114.457319   117.374781   119.191531          77.636814   54.252548

NAME                                                                                                                                               \
Time                           2019Q3      2019Q4      2020Q1      2020Q2      2020Q3      2020Q4      2021Q1      2021Q2      2021Q3      2021Q4
Total - All Industries     446.697863  342.215324  389.065101  424.618513  478.573733  543.484517  557.601131  574.971441  577.631767  571.350226
Snapshot 11: Construction   30.486044    7.015708    7.189301    7.230288    7.346599    7.448541    7.506459    7.732388    7.902401    8.062984

NAME                                                                                  Clarksville city, Tennessee                              \
Time                           2022Q1      2022Q2      2022Q3      2022Q4      2023Q1                      2019Q1        2019Q2        2019Q3
Total - All Industries     568.713538  572.819379  577.425942  578.604476  580.104151                50648.587990  50808.136320  51039.760760
Snapshot 11: Construction    8.166156    8.270827    8.327326    8.366515    8.440390                 2216.002629   2208.321798   2200.788884


In [88]:
#loop through the times we listed earlier to aggregate the incorporated and unincorporated areas
for time in times:
    RuthInc = [data[('Eagleville city, Tennessee', '{}'.format(time))],data[('La Vergne city, Tennessee', '{}'.format(time))],
               data[('Murfreesboro city, Tennessee', '{}'.format(time))],data[('Smyrna town, Tennessee', '{}'.format(time))]]
    data[('Rutherford Incorporated', '{}'.format(time))] = sum(RuthInc)
    data[('Rutherford Unincorporated', '{}'.format(time))] = data[('Rutherford County, Tennessee', '{}'.format(time))] - data[('Rutherford Incorporated', '{}'.format(time))]
    WilsonInc = [data[('Lebanon city, Tennessee', '{}'.format(time))],data[('Mount Juliet city, Tennessee', '{}'.format(time))],
                 data[('Watertown city, Tennessee', '{}'.format(time))]]
    data[('Wilson Incorporated', '{}'.format(time))] = sum(WilsonInc)
    data[('Wilson Unincorporated', '{}'.format(time))] = data[('Wilson County, Tennessee', '{}'.format(time))] - data[('Wilson Incorporated', '{}'.format(time))]
    CheathInc = [data[('Ashland City town, Tennessee', '{}'.format(time))],data[('Kingston Springs town, Tennessee', '{}'.format(time))],
                 data[('Pegram town, Tennessee', '{}'.format(time))],data[('Pleasant View city, Tennessee', '{}'.format(time))]]
    data[('Cheatham Incorporated', '{}'.format(time))] = sum(CheathInc)
    data[('Cheatham Unincorporated', '{}'.format(time))] = data[('Cheatham County, Tennessee', '{}'.format(time))] - data[('Cheatham Incorporated', '{}'.format(time))]
    DicksInc = [data[('Burns town, Tennessee', '{}'.format(time))],data[('Charlotte town, Tennessee', '{}'.format(time))],
                data[('Dickson city, Tennessee', '{}'.format(time))],data[('Slayden town, Tennessee', '{}'.format(time))],
                data[('Vanleer town, Tennessee', '{}'.format(time))],data[('White Bluff town, Tennessee', '{}'.format(time))]]
    data[('Dickson Incorporated', '{}'.format(time))] = sum(DicksInc)
    data[('Dickson Unincorporated', '{}'.format(time))] = data[('Dickson County, Tennessee', '{}'.format(time))] - data[('Dickson Incorporated', '{}'.format(time))]
    HumphInc = [data[('McEwen city, Tennessee', '{}'.format(time))],data[('New Johnsonville city, Tennessee', '{}'.format(time))],
                data[('Waverly city, Tennessee', '{}'.format(time))]]
    data[('Humphreys Incorporated', '{}'.format(time))] = sum(HumphInc)
    data[('Humphreys Unincorporated', '{}'.format(time))] = data[('Humphreys County, Tennessee', '{}'.format(time))] - data[('Humphreys Incorporated', '{}'.format(time))]
    data[('Montgomery Incorporated', '{}'.format(time))] = data[('Clarksville city, Tennessee', '{}'.format(time))]
    data[('Montgomery Unincorporated', '{}'.format(time))] = data[('Montgomery County, Tennessee', '{}'.format(time))] - data[('Montgomery Incorporated', '{}'.format(time))]

In [89]:
#transpose and check
data = data.transpose()
data.head(2)

                      Total - All Industries  Snapshot 11: Construction  Snapshot 11: Manufacturing  Snapshot 11: Information  \
NAME          Time
United States 2019Q1             158025474.3                9094815.083                 13015409.73               3081771.173
              2019Q2             158445187.9                9153194.347                 13056874.75               3089323.039

                      Snapshot 11: Public Administration  Snapshot 11: Other/Unclassified  Snapshot 11: Leisure & Hospitality  \
NAME          Time
United States 2019Q1                         7426728.447                      7243072.853                         17441948.18
              2019Q2                         7440929.506                      7233337.469                         17510564.87

                      Snapshot 11: Education & Health Services  Snapshot 11: Professional & Business Services  Snapshot 11: Financial Activities  \
NAME          Time
United States 2019Q1                               35570287.26                                    23193833.42                        8966303.726
              2019Q2                               35698465.84                                    23276911.82                        8989722.209

                      Snapshot 11: Trade, Transportation, & Utilities  Snapshot 11: Natural Resources & Mining  Snapshot: White Collar  \
NAME          Time
United States 2019Q1                                      30156661.55                              2834642.848             68078678.69
              2019Q2                                      30168440.87                              2827423.193             68320200.13

                      Snapshot: Blue Collar  Snapshot 4: Government  Snapshot 4: Retail & Hospitality  Snapshot 4: Professional Services  \
NAME          Time
United States 2019Q1            36491771.95             7426728.447                       30687697.70                        81276170.22
              2019Q2            36669818.13             7440929.506                       30679588.15                        81522751.89

                      Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics
NAME          Time
United States 2019Q1                                        38634877.91
              2019Q2                                        38801918.36

In [90]:
#sum these, note that this categorization for service producing doesn't contain trade, transportation & utilities as that's broken out separately
thelist = [data['Snapshot 11: Natural Resources & Mining'], data['Snapshot 11: Construction'], data['Snapshot 11: Manufacturing']]
data['Goods Producing'] = sum(thelist)
thelist = [data['Snapshot 11: Information'], data['Snapshot 11: Financial Activities'], data['Snapshot 11: Professional & Business Services'], 
           data['Snapshot 11: Education & Health Services'], data['Snapshot 11: Leisure & Hospitality'], data['Snapshot 11: Public Administration'], 
           data['Snapshot 11: Other/Unclassified']]
data['Service Producing'] = sum(thelist)

In [91]:
#resum so that percentages work - data caveat that they would not sum perfectly due to rounding
thelist = [data['Snapshot 11: Construction'], data['Snapshot 11: Manufacturing'], 
           data['Snapshot 11: Information'], data['Snapshot 11: Public Administration'], 
           data['Snapshot 11: Other/Unclassified'], data['Snapshot 11: Leisure & Hospitality'],
           data['Snapshot 11: Education & Health Services'], data['Snapshot 11: Professional & Business Services'], 
           data['Snapshot 11: Financial Activities'], data['Snapshot 11: Trade, Transportation, & Utilities'], data['Snapshot 11: Natural Resources & Mining']]
data['Total - All Industries'] = sum(thelist)

In [92]:
#rename columns
data = data.rename(columns = {'Total - All Industries': 'Total', 'Snapshot 11: Construction': 'Construction',
                              'Snapshot 11: Manufacturing': 'Manufacturing', 'Snapshot 11: Information': 'Information', 
                              'Snapshot 11: Public Administration': 'Public Administration', 
                              'Snapshot 11: Other/Unclassified': 'Other/Unclassified', 
                              'Snapshot 11: Leisure & Hospitality': 'Leisure & Hospitality', 
                              'Snapshot 11: Education & Health Services': 'Education & Health Services', 
                              'Snapshot 11: Professional & Business Services': 'Professional & Business Services', 
                              'Snapshot 11: Financial Activities': 'Financial Activities', 
                              'Snapshot 11: Trade, Transportation, & Utilities': 'Trade, Transportation, & Utilities', 
                              'Snapshot 11: Natural Resources & Mining': 'Natural Resources & Mining'
                             })

In [93]:
#set the index to year and name so that we can add a prefix to all of the other columns, before resetting the index without dropping
data.reset_index(drop = False, inplace = True)
data = data.set_index(['NAME', 'Time']).add_prefix('Ind:').reset_index(drop = False)

In [94]:
#name cols as all of the columns and then go from wide to long format with .melt(), call this thing because it gets buggy if you call if data 
cols = data.columns
thing = data.melt(var_name = 'Industry', id_vars = ['NAME', 'Time'], value_vars = cols, value_name = 'Employment')

In [95]:
thing.head(2)

            NAME    Time   Industry    Employment
0  United States  2019Q1  Ind:Total  1.580255e+08
1  United States  2019Q2  Ind:Total  1.584452e+08

In [96]:
#create a separate dataframe where we will calculate percent of the total for each occupation group
percents = data

In [97]:
#calculate percent of total
percents['Ind:Construction'] = percent(percents['Ind:Construction'], percents['Ind:Total'])
percents['Ind:Manufacturing'] = percent(percents['Ind:Manufacturing'], percents['Ind:Total'])
percents['Ind:Information'] = percent(percents['Ind:Information'], percents['Ind:Total'])
percents['Ind:Public Administration'] = percent(percents['Ind:Public Administration'], percents['Ind:Total'])
percents['Ind:Other/Unclassified'] = percent(percents['Ind:Other/Unclassified'], percents['Ind:Total'])
percents['Ind:Leisure & Hospitality'] = percent(percents['Ind:Leisure & Hospitality'], percents['Ind:Total'])
percents['Ind:Education & Health Services'] = percent(percents['Ind:Education & Health Services'], percents['Ind:Total'])
percents['Ind:Professional & Business Services'] = percent(percents['Ind:Professional & Business Services'], percents['Ind:Total'])
percents['Ind:Financial Activities'] = percent(percents['Ind:Financial Activities'], percents['Ind:Total'])
percents['Ind:Trade, Transportation, & Utilities'] = percent(percents['Ind:Trade, Transportation, & Utilities'], percents['Ind:Total'])
percents['Ind:Natural Resources & Mining'] = percent(percents['Ind:Natural Resources & Mining'], percents['Ind:Total'])
percents['Ind:Goods Producing'] = percent(percents['Ind:Goods Producing'], percents['Ind:Total'])
percents['Ind:Service Producing'] = percent(percents['Ind:Service Producing'], percents['Ind:Total'])
percents['Ind:Snapshot: White Collar'] = percent(percents['Ind:Snapshot: White Collar'], percents['Ind:Total'])
percents['Ind:Snapshot: Blue Collar'] = percent(percents['Ind:Snapshot: Blue Collar'], percents['Ind:Total'])
percents['Ind:Snapshot 4: Government'] = percent(percents['Ind:Snapshot 4: Government'], percents['Ind:Total'])
percents['Ind:Snapshot 4: Retail & Hospitality'] = percent(percents['Ind:Snapshot 4: Retail & Hospitality'], percents['Ind:Total'])
percents['Ind:Snapshot 4: Professional Services'] = percent(percents['Ind:Snapshot 4: Professional Services'], percents['Ind:Total'])
percents['Ind:Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics'] = percent(percents['Ind:Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics'],
                                                                                        percents['Ind:Total'])

In [98]:
#similarly melt this dataframe
cols = percents.columns
percents = percents.reset_index(drop = False).melt(var_name = 'Industry', id_vars = ['NAME', 'Time'], value_vars = cols, value_name = 'Percent of Employment')
percents.head(2)

            NAME    Time   Industry  Percent of Employment
0  United States  2019Q1  Ind:Total           1.580255e+08
1  United States  2019Q2  Ind:Total           1.584452e+08

In [99]:
#we never renamed the total column when we duplicated the dataframe for percents, we want this to be null so just transpose, drop it, and transpose back
percents = percents.set_index('Industry').transpose()
percents = percents.drop(columns = 'Ind:Total')
percents = percents.transpose().reset_index(drop = False)

In [100]:
#merge total employment and percent of total employment
data = thing.merge(percents, on = ['Industry', 'Time', 'NAME'], how = 'outer')
data.head(3)

            NAME    Time   Industry    Employment Percent of Employment
0  United States  2019Q1  Ind:Total  1.580255e+08                   NaN
1  United States  2019Q2  Ind:Total  1.584452e+08                   NaN
2  United States  2019Q3  Ind:Total  1.589213e+08                   NaN

In [101]:
#remove the CDPs from the geographies, then transpose and use dictionary from custom module to rename geos beforeresetting the index
data = data.loc[~data['NAME'].str.contains('CDP')]
data = data.set_index('NAME').transpose().reset_index(drop = False)

In [102]:
#set the index to "index" (the variable names) and transpose, then reset the index without dropping it
data = data.set_index('index').transpose().reset_index(drop = False)

In [103]:
data.head(2)

index           NAME    Time   Industry     Employment Percent of Employment
0      United States  2019Q1  Ind:Total   158025474.27                   NaN
1      United States  2019Q2  Ind:Total  158445187.913                   NaN

In [104]:
data.tail(2)

index                       NAME    Time               Industry    Employment Percent of Employment
29238    Montgomery Incorporated  2023Q1  Ind:Service Producing  37201.449949             66.818321
29239  Montgomery Unincorporated  2023Q1  Ind:Service Producing   4463.849064             40.866939

In [105]:
#go long to wide
data = pd.pivot(data, index = ['NAME', 'Time'], columns = 'Industry', values = ['Employment', 'Percent of Employment'])

In [106]:
#we'll have to flatten the multicolumns and then rename them to match the header formatting of our other data
data.columns = data.columns.to_flat_index()

In [107]:
#rename
inddict = {('Employment', 'Ind:Education & Health Services'): 'Ind:Education & Health Services', 
           ('Employment', 'Ind:Construction'): 'Ind:Construction', 
           ('Employment', 'Ind:Financial Activities'): 'Ind:Financial Activities',
           ('Employment', 'Ind:Information'): 'Ind:Information', 
           ('Employment', 'Ind:Manufacturing'): 'Ind:Manufacturing', 
           ('Employment', 'Ind:Other/Unclassified'): 'Ind:Other/Unclassified', 
           ('Employment', 'Ind:Public Administration'): 'Ind:Public Administration', 
           ('Employment', 'Ind:Total'): 'Ind:Total', 
           ('Employment', 'Ind:Goods Producing'): 'Ind:Goods Producing', 
           ('Employment', 'Ind:Leisure & Hospitality'): 'Ind:Leisure & Hospitality', 
           ('Employment', 'Ind:Natural Resources & Mining'): 'Ind:Natural Resources & Mining', 
           ('Employment', 'Ind:Professional & Business Services'): 'Ind:Professional & Business Services', 
           ('Employment', 'Ind:Service Producing'): 'Ind:Service Producing', 
           ('Employment', 'Ind:Trade, Transportation, & Utilities'): 'Ind:Trade, Transportation, & Utilities',
           ('Employment', 'Ind:Snapshot: White Collar'): 'Ind:Snapshot: White Collar', 
           ('Employment', 'Ind:Snapshot: Blue Collar'): 'Ind:Snapshot: Blue Collar', 
           ('Employment', 'Ind:Snapshot 4: Government'): 'Ind:Snapshot 4: Government', 
           ('Employment', 'Ind:Snapshot 4: Retail & Hospitality'): 'Ind:Snapshot 4: Retail & Hospitality', 
           ('Employment', 'Ind:Snapshot 4: Professional Services'): 'Ind:Snapshot 4: Professional Services', 
           ('Employment', 'Ind:Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics'): 'Ind:Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics',
           ('Percent of Employment', 'Ind:Education & Health Services'): 'Ind%:Education & Health Services',
           ('Percent of Employment', 'Ind:Construction'): 'Ind%:Construction', 
           ('Percent of Employment', 'Ind:Financial Activities'): 'Ind%:Financial Activities',
           ('Percent of Employment', 'Ind:Information'): 'Ind%:Information', 
           ('Percent of Employment', 'Ind:Manufacturing'): 'Ind%:Manufacturing', 
           ('Percent of Employment', 'Ind:Other/Unclassified'): 'Ind%:Other/Unclassified', 
           ('Percent of Employment', 'Ind:Public Administration'): 'Ind%:Public Administration', 
           ('Percent of Employment', 'Ind:Total'): 'Ind%:Total', 
           ('Percent of Employment', 'Ind:Goods Producing'): 'Ind%:Goods Producing', 
           ('Percent of Employment', 'Ind:Leisure & Hospitality'): 'Ind%:Leisure & Hospitality', 
           ('Percent of Employment', 'Ind:Natural Resources & Mining'): 'Ind%:Natural Resources & Mining', 
           ('Percent of Employment', 'Ind:Professional & Business Services'): 'Ind%:Professional & Business Services', 
           ('Percent of Employment', 'Ind:Service Producing'): 'Ind%:Service Producing', 
           ('Percent of Employment', 'Ind:Trade, Transportation, & Utilities'): 'Ind%:Trade, Transportation, & Utilities', 
           ('Percent of Employment', 'Ind:Snapshot: White Collar'): 'Ind%:Snapshot: White Collar', 
           ('Percent of Employment', 'Ind:Snapshot: Blue Collar'): 'Ind%:Snapshot: Blue Collar', 
           ('Percent of Employment', 'Ind:Snapshot 4: Government'): 'Ind%:Snapshot 4: Government', 
           ('Percent of Employment', 'Ind:Snapshot 4: Retail & Hospitality'): 'Ind%:Snapshot 4: Retail & Hospitality', 
           ('Percent of Employment', 'Ind:Snapshot 4: Professional Services'): 'Ind%:Snapshot 4: Professional Services', 
           ('Percent of Employment', 'Ind:Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics'): 'Ind%:Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics',
           }
data = data.rename(columns = inddict)
data = data.reset_index(drop = False)

In [108]:
data.head(2)

,NAME,Time,Ind:Construction,Ind:Education & Health Services,Ind:Financial Activities,Ind:Goods Producing,Ind:Information,Ind:Leisure & Hospitality,Ind:Manufacturing,Ind:Natural Resources & Mining,Ind:Other/Unclassified,Ind:Professional & Business Services,Ind:Public Administration,Ind:Service Producing,Ind:Snapshot 4: Government,"Ind:Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics",Ind:Snapshot 4: Professional Services,Ind:Snapshot 4: Retail & Hospitality,Ind:Snapshot: Blue Collar,Ind:Snapshot: White Collar,Ind:Total,"Ind:Trade, Transportation, & Utilities",Ind%:Construction,Ind%:Education & Health Services,Ind%:Financial Activities,Ind%:Goods Producing,Ind%:Information,Ind%:Leisure & Hospitality,Ind%:Manufacturing,Ind%:Natural Resources & Mining,Ind%:Other/Unclassified,Ind%:Professional & Business Services,Ind%:Public Administration,Ind%:Service Producing,Ind%:Snapshot 4: Government,"Ind%:Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics",Ind%:Snapshot 4: Professional Services,Ind%:Snapshot 4: Retail & Hospitality,Ind%:Snapshot: Blue Collar,Ind%:Snapshot: White Collar,Ind%:Total,"Ind%:Trade, Transportation, & Utilities"
0,"Adams city, Tennessee",2019Q1,1.268832,14.583774,3.091802,2.030991,0.005335,8.734091,0.000528,0.761631,2.039257,0.861694,3.644034,32.959987,3.644034,3.579932,20.886733,29.985928,2.818301,21.905574,58.096627,23.10565,2.184002,25.102617,5.321827,3.495884,0.009183,15.033731,0.00091,1.310972,3.510113,1.483208,6.272368,56.733047,6.272368,6.16203,35.951713,51.613888,4.851058,37.705414,NaN,39.771069
1,"Adams city, Tennessee",2019Q2,0.932532,13.736945,3.136402,1.682612,0.010276,8.2936,0.000509,0.749571,2.067902,0.899265,3.321756,31.466146,3.321756,3.110981,20.16536,29.421939,2.36141,20.78431,56.020036,22.871277,1.664641,24.521485,5.598714,3.00359,0.018343,14.804704,0.000909,1.33804,3.691362,1.605257,5.929586,56.16945,5.929586,5.553336,35.996692,52.520387,4.215295,37.101565,NaN,40.82696

Use datetime to convert the Time column to a quarterly period.

https://stackoverflow.com/questions/53898482/clean-way-to-convert-quarterly-periods-to-datetime-in-pandas

In [109]:
qs = data['Time'].str.replace(r'(Q\d) (\d+)', r'\2-\1')

C:\Users\jmccall\AppData\Local\Temp\ipykernel_10672\2473378646.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  qs = data['Time'].str.replace(r'(Q\d) (\d+)', r'\2-\1')

In [110]:
#create a time stamp
data['DateTime'] = pd.PeriodIndex(qs, freq = 'Q').to_timestamp()

In [111]:
#before adding other identifier columns convert numerical to float
cols = list(data.columns)
cols.remove('NAME')
cols.remove('Time')
cols.remove('DateTime')
data[cols] = data[cols].astype(float)

In [112]:
#check that this worked
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462 entries, 0 to 1461
Data columns (total 43 columns):
 #   Column                                                              Non-Null Count  Dtype
---  ------                                                              --------------  -----
 0   NAME                                                                1462 non-null   object
 1   Time                                                                1462 non-null   object
 2   Ind:Construction                                                    1462 non-null   float64
 3   Ind:Education & Health Services                                     1462 non-null   float64
 4   Ind:Financial Activities                                            1462 non-null   float64
 5   Ind:Goods Producing                                                 1462 non-null   float64
 6   Ind:Information                                                     1462 non-null   float64
 7   Ind:Leisure & Hospitality                                           1462 non-null   float64
 8   Ind:Manufacturing                                                   1462 non-null   float64
 9   Ind:Natural Resources & Mining                                      1462 non-null   float64
 10  Ind:Other/Unclassified                                              1462 non-null   float64
 11  Ind:Professional & Business Services                                1462 non-null   float64
 12  Ind:Public Administration                                           1462 non-null   float64
 13  Ind:Service Producing                                               1462 non-null   float64
 14  Ind:Snapshot 4: Government                                          1462 non-null   float64
 15  Ind:Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics   1462 non-null   float64
 16  Ind:Snapshot 4: Professional Services                               1462 non-null   float64
 17  Ind:Snapshot 4: Retail & Hospitality                                1462 non-null   float64
 18  Ind:Snapshot: Blue Collar                                           1462 non-null   float64
 19  Ind:Snapshot: White Collar                                          1462 non-null   float64
 20  Ind:Total                                                           1462 non-null   float64
 21  Ind:Trade, Transportation, & Utilities                              1462 non-null   float64
 22  Ind%:Construction                                                   1462 non-null   float64
 23  Ind%:Education & Health Services                                    1462 non-null   float64
 24  Ind%:Financial Activities                                           1462 non-null   float64
 25  Ind%:Goods Producing                                                1462 non-null   float64
 26  Ind%:Information                                                    1462 non-null   float64
 27  Ind%:Leisure & Hospitality                                          1462 non-null   float64
 28  Ind%:Manufacturing                                                  1462 non-null   float64
 29  Ind%:Natural Resources & Mining                                     1462 non-null   float64
 30  Ind%:Other/Unclassified                                             1462 non-null   float64
 31  Ind%:Professional & Business Services                               1462 non-null   float64
 32  Ind%:Public Administration                                          1462 non-null   float64
 33  Ind%:Service Producing                                              1462 non-null   float64
 34  Ind%:Snapshot 4: Government                                         1462 non-null   float64
 35  Ind%:Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics  1462 non-null   float64
 36  Ind%:Snapshot 4: Professional Services                              1462 non-null   float64
 37  Ind%:Snapshot 4: Retail & Hospitality                               1462 non-null   float64
 38  Ind%:Snapshot: Blue Collar                                          1462 non-null   float64
 39  Ind%:Snapshot: White Collar                                         1462 non-null   float64
 40  Ind%:Total                                                          0 non-null      float64
 41  Ind%:Trade, Transportation, & Utilities                             1462 non-null   float64
 42  DateTime                                                            1462 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(40), object(2)
memory usage: 491.3+ KB

In [113]:
#insert the datetime after the geography name and drop the datetime column
data.insert(1, 'TimeStamp', data['DateTime'])
data = data.drop(columns = 'DateTime')

In [114]:
#map to geoid dictionary from module and add source
data['GEO_ID'] = data['NAME'].map(geotogeoid)
data['Source'] = 'JobsEQ'

In [115]:
data.head()

,NAME,TimeStamp,Time,Ind:Construction,Ind:Education & Health Services,Ind:Financial Activities,Ind:Goods Producing,Ind:Information,Ind:Leisure & Hospitality,Ind:Manufacturing,Ind:Natural Resources & Mining,Ind:Other/Unclassified,Ind:Professional & Business Services,Ind:Public Administration,Ind:Service Producing,Ind:Snapshot 4: Government,"Ind:Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics",Ind:Snapshot 4: Professional Services,Ind:Snapshot 4: Retail & Hospitality,Ind:Snapshot: Blue Collar,Ind:Snapshot: White Collar,Ind:Total,"Ind:Trade, Transportation, & Utilities",Ind%:Construction,Ind%:Education & Health Services,Ind%:Financial Activities,Ind%:Goods Producing,Ind%:Information,Ind%:Leisure & Hospitality,Ind%:Manufacturing,Ind%:Natural Resources & Mining,Ind%:Other/Unclassified,Ind%:Professional & Business Services,Ind%:Public Administration,Ind%:Service Producing,Ind%:Snapshot 4: Government,"Ind%:Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics",Ind%:Snapshot 4: Professional Services,Ind%:Snapshot 4: Retail & Hospitality,Ind%:Snapshot: Blue Collar,Ind%:Snapshot: White Collar,Ind%:Total,"Ind%:Trade, Transportation, & Utilities",GEO_ID,Source
0,"Adams city, Tennessee",2019-01-01,2019Q1,1.268832,14.583774,3.091802,2.030991,0.005335,8.734091,0.000528,0.761631,2.039257,0.861694,3.644034,32.959987,3.644034,3.579932,20.886733,29.985928,2.818301,21.905574,58.096627,23.105650,2.184002,25.102617,5.321827,3.495884,0.009183,15.033731,0.000910,1.310972,3.510113,1.483208,6.272368,56.733047,6.272368,6.162030,35.951713,51.613888,4.851058,37.705414,NaN,39.771069,1600000US4700200,JobsEQ
1,"Adams city, Tennessee",2019-04-01,2019Q2,0.932532,13.736945,3.136402,1.682612,0.010276,8.293600,0.000509,0.749571,2.067902,0.899265,3.321756,31.466146,3.321756,3.110981,20.165360,29.421939,2.361410,20.784310,56.020036,22.871277,1.664641,24.521485,5.598714,3.003590,0.018343,14.804704,0.000909,1.338040,3.691362,1.605257,5.929586,56.169450,5.929586,5.553336,35.996692,52.520387,4.215295,37.101565,NaN,40.826960,1600000US4700200,JobsEQ
2,"Adams city, Tennessee",2019-07-01,2019Q3,0.599508,12.901809,3.163929,1.348407,0.018164,7.948416,0.000493,0.748406,2.131102,0.946073,2.997581,30.107073,2.997581,2.641716,19.482272,28.718428,1.893310,19.663294,53.839996,22.384516,1.113499,23.963242,5.876541,2.504471,0.033737,14.763032,0.000916,1.390056,3.958213,1.757193,5.567572,55.919530,5.567572,4.906605,36.185500,53.340324,3.516549,36.521723,NaN,41.575999,1600000US4700200,JobsEQ
3,"Adams city, Tennessee",2019-10-01,2019Q4,0.265483,12.183179,3.155745,1.004813,0.025685,7.585570,0.000476,0.738853,2.097124,0.990559,2.672522,28.710385,2.672522,2.151460,18.781177,27.709064,1.412607,18.619898,51.314224,21.599027,0.517368,23.742303,6.149845,1.958157,0.050054,14.782588,0.000928,1.439861,4.086828,1.930380,5.208151,55.950149,5.208151,4.192717,36.600334,53.998798,2.752856,36.286036,NaN,42.091695,1600000US4700200,JobsEQ
4,"Adams city, Tennessee",2020-01-01,2020Q1,0.575134,9.787877,3.317701,1.288758,0.027968,7.542050,0.000475,0.713148,2.384248,0.930012,2.481662,26.471519,2.481662,2.358832,16.788321,27.749891,1.645683,16.198797,49.378706,21.618429,1.164742,19.822061,6.718891,2.609947,0.056640,15.273892,0.000963,1.444243,4.828493,1.883428,5.025775,53.609179,5.025775,4.777022,33.999111,56.198092,3.332780,32.805229,NaN,43.780874,1600000US4700200,JobsEQ

In [43]:
#final check
data.head()

,NAME,TimeStamp,Time,Ind:Construction,Ind:Education & Health Services,Ind:Financial Activities,Ind:Goods Producing,Ind:Information,Ind:Leisure & Hospitality,Ind:Manufacturing,Ind:Natural Resources & Mining,Ind:Other/Unclassified,Ind:Professional & Business Services,Ind:Public Administration,Ind:Service Producing,Ind:Total,"Ind:Trade, Transportation, & Utilities",Ind%:Construction,Ind%:Education & Health Services,Ind%:Financial Activities,Ind%:Goods Producing,Ind%:Information,Ind%:Leisure & Hospitality,Ind%:Manufacturing,Ind%:Natural Resources & Mining,Ind%:Other/Unclassified,Ind%:Professional & Business Services,Ind%:Public Administration,Ind%:Service Producing,Ind%:Total,"Ind%:Trade, Transportation, & Utilities",GEO_ID,Source
0,"Adams city, Tennessee",2019-01-01,2019Q1,1.305952,16.306345,3.022547,2.244575,0.035368,9.184870,0.000106,0.938517,2.794552,1.051732,3.650866,36.046279,60.957684,22.666830,2.142391,26.750269,4.958434,3.682185,0.058021,15.067617,0.000174,1.539620,4.584413,1.725348,5.989180,59.133282,NaN,37.184533,1600000US4700200,JobsEQ
1,"Adams city, Tennessee",2019-04-01,2019Q2,0.973770,16.215050,3.007493,1.897441,0.032259,8.781033,0.000102,0.923569,2.843634,1.138403,3.264177,35.282049,59.517389,22.337899,1.636111,27.244222,5.053134,3.188045,0.054201,14.753727,0.000171,1.551764,4.777821,1.912723,5.484410,59.280237,NaN,37.531718,1600000US4700200,JobsEQ
2,"Adams city, Tennessee",2019-07-01,2019Q3,0.645157,16.136415,2.970006,1.567421,0.032931,8.465746,0.000098,0.922167,2.914760,1.237681,2.874473,34.632012,57.964825,21.765392,1.113014,27.838289,5.123807,2.704090,0.056811,14.604972,0.000169,1.590907,5.028498,2.135227,4.958995,59.746599,NaN,37.549310,1600000US4700200,JobsEQ
3,"Adams city, Tennessee",2019-10-01,2019Q4,0.315193,16.983101,2.901212,1.225575,0.033157,8.138603,0.000094,0.910288,2.883152,1.335975,2.484836,34.760037,56.900578,20.914967,0.553936,29.846975,5.098738,2.153888,0.058272,14.303199,0.000165,1.599787,5.067000,2.347911,4.366979,61.089075,NaN,36.757037,1600000US4700200,JobsEQ
4,"Adams city, Tennessee",2020-01-01,2020Q1,0.315552,18.009454,2.928454,1.193624,0.036952,8.267085,0.000094,0.877978,3.012317,1.356741,2.464372,36.075376,57.990243,20.721243,0.544147,31.056008,5.049909,2.058319,0.063721,14.255993,0.000162,1.514010,5.194523,2.339602,4.249633,62.209389,NaN,35.732292,1600000US4700200,JobsEQ

In [116]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462 entries, 0 to 1461
Data columns (total 45 columns):
 #   Column                                                              Non-Null Count  Dtype
---  ------                                                              --------------  -----
 0   NAME                                                                1462 non-null   object
 1   TimeStamp                                                           1462 non-null   datetime64[ns]
 2   Time                                                                1462 non-null   object
 3   Ind:Construction                                                    1462 non-null   float64
 4   Ind:Education & Health Services                                     1462 non-null   float64
 5   Ind:Financial Activities                                            1462 non-null   float64
 6   Ind:Goods Producing                                                 1462 non-null   float64
 7   Ind:Information                                                     1462 non-null   float64
 8   Ind:Leisure & Hospitality                                           1462 non-null   float64
 9   Ind:Manufacturing                                                   1462 non-null   float64
 10  Ind:Natural Resources & Mining                                      1462 non-null   float64
 11  Ind:Other/Unclassified                                              1462 non-null   float64
 12  Ind:Professional & Business Services                                1462 non-null   float64
 13  Ind:Public Administration                                           1462 non-null   float64
 14  Ind:Service Producing                                               1462 non-null   float64
 15  Ind:Snapshot 4: Government                                          1462 non-null   float64
 16  Ind:Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics   1462 non-null   float64
 17  Ind:Snapshot 4: Professional Services                               1462 non-null   float64
 18  Ind:Snapshot 4: Retail & Hospitality                                1462 non-null   float64
 19  Ind:Snapshot: Blue Collar                                           1462 non-null   float64
 20  Ind:Snapshot: White Collar                                          1462 non-null   float64
 21  Ind:Total                                                           1462 non-null   float64
 22  Ind:Trade, Transportation, & Utilities                              1462 non-null   float64
 23  Ind%:Construction                                                   1462 non-null   float64
 24  Ind%:Education & Health Services                                    1462 non-null   float64
 25  Ind%:Financial Activities                                           1462 non-null   float64
 26  Ind%:Goods Producing                                                1462 non-null   float64
 27  Ind%:Information                                                    1462 non-null   float64
 28  Ind%:Leisure & Hospitality                                          1462 non-null   float64
 29  Ind%:Manufacturing                                                  1462 non-null   float64
 30  Ind%:Natural Resources & Mining                                     1462 non-null   float64
 31  Ind%:Other/Unclassified                                             1462 non-null   float64
 32  Ind%:Professional & Business Services                               1462 non-null   float64
 33  Ind%:Public Administration                                          1462 non-null   float64
 34  Ind%:Service Producing                                              1462 non-null   float64
 35  Ind%:Snapshot 4: Government                                         1462 non-null   float64
 36  Ind%:Snapshot 4: Industrial, Manufacturing, Utilities, & Logistics  1462 non-null   float64
 37  Ind%:Snapshot 4: Professional Services                              1462 non-null   float64
 38  Ind%:Snapshot 4: Retail & Hospitality                               1462 non-null   float64
 39  Ind%:Snapshot: Blue Collar                                          1462 non-null   float64
 40  Ind%:Snapshot: White Collar                                         1462 non-null   float64
 41  Ind%:Total                                                          0 non-null      float64
 42  Ind%:Trade, Transportation, & Utilities                             1462 non-null   float64
 43  GEO_ID                                                              1156 non-null   object
 44  Source                                                              1462 non-null   object
dtypes: datetime64[ns](1), float64(40), object(4)
memory usage: 514.1+ KB

In [117]:
#export to the SQLite database as only the JobsEQ quarterly data
conn = sq.connect('../../Outputs/Labor_Economy.db')
data.to_sql('JobsEQ_IndustryEmployment_Quarterly', conn, if_exists = 'replace', index = False)

1462