###### Imports and Settings

In [31]:
import pandas as pd
import numpy as np
import requests
import pickle
from collections import deque
from functools import reduce
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)
pd.options.mode.chained_assignment = None  # default='warn'

In [32]:
import sys
sys.path.append("../../../Functions and Dictionaries") # Adds higher directory to python modules path
import geodict
GNRC = geodict.GNRC
KY = geodict.KY
censusplaces = geodict.censusplaces

# American Community Survey 2017-2021 5 Year Estimates

In [33]:
#read in API key
with open('api_keys.pkl', 'rb') as keys_file:
        keys_dict_2 = pickle.load(keys_file)

In [34]:
#variable containing Census API key
api_key = keys_dict_2['CENSUS']

## Read In Data Guide

In [35]:
dataguide = pd.read_csv('../../Data Guides/DATA GUIDE ACS 2016 CEDS.csv', dtype = str)
dataguide['ID'] = dataguide['ID'].astype(int)

In [36]:
dg1 = dataguide[dataguide['ID'].between(1, 46)]
dg2 = dataguide[dataguide['ID'].between(47, 92)]
dg3 = dataguide[dataguide['ID'].between(93, 138)]
dg4 = dataguide[dataguide['ID'].between(139, 184)]
dg5 = dataguide[dataguide['ID'].between(185, 230)]
dg6 = dataguide[dataguide['ID'].between(231, 276)]
dg7 = dataguide[dataguide['ID'].between(277, 322)]
dg8 = dataguide[dataguide['ID'].between(323, 368)]
#dg9 = dataguide[dataguide['ID'].between(369, 414)]

In [37]:
dfs = [dg1, dg2, dg3, dg4, dg5, dg6, dg7, dg8, dg9]

In [38]:
#url string and list parameters for column head and tail
url_str= 'https://api.census.gov/data/2016/acs/acs5?key='+api_key
head1 = 'NAME' 
head2 = 'GEO_ID'
tail_cols1 = 'StateFIPS'
tail_cols2 = 'GeoFIPS'
tail_cols3 = 'GeoFIPS2'

In [39]:
results = []
for df in dfs:
    dataguide = df
    for col_name, col_data in df.items():
        var_list = list(dataguide['Variable']) #make variables list
        var_list = deque(var_list)
        var_list.appendleft(head2)
        var_list.appendleft(head1)
        col_list = list(dataguide['Column Name']) #make columns list
        col_list.append(tail_cols1)
        col_list.append(tail_cols2)
        col_list = deque(col_list)
        col_list.appendleft(head2)
        col_list.appendleft(head1)
        predicates= {} #call for all counties in state of TN
        get_vars= var_list
        predicates["get"]= ",". join(get_vars)
        predicates["for"]= "county:*"
        predicates["in"]= "state:47"                                                             
        data = requests.get(url_str, params= predicates)                                                                
        col_names = col_list
        df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
        df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
        col_list.remove(tail_cols2) #adjust the column list for different formats of geos
        predicates= {} #call for state of TN
        get_vars= var_list
        predicates["get"]= ",". join(get_vars)
        predicates["for"]= "state:47"
        data= requests.get(url_str, params= predicates)
        col_names = col_list
        state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
        state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
        df = pd.concat([df, state], axis = 0)
        predicates= {} #call for US
        get_vars= var_list
        predicates["get"]= ",". join(get_vars)
        predicates["for"]= "us:*"
        data= requests.get(url_str, params= predicates)
        col_names = col_list
        national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
        national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
        df = pd.concat([df, national], axis = 0)
        results.append(df)
new_df = pd.concat(results, axis = 1)
new_df = new_df.transpose().reset_index(drop = False).drop_duplicates()
new_df.columns = new_df.iloc[0]
new_df = new_df.set_index('NAME').transpose().drop(columns = ['StateFIPS', 'GeoFIPS']).reset_index(drop = True)
new_df = new_df.rename_axis(None, axis = 1)
print('Okay Finished')

Okay Finished

In [40]:
data = new_df

In [41]:
data.head()

,NAME,GEO_ID,attainment_total_over25_series,attainment_noschooling,attainment_nurseryschool,attainment_kindergarten,attainment_1stgrade,attainment_2ndgrade,attainment_3rdgrade,attainment_4thgrade,attainment_5thgrade,attainment_6thgrade,attainment_7thgrade,attainment_8thgrade,attainment_9thgrade,attainment_10thgrade,attainment_11thgrade,attainment_12thgradenodiploma,attainment_regularhighschooldiploma,attainment_gedoralternativecredential,attainment_somecollegelessthan1year,attainment_somecollege1ormoreyearsnodegree,attainment_associatesdegree,attainment_bachelorsdegree,attainment_mastersdegree,attainment_professionalschooldegree,attainment_doctoratedegree,lfstatus_total_sexbyagebyemploymentstatus16+_series,lfstatus_m_total,lfstatus_m_16to19,lfstatus_m_16to19_inlf,lfstatus_m_16to19_inlf_armedforces,lfstatus_m_16to19_inlf_civilian,lfstatus_m_16to19_inlf_civilian_employed,lfstatus_m_16to19_inlf_civilian_unemployed,lfstatus_m_16to19_notinlf,lfstatus_m_20to21,lfstatus_m_20to21_inlf,lfstatus_m_20to21_inlf_armedforces,lfstatus_m_20to21_inlf_civilian,lfstatus_m_20to21_inlf_civilian_employed,lfstatus_m_20to21_inlf_civilian_unemployed,lfstatus_m_20to21_notinlf,lfstatus_m_22to24,lfstatus_m_22to24_inlf,lfstatus_m_22to24_inlf_armedforces,lfstatus_m_22to24_inlf_civilian,lfstatus_m_22to24_inlf_civilian_employed,lfstatus_m_22to24_inlf_civilian_unemployed,lfstatus_m_22to24_notinlf,lfstatus_m_25to29,lfstatus_m_25to29_inlf,lfstatus_m_25to29_inlf_armedforces,lfstatus_m_25to29_inlf_civilian,lfstatus_m_25to29_inlf_civilian_employed,lfstatus_m_25to29_inlf_civilian_unemployed,lfstatus_m_25to29_notinlf,lfstatus_m_30to34,lfstatus_m_30to34_inlf,lfstatus_m_30to34_inlf_armedforces,lfstatus_m_30to34_inlf_civilian,lfstatus_m_30to34_inlf_civilian_employed,lfstatus_m_30to34_inlf_civilian_unemployed,lfstatus_m_30to34_notinlf,lfstatus_m_35to44,lfstatus_m_35to44_inlf,lfstatus_m_35to44_inlf_armedforces,lfstatus_m_35to44_inlf_civilian,lfstatus_m_35to44_inlf_civilian_employed,lfstatus_m_35to44_inlf_civilian_unemployed,lfstatus_m_35to44_notinlf,lfstatus_m_45to54,lfstatus_m_45to54_inlf,lfstatus_m_45to54_inlf_armedforces,lfstatus_m_45to54_inlf_civilian,lfstatus_m_45to54_inlf_civilian_employed,lfstatus_m_45to54_inlf_civilian_unemployed,lfstatus_m_45to54_notinlf,lfstatus_m_55to59,lfstatus_m_55to59_inlf,lfstatus_m_55to59_inlf_armedforces,lfstatus_m_55to59_inlf_civilian,lfstatus_m_55to59_inlf_civilian_employed,lfstatus_m_55to59_inlf_civilian_unemployed,lfstatus_m_55to59_notinlf,lfstatus_m_60to61,lfstatus_m_60to61_inlf,lfstatus_m_60to61_inlf_armedforces,lfstatus_m_60to61_inlf_civilian,lfstatus_m_60to61_inlf_civilian_employed,lfstatus_m_60to61_inlf_civilian_unemployed,lfstatus_m_60to61_notinlf,lfstatus_m_62to64,lfstatus_m_62to64_inlf,lfstatus_m_62to64_inlf_armedforces,lfstatus_m_62to64_inlf_civilian,lfstatus_m_62to64_inlf_civilian_employed,lfstatus_m_62to64_inlf_civilian_unemployed,lfstatus_m_62to64_notinlf,lfstatus_m_65to69,lfstatus_m_65to69_inlf,lfstatus_m_65to69_inlf_employed,lfstatus_m_65to69_inlf_unemployed,lfstatus_m_65to69_notinlf,lfstatus_m_70to74,lfstatus_m_70to74_inlf,lfstatus_m_70to74_inlf_employed,lfstatus_m_70to74_inlf_unemployed,lfstatus_m_70to74_notinlf,lfstatus_m_75andolder,lfstatus_m_75andolder_inlf,lfstatus_m_75andolder_inlf_employed,lfstatus_m_75andolder_inlf_unemployed,lfstatus_m_75andolder_notinlf,lfstatus_f_total,lfstatus_f_16to19,lfstatus_f_16to19_inlf,lfstatus_f_16to19_inlf_armedforces,lfstatus_f_16to19_inlf_civilian,lfstatus_f_16to19_inlf_civilian_employed,lfstatus_f_16to19_inlf_civilian_unemployed,lfstatus_f_16to19_notinlf,lfstatus_f_20to21,lfstatus_f_20to21_inlf,lfstatus_f_20to21_inlf_armedforces,lfstatus_f_20to21_inlf_civilian,lfstatus_f_20to21_inlf_civilian_employed,lfstatus_f_20to21_inlf_civilian_unemployed,lfstatus_f_20to21_notinlf,lfstatus_f_22to24,lfstatus_f_22to24_inlf,lfstatus_f_22to24_inlf_armedforces,lfstatus_f_22to24_inlf_civilian,lfstatus_f_22to24_inlf_civilian_employed,lfstatus_f_22to24_inlf_civilian_unemployed,lfstatus_f_22to24_notinlf,lfstatus_f_25to29,lfstatus_f_25to29_inlf,lfstatus_f_25to29_inlf_armedforces,lfstatus_f_25to29_inlf_civilian,lfstatus_f_25to29_inlf_civilian_employed,lfstatus_f_25to29_inlf_civilian_unemployed,lfstatus_f_25to29_notinlf,lfstatus_f_30to34,lfstatus_f_30to34_inlf,lfstatus_f_30to34_inlf_armedforces,lfstatus_f_30to34_inlf_civilian,lfstatus_f_30to34_inlf_civilian_employed,lfstatus_f_30to34_inlf_civilian_unemployed,lfstatus_f_30to34_notinlf,lfstatus_f_35to44,lfstatus_f_35to44_inlf,lfstatus_f_35to44_inlf_armedforces,lfstatus_f_35to44_inlf_civilian,lfstatus_f_35to44_inlf_civilian_employed,lfstatus_f_35to44_inlf_civilian_unemployed,lfstatus_f_35to44_notinlf,lfstatus_f_45to54,lfstatus_f_45to54_inlf,lfstatus_f_45to54_inlf_armedforces,lfstatus_f_45to54_inlf_civilian,lfstatus_f_45to54_inlf_civilian_employed,lfstatus_f_45to54_inlf_civilian_unemployed,lfstatus_f_45to54_notinlf,lfstatus_f_55to59,lfstatus_f_55to59_inlf,lfstatus_f_55to59_inlf_armedforces,lfstatus_f_55to59_inlf_civilian,lfstatus_f_55to59_inlf_civilian_employed,lfstatus_f_55to59_inlf_civilian_unemployed,lfstatus_f_55to59_notinlf,lfstatus_f_60to61,lfstatus_f_60to61_inlf,lfstatus_f_60to61_inlf_armedforces,lfstatus_f_60to61_inlf_civilian,lfstatus_f_60to61_inlf_civilian_employed,lfstatus_f_60to61_inlf_civilian_unemployed,lfstatus_f_60to61_notinlf,lfstatus_f_62to64,lfstatus_f_62to64_inlf,lfstatus_f_62to64_inlf_armedforces,lfstatus_f_62to64_inlf_civilian,lfstatus_f_62to64_inlf_civilian_employed,lfstatus_f_62to64_inlf_civilian_unemployed,lfstatus_f_62to64_notinlf,lfstatus_f_65to69,lfstatus_f_65to69_inlf,lfstatus_f_65to69_inlf_employed,lfstatus_f_65to69_inlf_unemployed,lfstatus_f_65to69_notinlf,lfstatus_f_70to74,lfstatus_f_70to74_inlf,lfstatus_f_70to74_inlf_employed,lfstatus_f_70to74_inlf_unemployed,lfstatus_f_70to74_notinlf,lfstatus_f_75andolder,lfstatus_f_75andolder_inlf,lfstatus_f_75andolder_inlf_employed,lfstatus_f_75andolder_inlf_unemployed,lfstatus_f_75andolder_notinlf,hhincome_median_hholderage_series_total,hhincome_median_hholderu25,hhincome_median_hholder25to44,hhincome_median_hholder45to64,hhincome_median_hholder65over,hhincome_median,hhincome_total_series,hhincome_lessthan10000,hhincome_10to14999,hhincome_15to19999,hhincome_20to24999,hhincome_25to29999,hhincome_30to34999,hhincome_35to39999,hhincome_40to44999,hhincome_45to49999,hhincome_50to59999,hhincome_60to74999,hhincome_75to99999,hhincome_100to124999,hhincome125to149999,hhincome150to199999,hhincome200ormore,earn_total_series,earn_total_m,earn_m_1to2499orloss,earn_m_2500to4999,earn_m_5000to7499,earn_m_7500to9999,earn_m_10000to12499,earn_m_12500to14999,earn_m_15000to17499,earn_m_17500to19999,earn_m_20000to22499,earn_m_22500to24999,earn_m_25000to29999,earn_m_30000to34999,earn_m_35000to39999,earn_m_40000to44999,earn_m_45000to49999,earn_m_50000to54999,earn_m_55000to64999,earn_m_65000to74999,earn_m_75000to99999,earn_m_100000ormore,earn_total_f,earn_f_1to2499orloss,earn_f_2500to4999,earn_f_5000to7499,earn_f_7500to9999,earn_f_10000to12499,earn_f_12500to14999,earn_f_15000to17499,earn_f_17500to19999,earn_f_20000to22499,earn_f_22500to24999,earn_f_25000to29999,earn_f_30000to34999,earn_f_35000to39999,earn_f_40000to44999,earn_f_45000to49999,earn_f_50000to54999,earn_f_55000to64999,earn_f_65000to74999,earn_f_75000to99999,earn_f_100000ormore,earn_allwithearnings_median,earn_total_fulltime_m,earn_total_m_fulltime_noearnings,earn_total_m_fulltime_withearnings,earn_m_fulltime_1to2499orloss,earn_m_fulltime_2500to4999,earn_m_fulltime_5000to7499,earn_m_fulltime_7500to9999,earn_m_fulltime_10000to12499,earn_m_fulltime_12500to14999,earn_m_fulltime_15000to17499,earn_m_fulltime_17500to19999,earn_m_fulltime_20000to22499,earn_m_fulltime_22500to24999,earn_m_fulltime_25000to29999,earn_m_fulltime_30000to34999,earn_m_fulltime_35000to39999,earn_m_fulltime_40000to44999,earn_m_fulltime_45000to49999,earn_m_fulltime_50000to54999,earn_m_fulltime_55000to64999,earn_m_fulltime_65000to74999,earn_m_fulltime_75000to99999,earn_m_fulltime_100000ormore,earn_total_f_workexperience,earn_total_fulltime_f,earn_total_f_fulltime_noearnings,earn_total_f_fulltime_withearnings,earn_f_fulltime_1to2499orloss,earn_f_fulltime_2500to4999,earn_f_fulltime_5000to7499,earn_f_fulltime_7500to9999,earn_f_fulltime_10000to12499,earn_f_fulltime_12500to14999,earn_f_fulltime_15000to17499,earn_f_fulltime_17500to19999,earn_f_fulltime_20000to22499,earn_f_fulltime_22500to24999,earn_f_fulltime_25000to29999,earn_f_fulltime_30000to34999,earn_f_fulltime_35000to39999,earn_f_fulltime_40000to44999,earn_f_fulltime_45000to49999,earn_f_fulltime_50000to54999,earn_f_fulltime_55000to64999,earn_f_fulltime_65000to74999,earn_f_fulltime_75000to99999,earn_f_fulltime_100000ormore,housingcost_mediangrossrent_renteroccupied,housingcost_medcosts_ownerocc,housingcost_medcosts_ownerocc_mortgage,housingcost_medcosts_ownerocc_womortgage,commute_total_meansoftransportationtowork_series,commute_cartruckvan,commute_cartruckvan_drovealone,commute_cartruckvan_carpooled,commute_cartruckvan_carpooled_2ppl,commute_cartruckvan_carpooled_3ppl,commute_cartruckvan_carpooled_4ormoreppl,commute_publictransportation,commute_publictransportation_bus,commute_publictransportation_subwayorelevatedrail,commute_publictransportation_longdistancetrainorcommuterrail,commute_publictransportation_lightrailstreetcarortrolley,commute_publictransportation_ferryboat,commute_bicycle,commute_walk,commute_taxicabmotorcycleother,commute_workedfromhome,traveltimemode_series_total,traveltimemode_lessthan10,traveltimemode_10to14,traveltimemode_15to19,traveltimemode_20to24,traveltimemode_25to29,traveltimemode_30to34,traveltimemode_35to44,traveltimemode_45to59,traveltimemode_60ormore,housingcost_total_selectedownercosts%hhincome_series,housingcost_total%ownercostwmortgage_series,housingcost_%ownercost30to34.9_wmortgage,housingcost_%ownercost35to39.9_wmortgage,housingcost_%ownercost40to49.9_wmortgage,housingcost_%ownercost50+_wmortgage,housingcost_total%ownercostwomortgage_series,housingcost_%ownercost30to34.9_womortgage,housingcost_%ownercost35to39.9_womortgage,housingcost_%ownercost40to49.9_womortgage,housingcost_%ownercost50+_womortgage,housingcost_total_rent%hhincome_series,housingcost_%rentercost30to34.9,housingcost_%rentercost35to39.9,housingcost_%rentercost40to49.9,housingcost_%rentercost50+,aggregatetraveltimetowork,poverty_belowlevel,housing_medianvalue,poverty_total_bysexbyage_series
0,"Sumner County, Tennessee",0500000US47165,116882,1046,28,39,57,37,274,59,130,323,575,1558,1404,2364,2787,1874,31019,6602,9142,19066,8575,20190,7107,1699,927,135548,65382,4518,2139,0,2139,1808,331,2379,1849,1346,19,1327,1182,145,503,3406,2649,69,2580,2385,195,757,4719,4294,28,4266,4046,220,425,5264,4761,10,4751,4462,289,503,11409,10475,30,10445,10031,414,934,12443,11188,20,11168,10748,420,1255,5709,4508,0,4508,4367,141,1201,2139,1625,0,1625,1572,53,514,2740,1706,0,1706,1628,78,1034,4376,1463,1415,48,2913,2928,561,556,5,2367,3882,547,537,10,3335,70166,4113,1907,0,1907,1646,261,2206,1506,1136,0,1136,986,150,370,3274,2642,0,2642,2436,206,632,5168,4060,8,4052,3828,224,1108,5621,4168,0,4168,4045,123,1453,12076,9139,14,9125,8659,466,2937,12946,9850,0,9850,9385,465,3096,5782,3800,0,3800,3611,189,1982,2323,1372,0,1372,1277,95,951,3241,1771,0,1771,1693,78,1470,4667,1379,1306,73,3288,3505,454,454,0,3051,5944,324,324,0,5620,58972,36189,63173,69950,41918,58972,63240,2809,2397,2650,3274,2603,3455,3238,3331,2878,5579,7158,8883,5734,3143,3259,2849,92847,48992,2290,1600,1706,999,1556,1208,1433,1433,1933,1271,2996,3493,2849,2991,2133,2677,3765,2659,4259,5741,43855,2989,2100,2348,1633,1969,1669,1507,1498,2331,1936,3823,3823,2850,2791,2111,2137,2224,1148,1571,1397,31990,34782,0,34782,63,64,81,126,168,632,546,944,1273,1088,2419,3031,2407,2684,1812,2370,3562,2495,3836,5181,70166,26741,0,26741,15,60,192,229,707,577,602,964,1582,1386,3244,3046,2440,2345,1795,1855,1920,1059,1464,1259,900,1066,1360,410,83075,77179,70241,6938,5556,1032,350,391,353,1,0,8,29,70,571,792,4072,79003,8739,9935,10354,9637,5230,11260,7243,9484,7121,46137,31799,2714,1496,1871,2735,14338,306,214,262,433,17103,1121,1030,1935,3488,2193085,16543,184900,170962
1,"Trousdale County, Tennessee",0500000US47169,5339,133,0,0,4,8,5,20,0,43,32,190,153,177,253,87,1805,301,413,611,314,521,207,54,8,6322,3053,183,84,0,84,54,30,99,85,46,0,46,46,0,39,188,98,0,98,84,14,90,210,170,0,170,170,0,40,220,215,0,215,198,17,5,500,402,0,402,385,17,98,590,467,0,467,425,42,123,248,191,0,191,174,17,57,98,33,0,33,33,0,65,141,47,0,47,47,0,94,300,158,158,0,142,105,47,47,0,58,185,8,8,0,177,3269,186,87,0,87,34,53,99,120,82,0,82,82,0,38,221,181,0,181,181,0,40,142,125,0,125,125,0,17,232,204,0,204,167,37,28,530,390,0,390,390,0,140,564,399,0,399,320,79,165,310,188,0,188,188,0,122,73,14,0,14,14,0,59,194,91,0,91,91,0,103,149,55,55,0,94,259,41,41,0,218,289,13,13,0,276,47667,-666666666,57214,35026,53158,47667,2958,242,239,140,201,312,23,158,82,110,334,249,435,229,83,103,18,3894,2022,67,68,72,49,132,31,50,103,36,35,229,170,76,90,77,120,263,60,185,109,1872,157,98,125,103,75,80,180,32,99,66,378,106,70,29,39,100,35,0,87,13,26741,1372,0,1372,0,0,13,0,0,23,0,57,32,31,169,155,53,79,75,120,221,60,185,99,3269,1048,0,1048,0,0,53,0,0,43,112,8,86,66,251,91,59,29,32,83,35,0,87,13,592,687,1071,372,3467,3270,2872,398,258,20,120,2,0,0,0,2,0,0,34,0,161,3306,422,477,281,300,123,714,273,247,469,2265,1362,85,67,91,257,903,15,0,69,57,693,33,65,57,112,93815,1043,129100,7863
2,"Davidson County, Tennessee",0500000US47037,454177,7168,36,86,123,347,1150,1308,1018,3836,2077,5138,7620,8425,10861,7597,89068,16738,22948,66517,28607,108196,43972,12641,8700,536964,255759,15426,6536,0,6536,4819,1717,8890,10092,7137,0,7137,6024,1113,2955,14576,11773,7,11766,10788,978,2803,32002,28468,135,28333,27047,1286,3534,30023,27433,85,27348,26216,1132,2590,46168,41711,66,41645,39812,1833,4457,40926,34632,34,34598,32976,1622,6294,19564,14657,0,14657,14004,653,4907,7736,5316,0,5316,5148,168,2420,8675,5117,0,5117,4931,186,3558,11827,5143,4994,149,6684,7489,2362,2264,98,5127,11255,1505,1446,59,9750,281205,15516,6807,0,6807,5180,1627,8709,9537,6329,0,6329,5290,1039,3208,17640,13997,11,13986,12708,1278,3643,35526,29655,24,29631,28089,1542,5871,30560,25160,0,25160,23831,1329,5400,45400,35046,37,35009,33137,1872,10354,42973,33474,35,33439,31489,1950,9499,21949,15459,0,15459,14767,692,6490,8501,5293,0,5293,4919,374,3208,10406,5429,0,5429,5258,171,4977,13826,4841,4534,307,8985,9677,1543,1429,114,8134,19694,1136,1074,62,18558,50484,28949,52234,56652,42673,50484,269078,19294,13523,13966,14949,15003,15182,14058,14506,12789,21764,28131,31887,18940,11068,11385,12633,390724,199222,11015,7456,6882,4948,8355,5384,7555,7076,10229,7220,14671,15630,12425,11817,7561,9543,10581,8042,12796,20036,191502,12876,9507,9154,6392,9572,6286,7670,6854,10345,5876,14580,15658,12916,13204,8518,7899,11152,6104,8174,8765,30620,133731,0,133731,253,458,1065,661,2509,1968,3742,4591,6300,5413,11429,12366,10910,9990,6777,8607,9661,7312,11678,18041,281205,117345,0,117345,122,218,1062,1159,2362,2319,3835,3923,6410,4291,11304,12888,11115,11445,7340,6761,10113,5522,7489,7667,904,1106,1332,461,344577,308407,274059,34348,26274,4976,3098,7508,7144,118,43,203,0,752,6945,3523,17442,327135,28586,39730,57550,64231,26359,57161,19709,19709,14100,145206,102222,8020,5259,5499,11052,42984,1435,808,867,2198,123872,10827,8573,11072,26208,7920860,114238,177700,646910
3,"Montgomery County, Tennessee",0500000US47125,115734,1027,0,28,42,3,93,45,90,279,364,747,1142,1110,2004,2012,29695,5619,9653,22148,10317,20011,7275,1122,908,143269,71345,5005,1595,116,1479,1126,353,3410,3895,2865,733,2132,1769,363,1030,5477,4733,1856,2877,2686,191,744,10414,9444,3342,6102,5650,452,970,8515,7655,2206,5449,5190,259,860,12306,11069,2892,8177,7740,437,1237,10547,8613,660,7953,7609,344,1934,4314,3249,6,3243,3033,210,1065,1508,860,0,860,843,17,648,2156,1194,0,1194,1170,24,962,2883,920,920,0,1963,1671,345,335,10,1326,2654,245,219,26,2409,71924,4765,1883,13,1870,1496,374,2882,3771,2712,165,2547,2176,371,1059,4622,3423,161,3262,2816,446,1199,9285,6258,289,5969,5143,826,3027,7811,5141,183,4958,4441,517,2670,12552,8631,107,8524,7603,921,3921,11118,7697,32,7665,7292,373,3421,4618,2984,0,2984,2906,78,1634,1893,1013,0,1013,995,18,880,2422,866,0,866,794,72,1556,3254,701,690,11,2553,2102,247,220,27,1855,3711,156,140,16,3555,51528,32537,52457,61048,44868,51528,67090,4961,2547,2720,3558,3604,3835,3805,3928,3118,6285,9250,9121,4547,2416,2100,1295,97138,54083,2130,1586,1508,1165,1559,1528,1802,1379,2288,1914,4349,4350,4048,4249,2638,3537,4452,3248,3511,2842,43055,3490,2896,2812,2176,2717,1541,2316,1590,2758,1490,3491,3267,2852,2421,1600,1406,1464,1170,906,692,30041,41615,0,41615,8,81,321,149,389,752,912,1026,1655,1647,3812,4131,3849,4022,2504,3269,4251,3064,3144,2629,71924,24399,10,24389,91,168,293,493,861,535,1281,878,1876,1210,2881,2784,2504,2178,1315,1230,1227,1136,856,592,899,993,1173,384,85552,79716,73560,6156,4535,879,742,789,789,0,0,0,0,53,1600,1326,2068,83484,8716,9827,15578,15419,6352,11659,4505,5510,5918,39631,28671,2106,1660,1455,2509,10960,310,139,129,397,27459,2279,2350,2364,4719,2053060,28232,148600,185858
4,"Robertson County, Tennessee",0500000US47147,45660,391,12,0,0,37,110,94,46,171,164,1020,599,1138,1621,742,14516,3352,3590,6304,3474,5565,2130,306,278,52982,25717,1810,907,0,907,682,225,903,712,617,0,617,579,38,95,1149,968,0,968,836,132,181,2112,1932,0,1932,1862,70,180,2191,1941,37,1904,1797,107,250,4425,3910,0,3910,3790,120,515,4897,4374,27,4347,4076,271,523,2622,2047,0,2047,1916,131,575,636,397,0,397,369,28,239,1006,482,0,482,453,29,524,1803,637,617,20,1166,911,191,188,3,720,1443,113,98,15,1330,27265,1749,791,0,791,602,189,958,545,436,0,436,334,102,109,1357,1094,0,1094,1003,91,263,2089,1611,0,1611,1407,204,478,2260,1716,0,1716,1508,208,544,4625,3503,0,3503,3153,350,1122,5085,3876,0,3876,3765,111,1209,2536,1748,0,1748,1643,105,788,995,517,0,517,517,0,478,1052,545,0,545,530,15,507,1825,434,415,19,1391,1043,87,87,0,956,2104,104,104,0,2000,56331,23343,61171,62440,43023,56331,24730,1141,965,1061,1091,1072,1716,1300,1309,1204,2397,3100,3717,1750,1456,839,612,36114,18914,921,634,523,328,678,405,603,546,705,585,1110,1872,1529,1262,786,1314,1413,891,1373,1436,17200,1200,1009,918,718,941,596,890,644,586,612,1508,1561,1136,1152,750,757,859,458,684,221,31481,14059,0,14059,44,0,21,44,161,193,348,360,553,458,939,1639,1304,1172,693,1291,1292,874,1351,1322,27265,10528,0,10528,39,56,151,42,217,206,572,490,366,422,1299,1264,1037,1025,673,669,698,443,656,203,831,1017,1232,420,31454,29118,25808,3310,2418,556,336,68,68,0,0,0,0,32,352,580,1304,30150,3725,3769,3266,3268,1589,4297,2915,4166,3155,18586,12233,1049,548,503,1122,6353,110,67,133,283,6144,554,400,406,1114,878990,7067,158800,67017

In [42]:
data = data.set_index(['NAME', 'GEO_ID']).transpose()
data.head()

NAME,"Sumner County, Tennessee","Trousdale County, Tennessee","Davidson County, Tennessee","Montgomery County, Tennessee","Robertson County, Tennessee","Cheatham County, Tennessee","Williamson County, Tennessee","Humphreys County, Tennessee","Stewart County, Tennessee","Dickson County, Tennessee","Rutherford County, Tennessee","Wilson County, Tennessee","Houston County, Tennessee","Maury County, Tennessee",Tennessee,United States
GEO_ID,0500000US47165,0500000US47169,0500000US47037,0500000US47125,0500000US47147,0500000US47021,0500000US47187,0500000US47085,0500000US47161,0500000US47043,0500000US47149,0500000US47189,0500000US47083,0500000US47119,0400000US47,0100000US
attainment_total_over25_series,116882,5339,454177,115734,45660,27138,133044,12762,9370,34804,179453,85573,5727,58817,4427340,213649147
attainment_noschooling,1046,133,7168,1027,391,151,499,159,110,428,1748,725,84,585,50460,3042019
attainment_nurseryschool,28,0,36,0,12,0,0,0,0,0,0,0,0,0,464,35164
attainment_kindergarten,39,0,86,28,0,0,28,0,0,11,13,14,0,0,716,44216
attainment_1stgrade,57,4,123,42,0,0,0,0,0,0,18,38,0,17,1615,136695

In [43]:
numcols = list(data.columns)
numcols
data[numcols] = data[numcols].astype(float)

In [44]:
GNRCCounties = [data[('Stewart County, Tennessee', '0500000US47161')],data[('Montgomery County, Tennessee', '0500000US47125')],
                data[('Houston County, Tennessee', '0500000US47083')],data[('Humphreys County, Tennessee', '0500000US47085')],
                data[('Dickson County, Tennessee', '0500000US47043')],data[('Cheatham County, Tennessee', '0500000US47021')],
                data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
                data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
                data[('Trousdale County, Tennessee', '0500000US47169')],data[('Williamson County, Tennessee', '0500000US47187')],
                data[('Rutherford County, Tennessee', '0500000US47149')]]
data['GNRC'] = sum(GNRCCounties)
GNRCCountiesAll = [data[('Stewart County, Tennessee', '0500000US47161')],data[('Montgomery County, Tennessee', '0500000US47125')],
                   data[('Houston County, Tennessee', '0500000US47083')],data[('Humphreys County, Tennessee', '0500000US47085')],
                   data[('Dickson County, Tennessee', '0500000US47043')],data[('Cheatham County, Tennessee', '0500000US47021')],
                   data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
                   data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
                   data[('Trousdale County, Tennessee', '0500000US47169')],data[('Williamson County, Tennessee', '0500000US47187')],
                   data[('Rutherford County, Tennessee', '0500000US47149')],data[('Maury County, Tennessee', '0500000US47119')]]
data['GNRC Region'] = sum(GNRCCountiesAll)
MPOCounties = [data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
               data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
               data[('Williamson County, Tennessee', '0500000US47187')],data[('Rutherford County, Tennessee', '0500000US47149')],
               data[('Maury County, Tennessee', '0500000US47119')]]
data['MPO'] = sum(MPOCounties)

In [45]:
data = data.transpose().reset_index()
data.head()

,NAME,GEO_ID,attainment_total_over25_series,attainment_noschooling,attainment_nurseryschool,attainment_kindergarten,attainment_1stgrade,attainment_2ndgrade,attainment_3rdgrade,attainment_4thgrade,attainment_5thgrade,attainment_6thgrade,attainment_7thgrade,attainment_8thgrade,attainment_9thgrade,attainment_10thgrade,attainment_11thgrade,attainment_12thgradenodiploma,attainment_regularhighschooldiploma,attainment_gedoralternativecredential,attainment_somecollegelessthan1year,attainment_somecollege1ormoreyearsnodegree,attainment_associatesdegree,attainment_bachelorsdegree,attainment_mastersdegree,attainment_professionalschooldegree,attainment_doctoratedegree,lfstatus_total_sexbyagebyemploymentstatus16+_series,lfstatus_m_total,lfstatus_m_16to19,lfstatus_m_16to19_inlf,lfstatus_m_16to19_inlf_armedforces,lfstatus_m_16to19_inlf_civilian,lfstatus_m_16to19_inlf_civilian_employed,lfstatus_m_16to19_inlf_civilian_unemployed,lfstatus_m_16to19_notinlf,lfstatus_m_20to21,lfstatus_m_20to21_inlf,lfstatus_m_20to21_inlf_armedforces,lfstatus_m_20to21_inlf_civilian,lfstatus_m_20to21_inlf_civilian_employed,lfstatus_m_20to21_inlf_civilian_unemployed,lfstatus_m_20to21_notinlf,lfstatus_m_22to24,lfstatus_m_22to24_inlf,lfstatus_m_22to24_inlf_armedforces,lfstatus_m_22to24_inlf_civilian,lfstatus_m_22to24_inlf_civilian_employed,lfstatus_m_22to24_inlf_civilian_unemployed,lfstatus_m_22to24_notinlf,lfstatus_m_25to29,lfstatus_m_25to29_inlf,lfstatus_m_25to29_inlf_armedforces,lfstatus_m_25to29_inlf_civilian,lfstatus_m_25to29_inlf_civilian_employed,lfstatus_m_25to29_inlf_civilian_unemployed,lfstatus_m_25to29_notinlf,lfstatus_m_30to34,lfstatus_m_30to34_inlf,lfstatus_m_30to34_inlf_armedforces,lfstatus_m_30to34_inlf_civilian,lfstatus_m_30to34_inlf_civilian_employed,lfstatus_m_30to34_inlf_civilian_unemployed,lfstatus_m_30to34_notinlf,lfstatus_m_35to44,lfstatus_m_35to44_inlf,lfstatus_m_35to44_inlf_armedforces,lfstatus_m_35to44_inlf_civilian,lfstatus_m_35to44_inlf_civilian_employed,lfstatus_m_35to44_inlf_civilian_unemployed,lfstatus_m_35to44_notinlf,lfstatus_m_45to54,lfstatus_m_45to54_inlf,lfstatus_m_45to54_inlf_armedforces,lfstatus_m_45to54_inlf_civilian,lfstatus_m_45to54_inlf_civilian_employed,lfstatus_m_45to54_inlf_civilian_unemployed,lfstatus_m_45to54_notinlf,lfstatus_m_55to59,lfstatus_m_55to59_inlf,lfstatus_m_55to59_inlf_armedforces,lfstatus_m_55to59_inlf_civilian,lfstatus_m_55to59_inlf_civilian_employed,lfstatus_m_55to59_inlf_civilian_unemployed,lfstatus_m_55to59_notinlf,lfstatus_m_60to61,lfstatus_m_60to61_inlf,lfstatus_m_60to61_inlf_armedforces,lfstatus_m_60to61_inlf_civilian,lfstatus_m_60to61_inlf_civilian_employed,lfstatus_m_60to61_inlf_civilian_unemployed,lfstatus_m_60to61_notinlf,lfstatus_m_62to64,lfstatus_m_62to64_inlf,lfstatus_m_62to64_inlf_armedforces,lfstatus_m_62to64_inlf_civilian,lfstatus_m_62to64_inlf_civilian_employed,lfstatus_m_62to64_inlf_civilian_unemployed,lfstatus_m_62to64_notinlf,lfstatus_m_65to69,lfstatus_m_65to69_inlf,lfstatus_m_65to69_inlf_employed,lfstatus_m_65to69_inlf_unemployed,lfstatus_m_65to69_notinlf,lfstatus_m_70to74,lfstatus_m_70to74_inlf,lfstatus_m_70to74_inlf_employed,lfstatus_m_70to74_inlf_unemployed,lfstatus_m_70to74_notinlf,lfstatus_m_75andolder,lfstatus_m_75andolder_inlf,lfstatus_m_75andolder_inlf_employed,lfstatus_m_75andolder_inlf_unemployed,lfstatus_m_75andolder_notinlf,lfstatus_f_total,lfstatus_f_16to19,lfstatus_f_16to19_inlf,lfstatus_f_16to19_inlf_armedforces,lfstatus_f_16to19_inlf_civilian,lfstatus_f_16to19_inlf_civilian_employed,lfstatus_f_16to19_inlf_civilian_unemployed,lfstatus_f_16to19_notinlf,lfstatus_f_20to21,lfstatus_f_20to21_inlf,lfstatus_f_20to21_inlf_armedforces,lfstatus_f_20to21_inlf_civilian,lfstatus_f_20to21_inlf_civilian_employed,lfstatus_f_20to21_inlf_civilian_unemployed,lfstatus_f_20to21_notinlf,lfstatus_f_22to24,lfstatus_f_22to24_inlf,lfstatus_f_22to24_inlf_armedforces,lfstatus_f_22to24_inlf_civilian,lfstatus_f_22to24_inlf_civilian_employed,lfstatus_f_22to24_inlf_civilian_unemployed,lfstatus_f_22to24_notinlf,lfstatus_f_25to29,lfstatus_f_25to29_inlf,lfstatus_f_25to29_inlf_armedforces,lfstatus_f_25to29_inlf_civilian,lfstatus_f_25to29_inlf_civilian_employed,lfstatus_f_25to29_inlf_civilian_unemployed,lfstatus_f_25to29_notinlf,lfstatus_f_30to34,lfstatus_f_30to34_inlf,lfstatus_f_30to34_inlf_armedforces,lfstatus_f_30to34_inlf_civilian,lfstatus_f_30to34_inlf_civilian_employed,lfstatus_f_30to34_inlf_civilian_unemployed,lfstatus_f_30to34_notinlf,lfstatus_f_35to44,lfstatus_f_35to44_inlf,lfstatus_f_35to44_inlf_armedforces,lfstatus_f_35to44_inlf_civilian,lfstatus_f_35to44_inlf_civilian_employed,lfstatus_f_35to44_inlf_civilian_unemployed,lfstatus_f_35to44_notinlf,lfstatus_f_45to54,lfstatus_f_45to54_inlf,lfstatus_f_45to54_inlf_armedforces,lfstatus_f_45to54_inlf_civilian,lfstatus_f_45to54_inlf_civilian_employed,lfstatus_f_45to54_inlf_civilian_unemployed,lfstatus_f_45to54_notinlf,lfstatus_f_55to59,lfstatus_f_55to59_inlf,lfstatus_f_55to59_inlf_armedforces,lfstatus_f_55to59_inlf_civilian,lfstatus_f_55to59_inlf_civilian_employed,lfstatus_f_55to59_inlf_civilian_unemployed,lfstatus_f_55to59_notinlf,lfstatus_f_60to61,lfstatus_f_60to61_inlf,lfstatus_f_60to61_inlf_armedforces,lfstatus_f_60to61_inlf_civilian,lfstatus_f_60to61_inlf_civilian_employed,lfstatus_f_60to61_inlf_civilian_unemployed,lfstatus_f_60to61_notinlf,lfstatus_f_62to64,lfstatus_f_62to64_inlf,lfstatus_f_62to64_inlf_armedforces,lfstatus_f_62to64_inlf_civilian,lfstatus_f_62to64_inlf_civilian_employed,lfstatus_f_62to64_inlf_civilian_unemployed,lfstatus_f_62to64_notinlf,lfstatus_f_65to69,lfstatus_f_65to69_inlf,lfstatus_f_65to69_inlf_employed,lfstatus_f_65to69_inlf_unemployed,lfstatus_f_65to69_notinlf,lfstatus_f_70to74,lfstatus_f_70to74_inlf,lfstatus_f_70to74_inlf_employed,lfstatus_f_70to74_inlf_unemployed,lfstatus_f_70to74_notinlf,lfstatus_f_75andolder,lfstatus_f_75andolder_inlf,lfstatus_f_75andolder_inlf_employed,lfstatus_f_75andolder_inlf_unemployed,lfstatus_f_75andolder_notinlf,hhincome_median_hholderage_series_total,hhincome_median_hholderu25,hhincome_median_hholder25to44,hhincome_median_hholder45to64,hhincome_median_hholder65over,hhincome_median,hhincome_total_series,hhincome_lessthan10000,hhincome_10to14999,hhincome_15to19999,hhincome_20to24999,hhincome_25to29999,hhincome_30to34999,hhincome_35to39999,hhincome_40to44999,hhincome_45to49999,hhincome_50to59999,hhincome_60to74999,hhincome_75to99999,hhincome_100to124999,hhincome125to149999,hhincome150to199999,hhincome200ormore,earn_total_series,earn_total_m,earn_m_1to2499orloss,earn_m_2500to4999,earn_m_5000to7499,earn_m_7500to9999,earn_m_10000to12499,earn_m_12500to14999,earn_m_15000to17499,earn_m_17500to19999,earn_m_20000to22499,earn_m_22500to24999,earn_m_25000to29999,earn_m_30000to34999,earn_m_35000to39999,earn_m_40000to44999,earn_m_45000to49999,earn_m_50000to54999,earn_m_55000to64999,earn_m_65000to74999,earn_m_75000to99999,earn_m_100000ormore,earn_total_f,earn_f_1to2499orloss,earn_f_2500to4999,earn_f_5000to7499,earn_f_7500to9999,earn_f_10000to12499,earn_f_12500to14999,earn_f_15000to17499,earn_f_17500to19999,earn_f_20000to22499,earn_f_22500to24999,earn_f_25000to29999,earn_f_30000to34999,earn_f_35000to39999,earn_f_40000to44999,earn_f_45000to49999,earn_f_50000to54999,earn_f_55000to64999,earn_f_65000to74999,earn_f_75000to99999,earn_f_100000ormore,earn_allwithearnings_median,earn_total_fulltime_m,earn_total_m_fulltime_noearnings,earn_total_m_fulltime_withearnings,earn_m_fulltime_1to2499orloss,earn_m_fulltime_2500to4999,earn_m_fulltime_5000to7499,earn_m_fulltime_7500to9999,earn_m_fulltime_10000to12499,earn_m_fulltime_12500to14999,earn_m_fulltime_15000to17499,earn_m_fulltime_17500to19999,earn_m_fulltime_20000to22499,earn_m_fulltime_22500to24999,earn_m_fulltime_25000to29999,earn_m_fulltime_30000to34999,earn_m_fulltime_35000to39999,earn_m_fulltime_40000to44999,earn_m_fulltime_45000to49999,earn_m_fulltime_50000to54999,earn_m_fulltime_55000to64999,earn_m_fulltime_65000to74999,earn_m_fulltime_75000to99999,earn_m_fulltime_100000ormore,earn_total_f_workexperience,earn_total_fulltime_f,earn_total_f_fulltime_noearnings,earn_total_f_fulltime_withearnings,earn_f_fulltime_1to2499orloss,earn_f_fulltime_2500to4999,earn_f_fulltime_5000to7499,earn_f_fulltime_7500to9999,earn_f_fulltime_10000to12499,earn_f_fulltime_12500to14999,earn_f_fulltime_15000to17499,earn_f_fulltime_17500to19999,earn_f_fulltime_20000to22499,earn_f_fulltime_22500to24999,earn_f_fulltime_25000to29999,earn_f_fulltime_30000to34999,earn_f_fulltime_35000to39999,earn_f_fulltime_40000to44999,earn_f_fulltime_45000to49999,earn_f_fulltime_50000to54999,earn_f_fulltime_55000to64999,earn_f_fulltime_65000to74999,earn_f_fulltime_75000to99999,earn_f_fulltime_100000ormore,housingcost_mediangrossrent_renteroccupied,housingcost_medcosts_ownerocc,housingcost_medcosts_ownerocc_mortgage,housingcost_medcosts_ownerocc_womortgage,commute_total_meansoftransportationtowork_series,commute_cartruckvan,commute_cartruckvan_drovealone,commute_cartruckvan_carpooled,commute_cartruckvan_carpooled_2ppl,commute_cartruckvan_carpooled_3ppl,commute_cartruckvan_carpooled_4ormoreppl,commute_publictransportation,commute_publictransportation_bus,commute_publictransportation_subwayorelevatedrail,commute_publictransportation_longdistancetrainorcommuterrail,commute_publictransportation_lightrailstreetcarortrolley,commute_publictransportation_ferryboat,commute_bicycle,commute_walk,commute_taxicabmotorcycleother,commute_workedfromhome,traveltimemode_series_total,traveltimemode_lessthan10,traveltimemode_10to14,traveltimemode_15to19,traveltimemode_20to24,traveltimemode_25to29,traveltimemode_30to34,traveltimemode_35to44,traveltimemode_45to59,traveltimemode_60ormore,housingcost_total_selectedownercosts%hhincome_series,housingcost_total%ownercostwmortgage_series,housingcost_%ownercost30to34.9_wmortgage,housingcost_%ownercost35to39.9_wmortgage,housingcost_%ownercost40to49.9_wmortgage,housingcost_%ownercost50+_wmortgage,housingcost_total%ownercostwomortgage_series,housingcost_%ownercost30to34.9_womortgage,housingcost_%ownercost35to39.9_womortgage,housingcost_%ownercost40to49.9_womortgage,housingcost_%ownercost50+_womortgage,housingcost_total_rent%hhincome_series,housingcost_%rentercost30to34.9,housingcost_%rentercost35to39.9,housingcost_%rentercost40to49.9,housingcost_%rentercost50+,aggregatetraveltimetowork,poverty_belowlevel,housing_medianvalue,poverty_total_bysexbyage_series
0,"Sumner County, Tennessee",0500000US47165,116882.0,1046.0,28.0,39.0,57.0,37.0,274.0,59.0,130.0,323.0,575.0,1558.0,1404.0,2364.0,2787.0,1874.0,31019.0,6602.0,9142.0,19066.0,8575.0,20190.0,7107.0,1699.0,927.0,135548.0,65382.0,4518.0,2139.0,0.0,2139.0,1808.0,331.0,2379.0,1849.0,1346.0,19.0,1327.0,1182.0,145.0,503.0,3406.0,2649.0,69.0,2580.0,2385.0,195.0,757.0,4719.0,4294.0,28.0,4266.0,4046.0,220.0,425.0,5264.0,4761.0,10.0,4751.0,4462.0,289.0,503.0,11409.0,10475.0,30.0,10445.0,10031.0,414.0,934.0,12443.0,11188.0,20.0,11168.0,10748.0,420.0,1255.0,5709.0,4508.0,0.0,4508.0,4367.0,141.0,1201.0,2139.0,1625.0,0.0,1625.0,1572.0,53.0,514.0,2740.0,1706.0,0.0,1706.0,1628.0,78.0,1034.0,4376.0,1463.0,1415.0,48.0,2913.0,2928.0,561.0,556.0,5.0,2367.0,3882.0,547.0,537.0,10.0,3335.0,70166.0,4113.0,1907.0,0.0,1907.0,1646.0,261.0,2206.0,1506.0,1136.0,0.0,1136.0,986.0,150.0,370.0,3274.0,2642.0,0.0,2642.0,2436.0,206.0,632.0,5168.0,4060.0,8.0,4052.0,3828.0,224.0,1108.0,5621.0,4168.0,0.0,4168.0,4045.0,123.0,1453.0,12076.0,9139.0,14.0,9125.0,8659.0,466.0,2937.0,12946.0,9850.0,0.0,9850.0,9385.0,465.0,3096.0,5782.0,3800.0,0.0,3800.0,3611.0,189.0,1982.0,2323.0,1372.0,0.0,1372.0,1277.0,95.0,951.0,3241.0,1771.0,0.0,1771.0,1693.0,78.0,1470.0,4667.0,1379.0,1306.0,73.0,3288.0,3505.0,454.0,454.0,0.0,3051.0,5944.0,324.0,324.0,0.0,5620.0,58972.0,36189.0,63173.0,69950.0,41918.0,58972.0,63240.0,2809.0,2397.0,2650.0,3274.0,2603.0,3455.0,3238.0,3331.0,2878.0,5579.0,7158.0,8883.0,5734.0,3143.0,3259.0,2849.0,92847.0,48992.0,2290.0,1600.0,1706.0,999.0,1556.0,1208.0,1433.0,1433.0,1933.0,1271.0,2996.0,3493.0,2849.0,2991.0,2133.0,2677.0,3765.0,2659.0,4259.0,5741.0,43855.0,2989.0,2100.0,2348.0,1633.0,1969.0,1669.0,1507.0,1498.0,2331.0,1936.0,3823.0,3823.0,2850.0,2791.0,2111.0,2137.0,2224.0,1148.0,1571.0,1397.0,31990.0,34782.0,0.0,34782.0,63.0,64.0,81.0,126.0,168.0,632.0,546.0,944.0,1273.0,1088.0,2419.0,3031.0,2407.0,2684.0,1812.0,2370.0,3562.0,2495.0,3836.0,5181.0,70166.0,26741.0,0.0,26741.0,15.0,60.0,192.0,229.0,707.0,577.0,602.0,964.0,1582.0,1386.0,3244.0,3046.0,2440.0,2345.0,1795.0,1855.0,1920.0,1059.0,1464.0,1259.0,900.0,1066.0,1360.0,410.0,83075.0,77179.0,70241.0,6938.0,5556.0,1032.0,350.0,391.0,353.0,1.0,0.0,8.0,29.0,70.0,571.0,792.0,4072.0,79003.0,8739.0,9935.0,10354.0,9637.0,5230.0,11260.0,7243.0,9484.0,7121.0,46137.0,31799.0,2714.0,1496.0,1871.0,2735.0,14338.0,306.0,214.0,262.0,433.0,17103.0,1121.0,1030.0,1935.0,3488.0,2193085.0,16543.0,184900.0,170962.0
1,"Trousdale County, Tennessee",0500000US47169,5339.0,133.0,0.0,0.0,4.0,8.0,5.0,20.0,0.0,43.0,32.0,190.0,153.0,177.0,253.0,87.0,1805.0,301.0,413.0,611.0,314.0,521.0,207.0,54.0,8.0,6322.0,3053.0,183.0,84.0,0.0,84.0,54.0,30.0,99.0,85.0,46.0,0.0,46.0,46.0,0.0,39.0,188.0,98.0,0.0,98.0,84.0,14.0,90.0,210.0,170.0,0.0,170.0,170.0,0.0,40.0,220.0,215.0,0.0,215.0,198.0,17.0,5.0,500.0,402.0,0.0,402.0,385.0,17.0,98.0,590.0,467.0,0.0,467.0,425.0,42.0,123.0,248.0,191.0,0.0,191.0,174.0,17.0,57.0,98.0,33.0,0.0,33.0,33.0,0.0,65.0,141.0,47.0,0.0,47.0,47.0,0.0,94.0,300.0,158.0,158.0,0.0,142.0,105.0,47.0,47.0,0.0,58.0,185.0,8.0,8.0,0.0,177.0,3269.0,186.0,87.0,0.0,87.0,34.0,53.0,99.0,120.0,82.0,0.0,82.0,82.0,0.0,38.0,221.0,181.0,0.0,181.0,181.0,0.0,40.0,142.0,125.0,0.0,125.0,125.0,0.0,17.0,232.0,204.0,0.0,204.0,167.0,37.0,28.0,530.0,390.0,0.0,390.0,390.0,0.0,140.0,564.0,399.0,0.0,399.0,320.0,79.0,165.0,310.0,188.0,0.0,188.0,188.0,0.0,122.0,73.0,14.0,0.0,14.0,14.0,0.0,59.0,194.0,91.0,0.0,91.0,91.0,0.0,103.0,149.0,55.0,55.0,0.0,94.0,259.0,41.0,41.0,0.0,218.0,289.0,13.0,13.0,0.0,276.0,47667.0,-666666666.0,57214.0,35026.0,53158.0,47667.0,2958.0,242.0,239.0,140.0,201.0,312.0,23.0,158.0,82.0,110.0,334.0,249.0,435.0,229.0,83.0,103.0,18.0,3894.0,2022.0,67.0,68.0,72.0,49.0,132.0,31.0,50.0,103.0,36.0,35.0,229.0,170.0,76.0,90.0,77.0,120.0,263.0,60.0,185.0,109.0,1872.0,157.0,98.0,125.0,103.0,75.0,80.0,180.0,32.0,99.0,66.0,378.0,106.0,70.0,29.0,39.0,100.0,35.0,0.0,87.0,13.0,26741.0,1372.0,0.0,1372.0,0.0,0.0,13.0,0.0,0.0,23.0,0.0,57.0,32.0,31.0,169.0,155.0,53.0,79.0,75.0,120.0,221.0,60.0,185.0,99.0,3269.0,1048.0,0.0,1048.0,0.0,0.0,53.0,0.0,0.0,43.0,112.0,8.0,86.0,66.0,251.0,91.0,59.0,29.0,32.0,83.0,35.0,0.0,87.0,13.0,592.0,687.0,1071.0,372.0,3467.0,3270.0,2872.0,398.0,258.0,20.0,120.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,34.0,0.0,161.0,3306.0,422.0,477.0,281.0,300.0,123.0,714.0,273.0,247.0,469.0,2265.0,1362.0,85.0,67.0,91.0,257.0,903.0,15.0,0.0,69.0,57.0,693.0,33.0,65.0,57.0,112.0,93815.0,1043.0,129100.0,7863.0
2,"Davidson County, Tennessee",0500000US47037,454177.0,7168.0,36.0,86.0,123.0,347.0,1150.0,1308.0,1018.0,3836.0,2077.0,5138.0,7620.0,8425.0,10861.0,7597.0,89068.0,16738.0,22948.0,66517.0,28607.0,108196.0,43972.0,12641.0,8700.0,536964.0,255759.0,15426.0,6536.0,0.0,6536.0,4819.0,1717.0,8890.0,10092.0,7137.0,0.0,7137.0,6024.0,1113.0,2955.0,14576.0,11773.0,7.0,11766.0,10788.0,978.0,2803.0,32002.0,28468.0,135.0,28333.0,27047.0,1286.0,3534.0,30023.0,27433.0,85.0,27348.0,26216.0,1132.0,2590.0,46168.0,41711.0,66.0,41645.0,39812.0,1833.0,4457.0,40926.0,34632.0,34.0,34598.0,32976.0,1622.0,6294.0,19564.0,14657.0,0.0,14657.0,14004.0,653.0,4907.0,7736.0,5316.0,0.0,5316.0,5148.0,168.0,2420.0,8675.0,5117.0,0.0,5117.0,4931.0,186.0,3558.0,11827.0,5143.0,4994.0,149.0,6684.0,7489.0,2362.0,2264.0,98.0,5127.0,11255.0,1505.0,1446.0,59.0,9750.0,281205.0,15516.0,6807.0,0.0,6807.0,5180.0,1627.0,8709.0,9537.0,6329.0,0.0,6329.0,5290.0,1039.0,3208.0,17640.0,13997.0,11.0,13986.0,12708.0,1278.0,3643.0,35526.0,29655.0,24.0,29631.0,28089.0,1542.0,5871.0,30560.0,25160.0,0.0,25160.0,23831.0,1329.0,5400.0,45400.0,35046.0,37.0,35009.0,33137.0,1872.0,10354.0,42973.0,33474.0,35.0,33439.0,31489.0,1950.0,9499.0,21949.0,15459.0,0.0,15459.0,14767.0,692.0,6490.0,8501.0,5293.0,0.0,5293.0,4919.0,374.0,3208.0,10406.0,5429.0,0.0,5429.0,5258.0,171.0,4977.0,13826.0,4841.0,4534.0,307.0,8985.0,9677.0,1543.0,1429.0,114.0,8134.0,19694.0,1136.0,1074.0,62.0,18558.0,50484.0,28949.0,52234.0,56652.0,42673.0,50484.0,269078.0,19294.0,13523.0,13966.0,14949.0,15003.0,15182.0,14058.0,14506.0,12789.0,21764.0,28131.0,31887.0,18940.0,11068.0,11385.0,12633.0,390724.0,199222.0,11015.0,7456.0,6882.0,4948.0,8355.0,5384.0,7555.0,7076.0,10229.0,7220.0,14671.0,15630.0,12425.0,11817.0,7561.0,9543.0,10581.0,8042.0,12796.0,20036.0,191502.0,12876.0,9507.0,9154.0,6392.0,9572.0,6286.0,7670.0,6854.0,10345.0,5876.0,14580.0,15658.0,12916.0,13204.0,8518.0,7899.0,11152.0,6104.0,8174.0,8765.0,30620.0,133731.0,0.0,133731.0,253.0,458.0,1065.0,661.0,2509.0,1968.0,3742.0,4591.0,6300.0,5413.0,11429.0,12366.0,10910.0,9990.0,6777.0,8607.0,9661.0,7312.0,11678.0,18041.0,281205.0,117345.0,0.0,117345.0,122.0,218.0,1062.0,1159.0,2362.0,2319.0,3835.0,3923.0,6410.0,4291.0,11304.0,12888.0,11115.0,11445.0,7340.0,6761.0,10113.0,5522.0,7489.0,7667.0,904.0,1106.0,1332.0,461.0,344577.0,308407.0,274059.0,34348.0,26274.0,4976.0,3098.0,7508.0,7144.0,118.0,43.0,203.0,0.0,752.0,6945.0,3523.0,17442.0,327135.0,28586.0,39730.0,57550.0,64231.0,26359.0,57161.0,19709.0,19709.0,14100.0,145206.0,102222.0,8020.0,5259.0,5499.0,11052.0,42984.0,1435.0,808.0,867.0,2198.0,123872.0,10827.0,8573.0,11072.0,26208.0,7920860.0,114238.0,177700.0,646910.0
3,"Montgomery County, Tennessee",0500000US47125,115734.0,1027.0,0.0,28.0,42.0,3.0,93.0,45.0,90.0,279.0,364.0,747.0,1142.0,1110.0,2004.0,2012.0,29695.0,5619.0,9653.0,22148.0,10317.0,20011.0,7275.0,1122.0,908.0,143269.0,71345.0,5005.0,1595.0,116.0,1479.0,1126.0,353.0,3410.0,3895.0,2865.0,733.0,2132.0,1769.0,363.0,1030.0,5477.0,4733.0,1856.0,2877.0,2686.0,191.0,744.0,10414.0,9444.0,3342.0,6102.0,5650.0,452.0,970.0,8515.0,7655.0,2206.0,5449.0,5190.0,259.0,860.0,12306.0,11069.0,2892.0,8177.0,7740.0,437.0,1237.0,10547.0,8613.0,660.0,7953.0,7609.0,344.0,1934.0,4314.0,3249.0,6.0,3243.0,3033.0,210.0,1065.0,1508.0,860.0,0.0,860.0,843.0,17.0,648.0,2156.0,1194.0,0.0,1194.0,1170.0,24.0,962.0,2883.0,920.0,920.0,0.0,1963.0,1671.0,345.0,335.0,10.0,1326.0,2654.0,245.0,219.0,26.0,2409.0,71924.0,4765.0,1883.0,13.0,1870.0,1496.0,374.0,2882.0,3771.0,2712.0,165.0,2547.0,2176.0,371.0,1059.0,4622.0,3423.0,161.0,3262.0,2816.0,446.0,1199.0,9285.0,6258.0,289.0,5969.0,5143.0,826.0,3027.0,7811.0,5141.0,183.0,4958.0,4441.0,517.0,2670.0,12552.0,8631.0,107.0,8524.0,7603.0,921.0,3921.0,11118.0,7697.0,32.0,7665.0,7292.0,373.0,3421.0,4618.0,2984.0,0.0,2984.0,2906.0,78.0,1634.0,1893.0,1013.0,0.0,1013.0,995.0,18.0,880.0,2422.0,866.0,0.0,866.0,794.0,72.0,1556.0,3254.0,701.0,690.0,11.0,2553.0,2102.0,247.0,220.0,27.0,1855.0,3711.0,156.0,140.0,16.0,3555.0,51528.0,32537.0,52457.0,61048.0,44868.0,51528.0,67090.0,4961.0,2547.0,2720.0,3558.0,3604.0,3835.0,3805.0,3928.0,3118.0,6285.0,9250.0,9121.0,4547.0,2416.0,2100.0,1295.0,97138.0,54083.0,2130.0,1586.0,1508.0,1165.0,1559.0,1528.0,1802.0,1379.0,2288.0,1914.0,4349.0,4350.0,4048.0,4249.0,2638.0,3537.0,4452.0,3248.0,3511.0,2842.0,43055.0,3490.0,2896.0,2812.0,2176.0,2717.0,1541.0,2316.0,1590.0,2758.0,1490.0,3491.0,3267.0,2852.0,2421.0,1600.0,1406.0,1464.0,1170.0,906.0,692.0,30041.0,41615.0,0.0,41615.0,8.0,81.0,321.0,149.0,389.0,752.0,912.0,1026.0,1655.0,1647.0,3812.0,4131.0,3849.0,4022.0,2504.0,3269.0,4251.0,3064.0,3144.0,2629.0,71924.0,24399.0,10.0,24389.0,91.0,168.0,293.0,493.0,861.0,535.0,1281.0,878.0,1876.0,1210.0,2881.0,2784.0,2504.0,2178.0,1315.0,1230.0,1227.0,1136.0,856.0,592.0,899.0,993.0,1173.0,384.0,85552.0,79716.0,73560.0,6156.0,4535.0,879.0,742.0,789.0,789.0,0.0,0.0,0.0,0.0,53.0,1600.0,1326.0,2068.0,83484.0,8716.0,9827.0,15578.0,15419.0,6352.0,11659.0,4505.0,5510.0,5918.0,39631.0,28671.0,2106.0,1660.0,1455.0,2509.0,10960.0,310.0,139.0,129.0,397.0,27459.0,2279.0,2350.0,2364.0,4719.0,2053060.0,28232.0,148600.0,185858.0

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Columns: 365 entries, NAME to poverty_total_bysexbyage_series
dtypes: float64(363), object(2)
memory usage: 54.3+ KB

In [47]:
data.to_feather('../../Raw Data/ACS2016CEDS')

In [48]:
data.to_csv('../../Raw Data/ACS2016CEDS.csv')