###### Imports and Settings

In [99]:
import pandas as pd
import numpy as np
import requests
import pickle
from collections import deque
from functools import reduce
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)
pd.options.mode.chained_assignment = None  # default='warn'

In [100]:
import sys
sys.path.append("../../../Functions and Dictionaries") # Adds higher directory to python modules path
import geodict
GNRC = geodict.GNRC
KY = geodict.KY
censusplaces = geodict.censusplaces

# American Community Survey 2016-2020 5 Year Estimates

In [101]:
#read in API key
with open('api_keys.pkl', 'rb') as keys_file:
        keys_dict_2 = pickle.load(keys_file)

In [102]:
#variable containing Census API key
api_key = keys_dict_2['CENSUS']

## Read In Data Guide

In [103]:
dataguide = pd.read_csv('../../Data Guides/DATA GUIDE ACS 2017 CEDS.csv', dtype = str)
dataguide['ID'] = dataguide['ID'].astype(int)

In [104]:
dg1 = dataguide[dataguide['ID'].between(1, 46)]
dg2 = dataguide[dataguide['ID'].between(47, 92)]
dg3 = dataguide[dataguide['ID'].between(93, 138)]
dg4 = dataguide[dataguide['ID'].between(139, 184)]
dg5 = dataguide[dataguide['ID'].between(185, 230)]
dg6 = dataguide[dataguide['ID'].between(231, 276)]
dg7 = dataguide[dataguide['ID'].between(277, 322)]
dg8 = dataguide[dataguide['ID'].between(323, 368)]
dg9 = dataguide[dataguide['ID'].between(369, 414)]
# dg10 = dataguide[dataguide['ID'].between(415, 460)]
# dg11 = dataguide[dataguide['ID'].between(461, 506)]
# dg12 = dataguide[dataguide['ID'].between(507, 552)]
# dg13 = dataguide[dataguide['ID'].between(553, 598)]
# dg14 = dataguide[dataguide['ID'].between(599, 644)]
# dg15 = dataguide[dataguide['ID'].between(645, 690)]
# dg16 = dataguide[dataguide['ID'].between(691, 736)]
# dg17 = dataguide[dataguide['ID'].between(737, 782)]
# dg18 = dataguide[dataguide['ID'].between(783, 828)]
# dg19 = dataguide[dataguide['ID'].between(829, 874)]
# dg20 = dataguide[dataguide['ID'].between(875, 920)]
# dg21 = dataguide[dataguide['ID'].between(921, 966)]
# dg22 = dataguide[dataguide['ID'].between(967, 1012)]
# dg23 = dataguide[dataguide['ID'].between(1013, 1058)]
# dg24 = dataguide[dataguide['ID'].between(1059, 1104)]
# dg25 = dataguide[dataguide['ID'].between(1105, 1150)]
# dg26 = dataguide[dataguide['ID'].between(1151, 1196)]
# dg27 = dataguide[dataguide['ID'].between(1197, 1242)]
# dg28 = dataguide[dataguide['ID'].between(1243, 1287)]
# dg29 = dataguide[dataguide['ID'].between(1288, 1332)]
# dg30 = dataguide[dataguide['ID'].between(1333, 1377)]
# dg31 = dataguide[dataguide['ID'].between(1378, 1422)]
# dg32 = dataguide[dataguide['ID'].between(1423, 1467)]
# dg33 = dataguide[dataguide['ID'].between(1468, 1512)]
# dg34 = dataguide[dataguide['ID'].between(1513, 1557)]
# dg35 = dataguide[dataguide['ID'].between(1558, 1602)]
# dg36 = dataguide[dataguide['ID'].between(1603, 1647)]
# dg37 = dataguide[dataguide['ID'].between(1648, 1692)]
# dg38 = dataguide[dataguide['ID'].between(1693, 1737)]
# dg39 = dataguide[dataguide['ID'].between(1738, 1782)]
# dg40 = dataguide[dataguide['ID'].between(1783, 1827)]
# dg41 = dataguide[dataguide['ID'].between(1828, 1872)]
# dg42 = dataguide[dataguide['ID'].between(1873, 1917)]
# dg43 = dataguide[dataguide['ID'].between(1918, 1962)]
# dg44 = dataguide[dataguide['ID'].between(1963, 2007)]
# dg45 = dataguide[dataguide['ID'].between(2008, 2052)]
# dg46 = dataguide[dataguide['ID'].between(2053, 2097)]
# dg47 = dataguide[dataguide['ID'].between(2098, 2142)]
# dg48 = dataguide[dataguide['ID'].between(2143, 2187)]
# dg49 = dataguide[dataguide['ID'].between(2188, 2232)]
# dg50 = dataguide[dataguide['ID'].between(2233, 2277)]
# dg51 = dataguide[dataguide['ID'].between(2278, 2322)]
# dg52 = dataguide[dataguide['ID'].between(2323, 2367)]
# dg53 = dataguide[dataguide['ID'].between(2368, 2412)]
# dg54 = dataguide[dataguide['ID'].between(2413, 2457)]
# dg55 = dataguide[dataguide['ID'].between(2458, 2502)]
# dg56 = dataguide[dataguide['ID'].between(2503, 2547)]
# dg57 = dataguide[dataguide['ID'].between(2548, 2592)]
# dg58 = dataguide[dataguide['ID'].between(2593, 2637)]
# dg59 = dataguide[dataguide['ID'].between(2638, 2682)]
# dg60 = dataguide[dataguide['ID'].between(2683, 2727)]
# dg61 = dataguide[dataguide['ID'].between(2728, 2772)]
# dg62 = dataguide[dataguide['ID'].between(2773, 2817)]
# dg63 = dataguide[dataguide['ID'].between(2818, 2862)]
# dg64 = dataguide[dataguide['ID'].between(2863, 2907)]
# dg65 = dataguide[dataguide['ID'].between(2908, 2952)]
# dg66 = dataguide[dataguide['ID'].between(2953, 2997)]
# dg67 = dataguide[dataguide['ID'].between(2998, 3042)]
# dg68 = dataguide[dataguide['ID'].between(3043, 3086)]
# dg69 = dataguide[dataguide['ID'].between(3087, 3131)]
# dg70 = dataguide[dataguide['ID'].between(3132, 3176)]
# dg71 = dataguide[dataguide['ID'].between(3177, 3221)]
# dg72 = dataguide[dataguide['ID'].between(3222, 3266)]
# dg73 = dataguide[dataguide['ID'].between(3267, 3311)]
# dg74 = dataguide[dataguide['ID'].between(3312, 3356)]

In [105]:
# dfs1 = [dg1, dg2, dg3, dg4, dg5, dg6, dg7, dg8, dg9, dg10, dg11, dg12, dg13, dg14, dg15, dg16, dg17, dg18, dg19, dg20]
# dfs2 = [dg21, dg22, dg23, dg24, dg25, dg26, dg27, dg28, dg29, dg30, dg31, dg32, dg33, dg34, dg35, dg36, dg37, dg38, dg39, dg40]
# dfs3 = [dg41, dg42, dg43, dg44, dg45, dg46, dg47, dg48, dg49, dg50, dg51, dg52, dg53, dg54, dg55, dg56, dg57, dg58, dg59, dg60]
# dfs4 = [dg61, dg62, dg63, dg64, dg65, dg66, dg67, dg68, dg69, dg70, dg71, dg72, dg73, dg74]

In [106]:
alldfs = [dg1, dg2, dg3, dg4, dg5, dg6, dg7, dg8, dg9]
#           , dg10, dg11, dg12, dg13, dg14, dg15, dg16, dg17, dg18, dg19, dg20, dg21, dg22, dg23, dg24, dg25, 
#        dg26, dg27, dg28, dg29, dg30, dg31, dg32, dg33, dg34, dg35, dg36, dg37, dg38, dg39, dg40, dg41, dg42, dg43, dg44, dg45, dg46, dg47, dg48, dg49,
#        dg50, dg51, dg52, dg53, dg54, dg55, dg56, dg57, dg58, dg59, dg60, dg61, dg62, dg63, dg64, dg65, dg66, dg67, dg68, dg69, dg70, dg71, dg72, dg73, 
#        dg72, dg73, dg74]

In [107]:
#url string and list parameters for column head and tail
url_str= 'https://api.census.gov/data/2017/acs/acs5?key='+api_key
head1 = 'NAME' 
head2 = 'GEO_ID'
tail_cols1 = 'StateFIPS'
tail_cols2 = 'GeoFIPS'
tail_cols3 = 'GeoFIPS2'

In [108]:
results = []
for df in alldfs:
    dataguide = df
    for col_name, col_data in df.items():
        var_list = list(dataguide['Variable']) #make variables list
        var_list = deque(var_list)
        var_list.appendleft(head2)
        var_list.appendleft(head1)
        col_list = list(dataguide['Column Name']) #make columns list
        col_list.append(tail_cols1)
        col_list.append(tail_cols2)
        col_list = deque(col_list)
        col_list.appendleft(head2)
        col_list.appendleft(head1)
        predicates= {} #call for all counties in state of TN
        get_vars= var_list
        predicates["get"]= ",". join(get_vars)
        predicates["for"]= "county:*"
        predicates["in"]= "state:47"                                                             
        data = requests.get(url_str, params= predicates)                                                                
        col_names = col_list
        df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
        #df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
        predicates= {} #call for all counties in state of KY
        get_vars= var_list
        predicates["get"]= ",". join(get_vars)
        predicates["for"]= "county:*"
        predicates["in"]= "state:21"                                                             
        data = requests.get(url_str, params= predicates)                                                                
        col_names = col_list
        kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
        kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
        df = pd.concat([df, kycos], axis = 0)
        predicates= {} #call for all places in TN
        get_vars= var_list
        predicates["get"]= ",". join(get_vars)
        predicates["for"]= "place:*"
        predicates["in"]= "state:47"
        data= requests.get(url_str, params= predicates)
        col_names = col_list
        places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
        places=places.loc[places['GEO_ID'].isin(censusplaces)] #filter for places in the region
        df = pd.concat([df, places], axis = 0)
        predicates= {} #call for all places in KY
        get_vars= var_list
        predicates["get"]= ",". join(get_vars)
        predicates["for"]= "place:*"
        predicates["in"]= "state:21"
        data= requests.get(url_str, params= predicates)
        col_names = col_list
        places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
        places=places.loc[places['GEO_ID'].isin(censusplaces)] #filter for places of concern in KY
        df = pd.concat([df, places], axis = 0)
        col_list.remove(tail_cols2) #adjust the column list for different formats of geos
        predicates= {} #call for state of TN
        get_vars= var_list
        predicates["get"]= ",". join(get_vars)
        predicates["for"]= "state:47"
        data= requests.get(url_str, params= predicates)
        col_names = col_list
        state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
        state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
        df = pd.concat([df, state], axis = 0)
        predicates= {} #call for US
        get_vars= var_list
        predicates["get"]= ",". join(get_vars)
        predicates["for"]= "us:*"
        data= requests.get(url_str, params= predicates)
        col_names = col_list
        national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
        national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
        df = pd.concat([df, national], axis = 0)
        results.append(df)
new_df = pd.concat(results, axis = 1)
new_df = new_df.transpose().reset_index(drop = False).drop_duplicates()
new_df.columns = new_df.iloc[0]
new_df = new_df.set_index('NAME').transpose().drop(columns = ['StateFIPS', 'GeoFIPS']).reset_index(drop = True)
new_df = new_df.rename_axis(None, axis = 1)
print('Okay Finished')

Okay Finished

In [109]:
p1 = new_df

In [110]:
# results = []
# for df in dfs2:
#     dataguide = df
#     for col_name, col_data in df.items():
#         var_list = list(dataguide['Variable']) #make variables list
#         var_list = deque(var_list)
#         var_list.appendleft(head2)
#         var_list.appendleft(head1)
#         col_list = list(dataguide['Column Name']) #make columns list
#         col_list.append(tail_cols1)
#         col_list.append(tail_cols2)
#         col_list = deque(col_list)
#         col_list.appendleft(head2)
#         col_list.appendleft(head1)
#         predicates= {} #call for all counties in state of TN
#         get_vars= var_list
#         predicates["get"]= ",". join(get_vars)
#         predicates["for"]= "county:*"
#         predicates["in"]= "state:47"                                                             
#         data = requests.get(url_str, params= predicates)                                                                
#         col_names = col_list
#         df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
#         #df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
#         predicates= {} #call for all counties in state of KY
#         get_vars= var_list
#         predicates["get"]= ",". join(get_vars)
#         predicates["for"]= "county:*"
#         predicates["in"]= "state:21"                                                             
#         data = requests.get(url_str, params= predicates)                                                                
#         col_names = col_list
#         kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
#         kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
#         df = pd.concat([df, kycos], axis = 0)
#         predicates= {} #call for all places in TN
#         get_vars= var_list
#         predicates["get"]= ",". join(get_vars)
#         predicates["for"]= "place:*"
#         predicates["in"]= "state:47"
#         data= requests.get(url_str, params= predicates)
#         col_names = col_list
#         places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
#         places=places.loc[places['GEO_ID'].isin(censusplaces)] #filter for places in the region
#         df = pd.concat([df, places], axis = 0)
#         predicates= {} #call for all places in KY
#         get_vars= var_list
#         predicates["get"]= ",". join(get_vars)
#         predicates["for"]= "place:*"
#         predicates["in"]= "state:21"
#         data= requests.get(url_str, params= predicates)
#         col_names = col_list
#         places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
#         places=places.loc[places['GEO_ID'].isin(censusplaces)] #filter for places of concern in KY
#         df = pd.concat([df, places], axis = 0)
#         col_list.remove(tail_cols2) #adjust the column list for different formats of geos
#         predicates= {} #call for state of TN
#         get_vars= var_list
#         predicates["get"]= ",". join(get_vars)
#         predicates["for"]= "state:47"
#         data= requests.get(url_str, params= predicates)
#         col_names = col_list
#         state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
#         state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
#         df = pd.concat([df, state], axis = 0)
#         predicates= {} #call for US
#         get_vars= var_list
#         predicates["get"]= ",". join(get_vars)
#         predicates["for"]= "us:*"
#         data= requests.get(url_str, params= predicates)
#         col_names = col_list
#         national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
#         national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
#         df = pd.concat([df, national], axis = 0)
#         results.append(df)
# new_df = pd.concat(results, axis = 1)
# new_df = new_df.transpose().reset_index(drop = False).drop_duplicates()
# new_df.columns = new_df.iloc[0]
# new_df = new_df.set_index('NAME').transpose().drop(columns = ['StateFIPS', 'GeoFIPS']).reset_index(drop = True)
# new_df = new_df.rename_axis(None, axis = 1)
# print('Okay Finished')

In [111]:
# p2 = new_df

In [112]:
# results = []
# for df in dfs3:
#     dataguide = df
#     for col_name, col_data in df.items():
#         var_list = list(dataguide['Variable']) #make variables list
#         var_list = deque(var_list)
#         var_list.appendleft(head2)
#         var_list.appendleft(head1)
#         col_list = list(dataguide['Column Name']) #make columns list
#         col_list.append(tail_cols1)
#         col_list.append(tail_cols2)
#         col_list = deque(col_list)
#         col_list.appendleft(head2)
#         col_list.appendleft(head1)
#         predicates= {} #call for all counties in state of TN
#         get_vars= var_list
#         predicates["get"]= ",". join(get_vars)
#         predicates["for"]= "county:*"
#         predicates["in"]= "state:47"                                                             
#         data = requests.get(url_str, params= predicates)                                                                
#         col_names = col_list
#         df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
#         #df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
#         predicates= {} #call for all counties in state of KY
#         get_vars= var_list
#         predicates["get"]= ",". join(get_vars)
#         predicates["for"]= "county:*"
#         predicates["in"]= "state:21"                                                             
#         data = requests.get(url_str, params= predicates)                                                                
#         col_names = col_list
#         kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
#         kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
#         df = pd.concat([df, kycos], axis = 0)
#         predicates= {} #call for all places in TN
#         get_vars= var_list
#         predicates["get"]= ",". join(get_vars)
#         predicates["for"]= "place:*"
#         predicates["in"]= "state:47"
#         data= requests.get(url_str, params= predicates)
#         col_names = col_list
#         places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
#         places=places.loc[places['GEO_ID'].isin(censusplaces)] #filter for places in the region
#         df = pd.concat([df, places], axis = 0)
#         predicates= {} #call for all places in KY
#         get_vars= var_list
#         predicates["get"]= ",". join(get_vars)
#         predicates["for"]= "place:*"
#         predicates["in"]= "state:21"
#         data= requests.get(url_str, params= predicates)
#         col_names = col_list
#         places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
#         places=places.loc[places['GEO_ID'].isin(censusplaces)] #filter for places of concern in KY
#         df = pd.concat([df, places], axis = 0)
#         col_list.remove(tail_cols2) #adjust the column list for different formats of geos
#         predicates= {} #call for state of TN
#         get_vars= var_list
#         predicates["get"]= ",". join(get_vars)
#         predicates["for"]= "state:47"
#         data= requests.get(url_str, params= predicates)
#         col_names = col_list
#         state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
#         state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
#         df = pd.concat([df, state], axis = 0)
#         predicates= {} #call for US
#         get_vars= var_list
#         predicates["get"]= ",". join(get_vars)
#         predicates["for"]= "us:*"
#         data= requests.get(url_str, params= predicates)
#         col_names = col_list
#         national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
#         national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
#         df = pd.concat([df, national], axis = 0)
#         results.append(df)
# new_df = pd.concat(results, axis = 1)
# new_df = new_df.transpose().reset_index(drop = False).drop_duplicates()
# new_df.columns = new_df.iloc[0]
# new_df = new_df.set_index('NAME').transpose().drop(columns = ['StateFIPS', 'GeoFIPS']).reset_index(drop = True)
# new_df = new_df.rename_axis(None, axis = 1)
# print('Okay Finished')

In [113]:
# p3 = new_df

In [114]:
# results = []
# for df in dfs4:
#     dataguide = df
#     for col_name, col_data in df.items():
#         var_list = list(dataguide['Variable']) #make variables list
#         var_list = deque(var_list)
#         var_list.appendleft(head2)
#         var_list.appendleft(head1)
#         col_list = list(dataguide['Column Name']) #make columns list
#         col_list.append(tail_cols1)
#         col_list.append(tail_cols2)
#         col_list = deque(col_list)
#         col_list.appendleft(head2)
#         col_list.appendleft(head1)
#         predicates= {} #call for all counties in state of TN
#         get_vars= var_list
#         predicates["get"]= ",". join(get_vars)
#         predicates["for"]= "county:*"
#         predicates["in"]= "state:47"                                                             
#         data = requests.get(url_str, params= predicates)                                                                
#         col_names = col_list
#         df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
#         #df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
#         predicates= {} #call for all counties in state of KY
#         get_vars= var_list
#         predicates["get"]= ",". join(get_vars)
#         predicates["for"]= "county:*"
#         predicates["in"]= "state:21"                                                             
#         data = requests.get(url_str, params= predicates)                                                                
#         col_names = col_list
#         kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
#         kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
#         df = pd.concat([df, kycos], axis = 0)
#         predicates= {} #call for all places in TN
#         get_vars= var_list
#         predicates["get"]= ",". join(get_vars)
#         predicates["for"]= "place:*"
#         predicates["in"]= "state:47"
#         data= requests.get(url_str, params= predicates)
#         col_names = col_list
#         places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
#         places=places.loc[places['GEO_ID'].isin(censusplaces)] #filter for places in the region
#         df = pd.concat([df, places], axis = 0)
#         predicates= {} #call for all places in KY
#         get_vars= var_list
#         predicates["get"]= ",". join(get_vars)
#         predicates["for"]= "place:*"
#         predicates["in"]= "state:21"
#         data= requests.get(url_str, params= predicates)
#         col_names = col_list
#         places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
#         places=places.loc[places['GEO_ID'].isin(censusplaces)] #filter for places of concern in KY
#         df = pd.concat([df, places], axis = 0)
#         col_list.remove(tail_cols2) #adjust the column list for different formats of geos
#         predicates= {} #call for state of TN
#         get_vars= var_list
#         predicates["get"]= ",". join(get_vars)
#         predicates["for"]= "state:47"
#         data= requests.get(url_str, params= predicates)
#         col_names = col_list
#         state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
#         state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
#         df = pd.concat([df, state], axis = 0)
#         predicates= {} #call for US
#         get_vars= var_list
#         predicates["get"]= ",". join(get_vars)
#         predicates["for"]= "us:*"
#         data= requests.get(url_str, params= predicates)
#         col_names = col_list
#         national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
#         national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
#         df = pd.concat([df, national], axis = 0)
#         results.append(df)
# new_df = pd.concat(results, axis = 1)
# new_df = new_df.transpose().reset_index(drop = False).drop_duplicates()
# new_df.columns = new_df.iloc[0]
# new_df = new_df.set_index('NAME').transpose().drop(columns = ['StateFIPS', 'GeoFIPS']).reset_index(drop = True)
# new_df = new_df.rename_axis(None, axis = 1)
# print('Okay Finished')

In [115]:
# p4 = new_df

In [116]:
temp = p1
#.merge(p2, on = ['NAME', 'GEO_ID'])

In [117]:
#temp = temp.merge(p3, on = ['NAME', 'GEO_ID'])

In [118]:
#temp = temp.merge(p4, on = ['NAME', 'GEO_ID'])

In [119]:
part_one = temp
part_one.tail()

,NAME,GEO_ID,compinternet_series_total,compinternet_total_u18,compinternet_hascomputer_u18,compinternet_hascomputer_dialupinternetonly_u18,compinternet_hascomputer_broadbandinternet_u18,compinternet_hascomputer_withoutinternet_u18,compinternet_nocomputer_u18,compinternet_total_18to64,compinternet_hascomputer_18to64,compinternet_hascomputer_dialupinternetonly_18to64,compinternet_hascomputer_broadbandinternet_18to64,compinternet_hascomputer_withoutinternet_18to64,compinternet_nocomputer_18to64,compinternet_total_65over,compinternet_hascomputer_65over,compinternet_hascomputer_dialupinternetonly_65over,compinternet_hascomputer_broadbandinternet_65over,compinternet_hascomputer_withoutinternet_65over,compinternet_nocomputer_65over,attainment_total_over25_series,attainment_noschooling,attainment_nurseryschool,attainment_kindergarten,attainment_1stgrade,attainment_2ndgrade,attainment_3rdgrade,attainment_4thgrade,attainment_5thgrade,attainment_6thgrade,attainment_7thgrade,attainment_8thgrade,attainment_9thgrade,attainment_10thgrade,attainment_11thgrade,attainment_12thgradenodiploma,attainment_regularhighschooldiploma,attainment_gedoralternativecredential,attainment_somecollegelessthan1year,attainment_somecollege1ormoreyearsnodegree,attainment_associatesdegree,attainment_bachelorsdegree,attainment_mastersdegree,attainment_professionalschooldegree,attainment_doctoratedegree,lfstatus_total_sexbyagebyemploymentstatus16+_series,lfstatus_m_total,lfstatus_m_16to19,lfstatus_m_16to19_inlf,lfstatus_m_16to19_inlf_armedforces,lfstatus_m_16to19_inlf_civilian,lfstatus_m_16to19_inlf_civilian_employed,lfstatus_m_16to19_inlf_civilian_unemployed,lfstatus_m_16to19_notinlf,lfstatus_m_20to21,lfstatus_m_20to21_inlf,lfstatus_m_20to21_inlf_armedforces,lfstatus_m_20to21_inlf_civilian,lfstatus_m_20to21_inlf_civilian_employed,lfstatus_m_20to21_inlf_civilian_unemployed,lfstatus_m_20to21_notinlf,lfstatus_m_22to24,lfstatus_m_22to24_inlf,lfstatus_m_22to24_inlf_armedforces,lfstatus_m_22to24_inlf_civilian,lfstatus_m_22to24_inlf_civilian_employed,lfstatus_m_22to24_inlf_civilian_unemployed,lfstatus_m_22to24_notinlf,lfstatus_m_25to29,lfstatus_m_25to29_inlf,lfstatus_m_25to29_inlf_armedforces,lfstatus_m_25to29_inlf_civilian,lfstatus_m_25to29_inlf_civilian_employed,lfstatus_m_25to29_inlf_civilian_unemployed,lfstatus_m_25to29_notinlf,lfstatus_m_30to34,lfstatus_m_30to34_inlf,lfstatus_m_30to34_inlf_armedforces,lfstatus_m_30to34_inlf_civilian,lfstatus_m_30to34_inlf_civilian_employed,lfstatus_m_30to34_inlf_civilian_unemployed,lfstatus_m_30to34_notinlf,lfstatus_m_35to44,lfstatus_m_35to44_inlf,lfstatus_m_35to44_inlf_armedforces,lfstatus_m_35to44_inlf_civilian,lfstatus_m_35to44_inlf_civilian_employed,lfstatus_m_35to44_inlf_civilian_unemployed,lfstatus_m_35to44_notinlf,lfstatus_m_45to54,lfstatus_m_45to54_inlf,lfstatus_m_45to54_inlf_armedforces,lfstatus_m_45to54_inlf_civilian,lfstatus_m_45to54_inlf_civilian_employed,lfstatus_m_45to54_inlf_civilian_unemployed,lfstatus_m_45to54_notinlf,lfstatus_m_55to59,lfstatus_m_55to59_inlf,lfstatus_m_55to59_inlf_armedforces,lfstatus_m_55to59_inlf_civilian,lfstatus_m_55to59_inlf_civilian_employed,lfstatus_m_55to59_inlf_civilian_unemployed,lfstatus_m_55to59_notinlf,lfstatus_m_60to61,lfstatus_m_60to61_inlf,lfstatus_m_60to61_inlf_armedforces,lfstatus_m_60to61_inlf_civilian,lfstatus_m_60to61_inlf_civilian_employed,lfstatus_m_60to61_inlf_civilian_unemployed,lfstatus_m_60to61_notinlf,lfstatus_m_62to64,lfstatus_m_62to64_inlf,lfstatus_m_62to64_inlf_armedforces,lfstatus_m_62to64_inlf_civilian,lfstatus_m_62to64_inlf_civilian_employed,lfstatus_m_62to64_inlf_civilian_unemployed,lfstatus_m_62to64_notinlf,lfstatus_m_65to69,lfstatus_m_65to69_inlf,lfstatus_m_65to69_inlf_employed,lfstatus_m_65to69_inlf_unemployed,lfstatus_m_65to69_notinlf,lfstatus_m_70to74,lfstatus_m_70to74_inlf,lfstatus_m_70to74_inlf_employed,lfstatus_m_70to74_inlf_unemployed,lfstatus_m_70to74_notinlf,lfstatus_m_75andolder,lfstatus_m_75andolder_inlf,lfstatus_m_75andolder_inlf_employed,lfstatus_m_75andolder_inlf_unemployed,lfstatus_m_75andolder_notinlf,lfstatus_f_total,lfstatus_f_16to19,lfstatus_f_16to19_inlf,lfstatus_f_16to19_inlf_armedforces,lfstatus_f_16to19_inlf_civilian,lfstatus_f_16to19_inlf_civilian_employed,lfstatus_f_16to19_inlf_civilian_unemployed,lfstatus_f_16to19_notinlf,lfstatus_f_20to21,lfstatus_f_20to21_inlf,lfstatus_f_20to21_inlf_armedforces,lfstatus_f_20to21_inlf_civilian,lfstatus_f_20to21_inlf_civilian_employed,lfstatus_f_20to21_inlf_civilian_unemployed,lfstatus_f_20to21_notinlf,lfstatus_f_22to24,lfstatus_f_22to24_inlf,lfstatus_f_22to24_inlf_armedforces,lfstatus_f_22to24_inlf_civilian,lfstatus_f_22to24_inlf_civilian_employed,lfstatus_f_22to24_inlf_civilian_unemployed,lfstatus_f_22to24_notinlf,lfstatus_f_25to29,lfstatus_f_25to29_inlf,lfstatus_f_25to29_inlf_armedforces,lfstatus_f_25to29_inlf_civilian,lfstatus_f_25to29_inlf_civilian_employed,lfstatus_f_25to29_inlf_civilian_unemployed,lfstatus_f_25to29_notinlf,lfstatus_f_30to34,lfstatus_f_30to34_inlf,lfstatus_f_30to34_inlf_armedforces,lfstatus_f_30to34_inlf_civilian,lfstatus_f_30to34_inlf_civilian_employed,lfstatus_f_30to34_inlf_civilian_unemployed,lfstatus_f_30to34_notinlf,lfstatus_f_35to44,lfstatus_f_35to44_inlf,lfstatus_f_35to44_inlf_armedforces,lfstatus_f_35to44_inlf_civilian,lfstatus_f_35to44_inlf_civilian_employed,lfstatus_f_35to44_inlf_civilian_unemployed,lfstatus_f_35to44_notinlf,lfstatus_f_45to54,lfstatus_f_45to54_inlf,lfstatus_f_45to54_inlf_armedforces,lfstatus_f_45to54_inlf_civilian,lfstatus_f_45to54_inlf_civilian_employed,lfstatus_f_45to54_inlf_civilian_unemployed,lfstatus_f_45to54_notinlf,lfstatus_f_55to59,lfstatus_f_55to59_inlf,lfstatus_f_55to59_inlf_armedforces,lfstatus_f_55to59_inlf_civilian,lfstatus_f_55to59_inlf_civilian_employed,lfstatus_f_55to59_inlf_civilian_unemployed,lfstatus_f_55to59_notinlf,lfstatus_f_60to61,lfstatus_f_60to61_inlf,lfstatus_f_60to61_inlf_armedforces,lfstatus_f_60to61_inlf_civilian,lfstatus_f_60to61_inlf_civilian_employed,lfstatus_f_60to61_inlf_civilian_unemployed,lfstatus_f_60to61_notinlf,lfstatus_f_62to64,lfstatus_f_62to64_inlf,lfstatus_f_62to64_inlf_armedforces,lfstatus_f_62to64_inlf_civilian,lfstatus_f_62to64_inlf_civilian_employed,lfstatus_f_62to64_inlf_civilian_unemployed,lfstatus_f_62to64_notinlf,lfstatus_f_65to69,lfstatus_f_65to69_inlf,lfstatus_f_65to69_inlf_employed,lfstatus_f_65to69_inlf_unemployed,lfstatus_f_65to69_notinlf,lfstatus_f_70to74,lfstatus_f_70to74_inlf,lfstatus_f_70to74_inlf_employed,lfstatus_f_70to74_inlf_unemployed,lfstatus_f_70to74_notinlf,lfstatus_f_75andolder,lfstatus_f_75andolder_inlf,lfstatus_f_75andolder_inlf_employed,lfstatus_f_75andolder_inlf_unemployed,lfstatus_f_75andolder_notinlf,hhincome_median_hholderage_series_total,hhincome_median_hholderu25,hhincome_median_hholder25to44,hhincome_median_hholder45to64,hhincome_median_hholder65over,hhincome_median,hhincome_total_series,hhincome_lessthan10000,hhincome_10to14999,hhincome_15to19999,hhincome_20to24999,hhincome_25to29999,hhincome_30to34999,hhincome_35to39999,hhincome_40to44999,hhincome_45to49999,hhincome_50to59999,hhincome_60to74999,hhincome_75to99999,hhincome_100to124999,hhincome125to149999,hhincome150to199999,hhincome200ormore,earn_total_series,earn_total_m,earn_m_1to2499orloss,earn_m_2500to4999,earn_m_5000to7499,earn_m_7500to9999,earn_m_10000to12499,earn_m_12500to14999,earn_m_15000to17499,earn_m_17500to19999,earn_m_20000to22499,earn_m_22500to24999,earn_m_25000to29999,earn_m_30000to34999,earn_m_35000to39999,earn_m_40000to44999,earn_m_45000to49999,earn_m_50000to54999,earn_m_55000to64999,earn_m_65000to74999,earn_m_75000to99999,earn_m_100000ormore,earn_total_f,earn_f_1to2499orloss,earn_f_2500to4999,earn_f_5000to7499,earn_f_7500to9999,earn_f_10000to12499,earn_f_12500to14999,earn_f_15000to17499,earn_f_17500to19999,earn_f_20000to22499,earn_f_22500to24999,earn_f_25000to29999,earn_f_30000to34999,earn_f_35000to39999,earn_f_40000to44999,earn_f_45000to49999,earn_f_50000to54999,earn_f_55000to64999,earn_f_65000to74999,earn_f_75000to99999,earn_f_100000ormore,earn_allwithearnings_median,earn_total_fulltime_m,earn_total_m_fulltime_noearnings,earn_total_m_fulltime_withearnings,earn_m_fulltime_1to2499orloss,earn_m_fulltime_2500to4999,earn_m_fulltime_5000to7499,earn_m_fulltime_7500to9999,earn_m_fulltime_10000to12499,earn_m_fulltime_12500to14999,earn_m_fulltime_15000to17499,earn_m_fulltime_17500to19999,earn_m_fulltime_20000to22499,earn_m_fulltime_22500to24999,earn_m_fulltime_25000to29999,earn_m_fulltime_30000to34999,earn_m_fulltime_35000to39999,earn_m_fulltime_40000to44999,earn_m_fulltime_45000to49999,earn_m_fulltime_50000to54999,earn_m_fulltime_55000to64999,earn_m_fulltime_65000to74999,earn_m_fulltime_75000to99999,earn_m_fulltime_100000ormore,earn_total_f_workexperience,earn_total_fulltime_f,earn_total_f_fulltime_noearnings,earn_total_f_fulltime_withearnings,earn_f_fulltime_1to2499orloss,earn_f_fulltime_2500to4999,earn_f_fulltime_5000to7499,earn_f_fulltime_7500to9999,earn_f_fulltime_10000to12499,earn_f_fulltime_12500to14999,earn_f_fulltime_15000to17499,earn_f_fulltime_17500to19999,earn_f_fulltime_20000to22499,earn_f_fulltime_22500to24999,earn_f_fulltime_25000to29999,earn_f_fulltime_30000to34999,earn_f_fulltime_35000to39999,earn_f_fulltime_40000to44999,earn_f_fulltime_45000to49999,earn_f_fulltime_50000to54999,earn_f_fulltime_55000to64999,earn_f_fulltime_65000to74999,earn_f_fulltime_75000to99999,earn_f_fulltime_100000ormore,housingcost_mediangrossrent_renteroccupied,housingcost_medcosts_ownerocc,housingcost_medcosts_ownerocc_mortgage,housingcost_medcosts_ownerocc_womortgage,commute_total_meansoftransportationtowork_series,commute_cartruckvan,commute_cartruckvan_drovealone,commute_cartruckvan_carpooled,commute_cartruckvan_carpooled_2ppl,commute_cartruckvan_carpooled_3ppl,commute_cartruckvan_carpooled_4ormoreppl,commute_publictransportation,commute_publictransportation_bus,commute_publictransportation_subwayorelevatedrail,commute_publictransportation_longdistancetrainorcommuterrail,commute_publictransportation_lightrailstreetcarortrolley,commute_publictransportation_ferryboat,commute_bicycle,commute_walk,commute_taxicabmotorcycleother,commute_workedfromhome,traveltimemode_series_total,traveltimemode_lessthan10,traveltimemode_10to14,traveltimemode_15to19,traveltimemode_20to24,traveltimemode_25to29,traveltimemode_30to34,traveltimemode_35to44,traveltimemode_45to59,traveltimemode_60ormore,housingcost_total_selectedownercosts%hhincome_series,housingcost_total%ownercostwmortgage_series,housingcost_%ownercost30to34.9_wmortgage,housingcost_%ownercost35to39.9_wmortgage,housingcost_%ownercost40to49.9_wmortgage,housingcost_%ownercost50+_wmortgage,housingcost_total%ownercostwomortgage_series,housingcost_%ownercost30to34.9_womortgage,housingcost_%ownercost35to39.9_womortgage,housingcost_%ownercost40to49.9_womortgage,housingcost_%ownercost50+_womortgage,housingcost_total_rent%hhincome_series,housingcost_%rentercost30to34.9,housingcost_%rentercost35to39.9,housingcost_%rentercost40to49.9,housingcost_%rentercost50+,aggregatetraveltimetowork,poverty_belowlevel,housing_medianvalue,poverty_total_bysexbyage_series,units_total_series,units_one_detached,units_one_attached,units_two,units_threetofour,units_fivetonine,units_tentonineteen,units_twentytofortynine,units_fiftyormore,units_mobilehome,units_boatrvvanetc,hhsize_avg
152,Nashville-Davidson metropolitan government (ba...,1600000US4752006,632827,139619,132384,227,113857,18300,7235,422036,395239,896,351200,43143,26797,71172,54747,554,48580,5613,16425,446549,6992,58,543,220,351,1110,1186,1014,3737,2085,4569,7058,7704,10366,7624,87519,16291,22849,64210,28960,108682,43283,11590,8548,527196,251182,15260,6607,0,6607,5170,1437,8653,9166,6520,0,6520,5618,902,2646,14482,11827,8,11819,11013,806,2655,32467,29020,132,28888,27615,1273,3447,29778,27342,56,27286,26458,828,2436,45375,41184,87,41097,39725,1372,4191,39414,33798,60,33738,32195,1543,5616,18973,14559,0,14559,13689,870,4414,7603,5116,0,5116,4941,175,2487,8372,4957,0,4957,4767,190,3415,11872,5046,4924,122,6826,7535,2345,2277,68,5190,10885,1433,1392,41,9452,276014,15353,6761,0,6761,5408,1353,8592,9255,6411,0,6411,5365,1046,2844,17131,13666,8,13658,12670,988,3465,35856,29703,28,29675,28292,1383,6153,30586,25268,0,25268,24284,984,5318,44680,35327,33,35294,33882,1412,9353,40546,32046,36,32010,30385,1625,8500,21348,15223,0,15223,14635,588,6125,8213,4989,0,4989,4755,234,3224,10098,5273,0,5273,5142,131,4825,14685,4927,4676,251,9758,9192,1506,1412,94,7686,19071,1177,1141,36,17894,52858,33270,55990,58248,44230,52858,263527,18353,11882,11954,14354,13263,13771,13646,14046,12080,23114,28130,32630,20386,11627,11942,12349,387270,197109,10370,6830,6287,4685,8057,5198,6991,7340,9627,7264,15007,14877,12753,11798,8304,9460,10828,8631,13483,19319,190161,12172,8622,8844,6298,8671,6607,6925,6612,9136,6446,14274,15511,13295,12705,9245,8188,11779,6780,8787,9264,31364,134075,0,134075,246,302,864,599,2262,1799,3534,4471,6270,5388,11908,11860,11017,10115,7446,8398,9727,7909,12528,17432,276014,117691,0,117691,68,160,1049,939,2028,2307,3287,3797,5657,4630,10725,12589,11597,10736,7988,7182,10689,6046,8077,8140,970,1120,1346,472,343696,305687,271722,33965,25260,5634,3071,7570,7201,127,48,194,0,720,7193,3259,19267,324429,27629,39176,55955,63508,26786,55319,20373,20255,15428,142176,100970,7767,4849,5637,10187,41206,1214,699,802,2039,121351,10969,8381,10622,25094,7986465,108852,191400,633709,288871,150864,20745,16111,10311,20796,28808,17681,19274,4140,141,2.40
153,"Franklin city, Kentucky",1600000US2128918,8316,2145,1898,0,1761,137,247,4927,3993,0,3512,481,934,1244,608,0,571,37,636,5852,48,0,0,0,0,0,5,7,66,49,142,182,225,336,62,1901,618,488,554,457,498,169,21,24,6721,3036,86,60,0,60,51,9,26,166,155,0,155,116,39,11,177,65,0,65,65,0,112,318,246,0,246,246,0,72,265,213,0,213,213,0,52,652,508,0,508,435,73,144,427,289,0,289,235,54,138,270,210,0,210,210,0,60,116,24,0,24,24,0,92,116,58,0,58,58,0,58,141,32,32,0,109,132,41,41,0,91,170,0,0,0,170,3685,174,72,0,72,44,28,102,134,134,0,134,113,21,0,132,65,0,65,55,10,67,368,169,0,169,169,0,199,220,184,0,184,176,8,36,626,322,0,322,301,21,304,627,422,0,422,422,0,205,327,212,0,212,212,0,115,61,40,0,40,40,0,21,146,75,0,75,75,0,71,148,26,26,0,122,304,15,15,0,289,418,25,25,0,393,32977,33681,31308,42909,26653,32977,3451,415,155,386,167,406,275,167,180,230,321,295,263,94,23,51,23,3867,1954,40,73,55,84,94,54,58,7,210,80,333,28,176,73,130,99,135,91,76,58,1913,201,178,88,17,50,70,248,210,60,42,126,236,108,128,17,45,48,24,17,0,25135,1407,0,1407,0,0,0,0,44,43,32,0,181,80,237,22,176,44,113,75,135,91,76,58,3685,1024,0,1024,0,0,22,0,21,35,110,202,28,42,73,162,86,109,17,28,48,24,17,0,737,632,909,375,3353,3164,3008,156,134,19,3,0,0,0,0,0,0,18,14,92,65,3288,759,1029,482,270,128,250,137,153,80,1514,889,59,120,39,60,625,45,30,23,17,1937,172,38,126,380,55150,1933,107000,8311,3896,2763,119,470,206,91,39,26,15,167,0,2.41
154,"Scottsville city, Kentucky",1600000US2169114,4291,805,587,0,479,108,218,2668,2007,0,1237,770,661,818,541,19,431,91,277,3188,100,0,0,0,0,0,0,19,2,2,194,211,179,80,35,926,294,201,387,257,237,64,0,0,3627,1582,58,13,0,13,13,0,45,13,7,0,7,7,0,6,143,113,0,113,64,49,30,166,158,0,158,147,11,8,182,107,0,107,79,28,75,145,107,0,107,107,0,38,267,161,0,161,140,21,106,175,89,0,89,89,0,86,56,27,0,27,27,0,29,94,29,0,29,29,0,65,61,19,8,11,42,115,34,19,15,81,107,0,0,0,107,2045,76,43,0,43,22,21,33,55,28,0,28,28,0,27,94,57,0,57,57,0,37,143,124,0,124,124,0,19,149,118,0,118,118,0,31,215,95,0,95,95,0,120,380,140,0,140,140,0,240,265,154,0,154,141,13,111,25,16,0,16,16,0,9,108,24,0,24,24,0,84,210,19,19,0,191,135,21,9,12,114,190,0,0,0,190,29934,18839,40375,28325,38953,29934,1743,255,180,169,92,179,88,107,85,103,175,94,106,91,8,11,0,1827,965,22,67,59,1,51,94,81,14,117,2,86,72,86,80,78,36,10,9,0,0,862,50,75,43,13,74,80,59,60,158,60,44,66,0,49,0,31,0,0,0,0,20641,614,0,614,0,0,25,0,0,34,73,13,90,2,47,42,75,80,78,36,10,9,0,0,2045,492,0,492,0,0,0,0,15,22,59,44,135,51,44,66,0,25,0,31,0,0,0,0,628,481,844,344,1496,1387,1239,148,139,9,0,0,0,0,0,0,0,0,87,0,22,1474,540,219,48,136,171,93,106,110,51,822,303,29,37,61,44,519,29,0,10,19,921,34,29,58,157,29720,1377,104600,4280,2070,1381,0,98,143,82,78,69,0,219,0,2.46
155,Tennessee,0400000US47,6443385,1494233,1389953,4839,1206824,178290,104280,3966349,3590663,17004,3153530,420129,375686,982803,689859,11335,596853,81671,292944,4478450,49807,592,1109,1768,2943,9400,7625,9949,30641,25610,88735,76887,108484,118238,71736,1189457,271907,283444,650903,312442,738613,301103,73194,53863,5270257,2540213,173238,67723,202,67521,53576,13945,105515,96105,67166,966,66200,55899,10301,28939,133424,107269,2262,105007,93984,11023,26155,223632,192186,4144,188042,172423,15619,31446,210596,181892,3153,178739,168638,10101,28704,414598,359352,4022,355330,338635,16695,55246,437029,357215,1496,355719,339632,16087,79814,213873,155992,106,155886,149060,6826,57881,79954,51308,5,51303,49216,2087,28646,112097,56861,0,56861,54819,2042,55236,166137,53233,51407,1826,112904,116999,23709,22879,830,93290,162531,15467,14847,620,147064,2730044,163317,66669,15,66654,54040,12614,96648,90427,62284,154,62130,54331,7799,28143,135296,104526,227,104299,93670,10629,30770,227058,175127,421,174706,159926,14780,51931,216498,162751,379,162372,151709,10663,53747,424065,316263,444,315819,297800,18019,107802,457974,328386,174,328212,311602,16610,129588,233468,144528,13,144515,138666,5849,88940,88410,47560,0,47560,46138,1422,40850,125842,52179,0,52179,50638,1541,73663,185540,47683,45852,1831,137857,136478,17482,16839,643,118996,245671,10738,10384,354,234933,48708,27001,53066,56823,37586,48708,2547194,200034,146404,147660,152867,142625,140211,132737,127434,110586,213266,257530,292764,181732,102356,99880,99108,3342922,1744123,92331,63393,64567,45881,71163,49523,62736,50881,81165,56584,120634,126351,106098,105902,73118,91484,112322,80779,117194,172017,1598799,118589,82767,85801,62614,91179,69206,77205,59956,84638,60736,127843,119326,101412,93946,63300,62445,75947,46954,59189,55746,29790,1216897,131,1216766,2493,1931,8188,6850,20408,19085,32034,33079,57757,43923,98328,106981,94380,95152,66477,83759,104096,75192,109131,157522,2730044,942905,139,942766,1381,2266,8417,9282,24728,25870,36959,37844,57590,46442,100277,99401,87273,81537,55190,54797,67718,42129,53676,49989,808,831,1196,371,2951964,2730706,2466424,264282,205393,37190,21699,22047,20540,297,236,783,191,4120,40023,33134,121934,2830030,340842,392214,468119,452534,198695,402491,180097,219161,175877,1688565,1010943,66966,43682,51859,103949,677622,17134,10942,14205,27063,858629,70767,50832,70879,180101,70147840,1072360,151700,6436601,2903199,1996254,86556,85227,93507,137549,110751,58986,61950,270164,2255,2.53

In [120]:
splits = ['60280', '63140', '48980', '80200', '73460', '29920', '70580']

In [121]:
#this works
data_appended = []
for df in alldfs:
    dataguide = df
    for col_name, col_data in df.items():
        var_list = list(dataguide['Variable']) #make variables list
        var_list = deque(var_list)
        var_list.appendleft(head2)
        var_list.appendleft(head1)
        col_list = list(dataguide['Column Name']) #make columns list
        col_list.append(tail_cols1)
        col_list.append(tail_cols2)
        col_list.append(tail_cols3)
        col_list = deque(col_list)
        col_list.appendleft(head2)  
        col_list.appendleft(head1)
        temp = []
        for thingy in splits:
            predicates= {}
            get_vars= var_list
            predicates["get"]= ",". join(get_vars)
            predicates["for"]= 'county (or part):*'
            predicates["in"] = "state:47, place:{}".format(thingy)
            data = requests.get(url_str, params= predicates)
            col_names = col_list
            data = pd.DataFrame(columns=col_names, data=data.json()[1:])
            temp.append(data) #append the current instance to the last
        temp = pd.concat(temp)
        thing = temp
    data_appended.append(temp)
new_df = pd.concat(data_appended, axis = 1) 
new_df = new_df.transpose().reset_index(drop = False).drop_duplicates()
new_df.columns = new_df.iloc[0]
new_df = new_df.set_index('NAME').transpose().drop(columns = ['StateFIPS', 'GeoFIPS', 'GeoFIPS2']).reset_index(drop = True)
new_df = new_df.rename_axis(None, axis = 1)  
print('Your API call is complete')

Your API call is complete

In [122]:
b1 = new_df

In [123]:
# #this works
# data_appended = []
# for df in dfs2:
#     dataguide = df
#     for col_name, col_data in df.items():
#         var_list = list(dataguide['Variable']) #make variables list
#         var_list = deque(var_list)
#         var_list.appendleft(head2)
#         var_list.appendleft(head1)
#         col_list = list(dataguide['Column Name']) #make columns list
#         col_list.append(tail_cols1)
#         col_list.append(tail_cols2)
#         col_list.append(tail_cols3)
#         col_list = deque(col_list)
#         col_list.appendleft(head2)  
#         col_list.appendleft(head1)
#         temp = []
#         for thingy in splits:
#             predicates= {}
#             get_vars= var_list
#             predicates["get"]= ",". join(get_vars)
#             predicates["for"]= 'county (or part):*'
#             predicates["in"] = "state:47, place:{}".format(thingy)
#             data = requests.get(url_str, params= predicates)
#             col_names = col_list
#             data = pd.DataFrame(columns=col_names, data=data.json()[1:])
#             temp.append(data) #append the current instance to the last
#         temp = pd.concat(temp)
#         thing = temp
#     data_appended.append(temp)
# new_df = pd.concat(data_appended, axis = 1) 
# new_df = new_df.transpose().reset_index(drop = False).drop_duplicates()
# new_df.columns = new_df.iloc[0]
# new_df = new_df.set_index('NAME').transpose().drop(columns = ['StateFIPS', 'GeoFIPS', 'GeoFIPS2']).reset_index(drop = True)
# new_df = new_df.rename_axis(None, axis = 1)  
# print('Your API call is complete')

In [124]:
# b2 = new_df

In [125]:
# #this works
# data_appended = []
# for df in dfs3:
#     dataguide = df
#     for col_name, col_data in df.items():
#         var_list = list(dataguide['Variable']) #make variables list
#         var_list = deque(var_list)
#         var_list.appendleft(head2)
#         var_list.appendleft(head1)
#         col_list = list(dataguide['Column Name']) #make columns list
#         col_list.append(tail_cols1)
#         col_list.append(tail_cols2)
#         col_list.append(tail_cols3)
#         col_list = deque(col_list)
#         col_list.appendleft(head2)  
#         col_list.appendleft(head1)
#         temp = []
#         for thingy in splits:
#             predicates= {}
#             get_vars= var_list
#             predicates["get"]= ",". join(get_vars)
#             predicates["for"]= 'county (or part):*'
#             predicates["in"] = "state:47, place:{}".format(thingy)
#             data = requests.get(url_str, params= predicates)
#             col_names = col_list
#             data = pd.DataFrame(columns=col_names, data=data.json()[1:])
#             temp.append(data) #append the current instance to the last
#         temp = pd.concat(temp)
#         thing = temp
#     data_appended.append(temp)
# new_df = pd.concat(data_appended, axis = 1) 
# new_df = new_df.transpose().reset_index(drop = False).drop_duplicates()
# new_df.columns = new_df.iloc[0]
# new_df = new_df.set_index('NAME').transpose().drop(columns = ['StateFIPS', 'GeoFIPS', 'GeoFIPS2']).reset_index(drop = True)
# new_df = new_df.rename_axis(None, axis = 1)  
# print('Your API call is complete')

In [126]:
# b3 = new_df

In [127]:
# #this works
# data_appended = []
# for df in dfs4:
#     dataguide = df
#     for col_name, col_data in df.items():
#         var_list = list(dataguide['Variable']) #make variables list
#         var_list = deque(var_list)
#         var_list.appendleft(head2)
#         var_list.appendleft(head1)
#         col_list = list(dataguide['Column Name']) #make columns list
#         col_list.append(tail_cols1)
#         col_list.append(tail_cols2)
#         col_list.append(tail_cols3)
#         col_list = deque(col_list)
#         col_list.appendleft(head2)  
#         col_list.appendleft(head1)
#         temp = []
#         for thingy in splits:
#             predicates= {}
#             get_vars= var_list
#             predicates["get"]= ",". join(get_vars)
#             predicates["for"]= 'county (or part):*'
#             predicates["in"] = "state:47, place:{}".format(thingy)
#             data = requests.get(url_str, params= predicates)
#             col_names = col_list
#             data = pd.DataFrame(columns=col_names, data=data.json()[1:])
#             temp.append(data) #append the current instance to the last
#         temp = pd.concat(temp)
#         thing = temp
#     data_appended.append(temp)
# new_df = pd.concat(data_appended, axis = 1) 
# new_df = new_df.transpose().reset_index(drop = False).drop_duplicates()
# new_df.columns = new_df.iloc[0]
# new_df = new_df.set_index('NAME').transpose().drop(columns = ['StateFIPS', 'GeoFIPS', 'GeoFIPS2']).reset_index(drop = True)
# new_df = new_df.rename_axis(None, axis = 1)  
# print('Your API call is complete')

In [128]:
# b4 = new_df

In [129]:
b1['GEO_ID'] = '1'
# b2['GEO_ID'] = '1'
# b3['GEO_ID'] = '1'
# b4['GEO_ID'] = '1'

In [130]:
temp = b1
#.merge(b2, on = ['NAME'])

In [131]:
# temp['GEO_ID'] = '1'
# temp = temp.drop(columns = ['GEO_ID_x', 'GEO_ID_y'])

In [132]:
# temp = temp.merge(b3, on = ['NAME'])

In [133]:
# temp = temp.drop(columns = ['GEO_ID_x', 'GEO_ID_y'])

In [134]:
# temp = temp.merge(b4, on = ['NAME'])

In [135]:
temp.head(3)

,NAME,GEO_ID,compinternet_series_total,compinternet_total_u18,compinternet_hascomputer_u18,compinternet_hascomputer_dialupinternetonly_u18,compinternet_hascomputer_broadbandinternet_u18,compinternet_hascomputer_withoutinternet_u18,compinternet_nocomputer_u18,compinternet_total_18to64,compinternet_hascomputer_18to64,compinternet_hascomputer_dialupinternetonly_18to64,compinternet_hascomputer_broadbandinternet_18to64,compinternet_hascomputer_withoutinternet_18to64,compinternet_nocomputer_18to64,compinternet_total_65over,compinternet_hascomputer_65over,compinternet_hascomputer_dialupinternetonly_65over,compinternet_hascomputer_broadbandinternet_65over,compinternet_hascomputer_withoutinternet_65over,compinternet_nocomputer_65over,attainment_total_over25_series,attainment_noschooling,attainment_nurseryschool,attainment_kindergarten,attainment_1stgrade,attainment_2ndgrade,attainment_3rdgrade,attainment_4thgrade,attainment_5thgrade,attainment_6thgrade,attainment_7thgrade,attainment_8thgrade,attainment_9thgrade,attainment_10thgrade,attainment_11thgrade,attainment_12thgradenodiploma,attainment_regularhighschooldiploma,attainment_gedoralternativecredential,attainment_somecollegelessthan1year,attainment_somecollege1ormoreyearsnodegree,attainment_associatesdegree,attainment_bachelorsdegree,attainment_mastersdegree,attainment_professionalschooldegree,attainment_doctoratedegree,lfstatus_total_sexbyagebyemploymentstatus16+_series,lfstatus_m_total,lfstatus_m_16to19,lfstatus_m_16to19_inlf,lfstatus_m_16to19_inlf_armedforces,lfstatus_m_16to19_inlf_civilian,lfstatus_m_16to19_inlf_civilian_employed,lfstatus_m_16to19_inlf_civilian_unemployed,lfstatus_m_16to19_notinlf,lfstatus_m_20to21,lfstatus_m_20to21_inlf,lfstatus_m_20to21_inlf_armedforces,lfstatus_m_20to21_inlf_civilian,lfstatus_m_20to21_inlf_civilian_employed,lfstatus_m_20to21_inlf_civilian_unemployed,lfstatus_m_20to21_notinlf,lfstatus_m_22to24,lfstatus_m_22to24_inlf,lfstatus_m_22to24_inlf_armedforces,lfstatus_m_22to24_inlf_civilian,lfstatus_m_22to24_inlf_civilian_employed,lfstatus_m_22to24_inlf_civilian_unemployed,lfstatus_m_22to24_notinlf,lfstatus_m_25to29,lfstatus_m_25to29_inlf,lfstatus_m_25to29_inlf_armedforces,lfstatus_m_25to29_inlf_civilian,lfstatus_m_25to29_inlf_civilian_employed,lfstatus_m_25to29_inlf_civilian_unemployed,lfstatus_m_25to29_notinlf,lfstatus_m_30to34,lfstatus_m_30to34_inlf,lfstatus_m_30to34_inlf_armedforces,lfstatus_m_30to34_inlf_civilian,lfstatus_m_30to34_inlf_civilian_employed,lfstatus_m_30to34_inlf_civilian_unemployed,lfstatus_m_30to34_notinlf,lfstatus_m_35to44,lfstatus_m_35to44_inlf,lfstatus_m_35to44_inlf_armedforces,lfstatus_m_35to44_inlf_civilian,lfstatus_m_35to44_inlf_civilian_employed,lfstatus_m_35to44_inlf_civilian_unemployed,lfstatus_m_35to44_notinlf,lfstatus_m_45to54,lfstatus_m_45to54_inlf,lfstatus_m_45to54_inlf_armedforces,lfstatus_m_45to54_inlf_civilian,lfstatus_m_45to54_inlf_civilian_employed,lfstatus_m_45to54_inlf_civilian_unemployed,lfstatus_m_45to54_notinlf,lfstatus_m_55to59,lfstatus_m_55to59_inlf,lfstatus_m_55to59_inlf_armedforces,lfstatus_m_55to59_inlf_civilian,lfstatus_m_55to59_inlf_civilian_employed,lfstatus_m_55to59_inlf_civilian_unemployed,lfstatus_m_55to59_notinlf,lfstatus_m_60to61,lfstatus_m_60to61_inlf,lfstatus_m_60to61_inlf_armedforces,lfstatus_m_60to61_inlf_civilian,lfstatus_m_60to61_inlf_civilian_employed,lfstatus_m_60to61_inlf_civilian_unemployed,lfstatus_m_60to61_notinlf,lfstatus_m_62to64,lfstatus_m_62to64_inlf,lfstatus_m_62to64_inlf_armedforces,lfstatus_m_62to64_inlf_civilian,lfstatus_m_62to64_inlf_civilian_employed,lfstatus_m_62to64_inlf_civilian_unemployed,lfstatus_m_62to64_notinlf,lfstatus_m_65to69,lfstatus_m_65to69_inlf,lfstatus_m_65to69_inlf_employed,lfstatus_m_65to69_inlf_unemployed,lfstatus_m_65to69_notinlf,lfstatus_m_70to74,lfstatus_m_70to74_inlf,lfstatus_m_70to74_inlf_employed,lfstatus_m_70to74_inlf_unemployed,lfstatus_m_70to74_notinlf,lfstatus_m_75andolder,lfstatus_m_75andolder_inlf,lfstatus_m_75andolder_inlf_employed,lfstatus_m_75andolder_inlf_unemployed,lfstatus_m_75andolder_notinlf,lfstatus_f_total,lfstatus_f_16to19,lfstatus_f_16to19_inlf,lfstatus_f_16to19_inlf_armedforces,lfstatus_f_16to19_inlf_civilian,lfstatus_f_16to19_inlf_civilian_employed,lfstatus_f_16to19_inlf_civilian_unemployed,lfstatus_f_16to19_notinlf,lfstatus_f_20to21,lfstatus_f_20to21_inlf,lfstatus_f_20to21_inlf_armedforces,lfstatus_f_20to21_inlf_civilian,lfstatus_f_20to21_inlf_civilian_employed,lfstatus_f_20to21_inlf_civilian_unemployed,lfstatus_f_20to21_notinlf,lfstatus_f_22to24,lfstatus_f_22to24_inlf,lfstatus_f_22to24_inlf_armedforces,lfstatus_f_22to24_inlf_civilian,lfstatus_f_22to24_inlf_civilian_employed,lfstatus_f_22to24_inlf_civilian_unemployed,lfstatus_f_22to24_notinlf,lfstatus_f_25to29,lfstatus_f_25to29_inlf,lfstatus_f_25to29_inlf_armedforces,lfstatus_f_25to29_inlf_civilian,lfstatus_f_25to29_inlf_civilian_employed,lfstatus_f_25to29_inlf_civilian_unemployed,lfstatus_f_25to29_notinlf,lfstatus_f_30to34,lfstatus_f_30to34_inlf,lfstatus_f_30to34_inlf_armedforces,lfstatus_f_30to34_inlf_civilian,lfstatus_f_30to34_inlf_civilian_employed,lfstatus_f_30to34_inlf_civilian_unemployed,lfstatus_f_30to34_notinlf,lfstatus_f_35to44,lfstatus_f_35to44_inlf,lfstatus_f_35to44_inlf_armedforces,lfstatus_f_35to44_inlf_civilian,lfstatus_f_35to44_inlf_civilian_employed,lfstatus_f_35to44_inlf_civilian_unemployed,lfstatus_f_35to44_notinlf,lfstatus_f_45to54,lfstatus_f_45to54_inlf,lfstatus_f_45to54_inlf_armedforces,lfstatus_f_45to54_inlf_civilian,lfstatus_f_45to54_inlf_civilian_employed,lfstatus_f_45to54_inlf_civilian_unemployed,lfstatus_f_45to54_notinlf,lfstatus_f_55to59,lfstatus_f_55to59_inlf,lfstatus_f_55to59_inlf_armedforces,lfstatus_f_55to59_inlf_civilian,lfstatus_f_55to59_inlf_civilian_employed,lfstatus_f_55to59_inlf_civilian_unemployed,lfstatus_f_55to59_notinlf,lfstatus_f_60to61,lfstatus_f_60to61_inlf,lfstatus_f_60to61_inlf_armedforces,lfstatus_f_60to61_inlf_civilian,lfstatus_f_60to61_inlf_civilian_employed,lfstatus_f_60to61_inlf_civilian_unemployed,lfstatus_f_60to61_notinlf,lfstatus_f_62to64,lfstatus_f_62to64_inlf,lfstatus_f_62to64_inlf_armedforces,lfstatus_f_62to64_inlf_civilian,lfstatus_f_62to64_inlf_civilian_employed,lfstatus_f_62to64_inlf_civilian_unemployed,lfstatus_f_62to64_notinlf,lfstatus_f_65to69,lfstatus_f_65to69_inlf,lfstatus_f_65to69_inlf_employed,lfstatus_f_65to69_inlf_unemployed,lfstatus_f_65to69_notinlf,lfstatus_f_70to74,lfstatus_f_70to74_inlf,lfstatus_f_70to74_inlf_employed,lfstatus_f_70to74_inlf_unemployed,lfstatus_f_70to74_notinlf,lfstatus_f_75andolder,lfstatus_f_75andolder_inlf,lfstatus_f_75andolder_inlf_employed,lfstatus_f_75andolder_inlf_unemployed,lfstatus_f_75andolder_notinlf,hhincome_median_hholderage_series_total,hhincome_median_hholderu25,hhincome_median_hholder25to44,hhincome_median_hholder45to64,hhincome_median_hholder65over,hhincome_median,hhincome_total_series,hhincome_lessthan10000,hhincome_10to14999,hhincome_15to19999,hhincome_20to24999,hhincome_25to29999,hhincome_30to34999,hhincome_35to39999,hhincome_40to44999,hhincome_45to49999,hhincome_50to59999,hhincome_60to74999,hhincome_75to99999,hhincome_100to124999,hhincome125to149999,hhincome150to199999,hhincome200ormore,earn_total_series,earn_total_m,earn_m_1to2499orloss,earn_m_2500to4999,earn_m_5000to7499,earn_m_7500to9999,earn_m_10000to12499,earn_m_12500to14999,earn_m_15000to17499,earn_m_17500to19999,earn_m_20000to22499,earn_m_22500to24999,earn_m_25000to29999,earn_m_30000to34999,earn_m_35000to39999,earn_m_40000to44999,earn_m_45000to49999,earn_m_50000to54999,earn_m_55000to64999,earn_m_65000to74999,earn_m_75000to99999,earn_m_100000ormore,earn_total_f,earn_f_1to2499orloss,earn_f_2500to4999,earn_f_5000to7499,earn_f_7500to9999,earn_f_10000to12499,earn_f_12500to14999,earn_f_15000to17499,earn_f_17500to19999,earn_f_20000to22499,earn_f_22500to24999,earn_f_25000to29999,earn_f_30000to34999,earn_f_35000to39999,earn_f_40000to44999,earn_f_45000to49999,earn_f_50000to54999,earn_f_55000to64999,earn_f_65000to74999,earn_f_75000to99999,earn_f_100000ormore,earn_allwithearnings_median,earn_total_fulltime_m,earn_total_m_fulltime_noearnings,earn_total_m_fulltime_withearnings,earn_m_fulltime_1to2499orloss,earn_m_fulltime_2500to4999,earn_m_fulltime_5000to7499,earn_m_fulltime_7500to9999,earn_m_fulltime_10000to12499,earn_m_fulltime_12500to14999,earn_m_fulltime_15000to17499,earn_m_fulltime_17500to19999,earn_m_fulltime_20000to22499,earn_m_fulltime_22500to24999,earn_m_fulltime_25000to29999,earn_m_fulltime_30000to34999,earn_m_fulltime_35000to39999,earn_m_fulltime_40000to44999,earn_m_fulltime_45000to49999,earn_m_fulltime_50000to54999,earn_m_fulltime_55000to64999,earn_m_fulltime_65000to74999,earn_m_fulltime_75000to99999,earn_m_fulltime_100000ormore,earn_total_f_workexperience,earn_total_fulltime_f,earn_total_f_fulltime_noearnings,earn_total_f_fulltime_withearnings,earn_f_fulltime_1to2499orloss,earn_f_fulltime_2500to4999,earn_f_fulltime_5000to7499,earn_f_fulltime_7500to9999,earn_f_fulltime_10000to12499,earn_f_fulltime_12500to14999,earn_f_fulltime_15000to17499,earn_f_fulltime_17500to19999,earn_f_fulltime_20000to22499,earn_f_fulltime_22500to24999,earn_f_fulltime_25000to29999,earn_f_fulltime_30000to34999,earn_f_fulltime_35000to39999,earn_f_fulltime_40000to44999,earn_f_fulltime_45000to49999,earn_f_fulltime_50000to54999,earn_f_fulltime_55000to64999,earn_f_fulltime_65000to74999,earn_f_fulltime_75000to99999,earn_f_fulltime_100000ormore,housingcost_mediangrossrent_renteroccupied,housingcost_medcosts_ownerocc,housingcost_medcosts_ownerocc_mortgage,housingcost_medcosts_ownerocc_womortgage,commute_total_meansoftransportationtowork_series,commute_cartruckvan,commute_cartruckvan_drovealone,commute_cartruckvan_carpooled,commute_cartruckvan_carpooled_2ppl,commute_cartruckvan_carpooled_3ppl,commute_cartruckvan_carpooled_4ormoreppl,commute_publictransportation,commute_publictransportation_bus,commute_publictransportation_subwayorelevatedrail,commute_publictransportation_longdistancetrainorcommuterrail,commute_publictransportation_lightrailstreetcarortrolley,commute_publictransportation_ferryboat,commute_bicycle,commute_walk,commute_taxicabmotorcycleother,commute_workedfromhome,traveltimemode_series_total,traveltimemode_lessthan10,traveltimemode_10to14,traveltimemode_15to19,traveltimemode_20to24,traveltimemode_25to29,traveltimemode_30to34,traveltimemode_35to44,traveltimemode_45to59,traveltimemode_60ormore,housingcost_total_selectedownercosts%hhincome_series,housingcost_total%ownercostwmortgage_series,housingcost_%ownercost30to34.9_wmortgage,housingcost_%ownercost35to39.9_wmortgage,housingcost_%ownercost40to49.9_wmortgage,housingcost_%ownercost50+_wmortgage,housingcost_total%ownercostwomortgage_series,housingcost_%ownercost30to34.9_womortgage,housingcost_%ownercost35to39.9_womortgage,housingcost_%ownercost40to49.9_womortgage,housingcost_%ownercost50+_womortgage,housingcost_total_rent%hhincome_series,housingcost_%rentercost30to34.9,housingcost_%rentercost35to39.9,housingcost_%rentercost40to49.9,housingcost_%rentercost50+,aggregatetraveltimetowork,poverty_belowlevel,housing_medianvalue,poverty_total_bysexbyage_series,units_total_series,units_one_detached,units_one_attached,units_two,units_threetofour,units_fivetonine,units_tentonineteen,units_twentytofortynine,units_fiftyormore,units_mobilehome,units_boatrvvanetc,hhsize_avg
0,"Robertson County (part), Portland city, Tennessee",1,30,0,0,0,0,0,0,21,21,0,0,21,0,9,9,0,9,0,0,30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10,20,0,0,0,0,0,0,0,30,11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11,11,0,11,11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10,10,0,10,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9,0,0,0,9,-666666666,-666666666,-666666666,-666666666,-666666666,-666666666,20,0,9,0,0,0,0,0,0,0,0,11,0,0,0,0,0,21,11,0,0,0,0,0,0,0,0,0,0,0,0,11,0,0,0,0,0,0,0,10,0,0,0,0,0,0,0,0,0,0,0,10,0,0,0,0,0,0,0,0,-666666666,11,0,11,0,0,0,0,0,0,0,0,0,0,0,0,11,0,0,0,0,0,0,0,19,10,0,10,0,0,0,0,0,0,0,0,0,0,0,10,0,0,0,0,0,0,0,0,-666666666,-666666666,-666666666,-666666666,21,21,11,10,0,0,10,0,0,0,0,0,0,0,0,0,0,21,0,0,0,0,0,0,0,0,21,20,11,0,0,0,0,9,0,0,0,0,0,0,0,0,0,None,0,-666666666,30,20,20,0,0,0,0,0,0,0,0,0,1.50
1,"Sumner County (part), Portland city, Tennessee",1,12212,3402,3300,0,3093,207,102,7503,7107,23,6570,514,396,1307,853,12,819,22,454,7557,70,0,0,0,0,0,6,39,71,17,149,150,294,353,160,2259,757,779,916,745,525,232,27,8,9178,4294,364,176,0,176,110,66,188,89,79,0,79,73,6,10,418,320,0,320,320,0,98,315,294,0,294,294,0,21,471,453,0,453,435,18,18,650,551,0,551,551,0,99,870,694,0,694,679,15,176,226,216,0,216,216,0,10,73,47,0,47,39,8,26,160,141,0,141,141,0,19,242,51,51,0,191,118,34,34,0,84,298,49,49,0,249,4884,304,160,0,160,137,23,144,167,105,16,89,54,35,62,279,103,0,103,103,0,176,524,400,0,400,324,76,124,469,419,0,419,419,0,50,747,581,0,581,574,7,166,1141,804,0,804,761,43,337,309,156,0,156,152,4,153,62,30,0,30,30,0,32,233,127,0,127,119,8,106,187,65,65,0,122,159,31,31,0,128,303,24,24,0,279,48419,35625,50406,57569,36563,48419,4221,178,351,151,264,198,268,300,284,169,372,593,508,265,175,100,45,6306,3202,124,62,63,142,186,88,177,147,96,136,243,196,245,298,170,169,190,109,180,181,3104,131,141,144,144,153,193,214,88,318,141,257,268,170,233,121,157,133,28,47,23,27887,2385,0,2385,0,0,0,0,91,18,50,142,85,117,229,172,237,279,170,158,184,109,180,164,4884,2048,0,2048,0,0,19,9,81,80,110,77,216,135,237,246,143,233,103,142,126,28,47,16,790,947,1065,373,5613,5284,4634,650,558,48,44,11,0,0,0,0,11,0,10,162,146,5467,859,969,497,529,325,730,480,436,642,2854,2039,179,41,143,199,815,42,0,0,12,1367,40,100,106,288,149795,2027,131100,12199,4642,3749,66,194,165,59,10,8,54,337,0,2.89
2,"Robertson County (part), Ridgetop city, Tennessee",1,2102,407,396,0,368,28,11,1179,1123,5,1047,71,56,516,396,5,376,15,120,1609,0,0,0,0,0,0,0,0,3,0,49,8,23,45,41,530,76,138,258,114,235,69,14,6,1762,828,39,10,0,10,10,0,29,14,11,0,11,7,4,3,19,13,0,13,8,5,6,52,52,0,52,46,6,0,54,54,0,54,54,0,0,118,104,0,104,99,5,14,139,136,0,136,129,7,3,87,78,0,78,78,0,9,28,24,0,24,24,0,4,48,25,0,25,25,0,23,96,54,54,0,42,67,6,6,0,61,67,3,3,0,64,934,38,4,0,4,4,0,34,12,12,0,12,12,0,0,31,28,0,28,24,4,3,45,29,0,29,17,12,16,81,58,0,58,55,3,23,107,92,0,92,92,0,15,143,84,0,84,81,3,59,89,68,0,68,63,5,21,30,11,0,11,11,0,19,41,17,0,17,17,0,24,128,44,44,0,84,82,17,17,0,65,107,5,5,0,102,67021,-666666666,73571,77917,53864,67021,776,2,14,33,16,31,19,26,43,37,74,158,118,134,50,13,8,1126,608,30,19,21,11,23,4,18,7,0,26,27,30,62,62,50,39,59,38,45,37,518,14,53,10,19,24,13,20,7,36,33,52,54,23,26,18,26,33,12,28,17,35405,449,0,449,0,0,4,4,4,4,16,0,0,24,8,30,38,58,50,36,53,38,45,37,934,321,0,321,0,0,0,0,3,9,20,0,9,22,49,51,23,26,15,23,19,12,28,12,985,929,1288,437,950,872,770,102,93,6,3,0,0,0,0,0,0,0,3,19,56,894,77,77,103,148,61,99,115,166,48,658,407,21,11,8,41,251,0,3,0,10,118,0,2,8,13,26285,84,173700,2102,829,760,11,17,2,0,4,0,0,35,0,2.71

In [136]:
balances = temp
balances['GEO_ID'] = '1'

In [137]:
balances['NAME'].unique()

array(['Robertson County (part), Portland city, Tennessee',
       'Sumner County (part), Portland city, Tennessee',
       'Robertson County (part), Ridgetop city, Tennessee',
       'Davidson County (part), Ridgetop city, Tennessee',
       'Robertson County (part), Millersville city, Tennessee',
       'Sumner County (part), Millersville city, Tennessee',
       'Sumner County (part), White House city, Tennessee',
       'Robertson County (part), White House city, Tennessee',
       'Houston County (part), Tennessee Ridge town, Tennessee',
       'Stewart County (part), Tennessee Ridge town, Tennessee',
       'Sumner County (part), Goodlettsville city, Tennessee',
       'Davidson County (part), Goodlettsville city, Tennessee',
       'Maury County (part), Spring Hill city, Tennessee',
       'Williamson County (part), Spring Hill city, Tennessee'],
      dtype=object)

In [138]:
msas = ['34980', '17300']

In [140]:
#this works msa
data_appended = []
for df in alldfs:
    dataguide = df
    for col_name, col_data in df.items():
        var_list = list(dataguide['Variable']) #make variables list
        var_list = deque(var_list)
        var_list.appendleft(head2)
        var_list.appendleft(head1)
        col_list = list(dataguide['Column Name']) #make columns list
        col_list.append(tail_cols1)
        col_list = deque(col_list)
        col_list.appendleft(head2)  
        col_list.appendleft(head1)
        temp = []
        for msa in msas:
            predicates= {}
            get_vars= var_list
            predicates["get"]= ",". join(get_vars)
            predicates["for"]= "metropolitan statistical area/micropolitan statistical area:{}".format(msa)
            data = requests.get(url_str, params= predicates)
            col_names = col_list
            data = pd.DataFrame(columns=col_names, data=data.json()[1:])
            temp.append(data) #append the current instance to the last
        temp = pd.concat(temp)
        thing = temp
    data_appended.append(temp)
new_df = pd.concat(data_appended, axis = 1) 
new_df = new_df.transpose().reset_index(drop = False).drop_duplicates()
new_df.columns = new_df.iloc[0]
new_df = new_df.set_index('NAME').transpose().drop(columns = ['StateFIPS']).reset_index(drop = True)
new_df = new_df.rename_axis(None, axis = 1)
print('Your API call is complete')

Your API call is complete

In [141]:
msas = new_df

In [142]:
dfs = [part_one, balances, msas]
data = pd.concat(dfs)

In [143]:
data.head(3)

,NAME,GEO_ID,compinternet_series_total,compinternet_total_u18,compinternet_hascomputer_u18,compinternet_hascomputer_dialupinternetonly_u18,compinternet_hascomputer_broadbandinternet_u18,compinternet_hascomputer_withoutinternet_u18,compinternet_nocomputer_u18,compinternet_total_18to64,compinternet_hascomputer_18to64,compinternet_hascomputer_dialupinternetonly_18to64,compinternet_hascomputer_broadbandinternet_18to64,compinternet_hascomputer_withoutinternet_18to64,compinternet_nocomputer_18to64,compinternet_total_65over,compinternet_hascomputer_65over,compinternet_hascomputer_dialupinternetonly_65over,compinternet_hascomputer_broadbandinternet_65over,compinternet_hascomputer_withoutinternet_65over,compinternet_nocomputer_65over,attainment_total_over25_series,attainment_noschooling,attainment_nurseryschool,attainment_kindergarten,attainment_1stgrade,attainment_2ndgrade,attainment_3rdgrade,attainment_4thgrade,attainment_5thgrade,attainment_6thgrade,attainment_7thgrade,attainment_8thgrade,attainment_9thgrade,attainment_10thgrade,attainment_11thgrade,attainment_12thgradenodiploma,attainment_regularhighschooldiploma,attainment_gedoralternativecredential,attainment_somecollegelessthan1year,attainment_somecollege1ormoreyearsnodegree,attainment_associatesdegree,attainment_bachelorsdegree,attainment_mastersdegree,attainment_professionalschooldegree,attainment_doctoratedegree,lfstatus_total_sexbyagebyemploymentstatus16+_series,lfstatus_m_total,lfstatus_m_16to19,lfstatus_m_16to19_inlf,lfstatus_m_16to19_inlf_armedforces,lfstatus_m_16to19_inlf_civilian,lfstatus_m_16to19_inlf_civilian_employed,lfstatus_m_16to19_inlf_civilian_unemployed,lfstatus_m_16to19_notinlf,lfstatus_m_20to21,lfstatus_m_20to21_inlf,lfstatus_m_20to21_inlf_armedforces,lfstatus_m_20to21_inlf_civilian,lfstatus_m_20to21_inlf_civilian_employed,lfstatus_m_20to21_inlf_civilian_unemployed,lfstatus_m_20to21_notinlf,lfstatus_m_22to24,lfstatus_m_22to24_inlf,lfstatus_m_22to24_inlf_armedforces,lfstatus_m_22to24_inlf_civilian,lfstatus_m_22to24_inlf_civilian_employed,lfstatus_m_22to24_inlf_civilian_unemployed,lfstatus_m_22to24_notinlf,lfstatus_m_25to29,lfstatus_m_25to29_inlf,lfstatus_m_25to29_inlf_armedforces,lfstatus_m_25to29_inlf_civilian,lfstatus_m_25to29_inlf_civilian_employed,lfstatus_m_25to29_inlf_civilian_unemployed,lfstatus_m_25to29_notinlf,lfstatus_m_30to34,lfstatus_m_30to34_inlf,lfstatus_m_30to34_inlf_armedforces,lfstatus_m_30to34_inlf_civilian,lfstatus_m_30to34_inlf_civilian_employed,lfstatus_m_30to34_inlf_civilian_unemployed,lfstatus_m_30to34_notinlf,lfstatus_m_35to44,lfstatus_m_35to44_inlf,lfstatus_m_35to44_inlf_armedforces,lfstatus_m_35to44_inlf_civilian,lfstatus_m_35to44_inlf_civilian_employed,lfstatus_m_35to44_inlf_civilian_unemployed,lfstatus_m_35to44_notinlf,lfstatus_m_45to54,lfstatus_m_45to54_inlf,lfstatus_m_45to54_inlf_armedforces,lfstatus_m_45to54_inlf_civilian,lfstatus_m_45to54_inlf_civilian_employed,lfstatus_m_45to54_inlf_civilian_unemployed,lfstatus_m_45to54_notinlf,lfstatus_m_55to59,lfstatus_m_55to59_inlf,lfstatus_m_55to59_inlf_armedforces,lfstatus_m_55to59_inlf_civilian,lfstatus_m_55to59_inlf_civilian_employed,lfstatus_m_55to59_inlf_civilian_unemployed,lfstatus_m_55to59_notinlf,lfstatus_m_60to61,lfstatus_m_60to61_inlf,lfstatus_m_60to61_inlf_armedforces,lfstatus_m_60to61_inlf_civilian,lfstatus_m_60to61_inlf_civilian_employed,lfstatus_m_60to61_inlf_civilian_unemployed,lfstatus_m_60to61_notinlf,lfstatus_m_62to64,lfstatus_m_62to64_inlf,lfstatus_m_62to64_inlf_armedforces,lfstatus_m_62to64_inlf_civilian,lfstatus_m_62to64_inlf_civilian_employed,lfstatus_m_62to64_inlf_civilian_unemployed,lfstatus_m_62to64_notinlf,lfstatus_m_65to69,lfstatus_m_65to69_inlf,lfstatus_m_65to69_inlf_employed,lfstatus_m_65to69_inlf_unemployed,lfstatus_m_65to69_notinlf,lfstatus_m_70to74,lfstatus_m_70to74_inlf,lfstatus_m_70to74_inlf_employed,lfstatus_m_70to74_inlf_unemployed,lfstatus_m_70to74_notinlf,lfstatus_m_75andolder,lfstatus_m_75andolder_inlf,lfstatus_m_75andolder_inlf_employed,lfstatus_m_75andolder_inlf_unemployed,lfstatus_m_75andolder_notinlf,lfstatus_f_total,lfstatus_f_16to19,lfstatus_f_16to19_inlf,lfstatus_f_16to19_inlf_armedforces,lfstatus_f_16to19_inlf_civilian,lfstatus_f_16to19_inlf_civilian_employed,lfstatus_f_16to19_inlf_civilian_unemployed,lfstatus_f_16to19_notinlf,lfstatus_f_20to21,lfstatus_f_20to21_inlf,lfstatus_f_20to21_inlf_armedforces,lfstatus_f_20to21_inlf_civilian,lfstatus_f_20to21_inlf_civilian_employed,lfstatus_f_20to21_inlf_civilian_unemployed,lfstatus_f_20to21_notinlf,lfstatus_f_22to24,lfstatus_f_22to24_inlf,lfstatus_f_22to24_inlf_armedforces,lfstatus_f_22to24_inlf_civilian,lfstatus_f_22to24_inlf_civilian_employed,lfstatus_f_22to24_inlf_civilian_unemployed,lfstatus_f_22to24_notinlf,lfstatus_f_25to29,lfstatus_f_25to29_inlf,lfstatus_f_25to29_inlf_armedforces,lfstatus_f_25to29_inlf_civilian,lfstatus_f_25to29_inlf_civilian_employed,lfstatus_f_25to29_inlf_civilian_unemployed,lfstatus_f_25to29_notinlf,lfstatus_f_30to34,lfstatus_f_30to34_inlf,lfstatus_f_30to34_inlf_armedforces,lfstatus_f_30to34_inlf_civilian,lfstatus_f_30to34_inlf_civilian_employed,lfstatus_f_30to34_inlf_civilian_unemployed,lfstatus_f_30to34_notinlf,lfstatus_f_35to44,lfstatus_f_35to44_inlf,lfstatus_f_35to44_inlf_armedforces,lfstatus_f_35to44_inlf_civilian,lfstatus_f_35to44_inlf_civilian_employed,lfstatus_f_35to44_inlf_civilian_unemployed,lfstatus_f_35to44_notinlf,lfstatus_f_45to54,lfstatus_f_45to54_inlf,lfstatus_f_45to54_inlf_armedforces,lfstatus_f_45to54_inlf_civilian,lfstatus_f_45to54_inlf_civilian_employed,lfstatus_f_45to54_inlf_civilian_unemployed,lfstatus_f_45to54_notinlf,lfstatus_f_55to59,lfstatus_f_55to59_inlf,lfstatus_f_55to59_inlf_armedforces,lfstatus_f_55to59_inlf_civilian,lfstatus_f_55to59_inlf_civilian_employed,lfstatus_f_55to59_inlf_civilian_unemployed,lfstatus_f_55to59_notinlf,lfstatus_f_60to61,lfstatus_f_60to61_inlf,lfstatus_f_60to61_inlf_armedforces,lfstatus_f_60to61_inlf_civilian,lfstatus_f_60to61_inlf_civilian_employed,lfstatus_f_60to61_inlf_civilian_unemployed,lfstatus_f_60to61_notinlf,lfstatus_f_62to64,lfstatus_f_62to64_inlf,lfstatus_f_62to64_inlf_armedforces,lfstatus_f_62to64_inlf_civilian,lfstatus_f_62to64_inlf_civilian_employed,lfstatus_f_62to64_inlf_civilian_unemployed,lfstatus_f_62to64_notinlf,lfstatus_f_65to69,lfstatus_f_65to69_inlf,lfstatus_f_65to69_inlf_employed,lfstatus_f_65to69_inlf_unemployed,lfstatus_f_65to69_notinlf,lfstatus_f_70to74,lfstatus_f_70to74_inlf,lfstatus_f_70to74_inlf_employed,lfstatus_f_70to74_inlf_unemployed,lfstatus_f_70to74_notinlf,lfstatus_f_75andolder,lfstatus_f_75andolder_inlf,lfstatus_f_75andolder_inlf_employed,lfstatus_f_75andolder_inlf_unemployed,lfstatus_f_75andolder_notinlf,hhincome_median_hholderage_series_total,hhincome_median_hholderu25,hhincome_median_hholder25to44,hhincome_median_hholder45to64,hhincome_median_hholder65over,hhincome_median,hhincome_total_series,hhincome_lessthan10000,hhincome_10to14999,hhincome_15to19999,hhincome_20to24999,hhincome_25to29999,hhincome_30to34999,hhincome_35to39999,hhincome_40to44999,hhincome_45to49999,hhincome_50to59999,hhincome_60to74999,hhincome_75to99999,hhincome_100to124999,hhincome125to149999,hhincome150to199999,hhincome200ormore,earn_total_series,earn_total_m,earn_m_1to2499orloss,earn_m_2500to4999,earn_m_5000to7499,earn_m_7500to9999,earn_m_10000to12499,earn_m_12500to14999,earn_m_15000to17499,earn_m_17500to19999,earn_m_20000to22499,earn_m_22500to24999,earn_m_25000to29999,earn_m_30000to34999,earn_m_35000to39999,earn_m_40000to44999,earn_m_45000to49999,earn_m_50000to54999,earn_m_55000to64999,earn_m_65000to74999,earn_m_75000to99999,earn_m_100000ormore,earn_total_f,earn_f_1to2499orloss,earn_f_2500to4999,earn_f_5000to7499,earn_f_7500to9999,earn_f_10000to12499,earn_f_12500to14999,earn_f_15000to17499,earn_f_17500to19999,earn_f_20000to22499,earn_f_22500to24999,earn_f_25000to29999,earn_f_30000to34999,earn_f_35000to39999,earn_f_40000to44999,earn_f_45000to49999,earn_f_50000to54999,earn_f_55000to64999,earn_f_65000to74999,earn_f_75000to99999,earn_f_100000ormore,earn_allwithearnings_median,earn_total_fulltime_m,earn_total_m_fulltime_noearnings,earn_total_m_fulltime_withearnings,earn_m_fulltime_1to2499orloss,earn_m_fulltime_2500to4999,earn_m_fulltime_5000to7499,earn_m_fulltime_7500to9999,earn_m_fulltime_10000to12499,earn_m_fulltime_12500to14999,earn_m_fulltime_15000to17499,earn_m_fulltime_17500to19999,earn_m_fulltime_20000to22499,earn_m_fulltime_22500to24999,earn_m_fulltime_25000to29999,earn_m_fulltime_30000to34999,earn_m_fulltime_35000to39999,earn_m_fulltime_40000to44999,earn_m_fulltime_45000to49999,earn_m_fulltime_50000to54999,earn_m_fulltime_55000to64999,earn_m_fulltime_65000to74999,earn_m_fulltime_75000to99999,earn_m_fulltime_100000ormore,earn_total_f_workexperience,earn_total_fulltime_f,earn_total_f_fulltime_noearnings,earn_total_f_fulltime_withearnings,earn_f_fulltime_1to2499orloss,earn_f_fulltime_2500to4999,earn_f_fulltime_5000to7499,earn_f_fulltime_7500to9999,earn_f_fulltime_10000to12499,earn_f_fulltime_12500to14999,earn_f_fulltime_15000to17499,earn_f_fulltime_17500to19999,earn_f_fulltime_20000to22499,earn_f_fulltime_22500to24999,earn_f_fulltime_25000to29999,earn_f_fulltime_30000to34999,earn_f_fulltime_35000to39999,earn_f_fulltime_40000to44999,earn_f_fulltime_45000to49999,earn_f_fulltime_50000to54999,earn_f_fulltime_55000to64999,earn_f_fulltime_65000to74999,earn_f_fulltime_75000to99999,earn_f_fulltime_100000ormore,housingcost_mediangrossrent_renteroccupied,housingcost_medcosts_ownerocc,housingcost_medcosts_ownerocc_mortgage,housingcost_medcosts_ownerocc_womortgage,commute_total_meansoftransportationtowork_series,commute_cartruckvan,commute_cartruckvan_drovealone,commute_cartruckvan_carpooled,commute_cartruckvan_carpooled_2ppl,commute_cartruckvan_carpooled_3ppl,commute_cartruckvan_carpooled_4ormoreppl,commute_publictransportation,commute_publictransportation_bus,commute_publictransportation_subwayorelevatedrail,commute_publictransportation_longdistancetrainorcommuterrail,commute_publictransportation_lightrailstreetcarortrolley,commute_publictransportation_ferryboat,commute_bicycle,commute_walk,commute_taxicabmotorcycleother,commute_workedfromhome,traveltimemode_series_total,traveltimemode_lessthan10,traveltimemode_10to14,traveltimemode_15to19,traveltimemode_20to24,traveltimemode_25to29,traveltimemode_30to34,traveltimemode_35to44,traveltimemode_45to59,traveltimemode_60ormore,housingcost_total_selectedownercosts%hhincome_series,housingcost_total%ownercostwmortgage_series,housingcost_%ownercost30to34.9_wmortgage,housingcost_%ownercost35to39.9_wmortgage,housingcost_%ownercost40to49.9_wmortgage,housingcost_%ownercost50+_wmortgage,housingcost_total%ownercostwomortgage_series,housingcost_%ownercost30to34.9_womortgage,housingcost_%ownercost35to39.9_womortgage,housingcost_%ownercost40to49.9_womortgage,housingcost_%ownercost50+_womortgage,housingcost_total_rent%hhincome_series,housingcost_%rentercost30to34.9,housingcost_%rentercost35to39.9,housingcost_%rentercost40to49.9,housingcost_%rentercost50+,aggregatetraveltimetowork,poverty_belowlevel,housing_medianvalue,poverty_total_bysexbyage_series,units_total_series,units_one_detached,units_one_attached,units_two,units_threetofour,units_fivetonine,units_tentonineteen,units_twentytofortynine,units_fiftyormore,units_mobilehome,units_boatrvvanetc,hhsize_avg
0,"Warren County, Tennessee",0500000US47177,39550,9578,8646,52,7911,683,932,23418,19936,188,18033,1715,3482,6554,3854,81,3326,447,2700,27431,413,0,0,16,9,102,6,254,386,180,874,888,1255,727,563,9300,2386,1842,2948,1344,2352,1122,308,156,31748,15472,1008,385,0,385,300,85,623,566,365,0,365,301,64,201,597,526,0,526,492,34,71,1095,934,0,934,891,43,161,1222,998,0,998,932,66,224,2741,2295,6,2289,2222,67,446,2736,2169,0,2169,2102,67,567,1423,978,0,978,921,57,445,383,262,0,262,233,29,121,754,356,0,356,355,1,398,1032,336,325,11,696,779,159,159,0,620,1136,131,124,7,1005,16276,1008,482,0,482,347,135,526,382,240,0,240,198,42,142,756,592,0,592,566,26,164,1064,733,0,733,683,50,331,1281,764,0,764,690,74,517,2553,1791,0,1791,1664,127,762,2663,1909,0,1909,1814,95,754,1297,747,0,747,633,114,550,619,360,0,360,360,0,259,828,288,0,288,288,0,540,1272,277,246,31,995,897,49,41,8,848,1656,156,142,14,1500,36765,33352,43261,40610,29725,36765,15755,1276,1597,1156,981,1194,1125,1137,689,677,1171,1657,1413,767,405,197,313,18888,10243,510,309,299,271,442,336,545,530,600,495,899,837,825,641,322,485,604,396,529,368,8645,717,376,389,365,720,353,761,405,394,411,705,723,562,593,210,359,305,183,63,51,25552,7503,0,7503,20,16,41,53,169,96,322,367,490,383,781,791,769,610,312,469,585,394,500,335,16276,4980,0,4980,12,25,18,45,232,147,387,274,275,339,538,635,512,465,183,337,287,167,63,39,619,495,903,314,16867,15928,14248,1680,984,247,449,3,3,0,0,0,0,2,236,79,619,16248,2189,3221,3359,1977,639,1633,691,1019,1520,10794,4909,273,191,289,554,5885,180,115,103,174,4961,321,193,295,854,398880,8548,108600,39522,17907,13083,142,874,224,1011,57,65,90,2361,0,2.51
1,"Washington County, Tennessee",0500000US47179,121498,24712,24232,0,22471,1761,480,76075,71113,489,65162,5462,4962,20711,14994,285,13411,1298,5717,86310,736,0,20,0,43,111,71,153,258,643,1375,1309,1881,1504,1299,20895,5034,4746,13184,5534,16158,7612,1688,2056,104361,50271,3239,1626,0,1626,1462,164,1613,2294,1587,0,1587,1439,148,707,2988,2498,0,2498,2346,152,490,4251,3609,0,3609,3362,247,642,3701,3200,28,3172,2988,184,501,7752,6864,9,6855,6539,316,888,8319,6936,0,6936,6682,254,1383,3673,2577,0,2577,2465,112,1096,1661,944,0,944,875,69,717,2638,1318,0,1318,1255,63,1320,3390,892,847,45,2498,2750,366,346,20,2384,3615,364,345,19,3251,54090,3561,1420,0,1420,1210,210,2141,2632,1902,0,1902,1720,182,730,3337,2562,0,2562,2375,187,775,4077,3129,0,3129,3041,88,948,3834,2988,0,2988,2843,145,846,7697,5604,0,5604,5498,106,2093,8398,5892,0,5892,5540,352,2506,4672,2995,0,2995,2843,152,1677,1724,979,0,979,958,21,745,2306,748,0,748,738,10,1558,3476,759,738,21,2717,3117,509,496,13,2608,5259,150,150,0,5109,44180,19701,47332,52515,37131,44180,52684,4262,3528,3430,3780,3017,3472,2652,2671,2486,4418,5223,5176,3399,1753,1647,1770,66113,34432,2318,1706,1566,1266,1329,1421,1226,1045,1461,875,1931,2412,2061,1852,1421,1741,2127,1656,1949,3069,31681,2943,1909,2309,1633,1719,1404,1391,1203,1677,1473,2582,2131,1627,1630,1189,983,1408,774,725,971,26025,22530,13,22517,36,29,211,161,293,313,592,714,1061,593,1592,2021,2030,1792,1293,1635,1996,1585,1890,2680,54090,16861,0,16861,22,8,240,110,398,435,632,704,1115,1227,2116,1772,1348,1423,1044,872,1188,682,646,879,713,741,1110,348,57590,53137,49363,3774,2981,563,230,354,353,0,1,0,0,73,609,1225,2192,55398,9203,9476,10150,9589,4247,5994,2666,2447,1626,34063,19819,1164,929,1051,1695,14244,325,172,181,353,18621,1165,1047,1855,3926,1150725,20127,152800,121718,59548,37632,1501,2150,2639,4565,2507,1805,1099,5616,34,2.31
2,"Weakley County, Tennessee",0500000US47183,31114,6616,6123,42,4958,1123,493,18961,17066,121,14705,2240,1895,5537,3507,46,2948,513,2030,21476,210,0,5,0,8,20,39,51,128,175,593,529,767,640,266,6769,1650,1524,2795,834,2868,1159,156,290,27928,13507,1228,446,0,446,340,106,782,865,545,0,545,436,109,320,1174,809,8,801,730,71,365,1056,836,0,836,735,101,220,814,713,0,713,646,67,101,1799,1541,0,1541,1468,73,258,1976,1544,0,1544,1457,87,432,1012,645,0,645,609,36,367,430,251,0,251,233,18,179,686,365,0,365,365,0,321,927,257,253,4,670,557,121,117,4,436,983,76,76,0,907,14421,1376,449,0,449,347,102,927,1028,526,0,526,456,70,502,781,561,0,561,502,59,220,894,706,0,706,584,122,188,849,567,0,567,541,26,282,1784,1200,0,1200,1113,87,584,2217,1610,0,1610,1510,100,607,1066,641,0,641,641,0,425,426,241,0,241,241,0,185,671,298,0,298,287,11,373,1001,271,244,27,730,711,89,89,0,622,1617,78,78,0,1539,36550,20480,40541,45625,31978,36550,13607,1550,998,922,1203,921,982,687,913,618,1046,1196,1091,814,311,222,133,16717,8821,521,668,315,366,419,364,411,236,470,397,642,727,502,626,443,259,535,290,346,284,7896,1008,566,486,329,542,375,314,282,484,275,703,515,507,411,263,192,237,112,142,153,23253,5396,5,5391,4,37,19,32,89,133,194,164,309,334,512,598,455,525,413,240,531,276,299,227,14421,4133,0,4133,15,0,116,57,152,96,158,197,349,254,518,462,416,360,209,173,219,100,134,148,590,548,903,313,13845,12822,11931,891,696,142,53,20,20,0,0,0,0,43,571,212,177,13668,3260,2410,2327,2100,499,1207,364,781,720,9060,4502,392,143,124,280,4558,64,61,45,180,4547,348,262,432,941,273805,6383,94300,31080,15591,10965,106,808,759,609,307,97,37,1896,7,2.29

In [144]:
data = data.reset_index(drop = True)
data = data.set_index(['NAME', 'GEO_ID']).transpose()
data.head()

NAME,"Warren County, Tennessee","Washington County, Tennessee","Weakley County, Tennessee","Benton County, Tennessee","Bledsoe County, Tennessee","Campbell County, Tennessee","Cannon County, Tennessee","Houston County, Tennessee","Maury County, Tennessee","Fayette County, Tennessee","Hancock County, Tennessee","Hawkins County, Tennessee","Johnson County, Tennessee","Lincoln County, Tennessee","Macon County, Tennessee","Moore County, Tennessee","Robertson County, Tennessee","Franklin County, Tennessee","Blount County, Tennessee","Cheatham County, Tennessee","Carter County, Tennessee","Grainger County, Tennessee","Giles County, Tennessee","Lauderdale County, Tennessee","Lawrence County, Tennessee","Madison County, Tennessee","Marion County, Tennessee","Overton County, Tennessee","Pickett County, Tennessee","Sumner County, Tennessee","Wayne County, Tennessee","Trousdale County, Tennessee","Williamson County, Tennessee","Bedford County, Tennessee","Clay County, Tennessee","Greene County, Tennessee","Cumberland County, Tennessee","Shelby County, Tennessee","Van Buren County, Tennessee","Claiborne County, Tennessee","Henderson County, Tennessee","Hickman County, Tennessee","Humphreys County, Tennessee","Jefferson County, Tennessee","Putnam County, Tennessee","Sequatchie County, Tennessee","Sevier County, Tennessee","Stewart County, Tennessee","Carroll County, Tennessee","Chester County, Tennessee","Decatur County, Tennessee","Davidson County, Tennessee","Jackson County, Tennessee","McNairy County, Tennessee","Perry County, Tennessee","Roane County, Tennessee","Bradley County, Tennessee","Meigs County, Tennessee","Hamblen County, Tennessee","Haywood County, Tennessee","Union County, Tennessee","Hardin County, Tennessee","Montgomery County, Tennessee","Dickson County, Tennessee","Morgan County, Tennessee","Grundy County, Tennessee","Monroe County, Tennessee","Henry County, Tennessee","Cocke County, Tennessee","Crockett County, Tennessee","DeKalb County, Tennessee","Lake County, Tennessee","Knox County, Tennessee","Lewis County, Tennessee","McMinn County, Tennessee","Marshall County, Tennessee","Obion County, Tennessee","Rhea County, Tennessee","Scott County, Tennessee","Tipton County, Tennessee","Anderson County, Tennessee","Coffee County, Tennessee","Dyer County, Tennessee","Fentress County, Tennessee","Gibson County, Tennessee","Hamilton County, Tennessee","Hardeman County, Tennessee","Loudon County, Tennessee","Polk County, Tennessee","Rutherford County, Tennessee","Smith County, Tennessee","White County, Tennessee","Wilson County, Tennessee","Sullivan County, Tennessee","Unicoi County, Tennessee","Christian County, Kentucky","Allen County, Kentucky","Simpson County, Kentucky","Eagleville city, Tennessee","Franklin city, Tennessee","Belle Meade city, Tennessee","Forest Hills city, Tennessee","La Vergne city, Tennessee","Burns town, Tennessee","Vanleer town, Tennessee","Columbia city, Tennessee","Goodlettsville city, Tennessee","White House city, Tennessee","New Johnsonville city, Tennessee","Portland city, Tennessee","Fairview city, Tennessee","Spring Hill city, Tennessee","Charlotte town, Tennessee","Gallatin city, Tennessee","Westmoreland town, Tennessee","Lebanon city, Tennessee","Brentwood city, Tennessee","Hendersonville city, Tennessee","Erin city, Tennessee","Dover city, Tennessee","Coopertown town, Tennessee","Ridgetop city, Tennessee","Pegram town, Tennessee","Smyrna town, Tennessee","Cumberland City town, Tennessee","Thompson's Station town, Tennessee","Millersville city, Tennessee","Mount Pleasant city, Tennessee","White Bluff town, Tennessee","Cross Plains city, Tennessee","Pleasant View city, Tennessee","Nolensville town, Tennessee","Slayden town, Tennessee","Murfreesboro city, Tennessee","Clarksville city, Tennessee","Kingston Springs town, Tennessee","McEwen city, Tennessee","Lafayette city, Tennessee","Ashland City town, Tennessee","Adams city, Tennessee","Greenbrier town, Tennessee","Springfield city, Tennessee","Berry Hill city, Tennessee","Oak Hill city, Tennessee","Waverly city, Tennessee","Mount Juliet city, Tennessee","Dickson city, Tennessee","Tennessee Ridge town, Tennessee","Mitchellville city, Tennessee","Watertown city, Tennessee","Cedar Hill city, Tennessee","Orlinda city, Tennessee","Nashville-Davidson metropolitan government (balance), Tennessee","Franklin city, Kentucky","Scottsville city, Kentucky",Tennessee,United States,"Robertson County (part), Portland city, Tennessee","Sumner County (part), Portland city, Tennessee","Robertson County (part), Ridgetop city, Tennessee","Davidson County (part), Ridgetop city, Tennessee","Robertson County (part), Millersville city, Tennessee","Sumner County (part), Millersville city, Tennessee","Sumner County (part), White House city, Tennessee","Robertson County (part), White House city, Tennessee","Houston County (part), Tennessee Ridge town, Tennessee","Stewart County (part), Tennessee Ridge town, Tennessee","Sumner County (part), Goodlettsville city, Tennessee","Davidson County (part), Goodlettsville city, Tennessee","Maury County (part), Spring Hill city, Tennessee","Williamson County (part), Spring Hill city, Tennessee","Nashville-Davidson--Murfreesboro--Franklin, TN Metro Area","Clarksville, TN-KY Metro Area"
GEO_ID,0500000US47177,0500000US47179,0500000US47183,0500000US47005,0500000US47007,0500000US47013,0500000US47015,0500000US47083,0500000US47119,0500000US47047,0500000US47067,0500000US47073,0500000US47091,0500000US47103,0500000US47111,0500000US47127,0500000US47147,0500000US47051,0500000US47009,0500000US47021,0500000US47019,0500000US47057,0500000US47055,0500000US47097,0500000US47099,0500000US47113,0500000US47115,0500000US47133,0500000US47137,0500000US47165,0500000US47181,0500000US47169,0500000US47187,0500000US47003,0500000US47027,0500000US47059,0500000US47035,0500000US47157,0500000US47175,0500000US47025,0500000US47077,0500000US47081,0500000US47085,0500000US47089,0500000US47141,0500000US47153,0500000US47155,0500000US47161,0500000US47017,0500000US47023,0500000US47039,0500000US47037,0500000US47087,0500000US47109,0500000US47135,0500000US47145,0500000US47011,0500000US47121,0500000US47063,0500000US47075,0500000US47173,0500000US47071,0500000US47125,0500000US47043,0500000US47129,0500000US47061,0500000US47123,0500000US47079,0500000US47029,0500000US47033,0500000US47041,0500000US47095,0500000US47093,0500000US47101,0500000US47107,0500000US47117,0500000US47131,0500000US47143,0500000US47151,0500000US47167,0500000US47001,0500000US47031,0500000US47045,0500000US47049,0500000US47053,0500000US47065,0500000US47069,0500000US47105,0500000US47139,0500000US47149,0500000US47159,0500000US47185,0500000US47189,0500000US47163,0500000US47171,0500000US21047,0500000US21003,0500000US21213,1600000US4722360,1600000US4727740,1600000US4704620,1600000US4727020,1600000US4741200,1600000US4709880,1600000US4776860,1600000US4716540,1600000US4729920,1600000US4780200,1600000US4752820,1600000US4760280,1600000US4725440,1600000US4770580,1600000US4713080,1600000US4728540,1600000US4779420,1600000US4741520,1600000US4708280,1600000US4733280,1600000US4724320,1600000US4721400,1600000US4716980,1600000US4763140,1600000US4757480,1600000US4769420,1600000US4718820,1600000US4773900,1600000US4748980,1600000US4751080,1600000US4779980,1600000US4718420,1600000US4759560,1600000US4753460,1600000US4769080,1600000US4751560,1600000US4715160,1600000US4739660,1600000US4744840,1600000US4740160,1600000US4702180,1600000US4700200,1600000US4730960,1600000US4770500,1600000US4705140,1600000US4754780,1600000US4778560,1600000US4750780,1600000US4720620,1600000US4773460,1600000US4749460,1600000US4778320,1600000US4711980,1600000US4756020,1600000US4752006,1600000US2128918,1600000US2169114,0400000US47,0100000US,1,1,1,1,1,1,1,1,1,1,1,1,1,1,310M300US34980,310M300US17300
compinternet_series_total,39550,121498,31114,15970,13235,39276,13655,7965,86346,38809,6430,55784,15904,33173,22887,6221,67637,39479,125150,39384,54830,22790,28224,23630,42124,94016,28058,21697,4983,174288,14690,8655,211700,46293,7576,66538,57416,920276,5573,30313,27552,22952,18052,51018,72394,14423,94488,13119,27205,15877,11453,656836,11369,25609,7736,52210,100652,11708,62619,17714,18998,25346,188624,50622,18777,13171,45141,31754,34929,14340,19064,4868,440845,11703,51432,31321,30173,31536,21591,60790,74362,53386,37194,17768,48071,343292,21875,50599,16475,293634,19053,25987,127330,153911,17300,66087,20412,17513,808,72634,2568,5002,34895,1736,299,35533,16838,11107,1963,12242,8442,35938,1240,33491,2214,28802,41429,55452,1072,1891,4398,2195,2545,46616,307,4112,6755,4658,3350,1569,4277,7119,112,121849,144663,2763,1694,4754,4389,699,6720,15840,878,4681,3908,31302,14809,1443,170,1408,371,1100,632827,8316,4291,6443385,312916765,30,12212,2102,93,1536,5219,5885,5222,1443,0,6051,10787,8668,27270,1794979,268897
compinternet_total_u18,9578,24712,6616,3209,2320,8130,2957,1832,20526,7969,1350,11711,3029,7504,5686,1262,17030,8556,26505,9209,10830,4806,6088,6162,10664,22261,6062,5026,924,42513,3020,1866,59126,12061,1517,13396,10394,236764,1065,6041,6444,5318,3869,10778,15868,3250,20049,2827,6004,3904,2470,144817,2158,5778,1724,10141,23183,2473,14751,4184,4259,5376,51921,12128,4182,2996,9991,6768,7265,3551,4255,1150,96336,2559,11282,7527,6745,7442,5304,15594,15940,13031,9074,3874,12046,74355,5021,10225,3415,74565,4578,5839,31102,30898,3372,19939,4910,4368,215,18467,656,1070,11001,377,57,9139,3518,3059,417,3402,2216,12425,193,8171,639,7496,12395,13501,241,476,1178,442,550,11894,52,1121,1649,976,635,307,1135,2611,15,28886,40240,579,259,1083,1101,212,2021,4052,16,1110,1020,9298,3602,343,33,320,126,320,139619,2145,805,1494233,73392369,0,3402,407,35,460,1189,1614,1445,343,0,1207,2311,2094,10331,431421,74964
compinternet_hascomputer_u18,8646,24232,6123,3144,1995,6978,2806,1672,20096,7613,1196,10970,2393,7166,4803,1142,16184,7992,25602,8922,9670,4416,5934,5486,8495,20364,5534,4442,819,41321,2471,1641,58391,11467,1299,12563,9747,206678,922,5266,5823,4757,3823,10491,13925,3104,19039,2568,5712,3633,2404,137563,1639,5503,1194,9582,21454,2272,13528,3762,3486,5089,50400,10926,3803,2553,8922,6238,6533,3253,3600,1012,92160,2393,10315,7169,6065,6932,4760,14825,14775,12062,8532,3651,11016,68944,4327,9571,2972,72660,4403,5020,30156,29988,3065,18170,4076,4047,215,18206,656,1070,10762,377,50,8858,3499,3044,403,3300,2182,12216,184,7824,552,7220,12350,13295,100,440,1111,431,528,11438,52,1101,1617,926,599,304,1135,2611,15,28179,39151,579,252,996,1094,200,1933,3660,16,1110,1020,9115,3286,328,31,266,126,317,132384,1898,587,1389953,69485679,0,3300,396,35,460,1157,1599,1445,328,0,1207,2292,2080,10136,414629,70949
compinternet_hascomputer_dialupinternetonly_u18,52,0,42,39,0,85,15,37,213,12,17,296,79,0,20,15,18,31,70,93,240,13,22,7,18,34,0,74,0,14,14,25,74,39,0,116,63,442,0,124,16,10,11,0,72,67,35,0,0,9,2,245,14,32,70,0,50,0,0,0,29,58,197,60,28,28,0,2,45,0,0,3,99,29,81,28,61,26,6,59,14,34,0,0,34,43,71,19,0,388,55,0,18,75,163,14,13,0,0,0,0,0,227,0,0,0,18,0,11,0,26,0,0,0,0,0,18,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,41,83,23,0,0,0,0,0,0,0,0,0,0,21,0,0,3,0,0,227,0,0,4839,236072,0,0,0,0,0,0,0,0,0,0,0,18,0,0,1248,218
compinternet_hascomputer_broadbandinternet_u18,7911,22471,4958,2601,1586,5373,2155,1449,17563,6449,778,8197,1738,5896,4100,924,14506,6492,22949,7712,7965,3636,4476,4420,7159,17031,4466,4101,779,38256,2233,1278,56514,9126,1050,10591,8238,173589,857,4142,4934,4128,3271,8507,12304,2569,16943,2049,4853,3276,2052,118369,1460,4326,1016,8139,18582,2031,11732,3077,2459,4159,46378,9749,3221,2186,7829,5078,4114,2698,3219,878,82260,1770,9119,5981,5149,5517,4176,13301,13227,9547,7680,3079,9106,62368,2845,7428,2455,64328,3964,4421,28476,26875,2451,15628,3512,3758,155,17579,637,1070,9164,348,48,7637,2863,2892,359,3093,1866,11896,157,7114,376,6578,12262,12702,90,414,925,403,468,10216,48,1064,1569,823,515,300,990,2465,15,24881,36269,519,236,869,921,152,1909,3288,16,1098,980,8659,2878,267,25,238,108,297,113857,1761,479,1206824,62315734,0,3093,368,35,460,1109,1551,1341,267,0,1207,1656,2046,9850,371098,64113

In [145]:
numcols = list(data.columns)
numcols
data[numcols] = data[numcols].astype(float)

In [146]:
GNRCCounties = [data[('Stewart County, Tennessee', '0500000US47161')],data[('Montgomery County, Tennessee', '0500000US47125')],
                data[('Houston County, Tennessee', '0500000US47083')],data[('Humphreys County, Tennessee', '0500000US47085')],
                data[('Dickson County, Tennessee', '0500000US47043')],data[('Cheatham County, Tennessee', '0500000US47021')],
                data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
                data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
                data[('Trousdale County, Tennessee', '0500000US47169')],data[('Williamson County, Tennessee', '0500000US47187')],
                data[('Rutherford County, Tennessee', '0500000US47149')]]
data['GNRC'] = sum(GNRCCounties)
GNRCCountiesAll = [data[('Stewart County, Tennessee', '0500000US47161')],data[('Montgomery County, Tennessee', '0500000US47125')],
                   data[('Houston County, Tennessee', '0500000US47083')],data[('Humphreys County, Tennessee', '0500000US47085')],
                   data[('Dickson County, Tennessee', '0500000US47043')],data[('Cheatham County, Tennessee', '0500000US47021')],
                   data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
                   data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
                   data[('Trousdale County, Tennessee', '0500000US47169')],data[('Williamson County, Tennessee', '0500000US47187')],
                   data[('Rutherford County, Tennessee', '0500000US47149')],data[('Maury County, Tennessee', '0500000US47119')]]
data['GNRC Region'] = sum(GNRCCountiesAll)
MPOCounties = [data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
               data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
               data[('Williamson County, Tennessee', '0500000US47187')],data[('Rutherford County, Tennessee', '0500000US47149')],
               data[('Maury County, Tennessee', '0500000US47119')]]
data['MPO'] = sum(MPOCounties)
thelist = [data[('Stewart County, Tennessee', '0500000US47161')],data[('Montgomery County, Tennessee', '0500000US47125')],
                   data[('Houston County, Tennessee', '0500000US47083')],data[('Humphreys County, Tennessee', '0500000US47085')],
                   data[('Dickson County, Tennessee', '0500000US47043')],data[('Cheatham County, Tennessee', '0500000US47021')],
                   data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
                   data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
                   data[('Trousdale County, Tennessee', '0500000US47169')],data[('Williamson County, Tennessee', '0500000US47187')],
                   data[('Rutherford County, Tennessee', '0500000US47149')],data[('Maury County, Tennessee', '0500000US47119')], 
                   data[('Christian County, Kentucky', '0500000US21047')]
          ]
data['Fifteen County Region'] = sum(thelist)
#Cheatham
CheathInc = [data[('Ashland City town, Tennessee', '1600000US4702180')],data[('Kingston Springs town, Tennessee', '1600000US4739660')],
             data[('Pegram town, Tennessee', '1600000US4757480')],data[('Pleasant View city, Tennessee', '1600000US4759560')]]
data[('Cheatham Incorporated', 'None')] = sum(CheathInc)
data[('Cheatham Unincorporated', 'None')] = data[('Cheatham County, Tennessee', '0500000US47021')] - data[('Cheatham Incorporated', 'None')]
#Dickson
DicksInc = [data[('Burns town, Tennessee', '1600000US4709880')],data[('Charlotte town, Tennessee', '1600000US4713080')],
            data[('Dickson city, Tennessee', '1600000US4720620')],data[('Slayden town, Tennessee', '1600000US4769080')],
            data[('Vanleer town, Tennessee', '1600000US4776860')],data[('White Bluff town, Tennessee', '1600000US4779980')]]
data[('Dickson Incorporated', 'None')] = sum(DicksInc)
data[('Dickson Unincorporated', 'None')] = data[('Dickson County, Tennessee', '0500000US47043')] - data[('Dickson Incorporated', 'None')]
#Houston
HoustInc = [data[('Erin city, Tennessee', '1600000US4724320')],data[('Houston County (part), Tennessee Ridge town, Tennessee', '1')]]
data[('Houston Incorporated', 'None')] = sum(HoustInc)
data[('Houston Unincorporated', 'None')] = data[('Houston County, Tennessee', '0500000US47083')] - data[('Houston Incorporated', 'None')]
#Humphreys
HumphInc = [data[('McEwen city, Tennessee', '1600000US4744840')],data[('New Johnsonville city, Tennessee', '1600000US4752820')],
            data[('Waverly city, Tennessee', '1600000US4778560')]]
data[('Humphreys Incorporated', 'None')] = sum(HumphInc)
data[('Humphreys Unincorporated', 'None')] = data[('Humphreys County, Tennessee', '0500000US47085')] - data[('Humphreys Incorporated', 'None')]
#Maury
MauryInc = [data[('Mount Pleasant city, Tennessee', '1600000US4751080')],data[('Columbia city, Tennessee', '1600000US4716540')],
            data[('Maury County (part), Spring Hill city, Tennessee', '1')]]
data[('Maury Incorporated', 'None')] = sum(MauryInc)
data[('Maury Unincorporated', 'None')] = data[('Maury County, Tennessee', '0500000US47119')] - data[('Maury Incorporated', 'None')]
#Montgomery
data[('Montgomery Incorporated', 'None')] = data[('Clarksville city, Tennessee', '1600000US4715160')]
data[('Montgomery Unincorporated', 'None')] = data[('Montgomery County, Tennessee', '0500000US47125')] - data[('Montgomery Incorporated', 'None')]
#Robertson
RobInc = [data[('Adams city, Tennessee', '1600000US4700200')],data[('Greenbrier town, Tennessee', '1600000US4730960')],
          data[('Cedar Hill city, Tennessee', '1600000US4711980')],data[('Coopertown town, Tennessee', '1600000US4716980')], 
         data[('Cross Plains city, Tennessee', '1600000US4718420')],data[('Springfield city, Tennessee', '1600000US4770500')], 
          data[('Orlinda city, Tennessee', '1600000US4756020')],
         data[('Robertson County (part), Portland city, Tennessee', '1')],data[('Robertson County (part), Millersville city, Tennessee', '1')], 
         data[('Robertson County (part), White House city, Tennessee', '1')], data[('Robertson County (part), Ridgetop city, Tennessee', '1')]]
data[('Robertson Incorporated', 'None')] = sum(RobInc)
data[('Robertson Unincorporated', 'None')] = data[('Robertson County, Tennessee', '0500000US47147')] - data[('Robertson Incorporated', 'None')]
#Rutherford
RuthInc = [data[('Eagleville city, Tennessee', '1600000US4722360')],data[('La Vergne city, Tennessee', '1600000US4741200')],
           data[('Murfreesboro city, Tennessee', '1600000US4751560')],data[('Smyrna town, Tennessee', '1600000US4769420')]]
data[('Rutherford Incorporated', 'None')] = sum(RuthInc)
data[('Rutherford Unincorporated', 'None')] = data[('Rutherford County, Tennessee', '0500000US47149')] - data[('Rutherford Incorporated', 'None')]
#Stewart
data[('Stewart County (part), Tennessee Ridge town, Tennessee', '1')] = data[('Tennessee Ridge town, Tennessee', '1600000US4773460')] - data[('Houston County (part), Tennessee Ridge town, Tennessee', '1')]
StewInc = [data[('Cumberland City town, Tennessee', '1600000US4718820')],data[('Dover city, Tennessee', '1600000US4721400')],
            data[('Stewart County (part), Tennessee Ridge town, Tennessee', '1')]]
data[('Stewart Incorporated', 'None')] = sum(StewInc)
data[('Stewart Unincorporated', 'None')] = data[('Stewart County, Tennessee', '0500000US47161')] - data[('Stewart Incorporated', 'None')]
#Sumner
SumInc = [data[('Hendersonville city, Tennessee', '1600000US4733280')],data[('Mitchellville city, Tennessee', '1600000US4749460')],
          data[('Westmoreland town, Tennessee', '1600000US4779420')],data[('Gallatin city, Tennessee', '1600000US4728540')], 
         data[('Sumner County (part), Portland city, Tennessee', '1')],data[('Sumner County (part), Millersville city, Tennessee', '1')], 
         data[('Sumner County (part), White House city, Tennessee', '1')],data[('Sumner County (part), Goodlettsville city, Tennessee', '1')]]
data[('Sumner Incorporated', 'None')] = sum(SumInc)
data[('Sumner Unincorporated', 'None')] = data[('Sumner County, Tennessee', '0500000US47165')] - data[('Sumner Incorporated', 'None')]
#Williamson
WilliInc = [data[('Nolensville town, Tennessee', '1600000US4753460')],data[('Brentwood city, Tennessee', '1600000US4708280')],
          data[('Fairview city, Tennessee', '1600000US4725440')],data[('Franklin city, Tennessee', '1600000US4727740')], 
         data[("Thompson's Station town, Tennessee", '1600000US4773900')],data[('Williamson County (part), Spring Hill city, Tennessee', '1')]]
data[('Williamson Incorporated', 'None')] = sum(WilliInc)
data[('Williamson Unincorporated', 'None')] = data[('Williamson County, Tennessee', '0500000US47187')] - data[('Williamson Incorporated', 'None')]
#Wilson
WilsonInc = [data[('Lebanon city, Tennessee', '1600000US4741520')],data[('Mount Juliet city, Tennessee', '1600000US4750780')],
             data[('Watertown city, Tennessee', '1600000US4778320')]]
data[('Wilson Incorporated', 'None')] = sum(WilsonInc)
data[('Wilson Unincorporated', 'None')] = data[('Wilson County, Tennessee', '0500000US47189')] - data[('Wilson Incorporated', 'None')]

In [147]:
data = data.transpose().reset_index()
data.tail()

,NAME,GEO_ID,compinternet_series_total,compinternet_total_u18,compinternet_hascomputer_u18,compinternet_hascomputer_dialupinternetonly_u18,compinternet_hascomputer_broadbandinternet_u18,compinternet_hascomputer_withoutinternet_u18,compinternet_nocomputer_u18,compinternet_total_18to64,compinternet_hascomputer_18to64,compinternet_hascomputer_dialupinternetonly_18to64,compinternet_hascomputer_broadbandinternet_18to64,compinternet_hascomputer_withoutinternet_18to64,compinternet_nocomputer_18to64,compinternet_total_65over,compinternet_hascomputer_65over,compinternet_hascomputer_dialupinternetonly_65over,compinternet_hascomputer_broadbandinternet_65over,compinternet_hascomputer_withoutinternet_65over,compinternet_nocomputer_65over,attainment_total_over25_series,attainment_noschooling,attainment_nurseryschool,attainment_kindergarten,attainment_1stgrade,attainment_2ndgrade,attainment_3rdgrade,attainment_4thgrade,attainment_5thgrade,attainment_6thgrade,attainment_7thgrade,attainment_8thgrade,attainment_9thgrade,attainment_10thgrade,attainment_11thgrade,attainment_12thgradenodiploma,attainment_regularhighschooldiploma,attainment_gedoralternativecredential,attainment_somecollegelessthan1year,attainment_somecollege1ormoreyearsnodegree,attainment_associatesdegree,attainment_bachelorsdegree,attainment_mastersdegree,attainment_professionalschooldegree,attainment_doctoratedegree,lfstatus_total_sexbyagebyemploymentstatus16+_series,lfstatus_m_total,lfstatus_m_16to19,lfstatus_m_16to19_inlf,lfstatus_m_16to19_inlf_armedforces,lfstatus_m_16to19_inlf_civilian,lfstatus_m_16to19_inlf_civilian_employed,lfstatus_m_16to19_inlf_civilian_unemployed,lfstatus_m_16to19_notinlf,lfstatus_m_20to21,lfstatus_m_20to21_inlf,lfstatus_m_20to21_inlf_armedforces,lfstatus_m_20to21_inlf_civilian,lfstatus_m_20to21_inlf_civilian_employed,lfstatus_m_20to21_inlf_civilian_unemployed,lfstatus_m_20to21_notinlf,lfstatus_m_22to24,lfstatus_m_22to24_inlf,lfstatus_m_22to24_inlf_armedforces,lfstatus_m_22to24_inlf_civilian,lfstatus_m_22to24_inlf_civilian_employed,lfstatus_m_22to24_inlf_civilian_unemployed,lfstatus_m_22to24_notinlf,lfstatus_m_25to29,lfstatus_m_25to29_inlf,lfstatus_m_25to29_inlf_armedforces,lfstatus_m_25to29_inlf_civilian,lfstatus_m_25to29_inlf_civilian_employed,lfstatus_m_25to29_inlf_civilian_unemployed,lfstatus_m_25to29_notinlf,lfstatus_m_30to34,lfstatus_m_30to34_inlf,lfstatus_m_30to34_inlf_armedforces,lfstatus_m_30to34_inlf_civilian,lfstatus_m_30to34_inlf_civilian_employed,lfstatus_m_30to34_inlf_civilian_unemployed,lfstatus_m_30to34_notinlf,lfstatus_m_35to44,lfstatus_m_35to44_inlf,lfstatus_m_35to44_inlf_armedforces,lfstatus_m_35to44_inlf_civilian,lfstatus_m_35to44_inlf_civilian_employed,lfstatus_m_35to44_inlf_civilian_unemployed,lfstatus_m_35to44_notinlf,lfstatus_m_45to54,lfstatus_m_45to54_inlf,lfstatus_m_45to54_inlf_armedforces,lfstatus_m_45to54_inlf_civilian,lfstatus_m_45to54_inlf_civilian_employed,lfstatus_m_45to54_inlf_civilian_unemployed,lfstatus_m_45to54_notinlf,lfstatus_m_55to59,lfstatus_m_55to59_inlf,lfstatus_m_55to59_inlf_armedforces,lfstatus_m_55to59_inlf_civilian,lfstatus_m_55to59_inlf_civilian_employed,lfstatus_m_55to59_inlf_civilian_unemployed,lfstatus_m_55to59_notinlf,lfstatus_m_60to61,lfstatus_m_60to61_inlf,lfstatus_m_60to61_inlf_armedforces,lfstatus_m_60to61_inlf_civilian,lfstatus_m_60to61_inlf_civilian_employed,lfstatus_m_60to61_inlf_civilian_unemployed,lfstatus_m_60to61_notinlf,lfstatus_m_62to64,lfstatus_m_62to64_inlf,lfstatus_m_62to64_inlf_armedforces,lfstatus_m_62to64_inlf_civilian,lfstatus_m_62to64_inlf_civilian_employed,lfstatus_m_62to64_inlf_civilian_unemployed,lfstatus_m_62to64_notinlf,lfstatus_m_65to69,lfstatus_m_65to69_inlf,lfstatus_m_65to69_inlf_employed,lfstatus_m_65to69_inlf_unemployed,lfstatus_m_65to69_notinlf,lfstatus_m_70to74,lfstatus_m_70to74_inlf,lfstatus_m_70to74_inlf_employed,lfstatus_m_70to74_inlf_unemployed,lfstatus_m_70to74_notinlf,lfstatus_m_75andolder,lfstatus_m_75andolder_inlf,lfstatus_m_75andolder_inlf_employed,lfstatus_m_75andolder_inlf_unemployed,lfstatus_m_75andolder_notinlf,lfstatus_f_total,lfstatus_f_16to19,lfstatus_f_16to19_inlf,lfstatus_f_16to19_inlf_armedforces,lfstatus_f_16to19_inlf_civilian,lfstatus_f_16to19_inlf_civilian_employed,lfstatus_f_16to19_inlf_civilian_unemployed,lfstatus_f_16to19_notinlf,lfstatus_f_20to21,lfstatus_f_20to21_inlf,lfstatus_f_20to21_inlf_armedforces,lfstatus_f_20to21_inlf_civilian,lfstatus_f_20to21_inlf_civilian_employed,lfstatus_f_20to21_inlf_civilian_unemployed,lfstatus_f_20to21_notinlf,lfstatus_f_22to24,lfstatus_f_22to24_inlf,lfstatus_f_22to24_inlf_armedforces,lfstatus_f_22to24_inlf_civilian,lfstatus_f_22to24_inlf_civilian_employed,lfstatus_f_22to24_inlf_civilian_unemployed,lfstatus_f_22to24_notinlf,lfstatus_f_25to29,lfstatus_f_25to29_inlf,lfstatus_f_25to29_inlf_armedforces,lfstatus_f_25to29_inlf_civilian,lfstatus_f_25to29_inlf_civilian_employed,lfstatus_f_25to29_inlf_civilian_unemployed,lfstatus_f_25to29_notinlf,lfstatus_f_30to34,lfstatus_f_30to34_inlf,lfstatus_f_30to34_inlf_armedforces,lfstatus_f_30to34_inlf_civilian,lfstatus_f_30to34_inlf_civilian_employed,lfstatus_f_30to34_inlf_civilian_unemployed,lfstatus_f_30to34_notinlf,lfstatus_f_35to44,lfstatus_f_35to44_inlf,lfstatus_f_35to44_inlf_armedforces,lfstatus_f_35to44_inlf_civilian,lfstatus_f_35to44_inlf_civilian_employed,lfstatus_f_35to44_inlf_civilian_unemployed,lfstatus_f_35to44_notinlf,lfstatus_f_45to54,lfstatus_f_45to54_inlf,lfstatus_f_45to54_inlf_armedforces,lfstatus_f_45to54_inlf_civilian,lfstatus_f_45to54_inlf_civilian_employed,lfstatus_f_45to54_inlf_civilian_unemployed,lfstatus_f_45to54_notinlf,lfstatus_f_55to59,lfstatus_f_55to59_inlf,lfstatus_f_55to59_inlf_armedforces,lfstatus_f_55to59_inlf_civilian,lfstatus_f_55to59_inlf_civilian_employed,lfstatus_f_55to59_inlf_civilian_unemployed,lfstatus_f_55to59_notinlf,lfstatus_f_60to61,lfstatus_f_60to61_inlf,lfstatus_f_60to61_inlf_armedforces,lfstatus_f_60to61_inlf_civilian,lfstatus_f_60to61_inlf_civilian_employed,lfstatus_f_60to61_inlf_civilian_unemployed,lfstatus_f_60to61_notinlf,lfstatus_f_62to64,lfstatus_f_62to64_inlf,lfstatus_f_62to64_inlf_armedforces,lfstatus_f_62to64_inlf_civilian,lfstatus_f_62to64_inlf_civilian_employed,lfstatus_f_62to64_inlf_civilian_unemployed,lfstatus_f_62to64_notinlf,lfstatus_f_65to69,lfstatus_f_65to69_inlf,lfstatus_f_65to69_inlf_employed,lfstatus_f_65to69_inlf_unemployed,lfstatus_f_65to69_notinlf,lfstatus_f_70to74,lfstatus_f_70to74_inlf,lfstatus_f_70to74_inlf_employed,lfstatus_f_70to74_inlf_unemployed,lfstatus_f_70to74_notinlf,lfstatus_f_75andolder,lfstatus_f_75andolder_inlf,lfstatus_f_75andolder_inlf_employed,lfstatus_f_75andolder_inlf_unemployed,lfstatus_f_75andolder_notinlf,hhincome_median_hholderage_series_total,hhincome_median_hholderu25,hhincome_median_hholder25to44,hhincome_median_hholder45to64,hhincome_median_hholder65over,hhincome_median,hhincome_total_series,hhincome_lessthan10000,hhincome_10to14999,hhincome_15to19999,hhincome_20to24999,hhincome_25to29999,hhincome_30to34999,hhincome_35to39999,hhincome_40to44999,hhincome_45to49999,hhincome_50to59999,hhincome_60to74999,hhincome_75to99999,hhincome_100to124999,hhincome125to149999,hhincome150to199999,hhincome200ormore,earn_total_series,earn_total_m,earn_m_1to2499orloss,earn_m_2500to4999,earn_m_5000to7499,earn_m_7500to9999,earn_m_10000to12499,earn_m_12500to14999,earn_m_15000to17499,earn_m_17500to19999,earn_m_20000to22499,earn_m_22500to24999,earn_m_25000to29999,earn_m_30000to34999,earn_m_35000to39999,earn_m_40000to44999,earn_m_45000to49999,earn_m_50000to54999,earn_m_55000to64999,earn_m_65000to74999,earn_m_75000to99999,earn_m_100000ormore,earn_total_f,earn_f_1to2499orloss,earn_f_2500to4999,earn_f_5000to7499,earn_f_7500to9999,earn_f_10000to12499,earn_f_12500to14999,earn_f_15000to17499,earn_f_17500to19999,earn_f_20000to22499,earn_f_22500to24999,earn_f_25000to29999,earn_f_30000to34999,earn_f_35000to39999,earn_f_40000to44999,earn_f_45000to49999,earn_f_50000to54999,earn_f_55000to64999,earn_f_65000to74999,earn_f_75000to99999,earn_f_100000ormore,earn_allwithearnings_median,earn_total_fulltime_m,earn_total_m_fulltime_noearnings,earn_total_m_fulltime_withearnings,earn_m_fulltime_1to2499orloss,earn_m_fulltime_2500to4999,earn_m_fulltime_5000to7499,earn_m_fulltime_7500to9999,earn_m_fulltime_10000to12499,earn_m_fulltime_12500to14999,earn_m_fulltime_15000to17499,earn_m_fulltime_17500to19999,earn_m_fulltime_20000to22499,earn_m_fulltime_22500to24999,earn_m_fulltime_25000to29999,earn_m_fulltime_30000to34999,earn_m_fulltime_35000to39999,earn_m_fulltime_40000to44999,earn_m_fulltime_45000to49999,earn_m_fulltime_50000to54999,earn_m_fulltime_55000to64999,earn_m_fulltime_65000to74999,earn_m_fulltime_75000to99999,earn_m_fulltime_100000ormore,earn_total_f_workexperience,earn_total_fulltime_f,earn_total_f_fulltime_noearnings,earn_total_f_fulltime_withearnings,earn_f_fulltime_1to2499orloss,earn_f_fulltime_2500to4999,earn_f_fulltime_5000to7499,earn_f_fulltime_7500to9999,earn_f_fulltime_10000to12499,earn_f_fulltime_12500to14999,earn_f_fulltime_15000to17499,earn_f_fulltime_17500to19999,earn_f_fulltime_20000to22499,earn_f_fulltime_22500to24999,earn_f_fulltime_25000to29999,earn_f_fulltime_30000to34999,earn_f_fulltime_35000to39999,earn_f_fulltime_40000to44999,earn_f_fulltime_45000to49999,earn_f_fulltime_50000to54999,earn_f_fulltime_55000to64999,earn_f_fulltime_65000to74999,earn_f_fulltime_75000to99999,earn_f_fulltime_100000ormore,housingcost_mediangrossrent_renteroccupied,housingcost_medcosts_ownerocc,housingcost_medcosts_ownerocc_mortgage,housingcost_medcosts_ownerocc_womortgage,commute_total_meansoftransportationtowork_series,commute_cartruckvan,commute_cartruckvan_drovealone,commute_cartruckvan_carpooled,commute_cartruckvan_carpooled_2ppl,commute_cartruckvan_carpooled_3ppl,commute_cartruckvan_carpooled_4ormoreppl,commute_publictransportation,commute_publictransportation_bus,commute_publictransportation_subwayorelevatedrail,commute_publictransportation_longdistancetrainorcommuterrail,commute_publictransportation_lightrailstreetcarortrolley,commute_publictransportation_ferryboat,commute_bicycle,commute_walk,commute_taxicabmotorcycleother,commute_workedfromhome,traveltimemode_series_total,traveltimemode_lessthan10,traveltimemode_10to14,traveltimemode_15to19,traveltimemode_20to24,traveltimemode_25to29,traveltimemode_30to34,traveltimemode_35to44,traveltimemode_45to59,traveltimemode_60ormore,housingcost_total_selectedownercosts%hhincome_series,housingcost_total%ownercostwmortgage_series,housingcost_%ownercost30to34.9_wmortgage,housingcost_%ownercost35to39.9_wmortgage,housingcost_%ownercost40to49.9_wmortgage,housingcost_%ownercost50+_wmortgage,housingcost_total%ownercostwomortgage_series,housingcost_%ownercost30to34.9_womortgage,housingcost_%ownercost35to39.9_womortgage,housingcost_%ownercost40to49.9_womortgage,housingcost_%ownercost50+_womortgage,housingcost_total_rent%hhincome_series,housingcost_%rentercost30to34.9,housingcost_%rentercost35to39.9,housingcost_%rentercost40to49.9,housingcost_%rentercost50+,aggregatetraveltimetowork,poverty_belowlevel,housing_medianvalue,poverty_total_bysexbyage_series,units_total_series,units_one_detached,units_one_attached,units_two,units_threetofour,units_fivetonine,units_tentonineteen,units_twentytofortynine,units_fiftyormore,units_mobilehome,units_boatrvvanetc,hhsize_avg
196,Sumner Unincorporated,None,53594.0,12757.0,12356.0,14.0,11079.0,1263.0,401.0,32625.0,30761.0,179.0,28214.0,2368.0,1864.0,8212.0,5974.0,87.0,5255.0,632.0,2238.0,36582.0,338.0,13.0,0.0,15.0,20.0,61.0,28.0,53.0,110.0,177.0,589.0,554.0,1003.0,795.0,702.0,10679.0,2481.0,2879.0,5345.0,2855.0,5428.0,1856.0,403.0,198.0,42585.0,21599.0,1361.0,637.0,0.0,637.0,568.0,69.0,724.0,795.0,600.0,0.0,600.0,505.0,95.0,195.0,1185.0,907.0,0.0,907.0,797.0,110.0,278.0,1369.0,1175.0,15.0,1160.0,1051.0,109.0,194.0,1353.0,1208.0,28.0,1180.0,1131.0,49.0,145.0,3604.0,3316.0,0.0,3316.0,3185.0,131.0,288.0,3781.0,3264.0,4.0,3260.0,3207.0,53.0,517.0,2048.0,1609.0,0.0,1609.0,1567.0,42.0,439.0,867.0,694.0,0.0,694.0,684.0,10.0,173.0,1151.0,663.0,0.0,663.0,614.0,49.0,488.0,1748.0,556.0,547.0,9.0,1192.0,1090.0,193.0,187.0,6.0,897.0,1247.0,230.0,216.0,14.0,1017.0,20986.0,1348.0,628.0,0.0,628.0,574.0,54.0,720.0,322.0,236.0,0.0,236.0,236.0,0.0,86.0,992.0,885.0,0.0,885.0,839.0,46.0,107.0,1309.0,1050.0,4.0,1046.0,1015.0,31.0,259.0,1386.0,1028.0,0.0,1028.0,999.0,29.0,358.0,3752.0,2819.0,0.0,2819.0,2703.0,116.0,933.0,3745.0,2808.0,0.0,2808.0,2695.0,113.0,937.0,1894.0,1413.0,0.0,1413.0,1326.0,87.0,481.0,961.0,559.0,0.0,559.0,559.0,0.0,402.0,1049.0,510.0,0.0,510.0,494.0,16.0,539.0,1672.0,603.0,571.0,32.0,1069.0,970.0,110.0,110.0,0.0,860.0,1586.0,100.0,100.0,0.0,1486.0,-388086.0,1.999810e+09,-440393.0,-462952.0,-242458.0,-388086.0,19058.0,749.0,612.0,806.0,941.0,924.0,755.0,814.0,836.0,872.0,1669.0,1984.0,2811.0,2102.0,1039.0,1222.0,922.0,28967.0,15759.0,721.0,651.0,573.0,408.0,508.0,348.0,521.0,557.0,598.0,272.0,1010.0,900.0,906.0,995.0,713.0,879.0,1148.0,817.0,1460.0,1774.0,13208.0,903.0,539.0,623.0,515.0,565.0,564.0,560.0,511.0,703.0,642.0,965.0,922.0,862.0,856.0,561.0,518.0,765.0,464.0,615.0,555.0,-229330.0,10957.0,0.0,10957.0,29.0,40.0,12.0,72.0,41.0,87.0,167.0,370.0,396.0,248.0,773.0,757.0,850.0,877.0,616.0,797.0,1081.0,758.0,1377.0,1609.0,20986.0,7926.0,0.0,7926.0,0.0,33.0,31.0,92.0,168.0,156.0,217.0,366.0,468.0,495.0,731.0,798.0,709.0,661.0,378.0,435.0,654.0,449.0,566.0,519.0,666661799.0,-7268.0,-8918.0,-2959.0,25940.0,23940.0,21494.0,2446.0,1935.0,375.0,136.0,113.0,113.0,0.0,0.0,0.0,0.0,0.0,151.0,362.0,1374.0,24566.0,1724.0,2094.0,3836.0,2892.0,1575.0,3557.0,2662.0,3423.0,2803.0,16375.0,10292.0,910.0,469.0,526.0,970.0,6083.0,117.0,74.0,108.0,308.0,2683.0,82.0,117.0,329.0,569.0,757785.0,5455.0,-1186900.0,53394.0,20716.0,17295.0,319.0,223.0,70.0,21.0,52.0,0.0,53.0,2683.0,0.0,-18.75
197,Williamson Incorporated,None,161006.0,47141.0,46586.0,44.0,45086.0,1456.0,555.0,96609.0,95086.0,37.0,91624.0,3425.0,1523.0,17256.0,15187.0,72.0,13985.0,1130.0,2069.0,102360.0,476.0,0.0,15.0,0.0,31.0,65.0,45.0,81.0,632.0,75.0,383.0,327.0,592.0,488.0,950.0,11523.0,1687.0,4503.0,12415.0,6831.0,38503.0,16450.0,3635.0,2653.0,119893.0,57235.0,4765.0,2072.0,0.0,2072.0,1960.0,112.0,2693.0,1459.0,1093.0,0.0,1093.0,898.0,195.0,366.0,2529.0,2217.0,0.0,2217.0,2016.0,201.0,312.0,3471.0,3260.0,7.0,3253.0,3042.0,211.0,211.0,3915.0,3822.0,13.0,3809.0,3694.0,115.0,93.0,12376.0,12076.0,29.0,12047.0,11917.0,130.0,300.0,12109.0,11535.0,5.0,11530.0,11183.0,347.0,574.0,5202.0,4605.0,0.0,4605.0,4482.0,123.0,597.0,1428.0,1236.0,0.0,1236.0,1204.0,32.0,192.0,2233.0,1580.0,0.0,1580.0,1529.0,51.0,653.0,3151.0,1512.0,1460.0,52.0,1639.0,1811.0,570.0,562.0,8.0,1241.0,2786.0,519.0,519.0,0.0,2267.0,62658.0,4608.0,1861.0,0.0,1861.0,1706.0,155.0,2747.0,1525.0,1181.0,0.0,1181.0,1168.0,13.0,344.0,2647.0,2411.0,0.0,2411.0,2293.0,118.0,236.0,3451.0,2881.0,0.0,2881.0,2774.0,107.0,570.0,4845.0,3589.0,0.0,3589.0,3500.0,89.0,1256.0,13108.0,8909.0,5.0,8904.0,8618.0,286.0,4199.0,13058.0,9473.0,0.0,9473.0,8876.0,597.0,3585.0,5186.0,3226.0,0.0,3226.0,3157.0,69.0,1960.0,1822.0,888.0,0.0,888.0,888.0,0.0,934.0,2580.0,1155.0,0.0,1155.0,1124.0,31.0,1425.0,3893.0,1316.0,1297.0,19.0,2577.0,2008.0,517.0,503.0,14.0,1491.0,3927.0,133.0,133.0,0.0,3794.0,618058.0,-1.333134e+09,688992.0,684126.0,369616.0,618058.0,55251.0,1135.0,960.0,1298.0,1472.0,1262.0,1209.0,1581.0,1644.0,1410.0,3141.0,4237.0,7481.0,7028.0,5074.0,6734.0,9585.0,87286.0,47502.0,2807.0,1484.0,1061.0,733.0,769.0,771.0,880.0,612.0,1177.0,807.0,1946.0,1315.0,1677.0,1950.0,1453.0,1701.0,2662.0,2857.0,5120.0,15720.0,39784.0,3893.0,2169.0,1599.0,964.0,1888.0,1077.0,1468.0,805.0,1733.0,1021.0,1905.0,1960.0,1879.0,1912.0,1676.0,1727.0,2160.0,2085.0,3708.0,4155.0,284537.0,35308.0,4.0,35304.0,151.0,8.0,106.0,105.0,107.0,341.0,338.0,379.0,659.0,562.0,1381.0,991.0,1333.0,1694.0,1291.0,1554.0,2473.0,2565.0,4593.0,14673.0,62658.0,21756.0,48.0,21708.0,43.0,63.0,135.0,52.0,374.0,150.0,353.0,388.0,767.0,601.0,1169.0,1244.0,1442.0,1466.0,1327.0,1471.0,1702.0,1730.0,3383.0,3848.0,-666658721.0,10080.0,11832.0,2935.0,78983.0,70156.0,64262.0,5894.0,4643.0,789.0,462.0,293.0,194.0,0.0,7.0,81.0,11.0,32.0,887.0,1000.0,6615.0,72368.0,7713.0,8983.0,9462.0,9102.0,5878.0,12516.0,7040.0,7280.0,4394.0,42655.0,32162.0,1662.0,1325.0,1388.0,2179.0,10493.0,166.0,112.0,188.0,407.0,12596.0,1249.0,887.0,911.0,2270.0,1930295.0,7855.0,2164100.0,160750.0,57664.0,43855.0,3162.0,767.0,1312.0,2464.0,2795.0,1386.0,1274.0,649.0,0.0,18.57
198,Williamson Unincorporated,None,50694.0,11985.0,11805.0,30.0,11428.0,347.0,180.0,30828.0,29895.0,66.0,28386.0,1443.0,933.0,7881.0,6589.0,110.0,6041.0,438.0,1292.0,34978.0,129.0,0.0,12.0,0.0,0.0,8.0,0.0,56.0,54.0,33.0,409.0,207.0,329.0,396.0,359.0,5752.0,782.0,1738.0,4273.0,1880.0,11962.0,4605.0,1195.0,799.0,40368.0,20060.0,1547.0,585.0,0.0,585.0,464.0,121.0,962.0,520.0,409.0,0.0,409.0,364.0,45.0,111.0,797.0,594.0,0.0,594.0,501.0,93.0,203.0,846.0,826.0,0.0,826.0,799.0,27.0,20.0,1118.0,1023.0,0.0,1023.0,1015.0,8.0,95.0,2822.0,2765.0,24.0,2741.0,2715.0,26.0,57.0,4170.0,3740.0,0.0,3740.0,3704.0,36.0,430.0,2563.0,2331.0,0.0,2331.0,2237.0,94.0,232.0,711.0,628.0,0.0,628.0,628.0,0.0,83.0,1098.0,669.0,0.0,669.0,652.0,17.0,429.0,1755.0,788.0,788.0,0.0,967.0,937.0,243.0,243.0,0.0,694.0,1176.0,109.0,102.0,7.0,1067.0,20308.0,1426.0,512.0,0.0,512.0,456.0,56.0,914.0,288.0,165.0,0.0,165.0,165.0,0.0,123.0,812.0,668.0,0.0,668.0,609.0,59.0,144.0,828.0,729.0,0.0,729.0,701.0,28.0,99.0,1104.0,878.0,0.0,878.0,811.0,67.0,226.0,3107.0,2055.0,0.0,2055.0,2020.0,35.0,1052.0,4321.0,3058.0,0.0,3058.0,2978.0,80.0,1263.0,2382.0,1667.0,0.0,1667.0,1647.0,20.0,715.0,982.0,550.0,0.0,550.0,542.0,8.0,432.0,1043.0,466.0,0.0,466.0,466.0,0.0,577.0,1447.0,351.0,351.0,0.0,1096.0,864.0,217.0,217.0,0.0,647.0,1704.0,56.0,56.0,0.0,1648.0,-514515.0,1.333171e+09,-578579.0,-562945.0,-304838.0,-514515.0,17909.0,554.0,363.0,279.0,386.0,394.0,398.0,443.0,524.0,408.0,922.0,1378.0,1966.0,2180.0,1629.0,1925.0,4160.0,27388.0,15291.0,747.0,363.0,326.0,319.0,392.0,195.0,378.0,349.0,444.0,152.0,433.0,604.0,405.0,555.0,354.0,833.0,740.0,768.0,1583.0,5351.0,12097.0,945.0,527.0,445.0,295.0,501.0,449.0,325.0,317.0,343.0,270.0,657.0,605.0,655.0,707.0,466.0,613.0,823.0,370.0,1082.0,1702.0,-237026.0,11218.0,0.0,11218.0,52.0,10.0,57.0,19.0,109.0,16.0,144.0,218.0,233.0,100.0,272.0,357.0,326.0,483.0,313.0,733.0,713.0,698.0,1353.0,5012.0,20308.0,6749.0,0.0,6749.0,9.0,15.0,43.0,11.0,97.0,143.0,100.0,119.0,124.0,127.0,310.0,396.0,470.0,444.0,393.0,498.0,669.0,337.0,965.0,1479.0,666660085.0,-8463.0,-9787.0,-2399.0,24739.0,21551.0,19634.0,1917.0,1501.0,338.0,78.0,53.0,53.0,0.0,0.0,0.0,0.0,0.0,169.0,215.0,2751.0,21988.0,1402.0,1888.0,2841.0,2760.0,1805.0,4174.0,2707.0,2865.0,1546.0,16277.0,10387.0,672.0,310.0,321.0,856.0,5890.0,84.0,94.0,65.0,191.0,1632.0,62.0,56.0,41.0,289.0,645880.0,1849.0,-1775700.0,50588.0,18821.0,17358.0,264.0,80.0,0.0,0.0,122.0,36.0,52.0,909.0,0.0,-15.68

In [148]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Columns: 396 entries, NAME to hhsize_avg
dtypes: float64(394), object(2)
memory usage: 622.0+ KB

In [149]:
data.to_feather('../../Raw Data/ACS20175YR')

In [150]:
data.to_csv('../../Raw Data/ACS20175YR.csv')