###### Imports and Settings

In [1]:
import pandas as pd
import numpy as np
import requests
#import io
import pickle
from collections import deque
from functools import reduce
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)
pd.options.mode.chained_assignment = None  # default='warn'
import sys
sys.path.append("../../../Functions and Dictionaries") # Adds higher directory to python modules path
import geodict
namestocommon = geodict.namestocommon
tofullcensus = geodict.tofullcensus
geotogeoid = geodict.geotogeoid
GNRC = geodict.GNRC
KY = geodict.KY
censusplaces = geodict.censusplaces

# Decennial 2020 Redistricting Data

In [2]:
#to read in... rb is read bite
with open('api_keys.pkl', 'rb') as keys_file:
        keys_dict_2 = pickle.load(keys_file)
#create a variable that contains your api key
api_key = keys_dict_2['CENSUS']

In [3]:
dataguide = pd.read_csv('../../Data Guides/DATA GUIDE PL2020.csv', dtype = str)
dataguide['ID'] = dataguide['ID'].astype(int)

In [4]:
dg1 = dataguide[dataguide['ID'].between(1, 46)]
dg2 = dataguide[dataguide['ID'].between(47, 92)]

In [5]:
dfs = [dg1, dg2]
droppers = ['ID', 'Category', 'Sub Category']
for df in dfs:
    df.drop(droppers, axis = 1, inplace = True)

In [146]:
#url string and list parameters for column head and tail
url_str= 'https://api.census.gov/data/2020/dec/pl?key='+api_key
head1 = 'NAME' 
head2 = 'GEO_ID'
tail_cols1 = 'StateFIPS'
tail_cols2 = 'GeoFIPS'
tail_cols3 = 'GeoFIPS2'

In [147]:
splits = ['60280', '63140', '48980', '80200', '73460', '29920', '70580']

In [148]:
results = []
for df in dfs:
    dataguide = df
    for col_name, col_data in df.items():
        var_list = list(dataguide['Variable']) #make variables list
        var_list = deque(var_list)
        var_list.appendleft(head2)
        var_list.appendleft(head1)
        col_list = list(dataguide['Column Name']) #make columns list
        col_list.append(tail_cols1)
        col_list.append(tail_cols2)
        col_list = deque(col_list)
        col_list.appendleft(head2)
        col_list.appendleft(head1)
        predicates= {} #call for all counties in state of TN
        get_vars= var_list
        predicates["get"]= ",". join(get_vars)
        predicates["for"]= "county:*"
        predicates["in"]= "state:47"                                                             
        data = requests.get(url_str, params= predicates)                                                                
        col_names = col_list
        df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
        #df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
        predicates= {} #call for all counties in state of KY
        get_vars= var_list
        predicates["get"]= ",". join(get_vars)
        predicates["for"]= "county:*"
        predicates["in"]= "state:21"                                                             
        data = requests.get(url_str, params= predicates)                                                                
        col_names = col_list
        kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
        kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
        df = pd.concat([df, kycos], axis = 0)
        predicates= {} #call for all places in TN
        get_vars= var_list
        predicates["get"]= ",". join(get_vars)
        predicates["for"]= "place:*"
        predicates["in"]= "state:47"
        data= requests.get(url_str, params= predicates)
        col_names = col_list
        places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
        places=places.loc[places['GEO_ID'].isin(censusplaces)] #filter for places in the region
        df = pd.concat([df, places], axis = 0)
        predicates= {} #call for all places in KY
        get_vars= var_list
        predicates["get"]= ",". join(get_vars)
        predicates["for"]= "place:*"
        predicates["in"]= "state:21"
        data= requests.get(url_str, params= predicates)
        col_names = col_list
        places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
        places=places.loc[places['GEO_ID'].isin(censusplaces)] #filter for places of concern in KY
        df = pd.concat([df, places], axis = 0)
        col_list.remove(tail_cols2) #adjust the column list for different formats of geos
        predicates= {} #call for state of TN
        get_vars= var_list
        predicates["get"]= ",". join(get_vars)
        predicates["for"]= "state:47"
        data= requests.get(url_str, params= predicates)
        col_names = col_list
        state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
        state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
        df = pd.concat([df, state], axis = 0)
        predicates= {} #call for US
        get_vars= var_list
        predicates["get"]= ",". join(get_vars)
        predicates["for"]= "us:*"
        data= requests.get(url_str, params= predicates)
        col_names = col_list
        national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
        national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
        df = pd.concat([df, national], axis = 0)
        results.append(df)
new_df = pd.concat(results, axis = 1)
new_df = new_df.transpose().reset_index(drop = False).drop_duplicates()
new_df.columns = new_df.iloc[0]
new_df = new_df.set_index('NAME').transpose().drop(columns = ['StateFIPS', 'GeoFIPS']).reset_index(drop = True)
new_df = new_df.rename_axis(None, axis = 1)
print('Okay Finished')

Okay Finished

In [149]:
new_df.head()

,NAME,GEO_ID,pop,raceeth_whitealone_nothispanicorlatino,raceeth_hispanicorlatino,units_allhousing,occupancy_total_series,occupancy_occupiedunits,occupancy_vacantunits,gq_total_series,gq_institutionalized,gq_institutionalized_correctionalfacilityadults,gq_institutionalized_juvenilefacility,gq_institutionalized_nursingorskillednursingfacility,gq_institutionalized_other,gq_noninstitutionalized,gq_noninstitutionalized_collegeoruniversitystudenthousing,gq_noninstitutionalized_militaryquarters,gq_noninstitutionalized_other,raceeth_total_series,raceeth_white_alone,raceeth_blackafricanamerican_alone,raceeth_americanindianalaskanative_alone,raceeth_asian_alone,raceeth_nativehawaiianotherpacificislander_alone,raceeth_someotherrace_alone,raceeth_twoormoreraces,raceeth_tworaces,raceeth_tworaces_white_blackafricanamerican,raceeth_tworaces_white_americanindianalaskanative,raceeth_tworaces_white_asian,raceeth_tworaces_white_nativehawaiianpacificislander,raceeth_tworaces_white_someotherrace,raceeth_tworaces_blackafricanamerican_americanindianalaskanative,raceeth_tworaces_blackafricanamerican_asian,raceeth_tworaces_blackafricanamerican_nativehawaiianpacificislander,raceeth_tworaces_blackafricanamerican_someotherrace,raceeth_tworaces_americanindianalaskanative_asian,raceeth_tworaces_americanindianalaskanative_nativehawaiianpacificislander,raceeth_tworaces_americanindianalaskanative_someotherrace,raceeth_tworaces_asiannativehawaiianpacificislander,raceeth_tworaces_asiansomeotherrace,raceeth_tworaces_nativehawaiianotherpacificislandersomeotherrace,raceeth_threeraces,raceeth_threeraces_white_blackafricanamerican_americanindianalaskanative,raceeth_threeraces_white_blackafricanamerican_asian,raceeth_threeraces_white_blackafricanamerican_nativehawaiianpacificislander,raceeth_threeraces_white_blackafricanamerican_someotherrace,raceeth_threeraces_white_americanindianalaskanative_asian,raceeth_threeraces_white_americanindianalaskanative_nativehawaiianpacificislander,raceeth_threeraces_white_americanindianalaskanative_someotherrace,raceeth_threeraces_white_asian_nativehawaiianpacificislander,raceeth_threeraces_white_asian_someotherrace,raceeth_threeraces_white_nativehawaiianpacificislander_someotherrace,raceeth_threeraces_blackafricanamerican_americanindianalaskanative_asian,raceeth_threeraces_blackafricanamerican_americanindianalaskanative_nativehawaiianpacificislander,raceeth_threeraces_blackafricanamerican_americanindianalaskanative_someotherrace,raceeth_threeraces_blackafricanamerican_asian_nativehawaiianpacificislander,raceeth_threeraces_blackafricanamerican_asian_someotherrace,raceeth_threeraces_blackafricanamerican_nativehawaiianpacificislander_someotherrace,raceeth_threeraces_americanindianalaskanative_asian_nativehawaiianpacificislander,raceeth_threeraces_americanindianalaskanative_asian_someotherrace,raceeth_threeraces_americanindianalaskanative_nativehawaiianpacificislander_someotherrace,raceeth_threeraces_asian_nativehawaiianpacificislander_someotherrace,raceeth_fourraces,raceeth_fourraces_white_blackafricanamerican_americanindianalaskanative_asian,raceeth_fourraces_white_blackafricanamerican_americanindianalaskanative_nativehawaiianpacificislander,raceeth_fourraces_white_blackafricanamerican_americanindianalaskanative_someotherrace,raceeth_fourraces_white_blackafricanamerican_asian_nativehawaiianpacificislander,raceeth_fourraces_white_blackafricanamerican_asian_someotherrace,raceeth_fourraces_white_blackafricanamerican_nativehawaiianpacificislander_someotherrace,raceeth_fourraces_white_americanindianalaskanative_asian_nativehawaiianpacificislander,raceeth_fourraces_white_americanindianalaskanative_asian_someotherrace,raceeth_fourraces_white_americanindianalaskanative_nativehawaiianpacificislander_someotherrace,raceeth_fourraces_white_asian_nativehawaiianpacificislander_someotherrace,raceeth_fourraces_blackafricanamerican_americanindianalaskanative_asian_nativehawaiianpacificislander,raceeth_fourraces_blackafricanamerican_americanindianalaskanative_asian_someotherrace,raceeth_fourraces_blackafricanamerican_americanindianalaskanative_nativehawaiianpacificislander_someotherrace,raceeth_fourraces_blackafricanamerican_asian_nativehawaiianpacificislander_someotherrace,raceeth_fourraces_americanindianalaskanative_asian_nativehawaiianpacificislander_someotherrace,raceeth_fiveraces,raceeth_fiveraces_white_blackafricanamerican_americanindianalaskanative_asian_nativehawaiianpacificislander,raceeth_fiveraces_white_blackafricanamerican_americanindianalaskanative_asian_someotherrace,raceeth_fiveraces_white_blackafricanamerican_americanindianalaskanative_nativehawaiianpacificislander_someotherrace,raceeth_fiveraces_white_blackafricanamerican_asian_nativehawaiianpacificislander_someotherrace,raceeth_fiveraces_white_americanindianalaskanative_asian_nativehawaiianpacificislander_someotherrace,raceeth_fiveraces_blackafricanamerican_americanindianalaskanative_asian_nativehawaiianpacificislander_someotherrace,raceeth_sixraces,raceeth_sixraces_white_blackafricanamerican_americanindianalaskanative_asian_nativehawaiianpacificislander_someotherrace
0,"Meigs County, Tennessee",0500000US47121,12758,11823,220,6042,6042,5058,984,116,116,70,0,46,0,0,0,0,0,12758,11894,134,58,26,1,109,536,504,74,268,3,3,139,0,0,1,7,7,0,2,0,0,0,20,0,5,4,4,0,1,1,0,4,0,1,0,0,0,0,0,0,0,0,0,12,6,4,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,"Montgomery County, Tennessee",0500000US47125,220069,131294,22934,85714,85714,79841,5873,4714,1758,1084,32,642,0,2956,1450,1321,185,220069,137775,44569,1154,5202,1000,7890,22479,20507,5114,3693,2489,308,7026,419,303,106,729,13,9,56,164,65,13,1778,489,226,49,317,92,20,181,188,114,19,15,2,29,30,3,0,1,2,1,0,184,37,0,119,1,0,0,13,5,0,5,2,0,1,1,0,10,9,1,0,0,0,0,0,0
2,"Moore County, Tennessee",0500000US47127,6461,5999,101,2960,2960,2590,370,58,58,8,0,50,0,0,0,0,0,6461,6030,103,25,30,1,23,249,216,39,97,17,0,35,3,5,2,9,0,0,2,2,4,1,24,6,0,0,6,0,1,5,4,1,0,0,0,1,0,0,0,0,0,0,0,8,3,0,3,1,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0
3,"Obion County, Tennessee",0500000US47131,30787,24736,1574,14314,14314,12928,1386,259,259,101,0,158,0,0,0,0,0,30787,25009,3159,67,103,0,877,1572,1498,430,425,35,6,526,17,2,1,37,0,0,12,7,0,0,68,19,7,1,14,13,0,6,2,4,0,0,0,0,2,0,0,0,0,0,0,6,0,3,1,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,"Overton County, Tennessee",0500000US47133,22511,21223,344,10329,10329,9147,1182,199,186,109,0,77,0,13,0,0,13,22511,21332,89,66,61,0,115,848,787,107,428,49,6,186,0,3,0,4,1,0,1,0,2,0,53,22,0,3,8,4,0,4,0,2,0,0,0,6,0,4,0,0,0,0,0,8,0,0,7,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [150]:
part_one = new_df

In [151]:
#this works
data_appended = []
for df in dfs:
    dataguide = df
    for col_name, col_data in df.items():
        var_list = list(dataguide['Variable']) #make variables list
        var_list = deque(var_list)
        var_list.appendleft(head2)
        var_list.appendleft(head1)
        col_list = list(dataguide['Column Name']) #make columns list
        col_list.append(tail_cols1)
        col_list.append(tail_cols2)
        col_list.append(tail_cols3)
        col_list = deque(col_list)
        col_list.appendleft(head2)  
        col_list.appendleft(head1)
        temp = []
        for thingy in splits:
            predicates= {}
            get_vars= var_list
            predicates["get"]= ",". join(get_vars)
            predicates["for"]= 'county (or part):*'
            predicates["in"] = "state:47, place:{}".format(thingy)
            data = requests.get(url_str, params= predicates)
            col_names = col_list
            data = pd.DataFrame(columns=col_names, data=data.json()[1:])
            temp.append(data) #append the current instance to the last
        temp = pd.concat(temp)
        thing = temp
    data_appended.append(temp)
new_df = pd.concat(data_appended, axis = 1) 
new_df = new_df.transpose().reset_index(drop = False).drop_duplicates()
new_df.columns = new_df.iloc[0]
new_df = new_df.set_index('NAME').transpose().drop(columns = ['StateFIPS', 'GeoFIPS', 'GeoFIPS2']).reset_index(drop = True)
new_df = new_df.rename_axis(None, axis = 1)


    
print('Your API call is complete')

Your API call is complete

In [152]:
new_df.head(2)

,NAME,GEO_ID,pop,raceeth_whitealone_nothispanicorlatino,raceeth_hispanicorlatino,units_allhousing,occupancy_total_series,occupancy_occupiedunits,occupancy_vacantunits,gq_total_series,gq_institutionalized,gq_institutionalized_correctionalfacilityadults,gq_institutionalized_juvenilefacility,gq_institutionalized_nursingorskillednursingfacility,gq_institutionalized_other,gq_noninstitutionalized,gq_noninstitutionalized_collegeoruniversitystudenthousing,gq_noninstitutionalized_militaryquarters,gq_noninstitutionalized_other,raceeth_total_series,raceeth_white_alone,raceeth_blackafricanamerican_alone,raceeth_americanindianalaskanative_alone,raceeth_asian_alone,raceeth_nativehawaiianotherpacificislander_alone,raceeth_someotherrace_alone,raceeth_twoormoreraces,raceeth_tworaces,raceeth_tworaces_white_blackafricanamerican,raceeth_tworaces_white_americanindianalaskanative,raceeth_tworaces_white_asian,raceeth_tworaces_white_nativehawaiianpacificislander,raceeth_tworaces_white_someotherrace,raceeth_tworaces_blackafricanamerican_americanindianalaskanative,raceeth_tworaces_blackafricanamerican_asian,raceeth_tworaces_blackafricanamerican_nativehawaiianpacificislander,raceeth_tworaces_blackafricanamerican_someotherrace,raceeth_tworaces_americanindianalaskanative_asian,raceeth_tworaces_americanindianalaskanative_nativehawaiianpacificislander,raceeth_tworaces_americanindianalaskanative_someotherrace,raceeth_tworaces_asiannativehawaiianpacificislander,raceeth_tworaces_asiansomeotherrace,raceeth_tworaces_nativehawaiianotherpacificislandersomeotherrace,raceeth_threeraces,raceeth_threeraces_white_blackafricanamerican_americanindianalaskanative,raceeth_threeraces_white_blackafricanamerican_asian,raceeth_threeraces_white_blackafricanamerican_nativehawaiianpacificislander,raceeth_threeraces_white_blackafricanamerican_someotherrace,raceeth_threeraces_white_americanindianalaskanative_asian,raceeth_threeraces_white_americanindianalaskanative_nativehawaiianpacificislander,raceeth_threeraces_white_americanindianalaskanative_someotherrace,raceeth_threeraces_white_asian_nativehawaiianpacificislander,raceeth_threeraces_white_asian_someotherrace,raceeth_threeraces_white_nativehawaiianpacificislander_someotherrace,raceeth_threeraces_blackafricanamerican_americanindianalaskanative_asian,raceeth_threeraces_blackafricanamerican_americanindianalaskanative_nativehawaiianpacificislander,raceeth_threeraces_blackafricanamerican_americanindianalaskanative_someotherrace,raceeth_threeraces_blackafricanamerican_asian_nativehawaiianpacificislander,raceeth_threeraces_blackafricanamerican_asian_someotherrace,raceeth_threeraces_blackafricanamerican_nativehawaiianpacificislander_someotherrace,raceeth_threeraces_americanindianalaskanative_asian_nativehawaiianpacificislander,raceeth_threeraces_americanindianalaskanative_asian_someotherrace,raceeth_threeraces_americanindianalaskanative_nativehawaiianpacificislander_someotherrace,raceeth_threeraces_asian_nativehawaiianpacificislander_someotherrace,raceeth_fourraces,raceeth_fourraces_white_blackafricanamerican_americanindianalaskanative_asian,raceeth_fourraces_white_blackafricanamerican_americanindianalaskanative_nativehawaiianpacificislander,raceeth_fourraces_white_blackafricanamerican_americanindianalaskanative_someotherrace,raceeth_fourraces_white_blackafricanamerican_asian_nativehawaiianpacificislander,raceeth_fourraces_white_blackafricanamerican_asian_someotherrace,raceeth_fourraces_white_blackafricanamerican_nativehawaiianpacificislander_someotherrace,raceeth_fourraces_white_americanindianalaskanative_asian_nativehawaiianpacificislander,raceeth_fourraces_white_americanindianalaskanative_asian_someotherrace,raceeth_fourraces_white_americanindianalaskanative_nativehawaiianpacificislander_someotherrace,raceeth_fourraces_white_asian_nativehawaiianpacificislander_someotherrace,raceeth_fourraces_blackafricanamerican_americanindianalaskanative_asian_nativehawaiianpacificislander,raceeth_fourraces_blackafricanamerican_americanindianalaskanative_asian_someotherrace,raceeth_fourraces_blackafricanamerican_americanindianalaskanative_nativehawaiianpacificislander_someotherrace,raceeth_fourraces_blackafricanamerican_asian_nativehawaiianpacificislander_someotherrace,raceeth_fourraces_americanindianalaskanative_asian_nativehawaiianpacificislander_someotherrace,raceeth_fiveraces,raceeth_fiveraces_white_blackafricanamerican_americanindianalaskanative_asian_nativehawaiianpacificislander,raceeth_fiveraces_white_blackafricanamerican_americanindianalaskanative_asian_someotherrace,raceeth_fiveraces_white_blackafricanamerican_americanindianalaskanative_nativehawaiianpacificislander_someotherrace,raceeth_fiveraces_white_blackafricanamerican_asian_nativehawaiianpacificislander_someotherrace,raceeth_fiveraces_white_americanindianalaskanative_asian_nativehawaiianpacificislander_someotherrace,raceeth_fiveraces_blackafricanamerican_americanindianalaskanative_asian_nativehawaiianpacificislander_someotherrace,raceeth_sixraces,raceeth_sixraces_white_blackafricanamerican_americanindianalaskanative_asian_nativehawaiianpacificislander_someotherrace
0,"Robertson County (part), Portland city, Tennessee",1550000US4760280147,43,39,2,24,24,23,1,0,0,0,0,0,0,0,0,0,0,43,40,2,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,"Sumner County (part), Portland city, Tennessee",1550000US4760280165,13113,10788,953,5060,5060,4800,260,62,10,0,0,10,0,52,0,0,52,13113,11011,606,55,72,2,389,978,956,170,312,46,6,406,4,2,0,2,0,0,3,1,3,1,20,9,2,0,3,2,1,2,1,0,0,0,0,0,0,0,0,0,0,0,0,2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [153]:
balances = new_df

In [154]:
balances['GEO_ID'] = '1'

In [155]:
balances.head()

,NAME,GEO_ID,pop,raceeth_whitealone_nothispanicorlatino,raceeth_hispanicorlatino,units_allhousing,occupancy_total_series,occupancy_occupiedunits,occupancy_vacantunits,gq_total_series,gq_institutionalized,gq_institutionalized_correctionalfacilityadults,gq_institutionalized_juvenilefacility,gq_institutionalized_nursingorskillednursingfacility,gq_institutionalized_other,gq_noninstitutionalized,gq_noninstitutionalized_collegeoruniversitystudenthousing,gq_noninstitutionalized_militaryquarters,gq_noninstitutionalized_other,raceeth_total_series,raceeth_white_alone,raceeth_blackafricanamerican_alone,raceeth_americanindianalaskanative_alone,raceeth_asian_alone,raceeth_nativehawaiianotherpacificislander_alone,raceeth_someotherrace_alone,raceeth_twoormoreraces,raceeth_tworaces,raceeth_tworaces_white_blackafricanamerican,raceeth_tworaces_white_americanindianalaskanative,raceeth_tworaces_white_asian,raceeth_tworaces_white_nativehawaiianpacificislander,raceeth_tworaces_white_someotherrace,raceeth_tworaces_blackafricanamerican_americanindianalaskanative,raceeth_tworaces_blackafricanamerican_asian,raceeth_tworaces_blackafricanamerican_nativehawaiianpacificislander,raceeth_tworaces_blackafricanamerican_someotherrace,raceeth_tworaces_americanindianalaskanative_asian,raceeth_tworaces_americanindianalaskanative_nativehawaiianpacificislander,raceeth_tworaces_americanindianalaskanative_someotherrace,raceeth_tworaces_asiannativehawaiianpacificislander,raceeth_tworaces_asiansomeotherrace,raceeth_tworaces_nativehawaiianotherpacificislandersomeotherrace,raceeth_threeraces,raceeth_threeraces_white_blackafricanamerican_americanindianalaskanative,raceeth_threeraces_white_blackafricanamerican_asian,raceeth_threeraces_white_blackafricanamerican_nativehawaiianpacificislander,raceeth_threeraces_white_blackafricanamerican_someotherrace,raceeth_threeraces_white_americanindianalaskanative_asian,raceeth_threeraces_white_americanindianalaskanative_nativehawaiianpacificislander,raceeth_threeraces_white_americanindianalaskanative_someotherrace,raceeth_threeraces_white_asian_nativehawaiianpacificislander,raceeth_threeraces_white_asian_someotherrace,raceeth_threeraces_white_nativehawaiianpacificislander_someotherrace,raceeth_threeraces_blackafricanamerican_americanindianalaskanative_asian,raceeth_threeraces_blackafricanamerican_americanindianalaskanative_nativehawaiianpacificislander,raceeth_threeraces_blackafricanamerican_americanindianalaskanative_someotherrace,raceeth_threeraces_blackafricanamerican_asian_nativehawaiianpacificislander,raceeth_threeraces_blackafricanamerican_asian_someotherrace,raceeth_threeraces_blackafricanamerican_nativehawaiianpacificislander_someotherrace,raceeth_threeraces_americanindianalaskanative_asian_nativehawaiianpacificislander,raceeth_threeraces_americanindianalaskanative_asian_someotherrace,raceeth_threeraces_americanindianalaskanative_nativehawaiianpacificislander_someotherrace,raceeth_threeraces_asian_nativehawaiianpacificislander_someotherrace,raceeth_fourraces,raceeth_fourraces_white_blackafricanamerican_americanindianalaskanative_asian,raceeth_fourraces_white_blackafricanamerican_americanindianalaskanative_nativehawaiianpacificislander,raceeth_fourraces_white_blackafricanamerican_americanindianalaskanative_someotherrace,raceeth_fourraces_white_blackafricanamerican_asian_nativehawaiianpacificislander,raceeth_fourraces_white_blackafricanamerican_asian_someotherrace,raceeth_fourraces_white_blackafricanamerican_nativehawaiianpacificislander_someotherrace,raceeth_fourraces_white_americanindianalaskanative_asian_nativehawaiianpacificislander,raceeth_fourraces_white_americanindianalaskanative_asian_someotherrace,raceeth_fourraces_white_americanindianalaskanative_nativehawaiianpacificislander_someotherrace,raceeth_fourraces_white_asian_nativehawaiianpacificislander_someotherrace,raceeth_fourraces_blackafricanamerican_americanindianalaskanative_asian_nativehawaiianpacificislander,raceeth_fourraces_blackafricanamerican_americanindianalaskanative_asian_someotherrace,raceeth_fourraces_blackafricanamerican_americanindianalaskanative_nativehawaiianpacificislander_someotherrace,raceeth_fourraces_blackafricanamerican_asian_nativehawaiianpacificislander_someotherrace,raceeth_fourraces_americanindianalaskanative_asian_nativehawaiianpacificislander_someotherrace,raceeth_fiveraces,raceeth_fiveraces_white_blackafricanamerican_americanindianalaskanative_asian_nativehawaiianpacificislander,raceeth_fiveraces_white_blackafricanamerican_americanindianalaskanative_asian_someotherrace,raceeth_fiveraces_white_blackafricanamerican_americanindianalaskanative_nativehawaiianpacificislander_someotherrace,raceeth_fiveraces_white_blackafricanamerican_asian_nativehawaiianpacificislander_someotherrace,raceeth_fiveraces_white_americanindianalaskanative_asian_nativehawaiianpacificislander_someotherrace,raceeth_fiveraces_blackafricanamerican_americanindianalaskanative_asian_nativehawaiianpacificislander_someotherrace,raceeth_sixraces,raceeth_sixraces_white_blackafricanamerican_americanindianalaskanative_asian_nativehawaiianpacificislander_someotherrace
0,"Robertson County (part), Portland city, Tennessee",1,43,39,2,24,24,23,1,0,0,0,0,0,0,0,0,0,0,43,40,2,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,"Sumner County (part), Portland city, Tennessee",1,13113,10788,953,5060,5060,4800,260,62,10,0,0,10,0,52,0,0,52,13113,11011,606,55,72,2,389,978,956,170,312,46,6,406,4,2,0,2,0,0,3,1,3,1,20,9,2,0,3,2,1,2,1,0,0,0,0,0,0,0,0,0,0,0,0,2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,"Davidson County (part), Ridgetop city, Tennessee",1,60,44,4,27,27,22,5,0,0,0,0,0,0,0,0,0,0,60,45,4,3,5,0,2,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,"Robertson County (part), Ridgetop city, Tennessee",1,2095,1895,62,871,871,835,36,0,0,0,0,0,0,0,0,0,0,2095,1914,28,4,11,2,30,106,102,26,31,4,3,37,0,0,0,0,0,0,0,0,1,0,4,2,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,"Sumner County (part), Millersville city, Tenne...",1,4951,3484,670,2026,2026,1916,110,0,0,0,0,0,0,0,0,0,0,4951,3718,479,23,47,8,307,369,338,51,111,13,1,156,1,2,0,1,0,0,1,1,0,0,30,14,2,0,0,6,0,8,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [156]:
msas = ['34980', '17300']
#this works msa
data_appended = []
for df in dfs:
    dataguide = df
    for col_name, col_data in df.items():
        var_list = list(dataguide['Variable']) #make variables list
        var_list = deque(var_list)
        var_list.appendleft(head2)
        var_list.appendleft(head1)
        col_list = list(dataguide['Column Name']) #make columns list
        col_list.append(tail_cols1)
        col_list = deque(col_list)
        col_list.appendleft(head2)  
        col_list.appendleft(head1)
        temp = []
        for msa in msas:
            predicates= {}
            get_vars= var_list
            predicates["get"]= ",". join(get_vars)
            predicates["for"]= "metropolitan statistical area/micropolitan statistical area:{}".format(msa)
            data = requests.get(url_str, params= predicates)
            col_names = col_list
            data = pd.DataFrame(columns=col_names, data=data.json()[1:])
            temp.append(data) #append the current instance to the last
        temp = pd.concat(temp)
        thing = temp
    data_appended.append(temp)
new_df = pd.concat(data_appended, axis = 1) 
new_df = new_df.transpose().reset_index(drop = False).drop_duplicates()
new_df.columns = new_df.iloc[0]
new_df = new_df.set_index('NAME').transpose().drop(columns = ['StateFIPS']).reset_index(drop = True)
new_df = new_df.rename_axis(None, axis = 1)


    
print('Your API call is complete')

Your API call is complete

In [157]:
msas = new_df

In [158]:
dfs = [part_one, balances, new_df]

In [159]:
data = pd.concat(dfs)

In [160]:
data = data.set_index(['NAME', 'GEO_ID']).transpose()
data.head()

NAME,"Meigs County, Tennessee","Montgomery County, Tennessee","Moore County, Tennessee","Obion County, Tennessee","Overton County, Tennessee","Pickett County, Tennessee","Polk County, Tennessee","Rhea County, Tennessee","Roane County, Tennessee","Rutherford County, Tennessee","Scott County, Tennessee","Sequatchie County, Tennessee","Shelby County, Tennessee","Smith County, Tennessee","Sullivan County, Tennessee","Sumner County, Tennessee","Trousdale County, Tennessee","Unicoi County, Tennessee","Van Buren County, Tennessee","Warren County, Tennessee","Wayne County, Tennessee","Weakley County, Tennessee","Williamson County, Tennessee","Wilson County, Tennessee","Bedford County, Tennessee","Blount County, Tennessee","Cannon County, Tennessee","Cheatham County, Tennessee","Clay County, Tennessee","Crockett County, Tennessee","Decatur County, Tennessee","Jackson County, Tennessee","Knox County, Tennessee","Lawrence County, Tennessee","Loudon County, Tennessee","Macon County, Tennessee","Marshall County, Tennessee","Monroe County, Tennessee","Morgan County, Tennessee","Perry County, Tennessee","Putnam County, Tennessee","Robertson County, Tennessee","Sevier County, Tennessee","Stewart County, Tennessee","Tipton County, Tennessee","Union County, Tennessee","Washington County, Tennessee","White County, Tennessee","Anderson County, Tennessee","Benton County, Tennessee","Bledsoe County, Tennessee","Bradley County, Tennessee","Campbell County, Tennessee","Carroll County, Tennessee","Carter County, Tennessee","Chester County, Tennessee","Claiborne County, Tennessee","Cocke County, Tennessee","Coffee County, Tennessee","Cumberland County, Tennessee","Davidson County, Tennessee","DeKalb County, Tennessee","Dickson County, Tennessee","Dyer County, Tennessee","Fayette County, Tennessee","Fentress County, Tennessee","Franklin County, Tennessee","Gibson County, Tennessee","Giles County, Tennessee","Grainger County, Tennessee","Greene County, Tennessee","Grundy County, Tennessee","Hamblen County, Tennessee","Hamilton County, Tennessee","Hancock County, Tennessee","Hardeman County, Tennessee","Hardin County, Tennessee","Hawkins County, Tennessee","Haywood County, Tennessee","Henderson County, Tennessee","Henry County, Tennessee","Hickman County, Tennessee","Houston County, Tennessee","Humphreys County, Tennessee","Jefferson County, Tennessee","Johnson County, Tennessee","Lake County, Tennessee","Lauderdale County, Tennessee","Lewis County, Tennessee","Lincoln County, Tennessee","McMinn County, Tennessee","McNairy County, Tennessee","Madison County, Tennessee","Marion County, Tennessee","Maury County, Tennessee","Simpson County, Kentucky","Allen County, Kentucky","Adams city, Tennessee","Ashland City town, Tennessee","Belle Meade city, Tennessee","Berry Hill city, Tennessee","Brentwood city, Tennessee","Burns town, Tennessee","Cedar Hill city, Tennessee","Charlotte town, Tennessee","Clarksville city, Tennessee","Columbia city, Tennessee","Coopertown town, Tennessee","Cross Plains city, Tennessee","Cumberland City town, Tennessee","Dickson city, Tennessee","Dover city, Tennessee","Eagleville city, Tennessee","Erin city, Tennessee","Fairview city, Tennessee","Forest Hills city, Tennessee","Franklin city, Tennessee","Gallatin city, Tennessee","Goodlettsville city, Tennessee","Greenbrier town, Tennessee","Hendersonville city, Tennessee","Kingston Springs town, Tennessee","Lafayette city, Tennessee","La Vergne city, Tennessee","Lebanon city, Tennessee","McEwen city, Tennessee","Millersville city, Tennessee","Mitchellville city, Tennessee","Mount Juliet city, Tennessee","Mount Pleasant city, Tennessee","Murfreesboro city, Tennessee","Nashville-Davidson metropolitan government (balance), Tennessee","New Johnsonville city, Tennessee","Nolensville town, Tennessee","Oak Hill city, Tennessee","Orlinda city, Tennessee","Pegram town, Tennessee","Pleasant View city, Tennessee","Portland city, Tennessee","Ridgetop city, Tennessee","Slayden town, Tennessee","Smyrna town, Tennessee","Springfield city, Tennessee","Spring Hill city, Tennessee","Tennessee Ridge town, Tennessee","Thompson's Station town, Tennessee","Vanleer town, Tennessee","Watertown city, Tennessee","Waverly city, Tennessee","Westmoreland town, Tennessee","White Bluff town, Tennessee","White House city, Tennessee","Scottsville city, Kentucky","Franklin city, Kentucky",Tennessee,United States,"Robertson County (part), Portland city, Tennessee","Sumner County (part), Portland city, Tennessee","Davidson County (part), Ridgetop city, Tennessee","Robertson County (part), Ridgetop city, Tennessee","Sumner County (part), Millersville city, Tennessee","Robertson County (part), Millersville city, Tennessee","Robertson County (part), White House city, Tennessee","Sumner County (part), White House city, Tennessee","Houston County (part), Tennessee Ridge town, Tennessee","Davidson County (part), Goodlettsville city, Tennessee","Sumner County (part), Goodlettsville city, Tennessee","Williamson County (part), Spring Hill city, Tennessee","Maury County (part), Spring Hill city, Tennessee","Nashville-Davidson--Murfreesboro--Franklin, TN Metro Area","Clarksville, TN-KY Metro Area"
GEO_ID,0500000US47121,0500000US47125,0500000US47127,0500000US47131,0500000US47133,0500000US47137,0500000US47139,0500000US47143,0500000US47145,0500000US47149,0500000US47151,0500000US47153,0500000US47157,0500000US47159,0500000US47163,0500000US47165,0500000US47169,0500000US47171,0500000US47175,0500000US47177,0500000US47181,0500000US47183,0500000US47187,0500000US47189,0500000US47003,0500000US47009,0500000US47015,0500000US47021,0500000US47027,0500000US47033,0500000US47039,0500000US47087,0500000US47093,0500000US47099,0500000US47105,0500000US47111,0500000US47117,0500000US47123,0500000US47129,0500000US47135,0500000US47141,0500000US47147,0500000US47155,0500000US47161,0500000US47167,0500000US47173,0500000US47179,0500000US47185,0500000US47001,0500000US47005,0500000US47007,0500000US47011,0500000US47013,0500000US47017,0500000US47019,0500000US47023,0500000US47025,0500000US47029,0500000US47031,0500000US47035,0500000US47037,0500000US47041,0500000US47043,0500000US47045,0500000US47047,0500000US47049,0500000US47051,0500000US47053,0500000US47055,0500000US47057,0500000US47059,0500000US47061,0500000US47063,0500000US47065,0500000US47067,0500000US47069,0500000US47071,0500000US47073,0500000US47075,0500000US47077,0500000US47079,0500000US47081,0500000US47083,0500000US47085,0500000US47089,0500000US47091,0500000US47095,0500000US47097,0500000US47101,0500000US47103,0500000US47107,0500000US47109,0500000US47113,0500000US47115,0500000US47119,0500000US21213,0500000US21003,1600000US4700200,1600000US4702180,1600000US4704620,1600000US4705140,1600000US4708280,1600000US4709880,1600000US4711980,1600000US4713080,1600000US4715160,1600000US4716540,1600000US4716980,1600000US4718420,1600000US4718820,1600000US4720620,1600000US4721400,1600000US4722360,1600000US4724320,1600000US4725440,1600000US4727020,1600000US4727740,1600000US4728540,1600000US4729920,1600000US4730960,1600000US4733280,1600000US4739660,1600000US4740160,1600000US4741200,1600000US4741520,1600000US4744840,1600000US4748980,1600000US4749460,1600000US4750780,1600000US4751080,1600000US4751560,1600000US4752006,1600000US4752820,1600000US4753460,1600000US4754780,1600000US4756020,1600000US4757480,1600000US4759560,1600000US4760280,1600000US4763140,1600000US4769080,1600000US4769420,1600000US4770500,1600000US4770580,1600000US4773460,1600000US4773900,1600000US4776860,1600000US4778320,1600000US4778560,1600000US4779420,1600000US4779980,1600000US4780200,1600000US2169114,1600000US2128918,0400000US47,0100000US,1,1,1,1,1,1,1,1,1,1,1,1,1,310M600US34980,310M600US17300
pop,12758,220069,6461,30787,22511,5001,17544,32870,53404,341486,21850,15826,929744,19904,158163,196281,11615,17928,6168,40953,16232,32902,247726,147737,50237,135280,14506,41072,7581,13911,11435,11617,478971,44159,54886,25216,34318,46250,21035,8366,79854,72803,98380,13657,60970,19802,133001,27351,77123,15864,14913,108620,39272,28440,56356,17341,32043,35999,57889,61145,715884,20080,54315,36801,41990,18489,42774,50429,30346,23527,70152,13529,64499,366207,6662,25462,26831,56721,17864,27842,32199,24925,8283,18990,54683,17948,7005,25143,12582,35319,53276,25866,98823,28837,100974,19594,20588,624,5193,2901,2112,45373,1573,301,1656,166722,41690,4480,1789,305,16058,1826,813,1224,9357,5038,83454,44431,17789,6898,61753,2824,5584,38719,38431,1643,6299,163,39289,4784,152769,689447,1804,13829,4891,947,2072,4807,13156,2155,170,53070,18782,50005,1332,7485,374,1553,4297,2718,3862,12982,4299,10176,6910840,331449281,43,13113,60,2095,4951,1348,6192,6790,1332,11435,6354,33357,16648,1989519,320535
raceeth_whitealone_nothispanicorlatino,11823,131294,5999,24736,21223,4811,16313,28641,48094,219194,20957,14409,316740,18054,143354,155169,8786,16175,5866,33980,14503,27813,200408,118889,36499,117952,13064,36299,7202,10056,10462,10778,373790,40368,46419,22439,28255,41185,19029,7700,66782,57049,83801,12321,44925,18642,112606,24833,66044,14378,13129,87830,37101,23744,51790,14471,29966,32733,48983,56313,386835,17526,46994,28272,27558,17541,36864,37930,24920,21748,63143,12620,49197,249939,6391,13970,24272,52824,7554,23890,27250,22086,7491,17102,48975,16126,4755,15016,11510,29803,45993,22847,53264,25689,76182,16201,18987,550,4175,2758,1700,36826,1397,233,1448,89596,26962,3869,1536,269,12464,1648,729,1054,8120,4638,62607,30537,10648,5996,47783,2514,4641,16338,28254,1516,4612,146,29711,3440,94941,367397,1605,10811,4480,828,1906,4208,10827,1939,161,29728,9690,39622,1218,6438,340,1283,3657,2449,3485,11240,3848,7805,4900246,191697647,39,10788,44,1895,3484,1128,5263,5977,1218,5818,4830,26828,12794,1359362,202217
raceeth_hispanicorlatino,220,22934,101,1574,344,83,297,1960,1011,38317,205,621,77707,518,3548,12870,375,1107,83,3943,379,905,14261,8375,7665,5709,395,1839,130,1498,358,245,28568,1117,5356,1684,2235,1937,299,127,6256,6878,8614,336,1686,404,6136,736,2820,375,459,8461,500,769,1181,528,490,954,3259,1936,98119,1449,2582,1303,1430,316,1502,1439,728,773,2535,175,9483,27075,40,494,565,889,838,719,877,681,202,449,2392,516,175,587,326,1268,2161,438,4722,601,7660,648,574,16,426,52,123,1615,68,25,49,19671,4447,212,69,4,1277,57,39,31,531,127,6688,4406,1650,300,3968,163,665,9427,3319,33,755,6,2406,135,13918,96349,39,705,137,35,59,207,955,66,2,8988,4388,3933,37,397,14,58,144,75,134,614,144,390,479187,62080044,2,953,4,62,670,85,320,294,37,1327,323,2566,1367,193873,29339
units_allhousing,6042,85714,2960,14314,10329,3342,8561,15163,25374,131216,9802,6925,400189,8513,75476,78995,3749,8702,2901,18088,7178,14945,91133,58152,19685,59776,6355,16785,3941,6071,6557,5819,210972,18658,24559,10649,14302,21286,8502,4797,35295,28459,56240,6669,23945,9569,60546,11938,35143,8485,5870,44781,19941,13084,27779,7212,15321,17808,24946,30479,328309,9867,22551,16218,17554,9201,19395,22313,13915,11644,32154,6196,27376,162268,3669,10655,15063,27053,8240,12867,16937,10457,3936,8849,24828,8723,2500,10653,5690,15958,23934,12268,43656,13578,43143,8263,9208,250,2311,1130,1657,15279,675,123,572,65752,18335,1665,701,164,6936,746,326,534,3554,1894,34720,19201,7784,2624,24963,1148,2516,12890,15734,807,2580,74,15090,2124,62905,316363,790,4216,1874,373,849,1927,5084,898,93,20413,7351,17939,599,2690,166,624,1915,1070,1597,5039,2063,4353,3031605,140498736,24,5060,27,871,2026,554,2446,2593,599,5364,2420,10615,7324,828009,129115
occupancy_total_series,6042,85714,2960,14314,10329,3342,8561,15163,25374,131216,9802,6925,400189,8513,75476,78995,3749,8702,2901,18088,7178,14945,91133,58152,19685,59776,6355,16785,3941,6071,6557,5819,210972,18658,24559,10649,14302,21286,8502,4797,35295,28459,56240,6669,23945,9569,60546,11938,35143,8485,5870,44781,19941,13084,27779,7212,15321,17808,24946,30479,328309,9867,22551,16218,17554,9201,19395,22313,13915,11644,32154,6196,27376,162268,3669,10655,15063,27053,8240,12867,16937,10457,3936,8849,24828,8723,2500,10653,5690,15958,23934,12268,43656,13578,43143,8263,9208,250,2311,1130,1657,15279,675,123,572,65752,18335,1665,701,164,6936,746,326,534,3554,1894,34720,19201,7784,2624,24963,1148,2516,12890,15734,807,2580,74,15090,2124,62905,316363,790,4216,1874,373,849,1927,5084,898,93,20413,7351,17939,599,2690,166,624,1915,1070,1597,5039,2063,4353,3031605,140498736,24,5060,27,871,2026,554,2446,2593,599,5364,2420,10615,7324,828009,129115

In [161]:
numcols = list(data.columns)
numcols
data[numcols] = data[numcols].astype(float)

In [162]:
GNRCCounties = [data[('Stewart County, Tennessee', '0500000US47161')],data[('Montgomery County, Tennessee', '0500000US47125')],
                data[('Houston County, Tennessee', '0500000US47083')],data[('Humphreys County, Tennessee', '0500000US47085')],
                data[('Dickson County, Tennessee', '0500000US47043')],data[('Cheatham County, Tennessee', '0500000US47021')],
                data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
                data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
                data[('Trousdale County, Tennessee', '0500000US47169')],data[('Williamson County, Tennessee', '0500000US47187')],
                data[('Rutherford County, Tennessee', '0500000US47149')]]
data['GNRC'] = sum(GNRCCounties)
GNRCCountiesAll = [data[('Stewart County, Tennessee', '0500000US47161')],data[('Montgomery County, Tennessee', '0500000US47125')],
                   data[('Houston County, Tennessee', '0500000US47083')],data[('Humphreys County, Tennessee', '0500000US47085')],
                   data[('Dickson County, Tennessee', '0500000US47043')],data[('Cheatham County, Tennessee', '0500000US47021')],
                   data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
                   data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
                   data[('Trousdale County, Tennessee', '0500000US47169')],data[('Williamson County, Tennessee', '0500000US47187')],
                   data[('Rutherford County, Tennessee', '0500000US47149')],data[('Maury County, Tennessee', '0500000US47119')]]
data['GNRC Region'] = sum(GNRCCountiesAll)
MPOCounties = [data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
               data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
               data[('Williamson County, Tennessee', '0500000US47187')],data[('Rutherford County, Tennessee', '0500000US47149')],
               data[('Maury County, Tennessee', '0500000US47119')]]
data['MPO'] = sum(MPOCounties)
#Cheatham
CheathInc = [data[('Ashland City town, Tennessee', '1600000US4702180')],data[('Kingston Springs town, Tennessee', '1600000US4739660')],
             data[('Pegram town, Tennessee', '1600000US4757480')],data[('Pleasant View city, Tennessee', '1600000US4759560')]]
data[('Cheatham Incorporated', 'None')] = sum(CheathInc)
data[('Cheatham Unincorporated', 'None')] = data[('Cheatham County, Tennessee', '0500000US47021')] - data[('Cheatham Incorporated', 'None')]
#Dickson
DicksInc = [data[('Burns town, Tennessee', '1600000US4709880')],data[('Charlotte town, Tennessee', '1600000US4713080')],
            data[('Dickson city, Tennessee', '1600000US4720620')],data[('Slayden town, Tennessee', '1600000US4769080')],
            data[('Vanleer town, Tennessee', '1600000US4776860')],data[('White Bluff town, Tennessee', '1600000US4779980')]]
data[('Dickson Incorporated', 'None')] = sum(DicksInc)
data[('Dickson Unincorporated', 'None')] = data[('Dickson County, Tennessee', '0500000US47043')] - data[('Dickson Incorporated', 'None')]
#Houston
HoustInc = [data[('Erin city, Tennessee', '1600000US4724320')],data[('Houston County (part), Tennessee Ridge town, Tennessee', '1')]]
data[('Houston Incorporated', 'None')] = sum(HoustInc)
data[('Houston Unincorporated', 'None')] = data[('Houston County, Tennessee', '0500000US47083')] - data[('Houston Incorporated', 'None')]
#Humphreys
HumphInc = [data[('McEwen city, Tennessee', '1600000US4744840')],data[('New Johnsonville city, Tennessee', '1600000US4752820')],
            data[('Waverly city, Tennessee', '1600000US4778560')]]
data[('Humphreys Incorporated', 'None')] = sum(HumphInc)
data[('Humphreys Unincorporated', 'None')] = data[('Humphreys County, Tennessee', '0500000US47085')] - data[('Humphreys Incorporated', 'None')]
#Maury
MauryInc = [data[('Mount Pleasant city, Tennessee', '1600000US4751080')],data[('Columbia city, Tennessee', '1600000US4716540')],
            data[('Maury County (part), Spring Hill city, Tennessee', '1')]]
data[('Maury Incorporated', 'None')] = sum(MauryInc)
data[('Maury Unincorporated', 'None')] = data[('Maury County, Tennessee', '0500000US47119')] - data[('Maury Incorporated', 'None')]
#Montgomery
data[('Montgomery Incorporated', 'None')] = data[('Clarksville city, Tennessee', '1600000US4715160')]
data[('Montgomery Unincorporated', 'None')] = data[('Montgomery County, Tennessee', '0500000US47125')] - data[('Montgomery Incorporated', 'None')]
#Robertson
RobInc = [data[('Adams city, Tennessee', '1600000US4700200')],data[('Greenbrier town, Tennessee', '1600000US4730960')],
          data[('Cedar Hill city, Tennessee', '1600000US4711980')],data[('Coopertown town, Tennessee', '1600000US4716980')], 
         data[('Cross Plains city, Tennessee', '1600000US4718420')],data[('Springfield city, Tennessee', '1600000US4770500')], 
          data[('Orlinda city, Tennessee', '1600000US4756020')],
         data[('Robertson County (part), Portland city, Tennessee', '1')],data[('Robertson County (part), Millersville city, Tennessee', '1')], 
         data[('Robertson County (part), White House city, Tennessee', '1')], data[('Robertson County (part), Ridgetop city, Tennessee', '1')]]
data[('Robertson Incorporated', 'None')] = sum(RobInc)
data[('Robertson Unincorporated', 'None')] = data[('Robertson County, Tennessee', '0500000US47147')] - data[('Robertson Incorporated', 'None')]
#Rutherford
RuthInc = [data[('Eagleville city, Tennessee', '1600000US4722360')],data[('La Vergne city, Tennessee', '1600000US4741200')],
           data[('Murfreesboro city, Tennessee', '1600000US4751560')],data[('Smyrna town, Tennessee', '1600000US4769420')]]
data[('Rutherford Incorporated', 'None')] = sum(RuthInc)
data[('Rutherford Unincorporated', 'None')] = data[('Rutherford County, Tennessee', '0500000US47149')] - data[('Rutherford Incorporated', 'None')]
#Stewart
data[('Stewart County (part), Tennessee Ridge town, Tennessee', '1')] = data[('Tennessee Ridge town, Tennessee', '1600000US4773460')] - data[('Houston County (part), Tennessee Ridge town, Tennessee', '1')]
StewInc = [data[('Cumberland City town, Tennessee', '1600000US4718820')],data[('Dover city, Tennessee', '1600000US4721400')],
            data[('Stewart County (part), Tennessee Ridge town, Tennessee', '1')]]
data[('Stewart Incorporated', 'None')] = sum(StewInc)
data[('Stewart Unincorporated', 'None')] = data[('Stewart County, Tennessee', '0500000US47161')] - data[('Stewart Incorporated', 'None')]
#Sumner
SumInc = [data[('Hendersonville city, Tennessee', '1600000US4733280')],data[('Mitchellville city, Tennessee', '1600000US4749460')],
          data[('Westmoreland town, Tennessee', '1600000US4779420')],data[('Gallatin city, Tennessee', '1600000US4728540')], 
         data[('Sumner County (part), Portland city, Tennessee', '1')],data[('Sumner County (part), Millersville city, Tennessee', '1')], 
         data[('Sumner County (part), White House city, Tennessee', '1')],data[('Sumner County (part), Goodlettsville city, Tennessee', '1')]]
data[('Sumner Incorporated', 'None')] = sum(SumInc)
data[('Sumner Unincorporated', 'None')] = data[('Sumner County, Tennessee', '0500000US47165')] - data[('Sumner Incorporated', 'None')]
#Williamson
WilliInc = [data[('Nolensville town, Tennessee', '1600000US4753460')],data[('Brentwood city, Tennessee', '1600000US4708280')],
          data[('Fairview city, Tennessee', '1600000US4725440')],data[('Franklin city, Tennessee', '1600000US4727740')], 
         data[("Thompson's Station town, Tennessee", '1600000US4773900')],data[('Williamson County (part), Spring Hill city, Tennessee', '1')]]
data[('Williamson Incorporated', 'None')] = sum(WilliInc)
data[('Williamson Unincorporated', 'None')] = data[('Williamson County, Tennessee', '0500000US47187')] - data[('Williamson Incorporated', 'None')]
#Wilson
WilsonInc = [data[('Lebanon city, Tennessee', '1600000US4741520')],data[('Mount Juliet city, Tennessee', '1600000US4750780')],
             data[('Watertown city, Tennessee', '1600000US4778320')]]
data[('Wilson Incorporated', 'None')] = sum(WilsonInc)
data[('Wilson Unincorporated', 'None')] = data[('Wilson County, Tennessee', '0500000US47189')] - data[('Wilson Incorporated', 'None')]

In [163]:
data = data.transpose().reset_index()
data.tail()

,NAME,GEO_ID,pop,raceeth_whitealone_nothispanicorlatino,raceeth_hispanicorlatino,units_allhousing,occupancy_total_series,occupancy_occupiedunits,occupancy_vacantunits,gq_total_series,gq_institutionalized,gq_institutionalized_correctionalfacilityadults,gq_institutionalized_juvenilefacility,gq_institutionalized_nursingorskillednursingfacility,gq_institutionalized_other,gq_noninstitutionalized,gq_noninstitutionalized_collegeoruniversitystudenthousing,gq_noninstitutionalized_militaryquarters,gq_noninstitutionalized_other,raceeth_total_series,raceeth_white_alone,raceeth_blackafricanamerican_alone,raceeth_americanindianalaskanative_alone,raceeth_asian_alone,raceeth_nativehawaiianotherpacificislander_alone,raceeth_someotherrace_alone,raceeth_twoormoreraces,raceeth_tworaces,raceeth_tworaces_white_blackafricanamerican,raceeth_tworaces_white_americanindianalaskanative,raceeth_tworaces_white_asian,raceeth_tworaces_white_nativehawaiianpacificislander,raceeth_tworaces_white_someotherrace,raceeth_tworaces_blackafricanamerican_americanindianalaskanative,raceeth_tworaces_blackafricanamerican_asian,raceeth_tworaces_blackafricanamerican_nativehawaiianpacificislander,raceeth_tworaces_blackafricanamerican_someotherrace,raceeth_tworaces_americanindianalaskanative_asian,raceeth_tworaces_americanindianalaskanative_nativehawaiianpacificislander,raceeth_tworaces_americanindianalaskanative_someotherrace,raceeth_tworaces_asiannativehawaiianpacificislander,raceeth_tworaces_asiansomeotherrace,raceeth_tworaces_nativehawaiianotherpacificislandersomeotherrace,raceeth_threeraces,raceeth_threeraces_white_blackafricanamerican_americanindianalaskanative,raceeth_threeraces_white_blackafricanamerican_asian,raceeth_threeraces_white_blackafricanamerican_nativehawaiianpacificislander,raceeth_threeraces_white_blackafricanamerican_someotherrace,raceeth_threeraces_white_americanindianalaskanative_asian,raceeth_threeraces_white_americanindianalaskanative_nativehawaiianpacificislander,raceeth_threeraces_white_americanindianalaskanative_someotherrace,raceeth_threeraces_white_asian_nativehawaiianpacificislander,raceeth_threeraces_white_asian_someotherrace,raceeth_threeraces_white_nativehawaiianpacificislander_someotherrace,raceeth_threeraces_blackafricanamerican_americanindianalaskanative_asian,raceeth_threeraces_blackafricanamerican_americanindianalaskanative_nativehawaiianpacificislander,raceeth_threeraces_blackafricanamerican_americanindianalaskanative_someotherrace,raceeth_threeraces_blackafricanamerican_asian_nativehawaiianpacificislander,raceeth_threeraces_blackafricanamerican_asian_someotherrace,raceeth_threeraces_blackafricanamerican_nativehawaiianpacificislander_someotherrace,raceeth_threeraces_americanindianalaskanative_asian_nativehawaiianpacificislander,raceeth_threeraces_americanindianalaskanative_asian_someotherrace,raceeth_threeraces_americanindianalaskanative_nativehawaiianpacificislander_someotherrace,raceeth_threeraces_asian_nativehawaiianpacificislander_someotherrace,raceeth_fourraces,raceeth_fourraces_white_blackafricanamerican_americanindianalaskanative_asian,raceeth_fourraces_white_blackafricanamerican_americanindianalaskanative_nativehawaiianpacificislander,raceeth_fourraces_white_blackafricanamerican_americanindianalaskanative_someotherrace,raceeth_fourraces_white_blackafricanamerican_asian_nativehawaiianpacificislander,raceeth_fourraces_white_blackafricanamerican_asian_someotherrace,raceeth_fourraces_white_blackafricanamerican_nativehawaiianpacificislander_someotherrace,raceeth_fourraces_white_americanindianalaskanative_asian_nativehawaiianpacificislander,raceeth_fourraces_white_americanindianalaskanative_asian_someotherrace,raceeth_fourraces_white_americanindianalaskanative_nativehawaiianpacificislander_someotherrace,raceeth_fourraces_white_asian_nativehawaiianpacificislander_someotherrace,raceeth_fourraces_blackafricanamerican_americanindianalaskanative_asian_nativehawaiianpacificislander,raceeth_fourraces_blackafricanamerican_americanindianalaskanative_asian_someotherrace,raceeth_fourraces_blackafricanamerican_americanindianalaskanative_nativehawaiianpacificislander_someotherrace,raceeth_fourraces_blackafricanamerican_asian_nativehawaiianpacificislander_someotherrace,raceeth_fourraces_americanindianalaskanative_asian_nativehawaiianpacificislander_someotherrace,raceeth_fiveraces,raceeth_fiveraces_white_blackafricanamerican_americanindianalaskanative_asian_nativehawaiianpacificislander,raceeth_fiveraces_white_blackafricanamerican_americanindianalaskanative_asian_someotherrace,raceeth_fiveraces_white_blackafricanamerican_americanindianalaskanative_nativehawaiianpacificislander_someotherrace,raceeth_fiveraces_white_blackafricanamerican_asian_nativehawaiianpacificislander_someotherrace,raceeth_fiveraces_white_americanindianalaskanative_asian_nativehawaiianpacificislander_someotherrace,raceeth_fiveraces_blackafricanamerican_americanindianalaskanative_asian_nativehawaiianpacificislander_someotherrace,raceeth_sixraces,raceeth_sixraces_white_blackafricanamerican_americanindianalaskanative_asian_nativehawaiianpacificislander_someotherrace
194,Sumner Unincorporated,None,56008.0,49175.0,2175.0,21588.0,21588.0,20412.0,1176.0,107.0,93.0,0.0,0.0,93.0,0.0,14.0,0.0,0.0,14.0,56008.0,49772.0,1948.0,166.0,377.0,18.0,819.0,2908.0,2774.0,419.0,1009.0,231.0,24.0,999.0,14.0,11.0,2.0,37.0,2.0,0.0,10.0,6.0,9.0,1.0,122.0,31.0,8.0,1.0,23.0,17.0,1.0,20.0,6.0,9.0,0.0,1.0,0.0,3.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,12.0,2.0,2.0,6.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
195,Williamson Incorporated,None,192855.0,151630.0,12502.0,71074.0,71074.0,67824.0,3250.0,1326.0,1252.0,189.0,28.0,1035.0,0.0,74.0,0.0,0.0,74.0,192855.0,154406.0,8555.0,434.0,11976.0,99.0,4620.0,12765.0,12188.0,1359.0,2295.0,1844.0,113.0,6216.0,76.0,53.0,1.0,109.0,6.0,0.0,50.0,17.0,41.0,8.0,541.0,135.0,53.0,6.0,68.0,52.0,5.0,111.0,55.0,47.0,2.0,0.0,0.0,4.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,30.0,6.0,3.0,16.0,3.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,3.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0
196,Williamson Unincorporated,None,54871.0,48778.0,1759.0,20059.0,20059.0,19060.0,999.0,33.0,0.0,0.0,0.0,0.0,0.0,33.0,0.0,0.0,33.0,54871.0,49194.0,1321.0,140.0,977.0,18.0,552.0,2669.0,2531.0,267.0,733.0,333.0,16.0,1125.0,3.0,12.0,0.0,20.0,3.0,0.0,6.0,5.0,8.0,0.0,124.0,26.0,11.0,2.0,11.0,13.0,0.0,37.0,5.0,11.0,1.0,2.0,0.0,1.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,13.0,3.0,1.0,6.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
197,Wilson Incorporated,None,79273.0,59248.0,5783.0,31448.0,31448.0,29742.0,1706.0,1814.0,1051.0,381.0,11.0,659.0,0.0,763.0,477.0,0.0,286.0,79273.0,60543.0,7674.0,376.0,2596.0,25.0,2651.0,5408.0,5172.0,1047.0,1171.0,603.0,39.0,2096.0,61.0,33.0,0.0,73.0,0.0,0.0,11.0,18.0,14.0,6.0,222.0,71.0,22.0,0.0,32.0,15.0,3.0,52.0,16.0,5.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,14.0,2.0,2.0,9.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
198,Wilson Unincorporated,None,68464.0,59641.0,2592.0,26704.0,26704.0,25332.0,1372.0,52.0,6.0,0.0,6.0,0.0,0.0,46.0,0.0,0.0,46.0,68464.0,60239.0,2517.0,225.0,510.0,19.0,1176.0,3778.0,3620.0,537.0,1339.0,301.0,25.0,1286.0,22.0,27.0,1.0,48.0,1.0,0.0,10.0,6.0,14.0,3.0,150.0,58.0,23.0,0.0,18.0,7.0,6.0,21.0,5.0,0.0,1.0,0.0,2.0,2.0,2.0,0.0,0.0,4.0,0.0,0.0,1.0,8.0,1.0,1.0,2.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [164]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 89 columns):
 #   Column                                                                                                                    Non-Null Count  Dtype
---  ------                                                                                                                    --------------  -----
 0   NAME                                                                                                                      199 non-null    object
 1   GEO_ID                                                                                                                    199 non-null    object
 2   pop                                                                                                                       199 non-null    float64
 3   raceeth_whitealone_nothispanicorlatino                                                                                    199 non-null    float64
 4   raceeth_hispanicorlatino                                                                                                  199 non-null    float64
 5   units_allhousing                                                                                                          199 non-null    float64
 6   occupancy_total_series                                                                                                    199 non-null    float64
 7   occupancy_occupiedunits                                                                                                   199 non-null    float64
 8   occupancy_vacantunits                                                                                                     199 non-null    float64
 9   gq_total_series                                                                                                           199 non-null    float64
 10  gq_institutionalized                                                                                                      199 non-null    float64
 11  gq_institutionalized_correctionalfacilityadults                                                                           199 non-null    float64
 12  gq_institutionalized_juvenilefacility                                                                                     199 non-null    float64
 13  gq_institutionalized_nursingorskillednursingfacility                                                                      199 non-null    float64
 14  gq_institutionalized_other                                                                                                199 non-null    float64
 15  gq_noninstitutionalized                                                                                                   199 non-null    float64
 16  gq_noninstitutionalized_collegeoruniversitystudenthousing                                                                 199 non-null    float64
 17  gq_noninstitutionalized_militaryquarters                                                                                  199 non-null    float64
 18  gq_noninstitutionalized_other                                                                                             199 non-null    float64
 19  raceeth_total_series                                                                                                      199 non-null    float64
 20  raceeth_white_alone                                                                                                       199 non-null    float64
 21  raceeth_blackafricanamerican_alone                                                                                        199 non-null    float64
 22  raceeth_americanindianalaskanative_alone                                                                                  199 non-null    float64
 23  raceeth_asian_alone                                                                                                       199 non-null    float64
 24  raceeth_nativehawaiianotherpacificislander_alone                                                                          199 non-null    float64
 25  raceeth_someotherrace_alone                                                                                               199 non-null    float64
 26  raceeth_twoormoreraces                                                                                                    199 non-null    float64
 27  raceeth_tworaces                                                                                                          199 non-null    float64
 28  raceeth_tworaces_white_blackafricanamerican                                                                               199 non-null    float64
 29  raceeth_tworaces_white_americanindianalaskanative                                                                         199 non-null    float64
 30  raceeth_tworaces_white_asian                                                                                              199 non-null    float64
 31  raceeth_tworaces_white_nativehawaiianpacificislander                                                                      199 non-null    float64
 32  raceeth_tworaces_white_someotherrace                                                                                      199 non-null    float64
 33  raceeth_tworaces_blackafricanamerican_americanindianalaskanative                                                          199 non-null    float64
 34  raceeth_tworaces_blackafricanamerican_asian                                                                               199 non-null    float64
 35  raceeth_tworaces_blackafricanamerican_nativehawaiianpacificislander                                                       199 non-null    float64
 36  raceeth_tworaces_blackafricanamerican_someotherrace                                                                       199 non-null    float64
 37  raceeth_tworaces_americanindianalaskanative_asian                                                                         199 non-null    float64
 38  raceeth_tworaces_americanindianalaskanative_nativehawaiianpacificislander                                                 199 non-null    float64
 39  raceeth_tworaces_americanindianalaskanative_someotherrace                                                                 199 non-null    float64
 40  raceeth_tworaces_asiannativehawaiianpacificislander                                                                       199 non-null    float64
 41  raceeth_tworaces_asiansomeotherrace                                                                                       199 non-null    float64
 42  raceeth_tworaces_nativehawaiianotherpacificislandersomeotherrace                                                          199 non-null    float64
 43  raceeth_threeraces                                                                                                        199 non-null    float64
 44  raceeth_threeraces_white_blackafricanamerican_americanindianalaskanative                                                  199 non-null    float64
 45  raceeth_threeraces_white_blackafricanamerican_asian                                                                       199 non-null    float64
 46  raceeth_threeraces_white_blackafricanamerican_nativehawaiianpacificislander                                               199 non-null    float64
 47  raceeth_threeraces_white_blackafricanamerican_someotherrace                                                               199 non-null    float64
 48  raceeth_threeraces_white_americanindianalaskanative_asian                                                                 199 non-null    float64
 49  raceeth_threeraces_white_americanindianalaskanative_nativehawaiianpacificislander                                         199 non-null    float64
 50  raceeth_threeraces_white_americanindianalaskanative_someotherrace                                                         199 non-null    float64
 51  raceeth_threeraces_white_asian_nativehawaiianpacificislander                                                              199 non-null    float64
 52  raceeth_threeraces_white_asian_someotherrace                                                                              199 non-null    float64
 53  raceeth_threeraces_white_nativehawaiianpacificislander_someotherrace                                                      199 non-null    float64
 54  raceeth_threeraces_blackafricanamerican_americanindianalaskanative_asian                                                  199 non-null    float64
 55  raceeth_threeraces_blackafricanamerican_americanindianalaskanative_nativehawaiianpacificislander                          199 non-null    float64
 56  raceeth_threeraces_blackafricanamerican_americanindianalaskanative_someotherrace                                          199 non-null    float64
 57  raceeth_threeraces_blackafricanamerican_asian_nativehawaiianpacificislander                                               199 non-null    float64
 58  raceeth_threeraces_blackafricanamerican_asian_someotherrace                                                               199 non-null    float64
 59  raceeth_threeraces_blackafricanamerican_nativehawaiianpacificislander_someotherrace                                       199 non-null    float64
 60  raceeth_threeraces_americanindianalaskanative_asian_nativehawaiianpacificislander                                         199 non-null    float64
 61  raceeth_threeraces_americanindianalaskanative_asian_someotherrace                                                         199 non-null    float64
 62  raceeth_threeraces_americanindianalaskanative_nativehawaiianpacificislander_someotherrace                                 199 non-null    float64
 63  raceeth_threeraces_asian_nativehawaiianpacificislander_someotherrace                                                      199 non-null    float64
 64  raceeth_fourraces                                                                                                         199 non-null    float64
 65  raceeth_fourraces_white_blackafricanamerican_americanindianalaskanative_asian                                             199 non-null    float64
 66  raceeth_fourraces_white_blackafricanamerican_americanindianalaskanative_nativehawaiianpacificislander                     199 non-null    float64
 67  raceeth_fourraces_white_blackafricanamerican_americanindianalaskanative_someotherrace                                     199 non-null    float64
 68  raceeth_fourraces_white_blackafricanamerican_asian_nativehawaiianpacificislander                                          199 non-null    float64
 69  raceeth_fourraces_white_blackafricanamerican_asian_someotherrace                                                          199 non-null    float64
 70  raceeth_fourraces_white_blackafricanamerican_nativehawaiianpacificislander_someotherrace                                  199 non-null    float64
 71  raceeth_fourraces_white_americanindianalaskanative_asian_nativehawaiianpacificislander                                    199 non-null    float64
 72  raceeth_fourraces_white_americanindianalaskanative_asian_someotherrace                                                    199 non-null    float64
 73  raceeth_fourraces_white_americanindianalaskanative_nativehawaiianpacificislander_someotherrace                            199 non-null    float64
 74  raceeth_fourraces_white_asian_nativehawaiianpacificislander_someotherrace                                                 199 non-null    float64
 75  raceeth_fourraces_blackafricanamerican_americanindianalaskanative_asian_nativehawaiianpacificislander                     199 non-null    float64
 76  raceeth_fourraces_blackafricanamerican_americanindianalaskanative_asian_someotherrace                                     199 non-null    float64
 77  raceeth_fourraces_blackafricanamerican_americanindianalaskanative_nativehawaiianpacificislander_someotherrace             199 non-null    float64
 78  raceeth_fourraces_blackafricanamerican_asian_nativehawaiianpacificislander_someotherrace                                  199 non-null    float64
 79  raceeth_fourraces_americanindianalaskanative_asian_nativehawaiianpacificislander_someotherrace                            199 non-null    float64
 80  raceeth_fiveraces                                                                                                         199 non-null    float64
 81  raceeth_fiveraces_white_blackafricanamerican_americanindianalaskanative_asian_nativehawaiianpacificislander               199 non-null    float64
 82  raceeth_fiveraces_white_blackafricanamerican_americanindianalaskanative_asian_someotherrace                               199 non-null    float64
 83  raceeth_fiveraces_white_blackafricanamerican_americanindianalaskanative_nativehawaiianpacificislander_someotherrace       199 non-null    float64
 84  raceeth_fiveraces_white_blackafricanamerican_asian_nativehawaiianpacificislander_someotherrace                            199 non-null    float64
 85  raceeth_fiveraces_white_americanindianalaskanative_asian_nativehawaiianpacificislander_someotherrace                      199 non-null    float64
 86  raceeth_fiveraces_blackafricanamerican_americanindianalaskanative_asian_nativehawaiianpacificislander_someotherrace       199 non-null    float64
 87  raceeth_sixraces                                                                                                          199 non-null    float64
 88  raceeth_sixraces_white_blackafricanamerican_americanindianalaskanative_asian_nativehawaiianpacificislander_someotherrace  199 non-null    float64
dtypes: float64(87), object(2)
memory usage: 138.5+ KB

In [165]:
data.to_feather('../../Raw Data/PL2020')