# Geo Files for All Geographies

In [1]:
import pandas as pd
import numpy as np
import requests
import geopandas as gpd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)
import sys
sys.path.append("..") # Adds higher directory to python modules path
import sqlite3 as sq
import geodict
namestocommon = geodict.namestocommon
geotogeoid = geodict.geotogeoid
tofullcensus = geodict.tofullcensus

In [103]:
GNRCFULLFIPS = geodict.GNRCFULLFIPS
KYFULLFIPS = geodict.KYFULLFIPS
GNRCSHORTFIPS = geodict.GNRC

In [3]:
tnplac = geodict.medtnplaces
kyplac = geodict.medkyplaces

# 2020

STATE 2020

In [90]:
url = 'https://www2.census.gov/geo/tiger/TIGER2020/STATE/tl_2020_us_state.zip'
geo = gpd.read_file(url)
print('Your geographic file is ready.')

Your geographic file is ready.

In [91]:
tn = geo.loc[geo['GEOID'] == '47']
tn = tn.drop(columns = ['REGION', 'DIVISION', 'STATEFP', 'STATENS', 'STUSPS', 'LSAD',
                        'MTFCC', 'FUNCSTAT', 'AWATER', 'INTPTLAT', 'INTPTLON'])
tn = tn.rename(columns = {'GEOID':'GEO_ID'})
tn['GEO_ID'] = '0400000US' + tn['GEO_ID']

COUNTIES 2020

In [92]:
url = 'https://www2.census.gov/geo/tiger/TIGER2020/COUNTY/tl_2020_us_county.zip'
geo = gpd.read_file(url)
print('Your geographic file is ready.')

Your geographic file is ready.

In [93]:
tncounties = geo.loc[geo['GEOID'].isin(GNRCFULLFIPS)]
tncounties = tncounties.drop(columns = ['STATEFP', 'COUNTYFP', 'COUNTYNS', 'NAME', 'LSAD', 'CLASSFP',
                                        'MTFCC', 'CSAFP', 'CBSAFP', 'METDIVFP', 'FUNCSTAT', 'AWATER', 'INTPTLAT', 'INTPTLON'])
tncounties = tncounties.rename(columns = {'GEOID':'GEO_ID', 'NAMELSAD':'NAME'})
tncounties['NAME'] = tncounties['NAME'] + ', Tennessee'
tncounties['GEO_ID'] = '0500000US' + tncounties['GEO_ID']

In [94]:
kycounties = geo.loc[geo['GEOID'].isin(KYFULLFIPS)]
kycounties = kycounties.drop(columns = ['STATEFP', 'COUNTYFP', 'COUNTYNS', 'NAME', 'LSAD', 'CLASSFP',
                                        'MTFCC', 'CSAFP', 'CBSAFP', 'METDIVFP', 'FUNCSTAT', 'AWATER', 'INTPTLAT', 'INTPTLON'])
kycounties = kycounties.rename(columns = {'GEOID':'GEO_ID', 'NAMELSAD':'NAME'})
kycounties['NAME'] = kycounties['NAME'] + ', Kentucky'
kycounties['GEO_ID'] = '0500000US' + kycounties['GEO_ID']

PLACES 2020

In [95]:
#Tennessee Places
url= 'https://www2.census.gov/geo/tiger/TIGER2020/PLACE/tl_2020_47_place.zip'
geo = gpd.read_file(url)
print('Your geographic file is ready.')

Your geographic file is ready.

In [96]:
tnplaces = geo.loc[geo['GEOID'].isin(tnplac)]
tnplaces = tnplaces.drop(columns = ['STATEFP', 'PLACEFP', 'PLACENS', 'NAME', 'LSAD', 'CLASSFP',
                          'PCICBSA', 'PCINECTA', 'MTFCC', 'FUNCSTAT', 'AWATER', 'INTPTLAT', 'INTPTLON'])
tnplaces = tnplaces.rename(columns = {'GEOID':'GEO_ID', 'NAMELSAD':'NAME'})
tnplaces['NAME'] = tnplaces['NAME'] + ', Tennessee'
tnplaces['GEO_ID'] = '1600000US' + tnplaces['GEO_ID']

In [97]:
#Kentucky Places
url= 'https://www2.census.gov/geo/tiger/TIGER2020/PLACE/tl_2020_21_place.zip'
geo = gpd.read_file(url)
print('Your geographic file is ready.')

Your geographic file is ready.

In [98]:
kyplaces = geo.loc[geo['GEOID'].isin(kyplac)]
kyplaces = kyplaces.drop(columns = ['STATEFP', 'PLACEFP', 'PLACENS', 'NAME', 'LSAD', 'CLASSFP',
                          'PCICBSA', 'PCINECTA', 'MTFCC', 'FUNCSTAT', 'AWATER', 'INTPTLAT', 'INTPTLON'])
kyplaces = kyplaces.rename(columns = {'GEOID':'GEO_ID', 'NAMELSAD':'NAME'})
kyplaces['NAME'] = kyplaces['NAME'] + ', Kentucky'
kyplaces['GEO_ID'] = '1600000US' + kyplaces['GEO_ID']
kyplaces.head()

               GEO_ID                        NAME     ALAND                                           geometry
87   1600000US2128918     Franklin city, Kentucky  38193278  MULTIPOLYGON (((-86.56326 36.74383, -86.56317 ...
384  1600000US2169114  Scottsville city, Kentucky  16324141  POLYGON ((-86.31826 36.83578, -86.31787 36.836...

BLOCK GROUPS 2020

In [101]:
#Tennessee Block Groups
url= 'https://www2.census.gov/geo/tiger/TIGER2020/BG/tl_2020_47_bg.zip'
geo = gpd.read_file(url)
print('Your geographic file is ready.')

Your geographic file is ready.

In [105]:
tnbg.head()

          GEO_ID           NAME     ALAND                                           geometry
0   471650211062  Block Group 2   1984864  POLYGON ((-86.63674 36.30110, -86.63593 36.301...
47  471650210021  Block Group 1   2905712  POLYGON ((-86.69927 36.32775, -86.69923 36.327...
48  471650204072  Block Group 2   5500449  POLYGON ((-86.67960 36.44078, -86.67887 36.442...
49  471650205022  Block Group 2   3137108  POLYGON ((-86.49832 36.39317, -86.49831 36.393...
50  471650204041  Block Group 1  38388161  POLYGON ((-86.63707 36.52732, -86.63701 36.527...

In [104]:
tnbg = geo.loc[geo['COUNTYFP'].isin(GNRCSHORTFIPS)]
tnbg = tnbg.drop(columns = ['STATEFP', 'COUNTYFP', 'TRACTCE', 'BLKGRPCE', 'MTFCC', 'FUNCSTAT', 'AWATER', 'INTPTLAT', 'INTPTLON'])
tnbg = tnbg.rename(columns = {'GEOID':'GEO_ID', 'NAMELSAD':'NAME'})

Join 2020

In [106]:
df = kyplaces.append(tnplaces)
df = df.append(tncounties).reset_index(drop = True)
df = df.append(kycounties).reset_index(drop = True)
df = df.append(tn).reset_index(drop = True)
df = df.append(tnbg).reset_index(drop = True)
df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1307 entries, 0 to 1306
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   GEO_ID    1307 non-null   object
 1   NAME      1307 non-null   object
 2   ALAND     1307 non-null   int64
 3   geometry  1307 non-null   geometry
dtypes: geometry(1), int64(1), object(2)
memory usage: 41.0+ KB

In [109]:
df.head()

             GEO_ID                          NAME      ALAND                                           geometry
0  1600000US2128918       Franklin city, Kentucky   38193278  MULTIPOLYGON (((-86.56326 36.74383, -86.56317 ...
1  1600000US2169114    Scottsville city, Kentucky   16324141  POLYGON ((-86.31826 36.83578, -86.31787 36.836...
2  1600000US4750780  Mount Juliet city, Tennessee   64916461  MULTIPOLYGON (((-86.55142 36.17139, -86.55138 ...
3  1600000US4715160   Clarksville city, Tennessee  257446809  POLYGON ((-87.48197 36.62064, -87.48188 36.620...
4  1600000US4721400         Dover city, Tennessee    9909807  POLYGON ((-87.89502 36.47924, -87.89495 36.479...

In [110]:
geometries = df[['GEO_ID', 'geometry']].copy()
df = df.drop(columns = 'geometry')

In [111]:
df['ALAND'] = df['ALAND'].astype(float)
df = df.set_index(['NAME', 'GEO_ID'])
data = df.transpose()

In [112]:
GNRCCounties = [data[('Stewart County, Tennessee', '0500000US47161')],data[('Montgomery County, Tennessee', '0500000US47125')],
                data[('Houston County, Tennessee', '0500000US47083')],data[('Humphreys County, Tennessee', '0500000US47085')],
                data[('Dickson County, Tennessee', '0500000US47043')],data[('Cheatham County, Tennessee', '0500000US47021')],
                data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
                data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
                data[('Trousdale County, Tennessee', '0500000US47169')],data[('Williamson County, Tennessee', '0500000US47187')],
                data[('Rutherford County, Tennessee', '0500000US47149')]]
data['GNRC'] = sum(GNRCCounties)
GNRCCountiesAll = [data[('Stewart County, Tennessee', '0500000US47161')],data[('Montgomery County, Tennessee', '0500000US47125')],
                   data[('Houston County, Tennessee', '0500000US47083')],data[('Humphreys County, Tennessee', '0500000US47085')],
                   data[('Dickson County, Tennessee', '0500000US47043')],data[('Cheatham County, Tennessee', '0500000US47021')],
                   data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
                   data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
                   data[('Trousdale County, Tennessee', '0500000US47169')],data[('Williamson County, Tennessee', '0500000US47187')],
                   data[('Rutherford County, Tennessee', '0500000US47149')],data[('Maury County, Tennessee', '0500000US47119')]]
data['GNRC Region'] = sum(GNRCCountiesAll)
MPOCounties = [data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
               data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
               data[('Williamson County, Tennessee', '0500000US47187')],data[('Rutherford County, Tennessee', '0500000US47149')],
               data[('Maury County, Tennessee', '0500000US47119')]]
data['MPO'] = sum(MPOCounties)
RuthInc = [data[('Eagleville city, Tennessee', '1600000US4722360')],data[('La Vergne city, Tennessee', '1600000US4741200')],
           data[('Murfreesboro city, Tennessee', '1600000US4751560')],data[('Smyrna town, Tennessee', '1600000US4769420')]]
data[('Rutherford Incorporated', 'None')] = sum(RuthInc)
data[('Rutherford Unincorporated', 'None')] = data[('Rutherford County, Tennessee', '0500000US47149')] - data[('Rutherford Incorporated', 'None')]
WilsonInc = [data[('Lebanon city, Tennessee', '1600000US4741520')],data[('Mount Juliet city, Tennessee', '1600000US4750780')],
             data[('Watertown city, Tennessee', '1600000US4778320')]]
data[('Wilson Incorporated', 'None')] = sum(WilsonInc)
data[('Wilson Unincorporated', 'None')] = data[('Wilson County, Tennessee', '0500000US47189')] - data[('Wilson Incorporated', 'None')]
CheathInc = [data[('Ashland City town, Tennessee', '1600000US4702180')],data[('Kingston Springs town, Tennessee', '1600000US4739660')],
             data[('Pegram town, Tennessee', '1600000US4757480')],data[('Pleasant View city, Tennessee', '1600000US4759560')]]
data[('Cheatham Incorporated', 'None')] = sum(CheathInc)
data[('Cheatham Unincorporated', 'None')] = data[('Cheatham County, Tennessee', '0500000US47021')] - data[('Cheatham Incorporated', 'None')]
DicksInc = [data[('Burns town, Tennessee', '1600000US4709880')],data[('Charlotte town, Tennessee', '1600000US4713080')],
            data[('Dickson city, Tennessee', '1600000US4720620')],data[('Slayden town, Tennessee', '1600000US4769080')],
            data[('Vanleer town, Tennessee', '1600000US4776860')],data[('White Bluff town, Tennessee', '1600000US4779980')]]
data[('Dickson Incorporated', 'None')] = sum(DicksInc)
data[('Dickson Unincorporated', 'None')] = data[('Dickson County, Tennessee', '0500000US47043')] - data[('Dickson Incorporated', 'None')]
HumphInc = [data[('McEwen city, Tennessee', '1600000US4744840')],data[('New Johnsonville city, Tennessee', '1600000US4752820')],
            data[('Waverly city, Tennessee', '1600000US4778560')]]
data[('Humphreys Incorporated', 'None')] = sum(HumphInc)
data[('Humphreys Unincorporated', 'None')] = data[('Humphreys County, Tennessee', '0500000US47085')] - data[('Humphreys Incorporated', 'None')]
data[('Montgomery Incorporated', 'None')] = data[('Clarksville city, Tennessee', '1600000US4715160')]
data[('Montgomery Unincorporated', 'None')] = data[('Montgomery County, Tennessee', '0500000US47125')] - data[('Montgomery Incorporated', 'None')]

In [113]:
data = data.transpose().reset_index()
data['Square Acres'] = data['ALAND']*0.000247105
data['Square Miles'] = data['ALAND']*0.00000038610215855
data = data.drop(columns = 'ALAND')

In [114]:
wgeos = data.merge(geometries, on = 'GEO_ID')

In [115]:
wgeos['Source'] = 'TIGER 2020'

In [116]:
#final check
wgeos.head()

                           NAME            GEO_ID  Square Acres  Square Miles                                           geometry      Source
0       Franklin city, Kentucky  1600000US2128918   9437.749960     14.746507  MULTIPOLYGON (((-86.56326 36.74383, -86.56317 ...  TIGER 2020
1    Scottsville city, Kentucky  1600000US2169114   4033.776862      6.302786  POLYGON ((-86.31826 36.83578, -86.31787 36.836...  TIGER 2020
2  Mount Juliet city, Tennessee  1600000US4750780  16041.182095     25.064386  MULTIPOLYGON (((-86.55142 36.17139, -86.55138 ...  TIGER 2020
3   Clarksville city, Tennessee  1600000US4715160  63616.393738     99.400769  POLYGON ((-87.48197 36.62064, -87.48188 36.620...  TIGER 2020
4         Dover city, Tennessee  1600000US4721400   2448.762859      3.826198  POLYGON ((-87.89502 36.47924, -87.89495 36.479...  TIGER 2020

In [117]:
wgeos.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 1307 entries, 0 to 1306
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NAME          1307 non-null   object
 1   GEO_ID        1307 non-null   object
 2   Square Acres  1307 non-null   float64
 3   Square Miles  1307 non-null   float64
 4   geometry      1307 non-null   geometry
 5   Source        1307 non-null   object
dtypes: float64(2), geometry(1), object(3)
memory usage: 71.5+ KB

In [118]:
wgeos.to_file('../../Outputs/SHAPEFILES/TIGERS2020.shp')

In [119]:
data['Source'] = 'TIGER 2020'

In [120]:
#final check
data.head(3)

                           NAME            GEO_ID  Square Acres  Square Miles      Source
0       Franklin city, Kentucky  1600000US2128918   9437.749960     14.746507  TIGER 2020
1    Scottsville city, Kentucky  1600000US2169114   4033.776862      6.302786  TIGER 2020
2  Mount Juliet city, Tennessee  1600000US4750780  16041.182095     25.064386  TIGER 2020

In [121]:
data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1322 entries, 0 to 1321
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NAME          1322 non-null   object
 1   GEO_ID        1322 non-null   object
 2   Square Acres  1322 non-null   float64
 3   Square Miles  1322 non-null   float64
 4   Source        1322 non-null   object
dtypes: float64(2), object(3)
memory usage: 51.8+ KB

In [122]:
#export to the SQLite database as only the JobsEQ annual data
conn = sq.connect('../../Outputs/CensusBureau.db')
data.to_sql('CensusBureau_TIGER_2020', conn, if_exists = 'replace', index = False)

C:\Users\jmccall\Anaconda3\envs\geospatial\lib\site-packages\pandas\core\generic.py:2869: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

# 2010

State 2010

In [123]:
url = 'https://www2.census.gov/geo/tiger/TIGER2010/STATE/2010/tl_2010_47_state10.zip'
geo = gpd.read_file(url)
print('Your geographic file is ready.')

Your geographic file is ready.

In [124]:
tn = geo
tn = tn.drop(columns = ['REGION10', 'DIVISION10', 'STATEFP10', 'STATENS10', 'STUSPS10', 'LSAD10',
                        'MTFCC10', 'FUNCSTAT10', 'AWATER10', 'INTPTLAT10', 'INTPTLON10'])
tn = tn.rename(columns = {'GEOID10':'GEO_ID', 'NAME10':'NAME'})
tn['GEO_ID'] = '0400000US' + tn['GEO_ID']

COUNTIES 2010

In [125]:
url = 'https://www2.census.gov/geo/tiger/TIGER2010/COUNTY/2010/tl_2010_47_county10.zip'
geo = gpd.read_file(url)
print('Your geographic file is ready.')

Your geographic file is ready.

In [126]:
tncounties = geo.loc[geo['GEOID10'].isin(GNRCFULLFIPS)]
tncounties = tncounties.drop(columns = ['STATEFP10', 'COUNTYFP10', 'COUNTYNS10', 'NAME10', 'LSAD10', 'CLASSFP10',
                                        'MTFCC10', 'CSAFP10', 'CBSAFP10', 'METDIVFP10', 'FUNCSTAT10', 'AWATER10', 'INTPTLAT10', 'INTPTLON10'])
tncounties = tncounties.rename(columns = {'GEOID10':'GEO_ID', 'NAMELSAD10':'NAME'})
tncounties['NAME'] = tncounties['NAME'] + ', Tennessee'
tncounties['GEO_ID'] = '0500000US' + tncounties['GEO_ID']

In [127]:
url = 'https://www2.census.gov/geo/tiger/TIGER2010/COUNTY/2010/tl_2010_21_county10.zip'
geo = gpd.read_file(url)
print('Your geographic file is ready.')

Your geographic file is ready.

In [128]:
kycounties = geo.loc[geo['GEOID10'].isin(KYFULLFIPS)]
kycounties = kycounties.drop(columns = ['STATEFP10', 'COUNTYFP10', 'COUNTYNS10', 'NAME10', 'LSAD10', 'CLASSFP10',
                                        'MTFCC10', 'CSAFP10', 'CBSAFP10', 'METDIVFP10', 'FUNCSTAT10', 'AWATER10', 'INTPTLAT10', 'INTPTLON10'])
kycounties = kycounties.rename(columns = {'GEOID10':'GEO_ID', 'NAMELSAD10':'NAME'})
kycounties['NAME'] = kycounties['NAME'] + ', Kentucky'
kycounties['GEO_ID'] = '0500000US' + kycounties['GEO_ID']

PLACES 2010

In [129]:
#Tennessee Places
url= 'https://www2.census.gov/geo/tiger/TIGER2010/PLACE/2010/tl_2010_47_place10.zip'
geo = gpd.read_file(url)
print('Your geographic file is ready.')

Your geographic file is ready.

In [130]:
tnplaces = geo.loc[geo['GEOID10'].isin(tnplac)]
tnplaces = tnplaces.drop(columns = ['STATEFP10', 'PLACEFP10', 'PLACENS10', 'NAME10', 'LSAD10', 'CLASSFP10',
                          'PCICBSA10', 'PCINECTA10', 'MTFCC10', 'FUNCSTAT10', 'AWATER10', 'INTPTLAT10', 'INTPTLON10'])
tnplaces = tnplaces.rename(columns = {'GEOID10':'GEO_ID', 'NAMELSAD10':'NAME'})
tnplaces['NAME'] = tnplaces['NAME'] + ', Tennessee'
tnplaces['GEO_ID'] = '1600000US' + tnplaces['GEO_ID']

In [131]:
#Kentucky Places
url= 'https://www2.census.gov/geo/tiger/TIGER2010/PLACE/2010/tl_2010_21_place10.zip'
geo = gpd.read_file(url)
print('Your geographic file is ready.')

Your geographic file is ready.

In [132]:
kyplaces = geo.loc[geo['GEOID10'].isin(kyplac)]
kyplaces = kyplaces.drop(columns = ['STATEFP10', 'PLACEFP10', 'PLACENS10', 'NAME10', 'LSAD10', 'CLASSFP10',
                          'PCICBSA10', 'PCINECTA10', 'MTFCC10', 'FUNCSTAT10', 'AWATER10', 'INTPTLAT10', 'INTPTLON10'])
kyplaces = kyplaces.rename(columns = {'GEOID10':'GEO_ID', 'NAMELSAD10':'NAME'})
kyplaces['NAME'] = kyplaces['NAME'] + ', Kentucky'
kyplaces['GEO_ID'] = '1600000US' + kyplaces['GEO_ID']

JOIN 2010

In [46]:
df = kyplaces.append(tnplaces)
df = df.append(tncounties).reset_index(drop = True)
df = df.append(kycounties).reset_index(drop = True)
df = df.append(tn).reset_index(drop = True)

In [47]:
geometries = df[['GEO_ID', 'geometry']].copy()
df = df.drop(columns = 'geometry')

In [48]:
df['ALAND10'] = df['ALAND10'].astype(float)
df = df.set_index(['NAME', 'GEO_ID'])
data = df.transpose()

In [49]:
GNRCCounties = [data[('Stewart County, Tennessee', '0500000US47161')],data[('Montgomery County, Tennessee', '0500000US47125')],
                data[('Houston County, Tennessee', '0500000US47083')],data[('Humphreys County, Tennessee', '0500000US47085')],
                data[('Dickson County, Tennessee', '0500000US47043')],data[('Cheatham County, Tennessee', '0500000US47021')],
                data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
                data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
                data[('Trousdale County, Tennessee', '0500000US47169')],data[('Williamson County, Tennessee', '0500000US47187')],
                data[('Rutherford County, Tennessee', '0500000US47149')]]
data['GNRC'] = sum(GNRCCounties)
GNRCCountiesAll = [data[('Stewart County, Tennessee', '0500000US47161')],data[('Montgomery County, Tennessee', '0500000US47125')],
                   data[('Houston County, Tennessee', '0500000US47083')],data[('Humphreys County, Tennessee', '0500000US47085')],
                   data[('Dickson County, Tennessee', '0500000US47043')],data[('Cheatham County, Tennessee', '0500000US47021')],
                   data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
                   data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
                   data[('Trousdale County, Tennessee', '0500000US47169')],data[('Williamson County, Tennessee', '0500000US47187')],
                   data[('Rutherford County, Tennessee', '0500000US47149')],data[('Maury County, Tennessee', '0500000US47119')]]
data['GNRC Region'] = sum(GNRCCountiesAll)
MPOCounties = [data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
               data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
               data[('Williamson County, Tennessee', '0500000US47187')],data[('Rutherford County, Tennessee', '0500000US47149')],
               data[('Maury County, Tennessee', '0500000US47119')]]
data['MPO'] = sum(MPOCounties)
RuthInc = [data[('Eagleville city, Tennessee', '1600000US4722360')],data[('La Vergne city, Tennessee', '1600000US4741200')],
           data[('Murfreesboro city, Tennessee', '1600000US4751560')],data[('Smyrna town, Tennessee', '1600000US4769420')]]
data[('Rutherford Incorporated', 'None')] = sum(RuthInc)
data[('Rutherford Unincorporated', 'None')] = data[('Rutherford County, Tennessee', '0500000US47149')] - data[('Rutherford Incorporated', 'None')]
WilsonInc = [data[('Lebanon city, Tennessee', '1600000US4741520')],data[('Mount Juliet city, Tennessee', '1600000US4750780')],
             data[('Watertown city, Tennessee', '1600000US4778320')]]
data[('Wilson Incorporated', 'None')] = sum(WilsonInc)
data[('Wilson Unincorporated', 'None')] = data[('Wilson County, Tennessee', '0500000US47189')] - data[('Wilson Incorporated', 'None')]
CheathInc = [data[('Ashland City town, Tennessee', '1600000US4702180')],data[('Kingston Springs town, Tennessee', '1600000US4739660')],
             data[('Pegram town, Tennessee', '1600000US4757480')],data[('Pleasant View city, Tennessee', '1600000US4759560')]]
data[('Cheatham Incorporated', 'None')] = sum(CheathInc)
data[('Cheatham Unincorporated', 'None')] = data[('Cheatham County, Tennessee', '0500000US47021')] - data[('Cheatham Incorporated', 'None')]
DicksInc = [data[('Burns town, Tennessee', '1600000US4709880')],data[('Charlotte town, Tennessee', '1600000US4713080')],
            data[('Dickson city, Tennessee', '1600000US4720620')],data[('Slayden town, Tennessee', '1600000US4769080')],
            data[('Vanleer town, Tennessee', '1600000US4776860')],data[('White Bluff town, Tennessee', '1600000US4779980')]]
data[('Dickson Incorporated', 'None')] = sum(DicksInc)
data[('Dickson Unincorporated', 'None')] = data[('Dickson County, Tennessee', '0500000US47043')] - data[('Dickson Incorporated', 'None')]
HumphInc = [data[('McEwen city, Tennessee', '1600000US4744840')],data[('New Johnsonville city, Tennessee', '1600000US4752820')],
            data[('Waverly city, Tennessee', '1600000US4778560')]]
data[('Humphreys Incorporated', 'None')] = sum(HumphInc)
data[('Humphreys Unincorporated', 'None')] = data[('Humphreys County, Tennessee', '0500000US47085')] - data[('Humphreys Incorporated', 'None')]
data[('Montgomery Incorporated', 'None')] = data[('Clarksville city, Tennessee', '1600000US4715160')]
data[('Montgomery Unincorporated', 'None')] = data[('Montgomery County, Tennessee', '0500000US47125')] - data[('Montgomery Incorporated', 'None')]

In [50]:
data = data.transpose().reset_index()
data['Square Acres'] = data['ALAND10']*0.000247105
data['Square Miles'] = data['ALAND10']*0.00000038610215855
data = data.drop(columns = 'ALAND10')

In [51]:
wgeos = data.merge(geometries, on = 'GEO_ID')

In [53]:
wgeos['Source'] = 'TIGER 2010'

In [54]:
#final check
wgeos.head()

                               NAME            GEO_ID  Square Acres  Square Miles                                           geometry      Source
0        Scottsville city, Kentucky  1600000US2169114   3642.994142      5.692187  POLYGON ((-86.22101 36.75545, -86.21887 36.756...  TIGER 2010
1           Franklin city, Kentucky  1600000US2128918   7081.371012     11.064659  MULTIPOLYGON (((-86.57565 36.75806, -86.57542 ...  TIGER 2010
2     Pleasant View city, Tennessee  1600000US4759560   8013.770085     12.521535  POLYGON ((-87.10046 36.40257, -87.10045 36.402...  TIGER 2010
3            Pegram town, Tennessee  1600000US4757480   4940.429570      7.719433  POLYGON ((-87.03526 36.08332, -87.03533 36.082...  TIGER 2010
4  Kingston Springs town, Tennessee  1600000US4739660   6347.883063      9.918583  POLYGON ((-87.10508 36.10402, -87.10465 36.103...  TIGER 2010

In [55]:
wgeos.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 73 entries, 0 to 72
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NAME          73 non-null     object
 1   GEO_ID        73 non-null     object
 2   Square Acres  73 non-null     float64
 3   Square Miles  73 non-null     float64
 4   geometry      73 non-null     geometry
 5   Source        73 non-null     object
dtypes: float64(2), geometry(1), object(3)
memory usage: 4.0+ KB

In [56]:
wgeos.to_file('../../Outputs/SHAPEFILES/TIGERS2010.shp')

In [58]:
data['Source'] = 'TIGER 2010'

In [59]:
#final check
data.head()

                               NAME            GEO_ID  Square Acres  Square Miles      Source
0        Scottsville city, Kentucky  1600000US2169114   3642.994142      5.692187  TIGER 2010
1           Franklin city, Kentucky  1600000US2128918   7081.371012     11.064659  TIGER 2010
2     Pleasant View city, Tennessee  1600000US4759560   8013.770085     12.521535  TIGER 2010
3            Pegram town, Tennessee  1600000US4757480   4940.429570      7.719433  TIGER 2010
4  Kingston Springs town, Tennessee  1600000US4739660   6347.883063      9.918583  TIGER 2010

In [60]:
data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NAME          88 non-null     object
 1   GEO_ID        88 non-null     object
 2   Square Acres  88 non-null     float64
 3   Square Miles  88 non-null     float64
 4   Source        88 non-null     object
dtypes: float64(2), object(3)
memory usage: 3.6+ KB

In [62]:
#export to the SQLite database as only the JobsEQ annual data
conn = sq.connect('../../Outputs/CensusBureau.db')
data.to_sql('CensusBureau_TIGER_2010', conn, if_exists = 'replace', index = False)

# 2000

STATE 2000

In [63]:
url = 'https://www2.census.gov/geo/tiger/TIGER2010/STATE/2000/tl_2010_47_state00.zip'
geo = gpd.read_file(url)
print('Your geographic file is ready.')

Your geographic file is ready.

In [64]:
tn = geo
tn = tn.drop(columns = ['REGION00', 'DIVISION00', 'STUSPS00', 'LSAD00',
                        'MTFCC00', 'UR00', 'FUNCSTAT00', 'AWATER00', 'INTPTLAT00', 'INTPTLON00'])
tn = tn.rename(columns = {'STATEFP00':'GEO_ID', 'NAME00':'NAME'})
tn['GEO_ID'] = '0400000US' + tn['GEO_ID']

COUNTIES 2000

In [65]:
#Tennessee counties
url = 'https://www2.census.gov/geo/tiger/TIGER2010/COUNTY/2000/tl_2010_47_county00.zip'
geo = gpd.read_file(url)
print('Your geographic file is ready.')

Your geographic file is ready.

In [66]:
tncounties = geo.loc[geo['CNTYIDFP00'].isin(GNRCFULLFIPS)]
tncounties = tncounties.drop(columns = ['STATEFP00', 'COUNTYFP00', 'NAME00', 'LSAD00', 'CLASSFP00',
                                        'MTFCC00', 'UR00', 'FUNCSTAT00', 'AWATER00', 'INTPTLAT00', 'INTPTLON00'])
tncounties = tncounties.rename(columns = {'CNTYIDFP00':'GEO_ID', 'NAMELSAD00':'NAME'})
tncounties['NAME'] = tncounties['NAME'] + ', Tennessee'
tncounties['GEO_ID'] = '0500000US' + tncounties['GEO_ID']

In [67]:
#Kentucky counties
url = 'https://www2.census.gov/geo/tiger/TIGER2010/COUNTY/2000/tl_2010_21_county00.zip'
geo = gpd.read_file(url)
print('Your geographic file is ready.')

Your geographic file is ready.

In [69]:
kycounties = geo.loc[geo['CNTYIDFP00'].isin(KYFULLFIPS)]
kycounties = kycounties.drop(columns = ['STATEFP00', 'COUNTYFP00', 'NAME00', 'LSAD00', 'CLASSFP00',
                                        'MTFCC00', 'UR00', 'FUNCSTAT00', 'AWATER00', 'INTPTLAT00', 'INTPTLON00'])
kycounties = kycounties.rename(columns = {'CNTYIDFP00':'GEO_ID', 'NAMELSAD00':'NAME'})
kycounties['NAME'] = kycounties['NAME'] + ', Kentucky'
kycounties['GEO_ID'] = '0500000US' + kycounties['GEO_ID']

PLACES 2000

In [70]:
#Tennessee Places
url= 'https://www2.census.gov/geo/tiger/TIGER2010/PLACE/2000/tl_2010_47_place00.zip'
geo = gpd.read_file(url)
print('Your geographic file is ready.')

Your geographic file is ready.

In [71]:
tnplaces = geo.loc[geo['PLCIDFP00'].isin(tnplac)]
tnplaces = tnplaces.drop(columns = ['STATEFP00', 'PLACEFP00', 'NAME00', 'LSAD00', 'CLASSFP00', 'CPI00',
                          'PCICBSA00', 'PCINECTA00', 'MTFCC00', 'UR00', 'FUNCSTAT00', 'AWATER00', 'INTPTLAT00', 'INTPTLON00'])
tnplaces = tnplaces.rename(columns = {'PLCIDFP00':'GEO_ID', 'NAMELSAD00':'NAME'})
tnplaces['NAME'] = tnplaces['NAME'] + ', Tennessee'
tnplaces['GEO_ID'] = '1600000US' + tnplaces['GEO_ID']

In [72]:
#Kentucky Places
url= 'https://www2.census.gov/geo/tiger/TIGER2010/PLACE/2000/tl_2010_21_place00.zip'
geo = gpd.read_file(url)
print('Your geographic file is ready.')

Your geographic file is ready.

In [73]:
kyplaces = geo.loc[geo['PLCIDFP00'].isin(kyplac)]
kyplaces = kyplaces.drop(columns = ['STATEFP00', 'PLACEFP00', 'NAME00', 'LSAD00', 'CLASSFP00', 'CPI00',
                          'PCICBSA00', 'PCINECTA00', 'MTFCC00', 'UR00', 'FUNCSTAT00', 'AWATER00', 'INTPTLAT00', 'INTPTLON00'])
kyplaces = kyplaces.rename(columns = {'PLCIDFP00':'GEO_ID', 'NAMELSAD00':'NAME'})
kyplaces['NAME'] = kyplaces['NAME'] + ', Kentucky'
kyplaces['GEO_ID'] = '1600000US' + kyplaces['GEO_ID']

JOIN 2000

In [74]:
df = kyplaces.append(tnplaces)
df = df.append(tncounties).reset_index(drop = True)
df = df.append(kycounties).reset_index(drop = True)
df = df.append(tn).reset_index(drop = True)

In [75]:
geometries = df[['GEO_ID', 'geometry']].copy()
df = df.drop(columns = 'geometry')

In [76]:
df['ALAND00'] = df['ALAND00'].astype(float)
df = df.set_index(['NAME', 'GEO_ID'])
data = df.transpose()

In [77]:
GNRCCounties = [data[('Stewart County, Tennessee', '0500000US47161')],data[('Montgomery County, Tennessee', '0500000US47125')],
                data[('Houston County, Tennessee', '0500000US47083')],data[('Humphreys County, Tennessee', '0500000US47085')],
                data[('Dickson County, Tennessee', '0500000US47043')],data[('Cheatham County, Tennessee', '0500000US47021')],
                data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
                data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
                data[('Trousdale County, Tennessee', '0500000US47169')],data[('Williamson County, Tennessee', '0500000US47187')],
                data[('Rutherford County, Tennessee', '0500000US47149')]]
data['GNRC'] = sum(GNRCCounties)
GNRCCountiesAll = [data[('Stewart County, Tennessee', '0500000US47161')],data[('Montgomery County, Tennessee', '0500000US47125')],
                   data[('Houston County, Tennessee', '0500000US47083')],data[('Humphreys County, Tennessee', '0500000US47085')],
                   data[('Dickson County, Tennessee', '0500000US47043')],data[('Cheatham County, Tennessee', '0500000US47021')],
                   data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
                   data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
                   data[('Trousdale County, Tennessee', '0500000US47169')],data[('Williamson County, Tennessee', '0500000US47187')],
                   data[('Rutherford County, Tennessee', '0500000US47149')],data[('Maury County, Tennessee', '0500000US47119')]]
data['GNRC Region'] = sum(GNRCCountiesAll)
MPOCounties = [data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
               data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
               data[('Williamson County, Tennessee', '0500000US47187')],data[('Rutherford County, Tennessee', '0500000US47149')],
               data[('Maury County, Tennessee', '0500000US47119')]]
data['MPO'] = sum(MPOCounties)
RuthInc = [data[('Eagleville city, Tennessee', '1600000US4722360')],data[('La Vergne city, Tennessee', '1600000US4741200')],
           data[('Murfreesboro city, Tennessee', '1600000US4751560')],data[('Smyrna town, Tennessee', '1600000US4769420')]]
data[('Rutherford Incorporated', 'None')] = sum(RuthInc)
data[('Rutherford Unincorporated', 'None')] = data[('Rutherford County, Tennessee', '0500000US47149')] - data[('Rutherford Incorporated', 'None')]
WilsonInc = [data[('Lebanon city, Tennessee', '1600000US4741520')],data[('Mount Juliet city, Tennessee', '1600000US4750780')],
             data[('Watertown city, Tennessee', '1600000US4778320')]]
data[('Wilson Incorporated', 'None')] = sum(WilsonInc)
data[('Wilson Unincorporated', 'None')] = data[('Wilson County, Tennessee', '0500000US47189')] - data[('Wilson Incorporated', 'None')]
CheathInc = [data[('Ashland City town, Tennessee', '1600000US4702180')],data[('Kingston Springs town, Tennessee', '1600000US4739660')],
             data[('Pegram town, Tennessee', '1600000US4757480')],data[('Pleasant View city, Tennessee', '1600000US4759560')]]
data[('Cheatham Incorporated', 'None')] = sum(CheathInc)
data[('Cheatham Unincorporated', 'None')] = data[('Cheatham County, Tennessee', '0500000US47021')] - data[('Cheatham Incorporated', 'None')]
DicksInc = [data[('Burns town, Tennessee', '1600000US4709880')],data[('Charlotte town, Tennessee', '1600000US4713080')],
            data[('Dickson city, Tennessee', '1600000US4720620')],data[('Slayden town, Tennessee', '1600000US4769080')],
            data[('Vanleer town, Tennessee', '1600000US4776860')],data[('White Bluff town, Tennessee', '1600000US4779980')]]
data[('Dickson Incorporated', 'None')] = sum(DicksInc)
data[('Dickson Unincorporated', 'None')] = data[('Dickson County, Tennessee', '0500000US47043')] - data[('Dickson Incorporated', 'None')]
HumphInc = [data[('McEwen city, Tennessee', '1600000US4744840')],data[('New Johnsonville city, Tennessee', '1600000US4752820')],
            data[('Waverly city, Tennessee', '1600000US4778560')]]
data[('Humphreys Incorporated', 'None')] = sum(HumphInc)
data[('Humphreys Unincorporated', 'None')] = data[('Humphreys County, Tennessee', '0500000US47085')] - data[('Humphreys Incorporated', 'None')]
data[('Montgomery Incorporated', 'None')] = data[('Clarksville city, Tennessee', '1600000US4715160')]
data[('Montgomery Unincorporated', 'None')] = data[('Montgomery County, Tennessee', '0500000US47125')] - data[('Montgomery Incorporated', 'None')]

In [78]:
data = data.transpose().reset_index()
data['Square Acres'] = data['ALAND00']*0.000247105
data['Square Miles'] = data['ALAND00']*0.00000038610215855
data = data.drop(columns = 'ALAND00')

In [79]:
wgeos = data.merge(geometries, on = 'GEO_ID')

In [80]:
wgeos['Source'] = 'TIGER 2000'

In [81]:
#final check
wgeos.head(3)

                            NAME            GEO_ID  Square Acres  Square Miles                                           geometry      Source
0     Scottsville city, Kentucky  1600000US2169114   3641.877969      5.690443  POLYGON ((-86.22120 36.75570, -86.21925 36.756...  TIGER 2000
1        Franklin city, Kentucky  1600000US2128918   4740.294783      7.406722  POLYGON ((-86.58324 36.73837, -86.58276 36.738...  TIGER 2000
2  Pleasant View city, Tennessee  1600000US4759560   8013.770085     12.521535  POLYGON ((-87.10046 36.40257, -87.10045 36.402...  TIGER 2000

In [82]:
wgeos.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 73 entries, 0 to 72
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NAME          73 non-null     object
 1   GEO_ID        73 non-null     object
 2   Square Acres  73 non-null     float64
 3   Square Miles  73 non-null     float64
 4   geometry      73 non-null     geometry
 5   Source        73 non-null     object
dtypes: float64(2), geometry(1), object(3)
memory usage: 4.0+ KB

In [83]:
wgeos.to_file('../../Outputs/SHAPEFILES/TIGERS2000.shp')

In [84]:
data['Source'] = 'TIGER 2000'

In [85]:
#final check
data.head(3)

                            NAME            GEO_ID  Square Acres  Square Miles      Source
0     Scottsville city, Kentucky  1600000US2169114   3641.877969      5.690443  TIGER 2000
1        Franklin city, Kentucky  1600000US2128918   4740.294783      7.406722  TIGER 2000
2  Pleasant View city, Tennessee  1600000US4759560   8013.770085     12.521535  TIGER 2000

In [86]:
data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NAME          88 non-null     object
 1   GEO_ID        88 non-null     object
 2   Square Acres  88 non-null     float64
 3   Square Miles  88 non-null     float64
 4   Source        88 non-null     object
dtypes: float64(2), object(3)
memory usage: 3.6+ KB

In [88]:
#export to the SQLite database as only the JobsEQ annual data
conn = sq.connect('../../Outputs/CensusBureau.db')
data.to_sql('CensusBureau_TIGER_2000', conn, if_exists = 'replace', index = False)